<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="vi" >
	<!--<![endif]-->
	<head>
		<!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v10.0'
          });
        };

        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>

      <!-- Your Plugin chat code -->
      <div class="fb-customerchat"
        attribution="page_inbox"
        page_id="361782097251021">
      </div>
		<meta charset="utf-8"/>		
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
		<!--[if lt IE 9]><script src="//hsta tic.net/0/0/global/design/theme-default/html5shiv.js"></script><![endif]-->
		<!--<meta content='width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=0' name='viewport' />-->
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
		<meta name="revisit-after" content="1 day" />
		<meta name="HandheldFriendly" content="true">
		<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
		<title>
			{{ page_title  | strip_html | escape }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
		</title>
		{%- if page_description -%}
		<meta name="description" content="{{ page_description | strip_html | strip_newlines }}" />
		{%- endif -%}	
		<link rel="canonical" href="{{ canonical_url }}" />
		<link rel="alternate" href="{{ canonical_url }}" hreflang="vi-vn" />	
		<meta name="keywords" content="{{ shop.name }}">
		{%if template contains 'search' %}	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
		{% else %}<meta name="robots" content="index,follow,noodp">	{%endif%} 
		<meta http-equiv="x-dns-prefetch-control" content="on">
		<link rel="dns-prefetch" href="{{shop.url}}">
		<link rel="dns-prefetch" href="//hstatic.net">
		<link rel="dns-prefetch" href="//theme.hstatic.net">
		<link rel="dns-prefetch" href="//file.hstatic.net">
		<link rel="dns-prefetch" href="//www.google-analytics.com/">
		<link rel="dns-prefetch" href="//www.google.com">
		<link rel="dns-prefetch" href="//fonts.googleapis.com">
		<link rel="preload" as="style" href="{{ 'styles.css' | asset_url }}">
		{%- unless settings.base_font contains 'Arial' or settings.base_font contains 'Montserrat' -%}
		{%- if settings.base_font -%}
		<link rel="preload" href="//hstatic.net/0/0/global/design/member/fonts-master/{{settings.base_font | replace: ' ', '' | downcase}}.css" as="style">
		{%- endif -%}
		{%- endunless -%}
		<link rel="preconnect" href="//fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=vietnamese">
		<link rel="preload" href="//fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=vietnamese" as="style">
		{% include 'fb-open-graph-tags' %}
		<script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","name":"{{shop.url | remove: 'https://' | remove: 'http://' }}","url":"{{shop.url}}","potentialAction":{"@type":"SearchAction","target":"{{shop.url}}/search?&q={search_term_string}","query-input":"required name=search_term_string"}}</script>
		
		{%- capture capserverHead-%}{{ content_for_header }}{%-endcapture-%}
  	{%- assign serverHead = capserverHead -%}
		
		{%- capture capsrcCombo1 -%}"https://combo-omni.haravan.com/js/script_tag_production.js?v=1576487994026"{%-endcapture-%}
		{%- assign srcCombo1 = capsrcCombo1 -%}
		{%- capture capsrcCombo2 -%}"https://combo-omni.haravan.com/js/script_tag_production.js?v=1576487994026",{%-endcapture-%}
		{%- capture capsrcCombo3 -%},"https://combo-omni.haravan.com/js/script_tag_production.js?v=1576487994026"{%-endcapture-%}
		{%- assign srcCombo2 = capsrcCombo2 -%}
		{%- assign srcCombo3 = capsrcCombo3 -%}
		
		{%- capture capsrcBuyXY1 -%}"https://buyxgety-omni.haravan.com/js/script_tag_production.js?v=1576487994026"{%-endcapture-%}
		{%- assign srcBuyXY1 = capsrcBuyXY1 -%}
		{%- capture capsrcBuyXY2 -%}"https://buyxgety-omni.haravan.com/js/script_tag_production.js?v=1576487994026",{%-endcapture-%}
		{%- capture capsrcBuyXY3 -%},"https://buyxgety-omni.haravan.com/js/script_tag_production.js?v=1576487994026"{%-endcapture-%}
		{%- assign srcBuyXY2 = capsrcBuyXY2 -%}
		{%- assign srcBuyXY3 = capsrcBuyXY3 -%}
		
		{%- capture capsrcCombo_final1 -%}"https://combo-omni.haravan.com/js/script_tag_production.js?v=1003"{%-endcapture-%}
		{%- assign srcCombo_final1 = capsrcCombo_final1 -%}
		
		{%- capture capsrcBuyXY_final1 -%}"https://buyxgety-omni.haravan.com/js/script_tag_production.js?v=1002"{%-endcapture-%}
		{%- assign srcBuyXY_final1 = capsrcBuyXY_final1 -%}
		
		{%- if settings.promotion_hrvapp_use -%}
			{%-if settings.promotion_hrvapp == 'appcombo'-%}	
				{%-capture srcHead -%}{{ serverHead | remove: srcBuyXY2 | remove: srcBuyXY3 }}{%- endcapture -%}
    			{{ srcHead  }}
			{%- elsif settings.promotion_hrvapp == 'appbuyxgety'-%}
				{%-capture srcHead -%}{{ serverHead | remove: srcCombo2 | remove: srcCombo3 }}{%- endcapture -%}
    			{{ srcHead }}
			{%-endif-%}
		{%-else-%}
			 {{ serverHead | remove: srcBuyXY2 | remove: srcBuyXY3 | remove: srcCombo2 | remove: srcCombo3  }}
		{%-endif-%}

		{%- comment -%}
		<script>
		window.shop = {
			template: "{{template | escape }}",
			moneyFormat: "{{ shop.money_format }}",
			shopCurrency: "{{shop.currency}}",
			CollectionSortBy: "{{ collection.sort_by | default: collection.default_sort_by  }}",
			terms: "{{search.terms | escape}}",
		};
		</script>
		{%- endcomment -%}
		{% include 'master-include' %}
	</head>
	<body class=" fashion-theme template-index">
		{% include 'svg-icon' %}
		<div class="main-body {% if settings.addthis_iconList_show %} layoutProduct_scroll {% endif %}">
			<header id="site-header" class="main-header wrap-flex-align">
				{%include 'header'%}
			</header>
			{%- if template == 'index' -%}{%- include'home-slider' -%} {%- endif -%}
			<main class="{% if template == 'index' %} main-index	{% endif %}">
				{{ content_for_layout }}
			</main>
			<footer class="main-footer {% if settings.addthis_iconList_show%} mainfooter-toolbar {% endif%} {% if template == 'product'%} mainfooter-product{% endif%} ">
				{% include 'footer' %}
			<!--Start of AutoAds Tracking Code-->
<script id='autoAdsMaxLead-widget-script' src='https://cdn.autoads.asia/scripts/autoads-maxlead-widget.js?business_id=B7328EDB5A9E4C1BA06C3935AB562BBC' type='text/javascript' charset='UTF-8' async></script>
<!--End of AutoAds Tracking Code-->
			</footer>
			{%- include 'addthis-sharing' -%}
			{%- if template contains 'index' -%}{%- include 'popup-contact' -%}{%- endif -%}
		</div>
		{% include 'sitenav-sidebar' %}
		<div id="site-overlay" class="site-overlay"></div>
		{% include 'footer-scripts' %}
	</body>
</html>