
<script>
$(document).on('click', ".remove-item-cart", function () {
	var variantId = $(this).attr('data-id');
	removeItemCart(variantId);
});
$(document).on('click', ".items-count", function () {
	$(this).parent().children('.items-count').prop('disabled', true);
	var thisBtn = $(this);
	var variantId = $(this).parent().find('.variantID').val();
	var qty =  $(this).parent().children('.number-sidebar').val();
	updateQuantity(qty, variantId);
});
$(document).on('change', ".number-sidebar", function () {
	var variantId = $(this).parent().children('.variantID').val();
	var qty =  $(this).val();
	updateQuantity(qty, variantId);
});
function updateQuantity (qty, variantId){
	var variantIdUpdate = variantId;
	$.ajax({
		type: "POST",
		url: '/cart/change.js',
		data:  'quantity='+qty+'&id='+variantId,
		dataType: "json",
		success: function (cart, variantId) {
			Haravan.onCartUpdateClick(cart, variantIdUpdate);
		},
		error: function (qty, variantId) {
			Haravan.onError(qty, variantId)
		}
	})
}
function removeItemCart (variantId){
	var variantIdRemove = variantId;
	$.ajax({
		type: "POST",
		url: "/cart/change.js",
		data:  'quantity=0&id='+variantId,
		dataType: "json",
		success: function (cart, variantId) {
			Haravan.onCartRemoveClick(cart, variantIdRemove);
			$('.productid-'+variantIdRemove).remove();
			if($('.list-item-cart>li').length == '0' ){
				$('.mini-products-list').html('<div class="no-item"><p>Không có sản phẩm nào trong giỏ hàng.</p></div>');
			}
			if($('.cart-tbody>div').length == '0' ){
				$('.bg-cart-page').remove();
				$('.bg-cart-page-mobile').remove();
				jQuery('<div class="bg-cart-page" style="min-height: auto"><p>Không có sản phẩm nào trong giỏ hàng. Quay lại <a href="/">cửa hàng</a> để tiếp tục mua sắm.</p></div>').appendTo('.cart');
			}
		},
		error: function (variantId, r) {
			Haravan.onError(variantId, r)
		}
	})
}
Haravan.resizeImage = function (t, r) {
	return t;
}

Haravan.onError = function (XMLHttpRequest, textStatus) {
	var data = eval("(" + XMLHttpRequest.responseText + ")");
	alert(data.message ? data.message + "(" + data.status + "): " + data.description : "Error : " + Haravan.fullMessagesFromErrors(data).join("; ") + ".")
}, Haravan.fullMessagesFromErrors = function (t) {
	var r = [];
	return jQuery.each(t, function (t, e) {
		jQuery.each(e, function (e, o) {
			r.push(t + " " + o)
		})
	}), r
}
Haravan.updateCartFromForm = function(cart, cart_summary_id, cart_count_id) {
		if ((typeof cart_summary_id) === 'string') {
			var cart_summary = jQuery(cart_summary_id);
			if (cart_summary.length) {
				// Start from scratch.
				cart_summary.empty();
				// Pull it all out.        
				jQuery.each(cart, function(key, value) {
					if (key === 'items') {

						var table = jQuery(cart_summary_id);           
						if (value.length) {   
							jQuery('<ul class="list-item-cart"></ul>').appendTo(table);
							jQuery.each(value, function(i, item) {	

								var src = item.image;
								if(src == null){
									src = "http://bizweb.dktcdn.net/thumb/large/assets/themes_support/noimage.gif";
								}
								var buttonQty = "";
								if(item.quantity == '1'){
									buttonQty = 'disabled';
								}else{
									buttonQty = '';
								}
								jQuery('<li class="item productid-' + item.variant_id +'"><a class="product-image" href="' + item.url + '" title="' + item.name + '">'
									   + '<img alt="'+  item.title  + '" src="' + src +  '"width="'+ '80' +'"\></a>'
									   + '<div class="detail-item"><div class="product-details"> <a href="javascript:;" data-id="'+ item.variant_id +'" title="Xóa" class="remove-item-cart fa fa-remove">&nbsp;</a>'
									   + '<p class="product-name"> <a href="' + item.url + '" title="' + item.title + '">' + item.title + '</a></p></div>'
									   + '<div class="product-details-bottom"><span class="price">' + Haravan.formatMoney(item.price, "{{shop.money_format}}") + '</span>'
									   + '<div class="quantity-select"><input class="variantID" type="hidden" name="variantId" value="'+ item.variant_id +'"><button onClick="var result = document.getElementById(\'qty'+ item.variant_id +'\'); var qty'+ item.variant_id +' = result.value; if( !isNaN( qty'+ item.variant_id +' ) &amp;&amp; qty'+ item.variant_id +' &gt; 1 ) result.value--;return false;" class="reduced items-count btn-minus" ' + buttonQty + ' type="button">–</button><input type="text" maxlength="12" min="0" class="input-text number-sidebar qty'+ item.variant_id +'" id="qty'+ item.variant_id +'" name="Lines" id="updates_'+ item.variant_id +'" size="4" value="'+ item.quantity +'"><button onClick="var result = document.getElementById(\'qty'+ item.variant_id +'\'); var qty'+ item.variant_id +' = result.value; if( !isNaN( qty'+ item.variant_id +' )) result.value++;return false;" class="increase items-count btn-plus" type="button">+</button></div></div></li>').appendTo(table.children('.list-item-cart'));
							}); 
							jQuery('<div><div class="top-subtotal">Tổng cộng: <span class="price">' + Haravan.formatMoney(cart.total_price, "{{shop.money_format}}") + '</span></div></div>').appendTo(table);
							jQuery('<div><div class="actions"><a href="/checkout" class="btn btn-pink btn-checkout btn-width"><span><i class="fa fa-spinner"></i> Thanh toán</span></a><a href="/cart" class="view-cart btn btn-pink margin-left-5 btn-width pull-right"><span><i class="fa fa-shopping-bag"></i> Giỏ hàng</span></a></div></div>').appendTo(table);
						}
						else {
							jQuery('<div class="no-item"><p>Không có sản phẩm nào trong giỏ hàng.</p></div>').appendTo(table);

						}
					}
				});
			}
		}
		updateCartDesc(cart);
		var numInput = document.querySelector('#cart-sidebar input.input-text');
		if (numInput != null){
			// Listen for input event on numInput.
			numInput.addEventListener('input', function(){
				// Let's match only digits.
				var num = this.value.match(/^\d+$/);
				if (num == 0) {
					// If we have no match, value will be empty.
					this.value = 1;
				}
				if (num === null) {
					// If we have no match, value will be empty.
					this.value = "";
				}
			}, false)
		}
	}
Haravan.updateCartPopupForm = function(cart, cart_summary_id, cart_count_id) {
		 updateCartDesc(cart);
		 }
Haravan.updateCartPageForm = function(cart, cart_summary_id, cart_count_id) {
	if ((typeof cart_summary_id) === 'string') {
		var cart_summary = jQuery(cart_summary_id);
		if (cart_summary.length) {
			// Start from scratch.
			cart_summary.empty();
			// Pull it all out.        
			jQuery.each(cart, function(key, value) {
				if (key === 'items') {
					var table = jQuery(cart_summary_id);           
					if (value.length) {

						var pageCart = '<div class="cart page_cart hidden-xs">'
						+ '<form action="/cart" method="post" novalidate class="margin-bottom-0"><div class="bg-scroll"><div class="cart-thead">'
						+ '<div style="width: 17%">Ảnh sản phẩm</div><div style="width: 25%"><span class="nobr">Tên sản phẩm</span></div><div style="width: 15%" class="a-center"><span class="nobr">Đơn giá</span></div><div style="width: 22%" class="a-center">Số lượng</div><div style="width: 15%" class="a-center">Thành tiền</div><div style="width: 6%">Xoá</div></div>'
						+ '<div class="cart-tbody"></div></div></form></div>'; 
						var pageCartCheckout = '<div class="cart-collaterals cart_submit row"><div class="totals col-sm-12 col-md-12 col-xs-12"><div class="totals"><div class="inner">'
						+ '<table class="table shopping-cart-table-total margin-bottom-0" id="shopping-cart-totals-table"><colgroup><col><col></colgroup>'
						+ '<tfoot><tr><td colspan="20" class="a-right"></td><td class="a-right"><span style="margin-right:5px">Tổng đơn hàng: </span><strong><span class="totals_price price">' + Haravan.formatMoney(cart.total_price, "{{shop.money_format}}") + '</span></strong></td></tr></tfoot></table>'
						+ '<ul class="checkout"><li class="clearfix"><button class="btn btn-primary button btn-proceed-checkout f-right" title="Tiến hành đặt hàng" type="button" onclick="window.location.href=\'/checkout\'"><span>Tiến hành đặt hàng</span></button><button class="btn btn-white f-right" title="Tiếp tục mua hàng" type="button" onclick="window.location.href=\'/collections/all\'"><span>Tiếp tục mua hàng</span></button></li>'
						+ '</ul></div></div></div></div>';
						jQuery(pageCart).appendTo(table);
						jQuery.each(value, function(i, item) {
							var buttonQty = "";
							if(item.quantity == '1'){
								buttonQty = 'disabled';
							}else{
								buttonQty = '';
							}
							var link_img1 = Haravan.resizeImage(item.image, 'compact');
							if(link_img1=="null" || link_img1 =='' || link_img1 ==null){
								link_img1 = 'https://bizweb.dktcdn.net/thumb/large/assets/themes_support/noimage.gif';
							}

							var variant_options = item.variant_options;
							var variant_html = '';
							if (typeof variant_options !== 'undefined' && variant_options.length > 0) {
								var i;
								for (i = 0; i < variant_options.length; i++) {
									if (i == variant_options.length - 1){
										variant_html += variant_options[i];
									}else{
										variant_html += variant_options[i] + " / ";
									}
								}
							}
							var pageCartItem = '<div class="item-cart productid-' + item.variant_id +'"><div style="width: 17%" class="image"><a class="product-image" title="' + item.name + '" href="' + item.url + '"><img width="75" height="auto" alt="' + item.name + '" src="' + link_img1 +  '"></a></div>'
							+ '<div style="width: 25%" class="a-center"> <a href="' + item.url + '" title="'+ item.title +'"><span class="variant-title">' + item.product_title + '</span><br/><span>' + variant_html + '</span><br/><span>' + item.properties['Khách hàng chọn hàng từ cửa hàng '] + '</span></a></div>'
							+ '<div style="width: 15%" class="a-center"><span class="item-price"> <span class="price">' + Haravan.formatMoney(item.price, "{{shop.money_format}}") + '</span></span></div>'
							+ '<div style="width: 22%" class="a-center"><div class="input_qty_pr"><input class="variantID" type="hidden" name="variantId" value="'+ item.variant_id +'"><button onClick="var result = document.getElementById(\'qtyItem'+ item.variant_id +'\'); var qtyItem'+ item.variant_id +' = result.value; if( !isNaN( qtyItem'+ item.variant_id +' ) &amp;&amp; qtyItem'+ item.variant_id +' &gt; 1 ) result.value--;return false;" ' + buttonQty + ' class="reduced_pop items-count btn-minus" type="button">–</button><input type="text" maxlength="12" min="0" class="input-text number-sidebar input_pop input_pop qtyItem'+ item.variant_id +'" id="qtyItem'+ item.variant_id +'" name="Lines" id="updates_'+ item.variant_id +'" size="4" value="'+ item.quantity +'"><button onClick="var result = document.getElementById(\'qtyItem'+ item.variant_id +'\'); var qtyItem'+ item.variant_id +' = result.value; if( !isNaN( qtyItem'+ item.variant_id +' )) result.value++;return false;" class="increase_pop items-count btn-plus" type="button">+</button></div></div>'
							+ '<div style="width: 15%" class="a-center"><span class="cart-price"> <span class="price">'+ Haravan.formatMoney(item.price * item.quantity, "{{shop.money_format}}") +'</span> </span></div>'
							+ '<div style="width: 6%"><a class="button remove-item-cart" title="Xóa" href="javascript:;" data-id="'+ item.variant_id +'"><i class="fa fa-times" aria-hidden="true"></i></a></div></div>';
							jQuery(pageCartItem).appendTo(table.find('.cart-tbody'));
							if(item.variant_title == 'Default Title'){
								$('.variant-title').hide();
							}
						}); 
						jQuery(pageCartCheckout).appendTo(table.children('.cart'));
					}else {
						jQuery('<p class="hidden-xs-down">Không có sản phẩm nào trong giỏ hàng. Quay lại <a href="/" style="color:{{settings.mau_chudao}};">cửa hàng</a> để tiếp tục mua sắm.</p>').appendTo(table);
						jQuery('.cart_desktop_page').css('min-height', 'auto');
					}
				}
			});
		}
	}
	updateCartDesc(cart);
	jQuery('#wait').hide();
}

Haravan.updateCartPopupForm = function(cart, cart_summary_id, cart_count_id) {

	if ((typeof cart_summary_id) === 'string') {
		var cart_summary = jQuery(cart_summary_id);
		if (cart_summary.length) {
			// Start from scratch.
			cart_summary.empty();
			// Pull it all out.        
			jQuery.each(cart, function(key, value) {
				if (key === 'items') {
					var table = jQuery(cart_summary_id);           
					if (value.length) { 
						jQuery.each(value, function(i, item) {
							var src = item.image;
							if(src == null){
								src = "http://bizweb.dktcdn.net/thumb/large/assets/themes_support/noimage.gif";
							}
							var buttonQty = "";
							if(item.quantity == '1'){
								buttonQty = 'disabled';
							}else{
								buttonQty = '';
							}
							var pageCartItem = '<div class="item-popup productid-' + item.variant_id +'"><div style="width: 55%;" class="text-left"><div class="item-image">'
							+ '<a class="product-image" href="' + item.url + '" title="' + item.name + '"><img alt="'+  item.name  + '" src="' + src +  '"width="'+ '80' +'"\></a>'
							+ '</div><div class="item-info"><p class="item-name"><a href="' + item.url + '" title="' + item.name + '">' + item.title + '</a></p>'
							+ '<p class="variant-title-popup">' + item.variant_title + '</span>'
							+ '<p class="item-remove"><a href="javascript:;" class="remove-item-cart" title="Xóa" data-id="'+ item.variant_id +'"><i class="fa fa-close"></i> Bỏ sản phẩm</a></p><p class="addpass" style="color:#fff;">'+ item.variant_id +'</p></div></div>'
							+ '<div style="width: 15%;" class="text-right"><div class="item-price"><span class="price">' + Haravan.formatMoney(item.price, "{{ shop.money_format }}") + '</span>'
							+ '</div></div><div style="width: 15%;" class="text-center"><input class="variantID" type="hidden" name="variantId" value="'+ item.variant_id +'">'
							+ '<button onClick="var result = document.getElementById(\'qtyItem'+ item.variant_id +'\'); var qtyItem'+ item.variant_id +' = result.value; if( !isNaN( qtyItem'+ item.variant_id +' ) &amp;&amp; qtyItem'+ item.variant_id +' &gt; 1 ) result.value--;return false;" ' + buttonQty + ' class="reduced items-count btn-minus" type="button">–</button>'
							+ '<input type="text" maxlength="12" min="0" class="input-text number-sidebar qtyItem'+ item.variant_id +'" id="qtyItem'+ item.variant_id +'" name="Lines" id="updates_'+ item.variant_id +'" size="4" value="'+ item.quantity +'">'
							+ '<button onClick="var result = document.getElementById(\'qtyItem'+ item.variant_id +'\'); var qtyItem'+ item.variant_id +' = result.value; if( !isNaN( qtyItem'+ item.variant_id +' )) result.value++;return false;" class="increase items-count btn-plus" type="button">+</button></div>'
							+ '<div style="width: 15%;" class="text-right"><span class="cart-price"> <span class="price">'+ Haravan.formatMoney(item.price * item.quantity, "{{shop.money_format}}") +'</span> </span></div></div>';
							jQuery(pageCartItem).appendTo(table);
							if(item.variant_title == 'Default Title'){
								$('.variant-title-popup').hide();
							}
							$('.link_product').text();
						}); 
					}
				}
			});
		}
	}
	jQuery('.total-price').html(Haravan.formatMoney(cart.total_price, "{{shop.money_format}}"));
	updateCartDesc(cart);
}

Haravan.updateCartPageFormMobile = function(cart, cart_summary_id, cart_count_id) {
	if ((typeof cart_summary_id) === 'string') {
		var cart_summary = jQuery(cart_summary_id);
		if (cart_summary.length) {
			// Start from scratch.
			cart_summary.empty();
			// Pull it all out.        
			jQuery.each(cart, function(key, value) {
				if (key === 'items') {

					var table = jQuery(cart_summary_id);           
					if (value.length) {   
						jQuery('<div class="cart_page_mobile content-product-list"></div>').appendTo(table);
						jQuery.each(value, function(i, item) {
							if( item.image != null){
								var src = Haravan.resizeImage(item.image, 'small');
							}else{
								var src = "https://bizweb.dktcdn.net/thumb/large/assets/themes_support/noimage.gif";
							}
							jQuery('<div class="item-product item productid-' + item.variant_id +' "><div class="item-product-cart-mobile"><a href="' + item.url + '">	<a class="product-images1" href=""  title="' + item.title + '"><img width="80" height="150" alt="" src="' + src +  '" alt="' + item.title + '"></a></a></div>'
										 + '<div class="title-product-cart-mobile"><h3><a href="' + item.url + '" title="' + item.title + '">' + item.title + '</a></h3><p>Giá: <span>' + Haravan.formatMoney(item.price, "{{shop.money_format}}") + '</span></p></div>'
										 + '<div class="select-item-qty-mobile"><div class="txt_center">'
										 + '<input class="variantID" type="hidden" name="variantId" value="'+ item.variant_id +'"><button onClick="var result = document.getElementById(\'qtyMobile'+ item.variant_id +'\'); var qtyMobile'+ item.variant_id +' = result.value; if( !isNaN( qtyMobile'+ item.variant_id +' ) &amp;&amp; qtyMobile'+ item.variant_id +' &gt; 1 ) result.value--;return false;" class="reduced items-count btn-minus" type="button">–</button><input type="text" maxlength="12" min="0" class="input-text number-sidebar qtyMobile'+ item.variant_id +'" id="qtyMobile'+ item.variant_id +'" name="Lines" id="updates_'+ item.variant_id +'" size="4" value="'+ item.quantity +'"><button onClick="var result = document.getElementById(\'qtyMobile'+ item.variant_id +'\'); var qtyMobile'+ item.variant_id +' = result.value; if( !isNaN( qtyMobile'+ item.variant_id +' )) result.value++;return false;" class="increase items-count btn-plus" type="button">+</button></div>'
										 + '<a class="button remove-item remove-item-cart" href="javascript:;" data-id="'+ item.variant_id +'">Xoá</a></div>').appendTo(table.children('.content-product-list'));

						});

						jQuery('<div class="header-cart-price" style=""><div class="title-cart "><h3 class="text-xs-left">Tổng tiền</h3><a class="text-xs-right totals_price_mobile">' + Haravan.formatMoney(cart.total_price, "{{shop.money_format}}") + '</a></div>'
									 + '<div class="checkout"><button class="btn-proceed-checkout-mobile" title="Đặt hàng ngay - giao tận nơi" type="button" onclick="window.location.href=\'/checkout\'">'
									 + '<span>Đặt hàng ngay - giao tận nơi</span></button><a href="collections/all" class="btn-semore-mobile" title="Mua thêm sản phẩm khác">'
									 + '<span><i class="fa fa-caret-left"></i> Mua thêm sản phẩm khác</span></a><a href="javascript:;" class="btn-semore-mobile" title="Xoá toàn bộ giỏ hàng" onclick="Haravan.clear(function(){});">'
									 + '<span>Xoá toàn bộ giỏ hàng</span></a></div></div>').appendTo(table);
					}

				}
			});
		}
	}
	updateCartDesc(cart);
}



function updateCartDesc(data){
	var $cartPrice = Haravan.formatMoney(data.total_price, "{{shop.money_format}}"),
			$cartMobile = $('#header .cart-mobile .quantity-product, .count_item_pr'),
			$cartDesktop = $('.count_item_pr'),
			$cartDesktopList = $('.cart-counter-list'),
			$cartPopup = $('.cart-popup-count, .count_item_pr');

	switch(data.item_count){
		case 0:
			$cartMobile.text('0');
			$cartDesktop.text('0');
			$cartDesktopList.text('0');
			break;
		case 1:
			$cartMobile.text('1');
			$cartDesktop.text('1');
			$cartDesktopList.text('1');

			break;
		default:
			$cartMobile.text(data.item_count);
			$cartDesktop.text(data.item_count);
			$cartDesktopList.text(data.item_count);
			break;
	}
	$('.top-cart-content .top-subtotal .price, aside.sidebar .block-cart .subtotal .price, .popup-total .total-price').html($cartPrice);
	$('.popup-total .total-price').html($cartPrice);
	$('.shopping-cart-table-total .totals_price').html($cartPrice);
	$('.header-cart-price .totals_price_mobile').html($cartPrice);
	$('.count_item_pr').html(data.item_count);
}

Haravan.onCartUpdate = function(cart) {
	{% if template == 'cart' %}
	Haravan.updateCartPageFormMobile(cart, '.cart-mobile .header-cart-content');
	 Haravan.updateCartPageForm(cart, '.cart_desktop_page');
	 {% endif %}
	 };
	 Haravan.onCartUpdateClick = function(cart, variantId) {
		 jQuery.each(cart, function(key, value) {
			 if (key === 'items') {    
				 jQuery.each(value, function(i, item) {	
					 if(item.variant_id == variantId){
						 $('.productid-'+variantId).find('.cart-price span.price').html(Haravan.formatMoney(item.price * item.quantity, "{{shop.money_format}}"));
						 $('.productid-'+variantId).find('.items-count').prop("disabled", false);
						 $('.productid-'+variantId).find('.number-sidebar').prop("disabled", false);
						 $('.productid-'+variantId +' .number-sidebar').val(item.quantity);
						 if(item.quantity == '1'){
							 $('.productid-'+variantId).find('.items-count.btn-minus').prop("disabled", true);
						 }
					 }
				 }); 
			 }
		 });
		 updateCartDesc(cart);
	 }
	 Haravan.onCartRemoveClick = function(cart, variantId) {
		 jQuery.each(cart, function(key, value) {
			 if (key === 'items') {    
				 jQuery.each(value, function(i, item) {	
					 if(item.variant_id == variantId){
						 $('.productid-'+variantId).remove();
					 }
				 }); 
			 }
		 });
		 updateCartDesc(cart);
	 }
	 $(window).ready(function(){
		 $.ajax({
			 type: 'GET',
			 url: '/cart.js',
			 async: false,
			 cache: false,
			 dataType: 'json',
			 success: function (cart){
 Haravan.updateCartFromForm(cart, '.mini-products-list');
						  Haravan.updateCartPopupForm(cart, '#popup-cart-desktop .tbody-popup');
				 {% if template == 'cart' %}
				 Haravan.updateCartPageFormMobile(cart, '.cart-mobile .header-cart-content');
					Haravan.updateCartPageForm(cart, '.cart_desktop_page');   
					{% endif %}
					}
				 });
			 });

			 </script>