<aside class="aside-item collection-category hidden-xs hidden-sm">
	<div class="aside-title">
		<h2 class="title-head margin-top-0 panel-box-title"><span><i class="icon fa fa-bars"></i> {{ settings.aside_category_title }}</span></h2>
	</div>
	<div class="aside-content">
		<nav class="nav-category navbar-toggleable-md">
			<ul class="nav navbar-pills">
				{% for link in linklists[settings.aside_category_menu].links %}
				{% if linklists[link.handle] %}
				<li class="nav-item {% if link.active %}active{% endif %}">
					<a href="{{ link.url }}" class="nav-link">{{ link.title }}</a>
					<i class="fa fa-angle-down"></i>
					<ul class="dropdown-menu">
						{% for childlink in linklists[link.handle].links %}
						{% if linklists[childlink.handle] %}
						<li class="dropdown-submenu nav-item">
							<a class="nav-link" href="{{ childlink.url }}">{{ childlink.title }}</a>
							<i class="fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								{% for childlink2 in linklists[childlink.handle].links %}
								{% if linklists[childlink2.handle] %}
								<li class="dropdown-submenu nav-item">
									<a class="nav-link" href="{{ childlink2.url }}">{{ childlink2.title }}</a>
									<i class="fa fa-angle-down"></i>
									<ul class="dropdown-menu">
										{% for childlink3 in linklists[childlink2.handle].links %}
										<li class="dropdown-submenu nav-item">
											<a class="nav-link" href="{{ childlink3.url }}">{{ childlink3.title }}</a>
										</li>
										{% endfor %}
									</ul>
								</li>
								{% else %}
								<li class="nav-item">
									<a class="nav-link" href="{{ childlink2.url }}">{{ childlink2.title }}</a>
								</li>
								{% endif %}
								{% endfor %}
							</ul>                      
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ childlink.url }}">{{ childlink.title }}</a>
						</li>
						{% endif %}
						{% endfor %}

					</ul>
				</li>
				{% else %}
				<li class="nav-item {% if link.active %}active{% endif %}"><a class="nav-link" href="{{ link.url }}">{{ link.title }}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</div>
</aside>
<script>
	$( document).ready(function() {
		$('.open-closess').click(function(e){
			e.preventDefault();
			var $this = $(this);
			$this.parents('.li-cate-has-child').find('.dropdown-menu.mega-menu').stop().slideToggle();
			$(this).toggleClass('active')
			return false;
		});
		$('.open-close-menu').click(function(e){
			e.preventDefault();
			var $this = $(this);
			$this.parents('.dropdown').find('.dropdown-menu').stop().slideToggle();
			$(this).toggleClass('active')
			return false;
		});
	});
</script>