{% if settings.article_tags_enable %}
{% if blog.tags.size > 0 and settings.article_tags_enable %}
<div class="widget-wrap">
	<div class="aside-title">
		<h2 class="title-head margin-top-0 panel-box-title"><span>{{ settings.bogs_tag_title}}</span></h2>
	</div>	
	<ul class="tags-widget">
		{% for tag in blog.tags limit:settings.bogs_tag_limit %}
		{%if blog.url != all%}
		<li> <a href="{{ blog.url }}/tagged/{{ tag | handle }}" title="{{tag}}">{{tag}}</a> </li>
		{%else%}
		<li> <a href="/blogs/all/tagged/{{ tag | handle }}" title="{{tag}}">{{tag}}</a> </li>
		{%endif%}
		{% endfor %}
	</ul>
</div>
{% endif %}
{% endif %}
