<div class="widget-wrap widget-best-sell">
	<div class="aside-title">
		<h2 class="title-head margin-top-0 panel-box-title"><span>{{ settings.bogs_aside_recent_title }}</span></h2>
	</div>
	<div class="widget-post pt-15">
		{% for product in collections[settings.bogs_aside_recent_product].products limit: settings.bogs_aside_recent_limit %}
		{% assign sold_out = true %}
		{% if product.available  %}
		{% assign sold_out = false %}
		{% assign awe-price = product.selected_or_first_available_variant.price %}
		{% assign awe-compare-price = product.selected_or_first_available_variant.compare_at_price %}
		{%else%}
		{% assign awe-price = product.variants[0].price %}
		{% assign awe-compare-price = product.variants[0].compare_at_price %}
		{% endif %} 
		{%assign contact = false%}
		{%if awe-price == 0 %}
		{%assign contact = true%}
		{%endif%}
		{% assign on_sale = false %}
		{% if awe-compare-price > awe-price %}
		{% assign on_sale = true %}
		{% endif %}
		{% assign variantCount = product.variants | size %}
		{% assign on_var = false %}
		{% if variantCount > 1 %}
		{% assign on_var = true %}
		{% endif %}
		{%if product.featured_image.alt ==""%}
		{% assign featured_image_alt = product.name %}
		{%else%}
		{% assign featured_image_alt = product.featured_image.alt%}
		{%endif%}
		<div class="random-prod"> 
			<div class="random-img"> 
				{% if product.featured_image != null %}
				<picture>
					<source 
							media="(min-width: 1200px)"
							srcset="{{ product.featured_image.src | img_url:'large' }}">
					<source 
							media="(min-width: 992px)"
							srcset="{{ product.featured_image.src | img_url:'medium' }}">
					<source 
							media="(min-width: 480px)"
							srcset="{{ product.featured_image.src | img_url:'small' }}">
<source 
							media="(max-width: 479px)"
							srcset="{{ product.featured_image.src | img_url:'small' }}">
					<img 
						 src="{{ product.featured_image.src | img_url:'large' }}" 
						 alt="{{ product.title }}" />
				</picture>
				{% else %}
				<img alt="{{ product.title }}" src="{{ 'no_image.jpg' | asset_url | img_url: 'medium' }}" />
				{% endif %}
			</div>
			<div class="random-text"> 
				<h3 class="title-1 no-margin"> <a href="{{ product.url }}" title="{{ product.title }}">{{ product.title }}</a> </h3>
				<div class="price"> 
					{%if contact %}
					<strong class="clr-txt">Liên hệ</strong>
					{% else %}
					{% if on_sale %}
					<strong class="clr-txt">{{ awe-price | money }} </strong> {% if awe-compare-price > awe-price %}<del class="light-font">{{ awe-compare-price | money }} </del>{% endif %}
					{% else %}
					<strong class="clr-txt">{{ awe-price | money }} </strong>
					{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>