<aside class="aside-item banner hidden-sm hidden-xs">
	<div class="aside-title">
		<h2 class="title-head margin-top-0 panel-box-title"><span>{{settings.aside_banner_title}}</span></h2>
	</div>
	<div class="aside-content">
		<a href="{{settings.aside_banner_url}}">
		{{'aside_banner.png'|asset_url | img_tag:'banner' , 'banner-img'}}
		</a>
	</div>
</aside>