<aside class="aside-item collection-category blog-category">	
	<div class="aside-title">
		<h2 class="title-head margin-top-0 panel-box-title"><span>{{ settings.blogs_aside_category_title }}</span></h2>
	</div>	
	<div class="aside-content">
		<nav class="nav-category  navbar-toggleable-md" >
			<ul class="nav navbar-pills">
				{% for link in linklists[settings.blogs_aside_category_menu].links %}
				{% capture icon %}menu_side_icon_{{forloop.index}}.png{%endcapture%}
				{% if linklists[link.handle] %}
				<li class="nav-item {% if link.active %}active{% endif %}">
					<a href="{{ link.url }}" class="nav-link">{% if settings.megamenu_icon_enable %}<img src="{{icon | asset_url}}" width="20" alt=""/> {% endif %}{{ link.title }}</a>
					<i class="fa fa-angle-down" ></i>
					<ul class="dropdown-menu">
						{% for childlink in linklists[link.handle].links %}
						{% if linklists[childlink.handle] %}
						<li class="dropdown-submenu nav-item">
							<a class="nav-link" href="{{ childlink.url }}">{{ childlink.title }}</a>
							<i class="fa fa-angle-down" ></i>
							<ul class="dropdown-menu">
								{% for childlink2 in linklists[childlink.handle].links %}
								<li class="dropdown-submenu nav-item">
									<a class="nav-link" href="{{ childlink2.url }}">{{ childlink2.title }}</a>
								</li>
								{% endfor %}
							</ul>                      
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ childlink.url }}">{{ childlink.title }}</a>
						</li>
						{% endif %}
						{% endfor %}
					</ul>
				</li>
				{% else %}
				<li class="nav-item {% if link.active %}active{% endif %}">
					<a class="nav-link" href="{{ link.url }}">{% if settings.megamenu_icon_enable %}<img src="{{icon | asset_url}}" width="20" alt=""/> {% endif %}{{ link.title }}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</div>
</aside>
{%comment%}
<div class="blog-sidebar">

	<div class="aside-title">
		<h2 class="title-head margin-top-0 panel-box-title"><span>Bài viết mới nhất</span></h2>
	</div>	
	<ul class="no-bullets">
		{% for article in blogs[blog.handle].articles limit:6 %}
		<li>
			<a href="{{ article.url }}">{{ article.title }}</a>
			<br>
			<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
		</li>
		{% endfor %}
	</ul>

</div>

{%endcomment%}


<div class="blog-sidebar">

	<div class="aside-title">
		<h2 class="title-head margin-top-0 panel-box-title"><span>{{settings.intagram_title}}</span></h2>
	</div>	
	<div class="sidebar_instagram">
		<div class="instagram">
			{% for i in (1..9) %}
			{% capture var_image %}instagram_image_{{i}}.jpg{% endcapture %}
			{% capture var_name %}instagram_title_{{i}}{% endcapture %}
			{% capture var_link %}instagram_link_{{i}}{% endcapture %}
			<div class="item">
				<a href="{{ settings.[var_link] }}" target="_blank">
					<img src="{{ var_image | asset_url }}" alt="{{ settings.[var_name] }}" class="img-responsive center-block" />
				</a>
			</div>
			{% endfor %}
		</div>
	</div>

</div>














