{{ 'search_filter.js'  | asset_url | script_tag }}
{% if settings.categories_block_enable %}
	<div id="categories_block" class="block">
		{% if settings.categories_block_title != blank %}
			<div class="title_block">{{ settings.categories_block_title }}</div>
		{% endif %}
		<div class="block_content">
			<ul class="list-block list-group list-unstyled">
				{% if settings.categories_block_style == 'show_all' %}
					{% for category in collections limit:settings.categories_block_number %}
						<li {% if collection.handle == category.handle %} class="active" {% endif %}>
							<a href="{{ category.url }}" title="{{ category.title }}">
								{{ category.title }}
								{% if settings.categories_block_productcount %}
									{% if category.all_products_count > 0 %}({{ category.all_products_count }}){% endif %}
								{% endif %}
							</a>
						</li>
					{% endfor %}
				{% else %}
					{% assign category_items = settings.categories_block_items | split:"," %}
					{% for category in category_items %}
						{% for category_site in collections %}
							{% assign catSite = category_site.title | downcase %}
							{% assign catCustom = category | downcase %}
							{% if catCustom contains catSite %}
								<li {% if collection.handle == category_site.handle %} class="active" {% endif %}>
									<a href="{{ category_site.url }}" title="{{ category_site.title }}">
										{{ category_site.title }}
										{% if settings.categories_block_productcount %}
											{% if category_site.all_products_count > 0 %}({{ category_site.all_products_count }}){% endif %}
										{% endif %}
									</a>
								</li>
							{% endif %}
						{% endfor %}
					{% endfor %}
				{% endif %}
			</ul>
		</div>
	</div>
{% endif %}
<div class="aside-filter">
	<div class="aside-hidden-mobile">
		<div class="filter-container">	
			<div class="filter-container__selected-filter" style="display: none;">
				<div class="filter-container__selected-filter-header clearfix">
					<span class="filter-container__selected-filter-header-title"><i class="fa fa-arrow-left hidden-sm-up"></i> Bạn chọn</span>
					<a href="javascript:void(0)" onclick="clearAllFiltered()" class="filter-container__clear-all">Bỏ hết <i class="fa fa-angle-right"></i></a>
				</div>
				<div class="filter-container__selected-filter-list">
					<ul></ul>
				</div>
			</div>
		</div>
		{% if settings.filter_type %}
		<aside class="aside-item filter-type hidden-xs">
			<div class="aside-title">
				<h2 class="title-head margin-top-0 "><span>{{settings.filter_type_title}}</span></h2>
			</div>
			<div class="aside-content filter-group">
				<div class="field-search input-group " style="display:none;">
					<input type="text" placeholder = "Tìm Loại" class="form-control filter-type-list" onkeyup="filterItemInList(jQuery('.filter-type-list'))">
					<span class="input-group-btn">
						<button class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
					</span>
				</div>
				<ul class="filter-type">
					{% for type in collection.all_types limit: settings.shop_by_vendor_number %}
					{%if type != ''%} 
					<li class="filter-item filter-item--check-box filter-item--green">
						<label data-filter="{{ type | downcase }}" for="filter-{{ type | handleize }}" class="{{ type | handleize }}">
							<input type="checkbox" id="filter-{{ type | handleize }}"  data-group="Loại" data-field="product_type" data-text="{{ type }}" value="(product_type:product**{{type}})"  data-operator="OR">
							<i class="fa"></i>
							{{ type }} <span class="col-item"></span>
						</label>
					</li>
					{%endif%}
					{% endfor %}
				</ul>
			</div>
		</aside>
		{%endif%}
		{% if settings.filter_vendor %}
		<aside class="aside-item filter-vendor hidden-xs">
			<div class="aside-title">
				<h2 class="title-head margin-top-0 "><span>{{settings.filter_vendor_title}}</span></h2>
			</div>
			<div class="aside-content filter-group">
				<div class="field-search input-group " style="display:none;">
					<input type="text" placeholder = "Tìm Thương hiệu" class="form-control filter-vendor-list" onkeyup="filterItemInList(jQuery('.filter-vendor-list'))">
					<span class="input-group-btn">
						<button class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
					</span>
				</div>
				<ul class="filter-vendor">
					{% for vendor in collection.all_vendors %}
					{%if vendor != ''%}
					<li class="filter-item filter-item--check-box filter-item--green ">
						<label data-filter="{{ vendor | downcase }}" for="filter-{{ vendor | handleize }}" class="{{ vendor | handleize }}">
							<input type="checkbox" id="filter-{{ vendor | handleize }}"  data-group="Hãng" data-field="vendor" data-text="{{ vendor }}" value="(vendor:product**{{ vendor }})" data-operator="OR">
							<i class="fa"></i>
							{{ vendor }}
						</label>
					</li>
					{%endif%}
					{% endfor %}
				</ul>
			</div>
		</aside>
		{%endif%}
		{% if settings.filter_price %}
		<aside class="aside-item filter-price">
			<div class="aside-title">
				<h2 class="title-head margin-top-0 "><span>{{settings.filter_price_title}}</span></h2>
			</div>
			<div class="aside-content filter-group">
				<ul>
					{% assign tags = settings.filter_price_node | split: ';' %} 
					{% for t in tags %}
					{% assign tag = t | strip %}
					{% assign tag_value = tag | handleize %}
					{%if forloop.index == 1%}
					<li class="filter-item filter-item--check-box filter-item--green">
						<span>
							<label for="filter-duoi-{{tag | handleize }}">
								<input type="checkbox" id="filter-duoi-{{tag | handleize }}" data-group="Khoảng giá" data-field="price_min" data-text="Dưới {{tag}}" value="(price:product<{{ tag | replace: '.' | replace: 'đ' }})" data-operator="OR">
								<i class="fa"></i>
								Giá dưới {{tag}}
							</label>
						</span>
					</li>

					{%elsif forloop.index == forloop.length%}
					<li class="filter-item filter-item--check-box filter-item--green">
						<span>
							<label for="filter-{{ tagold | handleize }}-{{ tag | handleize }}">
								<input type="checkbox" id="filter-{{ tagold | handleize }}-{{ tag | handleize }}" data-group="Khoảng giá" data-field="price_min" data-text="{{tagold}} - {{tag}}" value="(price:product>{{ tagold | replace: '.' | replace: 'đ' }} AND price:product<{{ tag | replace: '.' | replace: 'đ' }})" data-operator="OR">
								<i class="fa"></i>
								{{tagold}} - {{tag}}							
							</label>
						</span>
					</li>	
					<li class="filter-item filter-item--check-box filter-item--green">
						<span>
							<label for="filter-tren{{ tag | handleize }}">
								<input type="checkbox" id="filter-tren{{ tag | handleize }}" data-group="Khoảng giá" data-field="price_min" data-text="Trên {{tag}}" value="(>{{ tag | replace: '.' | replace: 'đ' }})" data-operator="OR">
								<i class="fa"></i>
								Giá trên {{tag}}
							</label>
						</span>
					</li>
					{%else%}
					<li class="filter-item filter-item--check-box filter-item--green">
						<span>
							<label for="filter-{{ tagold | handleize }}-{{ tag | handleize }}">
								<input type="checkbox" id="filter-{{ tagold | handleize }}-{{ tag | handleize }}" data-group="Khoảng giá" data-field="price_min" data-text="{{tagold}} - {{tag}}" value="(price:product>{{ tagold | replace: '.' | replace: 'đ' }} AND price:product<{{ tag | replace: '.' | replace: 'đ' }})" data-operator="OR">
								<i class="fa"></i>
								{{tagold}} - {{tag}}							
							</label>
						</span>
					</li>	
					{%endif%}											
					{% assign tagold = tag %}
					{%endfor%}								
				</ul>
			</div>
		</aside>
		{%endif%}
		{% if settings.filter_tag1 %}
		<aside class="aside-item filter-tag-style-1 hidden-xs">
			<div class="aside-title">
				<h2 class="title-head margin-top-0 "><span>{{settings.filter_tag1_title}}</span></h2>
			</div>
			<div class="aside-content filter-group">
				<ul>
					{% assign tags = settings.filter_tag1_list | split: ';' %} 
					{% for t in tags %}
					{% assign tag = t | strip %}
					{% assign tag_value = tag | handleize %}
					<li class="filter-item filter-item--check-box filter-item--green">
						<span>
							<label for="filter-{{ tag | handleize }}">
								<input type="checkbox" id="filter-{{ tag | handleize }}" data-group="tag1" data-field="tags" data-text="{{tag}}" value="(tag:product**{{tag}})" data-operator="OR">
								<i class="fa"></i>
								{{tag}}
							</label>
						</span>
					</li>	
					{%endfor%}

				</ul>
			</div>
		</aside>
		{%endif%}
		{% if settings.filter_tag2 %}
		<aside class="aside-item filter-tag-style-1 tag-filtster hidden-xs">
			<div class="aside-title">
				<h2 class="title-head margin-top-0 "><span>{{settings.filter_tag2_title}}</span></h2>
			</div>
			<div class="aside-content filter-group">
				<ul>
					{% assign tags = settings.filter_tag2_list | split: ';' %} 
					{% for t in tags %}
					{% assign tag = t | strip %}
					{% assign tag_value = tag | handleize %}
					<li class="filter-item filter-item--check-box filter-item--green">
						<span>
							<label for="filter-{{ tag | handleize }}">
								<input type="checkbox" id="filter-{{ tag | handleize }}" data-group="tag2" data-field="tags" data-text="{{tag}}" value="(tag:product**{{tag}})" data-operator="OR">
								<i class="fa"></i>
								{{tag}}
							</label>
						</span>
					</li>	
					{%endfor%}

				</ul>
			</div>
		</aside>
		{%endif%}
	</div>
</div>
<script>
$(document).ready(function() {
	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
		acc[i].onclick = function() {
			this.classList.toggle("active");
			var panel = this.nextElementSibling;
			if (panel.style.maxHeight){
				panel.style.maxHeight = null;
			} else {
				panel.style.maxHeight = panel.scrollHeight + 1000 + "px";
			} 
		}
	}
});
</script>
<script>
$(window).on('popstate', function() {
	location.reload(true);	
});
var selectedSortby;
var tt = 'Thứ tự';
var selectedViewData = "{% if template contains '.list' %}data_list{% else %}data{% endif %}";
var filter = new Haravan.SearchFilter();
if(colId > 0){
	filter.addValue("collection", "collections", '(collectionid%3Aproduct%3D'+colId+')', "&&");
	
}else{
	filter.addValue("collection", "collections", '(collectionid%3Aproduct>=0)', "&&");
}
function toggleFilter(e) {
	_toggleFilter(e);
	renderFilterdItems();
	doSearch(1);
}
function _toggleFilterdqdt(e) {
	var $element = $(e);
	var group = 'Khoảng giá';
	var field = 'price_min';
	var operator = 'OR';	 
	var value = $element.attr("data-value");	
	filter.deleteValuedqdt(group, field, value, operator);
	filter.addValue(group, field, value, operator);
	renderFilterdItems();
	doSearch(1);
}

function _toggleFilter(e){
	var $element = $(e);
	var group = $element.attr("data-group");
	var field = $element.attr("data-field");
	var text = $element.attr("data-text");
	var value = $element.attr("value");
	var operator = $element.attr("data-operator");
	var filterItemId = $element.attr("id");
	if (!$element.is(':checked')) {
		filter.deleteValue(group, field, value, operator);
	}
	else{
		filter.addValue(group, field, value, operator);
	}
	$(".catalog_filters li[data-handle='" + filterItemId + "']").toggleClass("active");
}

function renderFilterdItems() {
	var $container = $(".filter-container__selected-filter-list ul");
	$container.html("");
	$(".filter-container input[type=checkbox]").each(function(index) {
		if ($(this).is(':checked')) {
			var id = $(this).attr("id");
			var name = $(this).closest("label").text();
			addFilteredItem(name, id);			
		}
	});
	if($(".filter-container input[type=checkbox]:checked").length > 0)
		$(".filter-container__selected-filter").show();
	else
		$(".filter-container__selected-filter").hide();
}

function addFilteredItem(name, id) {
	var filteredItemTemplate = "<li class='filter-container__selected-filter-item' for='{3}'><a href='javascript:void(0)' onclick=\"{0}\"><i class='fa fa-close'></i> {1}</a></li>";
	filteredItemTemplate = filteredItemTemplate.replace("{0}", "removeFilteredItem('" + id + "')");
	filteredItemTemplate = filteredItemTemplate.replace("{1}", name);
	filteredItemTemplate = filteredItemTemplate.replace("{3}", id);
	var $container = $(".filter-container__selected-filter-list ul");
	$container.append(filteredItemTemplate);
}

function removeFilteredItem(id) {
	$(".filter-container #" + id).trigger("click");
}
function filterItemInList(object) {
	q = object.val().toLowerCase();
	object.parent().next().find('li').show();
	if (q.length > 0) {
		object.parent().next().find('li').each(function() {
			if ($(this).find('label').attr("data-filter").indexOf(q) == -1)
				$(this).hide();
		})
	}
}

function clearAllFiltered() {
	filter = new Haravan.SearchFilter();
	if(colId > 0){
		filter.addValue("collection", "collections", '(collectionid%3Aproduct%3D'+colId+')', "&&");
	}else{
		filter.addValue("collection", "collections", '(collectionid%3Aproduct>0)', "&&");
	}
	$(".filter-container__selected-filter-list ul").html("");
	$(".filter-container input[type=checkbox]").attr('checked', false);
	$(".filter-container__selected-filter").hide();
	doSearch(1);
}
function doSearch(page, options) {

	if(!options) options = {};
	//NProgress.start();
	$('.aside.aside-mini-products-list.filter').removeClass('active');
	awe_showPopup('.loading');

	filter.search({
		view: selectedViewData,
		page: page,
		sortby: selectedSortby,
		success: function (html) {
			var $html = $(html);
			// Muốn thay thẻ DIV nào khi filter thì viết như này
			var $categoryProducts = $($html[0]); 
			$(".category-products").html($categoryProducts.html());
			pushCurrentFilterState({sortby: selectedSortby, page: page});
			awe_hidePopup('.loading');				  
			$('.add_to_cart').click(function(e){
				e.preventDefault();
				var $this = $(this);						   
				var form = $this.parents('form');						   
				$.ajax({
					type: 'POST',
					url: '/cart/add.js',
					async: false,
					data: form.serialize(),
					dataType: 'json',
					error: addToCartFail,
					beforeSend: function() {  
						if(window.theme_load == "icon"){
							awe_showLoading('.btn-addToCart');
						} else{
							awe_showPopup('.loading');
						}
					},
					success: addToCartSuccess,
					cache: false
				});
			});
			$('.collection .box-heading .title-head').text(colName);
			$('html, body').animate({
				scrollTop: $('.category-products').offset().top - 50
			}, 0);
			resortby(selectedSortby);

		}
	});		

}

function sortby(sort) {			 
	switch(sort) {
		case "price-asc":
			selectedSortby = "(price:product=asc)";					   
			break;
		case "price-desc":
			selectedSortby = "(price:product=des)";
			break;
		case "alpha-asc":
			selectedSortby = "(title:product=asc)";
			break;
		case "alpha-desc":
			selectedSortby = "(title:product=des)";
			break;
		case "created-desc":
			selectedSortby = "(created:product=des)";
			break;
		case "created-asc":
			selectedSortby = "(created:product=asc)";
			break;
		default:
			selectedSortby = "";
			break;
	}

	doSearch(1);
}

function resortby(sort) {
	switch(sort) {				  
		case "(price:product=asc)":
			tt = "Giá tăng dần";
			break;
		case "(price:product=des)":
			tt = "Giá giảm dần";
			break;
		case "(title:product=asc)":
			tt = "Tên A → Z";
			break;
		case "(title:product=des)":
			tt = "Tên Z → A";
			break;
		case "(created:product=des)":
			tt = "Hàng mới nhất";
			break;
		case "(created:product=asc)":
			tt = "Hàng cũ nhất";
			break;
		default:
			tt = "Mặc định";
			break;
	}			   
	$('#sort-by > ul > li > span').html(tt);

}


function _selectSortby(sort) {
	resortby(sort);
	switch(sort) {
		case "price-asc":
			selectedSortby = "price_min:asc";
			break;
		case "price-desc":
			selectedSortby = "price_min:desc";
			break;
		case "alpha-asc":
			selectedSortby = "name:asc";
			break;
		case "alpha-desc":
			selectedSortby = "name:desc";
			break;
		case "created-desc":
			selectedSortby = "created_on:desc";
			break;
		case "created-asc":
			selectedSortby = "created_on:asc";
			break;
		default:
			selectedSortby = sort;
			break;
	}
}

function toggleCheckbox(id) {
	$(id).click();
}
function pushCurrentFilterState(options) {
	if(!options) options = {};
	var url = filter.buildSearchUrl(options);
	var queryString = url.slice(url.indexOf('?'));			  
	if(selectedViewData == 'data_list'){
		queryString = queryString + '&view=list';				 
	}
	else{
		queryString = queryString + '&view=grid';				   
	}

	pushState(queryString);
}

function pushState(url) {
console.log(url);
	window.history.pushState({
		turbolinks: true,
		url: url
	}, null, url)


}
function switchView(view) {			  
	switch(view) {
		case "list":
			selectedViewData = "data_list";					   
			break;
		default:
			selectedViewData = "data";
			break;
	}			   
	doSearch(1);
}
function selectFilterByCurrentQuery() {
	var isFilter = false;
	var url = window.location.href;
	var queryString = decodeURI(window.location.search);
	var filters = queryString.match(/\(.*?\)/g);
	var page = 0;
	if(queryString) {
		isFilter = true;
		$.urlParam = function(name){
			var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
			return results[1] || 0;
		}
		page = $.urlParam('page');
	}
	if(filters && filters.length > 0) {
		filters.forEach(function(item) {
			item = item.replace(/\(\(/g, "(");
			var element = $(".aside-content input[value='" + item + "']");
			element.attr("checked", "checked");
			_toggleFilter(element);
		});

		isFilter = true;
	}
	var sortOrder = getParameter(url, "sortby");
	if(sortOrder) {
		_selectSortby(sortOrder);
	}
	if(isFilter) {
		doSearch(page);
		renderFilterdItems();
	}
}
function getParameter(url, name) {
	name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
			results = regex.exec(url);
	return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

$( document ).ready(function() {
	selectFilterByCurrentQuery();
	$('.filter-group .filter-group-title').click(function(e){
		$(this).parent().toggleClass('active');
	});

	$('.filter-mobile').click(function(e){
		$('.aside.aside-mini-products-list.filter').toggleClass('active');
	});

	$('#show-admin-bar').click(function(e){
		$('.aside.aside-mini-products-list.filter').toggleClass('active');
	});

	$('.filter-container__selected-filter-header-title').click(function(e){
		$('.aside.aside-mini-products-list.filter').toggleClass('active');
	});
});
$('.filter-item--check-box input').change(function(e){
	var $this = $(this);
	toggleFilter($this);
})
$('a#filter-value').click(function(e){
	var $this = $(this);
	_toggleFilterdqdt($this);
})
$('.dosearch').click(function(e){
	var $data = $(this).attr('data-onclick');
	doSearch($data);
})
$('.dl_sortby').on('click',function(e){
	var $data = $(this).attr('data-onclick');
	sortby($data);

})
</script>

