<section class="breadcrumb-bg">
	<div class="theme-container container">
		<div class="row">
			<div class="col-xs-12">
				<div class="site-breadcumb white-clr"> 
					<ul class="breadcrumb breadcrumb-menubar" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">					
						<li class="home">
							<a itemprop="url" href="/" ><span itemprop="title">Trang chủ</span></a>					
						</li>
						{% if template contains 'product' %}
						{% if product.collections.size > 0 %}
						<li>
							<a itemprop="url" href="{{ product.collections.first.url }}"><span itemprop="title">{{ product.collections.first.name }}</span></a>						
						</li>
						{% endif %}
						<li><strong><span itemprop="title"><span itemprop="title">{{ product.title }}</span></span></strong><li>
						{% elsif template contains 'collection' and collection.alias %}
						{% if current_tags %}					
						{% capture url %}/collections/{{ collection.alias }}{% endcapture %}
						<li itemprop="title">						
							<a itemprop="url" href="{{ collection.url }}">{{ collection.title}}</a>																</li>					<li>						<strong itemprop="title">{{ current_tags | join: ', ' }}</strong></li>
						{% else %}
						<li><strong><span itemprop="title">{%if collection.title == 'All'%}Tất cả sản phẩm{%else%} {{ collection.title }}{%endif%}</strong></li>
							{% endif %}
			{% elsif template == 'article' %}
						<li>
							<a itemprop="url" href="{{ blog.url }}"><span itemprop="title">{{ blog.title }}</span></a></li>
						<li><strong itemprop="title">{{ article.title }}</strong></li>
						{% elsif template == 'blog' %}
						{% if current_tags %}
						<li>
							<a itemprop="url" href="{{ blog.url }}"><span itemprop="title">{{ blog.title }}</span></a>

						</li>
						<li><strong itemprop="title">Xu hướng tìm kiếm</strong></li>
						{%else%}
						<li><strong itemprop="title">{{ blog.title }}</strong></li>
						{%endif%}
						{% elsif template contains 'search' %}<li><strong>Kết quả tìm kiếm với từ khóa "{{ search.terms }}"</strong></li>
						{% elsif template contains 'addresses' %}
						<li>
							<a itemprop="url" href="/account">Trang Tài khoản</a>
						</li>
						<li class="active">{{ page_title }}</li>
						{% elsif template contains 'order' %}
						<li>
							<a itemprop="url" href="/account">Trang Tài khoản</a>
						</li>
						<li class="active">{{ page_title }}</li>
						{% else %}
						<li><strong itemprop="title">{{ page_title }}</strong></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>