{{ 'search_filter.js'  | asset_url | script_tag }}

<div class="filterBar">
	<div class="mobile-button">
		<div class="menu-hover">
			<a href="javascript:void(0);" data-activates="slide-out" class="button-collapse-left">
				<!-- <button type="button" class="collapsed" id="trigger-filter">-->
				<i class="fa fa-filter" aria-hidden="true"></i>
				<strong>Lọc</strong>
				<!-- </button> -->
			</a>
		</div>
	</div>
</div>
<div class="sortPagiBar">
	<div class="row">

		<div class="col-xs-12 col-sm-12 text-xs-left text-sm-right">
			<div class="form-horizontal">
				<label class="left hidden-xs" for="SortBy">Sắp xếp </label>
				<select name="sort-by" id="sort-by">
					<option value="manual">{{ 'collections.sorting.featured' | t }}</option>
					<option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
					<option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
					<option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
					<option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
					<option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
					<option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
					<option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
				</select>
			</div>



		</div>
	</div>
</div>

<script>
Haravan.queryParams = {};
if (location.search.length) {
  for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
    aKeyValue = aCouples[i].split('=');
    if (aKeyValue.length > 1) {
      Haravan.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
    }
  }
}
jQuery('#sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by | escape }}')
  .bind('change', function() {
    Haravan.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Haravan.queryParams).replace(/\+/g, '%20');
  });
</script>