<script>
	// Count down in product
	{% comment %}Is show on this page{% endcomment %}

	let egaScIsShowInThisPage = false;
	{% if template contains 'product' %}
		{% assign handle = product.handle %}
		const egaScHandle = '{{ handle }}';
		const egaScProductShowInPagesType = EGASalesCountDownSettings.productShowInPagesType;
		const egaScProductShowInPages = EGASalesCountDownSettings.productShowInPages;
		const egaScProductShowInPagesArr =  egaScProductShowInPages.replace(/ /g, '').split(',');
		if (egaScProductShowInPagesType === 'products') {
			// count down type == 'products'
			if (egaScProductShowInPagesArr.indexOf(egaScHandle) > -1) {
				egaScIsShowInThisPage = true;
			}
		} else {
			// count down type == 'collections'
			{% for collection in product.collections %}
			if (egaScProductShowInPagesArr.indexOf('{{ collection.handle }}') > -1) {
				egaScIsShowInThisPage = true;
			}
			{% endfor %}
			if (egaScProductShowInPagesArr.indexOf('all') > -1) {
				egaScIsShowInThisPage = true;
			}
		}
	{% endif %}

	const egaScAdditionalJson = {
		productIsShowInThisPage: egaScIsShowInThisPage,
		scriptUrl: '{{ "ega.sales-countdown.js" | asset_url }}'
	}

	const EGASalesCountDownConfigs = Object.assign(EGASalesCountDownSettings, egaScAdditionalJson);

</script>