<script>
window.file_url = "{{''|file_url}}"; 
window.asset_url = "{{''|asset_url}}";
var check_variant = true;
var check_variant_quickview = true;
</script>

{% if settings.theme_quickview_enable %}
{% include 'product-quickview' %}

{{ 'quickview.js' | asset_url | script_tag }}
{{ 'jquery.currencies.js' | asset_url | script_tag }}
{{ 'jquery.scrollTo-min.js' | asset_url | script_tag }}
{{ 'jquery.serialscroll.js' | asset_url | script_tag }}
{% endif %}

{{ 'jquery.mmenu.min.all.js' | asset_url | script_tag }}

{{ 'api.jquery.js' | haravan_asset_url | script_tag }} 
{{ 'owl.carousel.min.js' | asset_url | script_tag }}
{{ 'timber.js' | asset_url | script_tag }}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{{ 'https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js'| script_tag }}
<script>$.validate({});</script>

{{ 'bootstrap-select.min.js' | asset_url | script_tag }}
{{ 'jquery.plugin.min.js' | asset_url | script_tag }}
{% if template contains 'product.countdown' %}
{{ 'jquery.countdown.js' | asset_url | script_tag }}
{%endif%}
<!-- Main JS -->	

{% if settings.ajax_cart_enable_2 %}
	{{ 'handlebars.min.js' | asset_url | script_tag }}
	{% include 'ajax-cart-template' %}
	{{ 'ajaxify.js' | asset_url | script_tag }}
	<script>
	function initAjaxifyHaravan() {
		ajaxifyHaravan.init({
			method: '{{ settings.ajax_cart_method }}',
			wrapperClass: 'wrapper',
			formSelector: '.form-ajaxtocart',
			addToCartSelector: '.ajax_addtocart',
			cartCountSelector: '#CartCount',
			cartCostSelector: '#CartCost',
			toggleCartButton: '#CartToggle',
			useCartTemplate: true,
			btnClass: 'btn',
			moneyFormat: {{ shop.money_format | json }},
												disableAjaxCart: false,
												enableQtySelectors: true,
												prependDrawerTo: 'body'
												});
	}
	jQuery(function($) {
		initAjaxifyHaravan();
	});
	</script>
{% endif %}


<!--------- product --------------->
{%if template contains 'product'%}
<script>
$(document).ready(function(){
	//callFirstVariant();

})


$(document).ready(function() {
	$("#owl-home-collection-slider1").owlCarousel({
		items: 3,
		itemsDesktop: [1060, 3],
		itemsDesktopSmall: [1050, 2],
		itemsTablet: [600, 2],
		itemsMobile: false,
		navigation: true,
		pagination: false,
		slideSpeed: 300,
		paginationSpeed: 400,
		autoPlay: 5000,
		navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']
	});
});
</script>
{%endif%}


{%if product%}
<script>
$('.buy-now-sidebar').click(function(){
	$('#AddToCart').trigger('click');
	setTimeout(function(){
		window.location = '/checkout';
	}, 500)
})
</script>
{%endif%}


<script>
{% if resetPassword %}
$(function() {
	timber.resetPasswordSuccess();
});
 {% endif %}

 </script>

{% if settings.ajax_cart_method == "drawer" %}

<script>
jQuery(function($) {
	ajaxCart.init({
		formSelector: '#AddToCartForm',
		cartContainer: '#CartContainer',
		addToCartSelector: '#AddToCart',
		cartCountSelector: '#CartCount',
		cartCostSelector: '#CartCost',
		moneyFormat: {{ shop.money_format | json }}
								});
});

jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
	// Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
	timber.RightDrawer.open();
});
/* variant click */

function convertToSlug(str) {

	str= str.toLowerCase();  
	str= str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a");  
	str= str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e");  
	str= str.replace(/ì|í|ị|ỉ|ĩ/g,"i");  
	str= str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o");  
	str= str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u");  
	str= str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y");  
	str= str.replace(/đ/g,"d");  
	str= str.replace(/!|@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'| |\"|\&|\#|\[|\]|~|$|_/g,"-"); 
	str= str.replace(/-+-/g,"-");
	str= str.replace(/^\-+|\-+$/g,"");  
	return str;  
} 

var swatch_size = 0;
jQuery(document).ready(function(){

	jQuery('#productQuickView').on('click','input.input-quickview', function(e) {  
		e.preventDefault();
		console.log('quickviewXXX');
		swatch_size = parseInt($('#productQuickView .select-swatch').children().size());
		var $this = $(this);
		var _available = '';
		$this.parent().siblings().find('label').removeClass('sd');
		$this.next().addClass('sd');
		var name = $this.attr('name');
		var value = $this.val();
		$('#productQuickView select[data-option='+name+']').val(value).trigger('change');
		if($(this).data('img-src')){
			var img_ = $(this).data('img-src');
			$('#productQuickView .product-single__thumbnail[href="'+img_+'"]').trigger('click');
		}
		if(swatch_size == 2){
			if(name.indexOf('1') != -1){
				$('#variant-swatch-1-quickview .swatch-element').find('input').prop('disabled', false);
				$('#variant-swatch-2-quickview .swatch-element').find('input').prop('disabled', false);
				$('#variant-swatch-1-quickview .swatch-element label').removeClass('sd');
				$('#variant-swatch-1-quickview .swatch-element').removeClass('soldout');
				$('#productQuickView .selector-wrapper .single-option-selector').eq(1).find('option').each(function(){
					var _tam = $(this).val();
					$(this).parent().val(_tam).trigger('change');
					if(check_variant_quickview){
						if(_available == '' ){
							_available = _tam;
						}
					}else{
						$('#variant-swatch-1-quickview .swatch-element[data-value="'+_tam+'"]').addClass('soldout');
						$('#variant-swatch-1-quickview .swatch-element[data-value="'+_tam+'"]').find('input').prop('disabled', true);
					}
				})
				$('#productQuickView .selector-wrapper .single-option-selector').eq(1).val(_available).trigger('change');
				$('#variant-swatch-1-quickview .swatch-element[data-value="'+_available+'"] label').addClass('sd');
			}
		}else if (swatch_size == 3){
			var _count_op2 = $('#variant-swatch-1-quickview .swatch-element').size();
			var _count_op3 = $('#variant-swatch-2-quickview .swatch-element').size();
			if(name.indexOf('1') != -1){
				$('#variant-swatch-1-quickview .swatch-element').find('input').prop('disabled', false);
				$('#variant-swatch-2-quickview .swatch-element').find('input').prop('disabled', false);
				$('#variant-swatch-1-quickview .swatch-element label').removeClass('sd');
				$('#variant-swatch-1-quickview .swatch-element').removeClass('soldout');
				$('#variant-swatch-2-quickview .swatch-element label').removeClass('sd');
				$('#variant-swatch-2-quickview .swatch-element').removeClass('soldout');
				var _avi_op1 = '';
				var _avi_op2 = '';
				$('#variant-swatch-1-quickview .swatch-element').each(function(ind,value){
					var _key = $(this).data('value');
					var _unavi = 0;
					$('#productQuickView .single-option-selector').eq(1).val(_key).change();
					$('#variant-swatch-2-quickview .swatch-element label').removeClass('sd');
					$('#variant-swatch-2-quickview .swatch-element').removeClass('soldout');
					$('#variant-swatch-2-quickview .swatch-element').find('input').prop('disabled', false);
					$('#variant-swatch-2-quickview .swatch-element').each(function(i,v){
						var _val = $(this).data('value');
						$('#productQuickView .single-option-selector').eq(2).val(_val).change();
						if(check_variant == true){
							if(_avi_op1 == ''){
								_avi_op1 = _key;
							}
							if(_avi_op2 == ''){
								_avi_op2 = _val;
							}
							//console.log(_avi_op1 + ' -- ' + _avi_op2)
						}else{
							_unavi += 1;
						}
					})
					if(_unavi == _count_op3){
						$('#variant-swatch-1-quickview .swatch-element[data-value = "'+_key+'"]').addClass('soldout');
						setTimeout(function(){
							$('#variant-swatch-1-quickview .swatch-element[data-value = "'+_key+'"] input').attr('disabled','disabled');
						})
					}
				})
				$('#variant-swatch-1-quickview .swatch-element[data-value="'+_avi_op1+'"] input').click();
			}
			else if(name.indexOf('2') != -1){
				$('#variant-swatch-2-quickview .swatch-element label').removeClass('sd');
				$('#variant-swatch-2-quickview .swatch-element').removeClass('soldout');
				$('#productQuickView .selector-wrapper .single-option-selector').eq(2).find('option').each(function(){
					var _tam = $(this).val();
					$(this).parent().val(_tam).trigger('change');
					if(check_variant_quickview){
						if(_available == '' ){
							_available = _tam;
						}
					}else{
						$('#variant-swatch-2-quickview .swatch-element[data-value="'+_tam+'"]').addClass('soldout');
						$('#variant-swatch-2-quickview .swatch-element[data-value="'+_tam+'"]').find('input').prop('disabled', true);				
					}
				})
				$('#productQuickView .selector-wrapper .single-option-selector').eq(2).val(_available).trigger('change');
				$('#variant-swatch-2-quickview .swatch-element[data-value="'+_available+'"] label').addClass('sd');
			}
		}else{

		}
	})

	jQuery('#PageContainer').on('click','.input-product', function(e) {
		document.addEventListener('DOMContentLoaded', function() {
			var firstVariantId = $('#product-selector').val();
console.log(firstVariantId);
			var qtyInit = $('#Quantity').val();
			$('#stock-box').html('');
			$.ajax({
				url: "/inventory_location.js?variant_id=" + firstVariantId + "&quantity=" + qtyInit,
				success:function(data){
					if( data.inventory_locations.length > 0 ){
						$('#stock-box').show();
						$('#addCartOmni').show();
						var array_html = '';
						var inventTitle = 'Có ' + data.inventory_locations.length + ' cửa hàng còn sản phẩm này:';
						$('.invent h4').html(inventTitle);
						$.each(data.inventory_locations,function(i,v){
							array_html += "<li><input type='radio' id='" + i + "-option'    name='selector'><label for='" + i + "-option'>";
							array_html += "<span class='bold-light'>" + v.location_name + " (" + v.location_phone + ")</span>";
							array_html += "<span class='desc'>" + v.location_address + "</span></label><div class='check'></div></li>";
							$('#stock-box').html(array_html);
						});
					} else {
						$('#buyNowOmni span:first-child').html('Tạm hết hàng');
						$('#buyNowOmni span:last-child').html('Vui lòng quay lại sau');
						$('#addCartOmni').hide();
						$('#stock-box').html("<span class='note'>" + "Hiện không còn cửa hàng nào còn sản phẩm này" + "</span>");
						$('.invent h4').addClass( "remore");
					}
				}
			});
		})  
		swatch_size = parseInt($('#product-select-watch').children().size());
		console.log('productX');
		var $this = $(this);
		var _available = '';
		$this.parent().siblings().find('label').removeClass('sd');
		$this.next().addClass('sd');
		var name = $this.attr('name');
		var value = $this.val();
		$('select[data-option='+name+']').val(value).trigger('change');
		if($(this).data('img-src')){
			var img_ = $(this).data('img-src');
			$('.product-single__thumbnail[href="'+img_+'"]').trigger('click');
		}
		if(swatch_size == 2){
			if(name.indexOf('1') != -1){
				$('#variant-swatch-1 .swatch-element').find('input').prop('disabled', false);
				$('#variant-swatch-2 .swatch-element').find('input').prop('disabled', false);
				$('#variant-swatch-1 .swatch-element label').removeClass('sd');
				$('#variant-swatch-1 .swatch-element').removeClass('soldout');
				$('.selector-wrapper .single-option-selector').eq(1).find('option').each(function(){
					var _tam = $(this).val();
					$(this).parent().val(_tam).trigger('change');
					if(check_variant){
						if(_available == '' ){
							_available = _tam;
						}
					}else{
						$('#variant-swatch-1 .swatch-element[data-value="'+_tam+'"]').addClass('soldout');
						$('#variant-swatch-1 .swatch-element[data-value="'+_tam+'"]').find('input').prop('disabled', true);
					}
				})
				$('.selector-wrapper .single-option-selector').eq(1).val(_available).trigger('change');
				$('#variant-swatch-1 .swatch-element[data-value="'+_available+'"] label').addClass('sd');
			}
		}else if (swatch_size == 3){
			var _count_op2 = $('#variant-swatch-1 .swatch-element').size();
			var _count_op3 = $('#variant-swatch-2 .swatch-element').size();
			if(name.indexOf('1') != -1){
				$('#variant-swatch-1 .swatch-element').find('input').prop('disabled', false);
				$('#variant-swatch-2 .swatch-element').find('input').prop('disabled', false);
				$('#variant-swatch-1 .swatch-element label').removeClass('sd');
				$('#variant-swatch-1 .swatch-element').removeClass('soldout');
				$('#variant-swatch-2 .swatch-element label').removeClass('sd');
				$('#variant-swatch-2 .swatch-element').removeClass('soldout');
				var _avi_op1 = '';
				var _avi_op2 = '';
				$('#variant-swatch-1 .swatch-element').each(function(ind,value){
					var _key = $(this).data('value');
					var _unavi = 0;
					$('.single-option-selector').eq(1).val(_key).change();
					$('#variant-swatch-2 .swatch-element label').removeClass('sd');
					$('#variant-swatch-2 .swatch-element').removeClass('soldout');
					$('#variant-swatch-2 .swatch-element').find('input').prop('disabled', false);
					$('#variant-swatch-2 .swatch-element').each(function(i,v){
						var _val = $(this).data('value');
						$('.single-option-selector').eq(2).val(_val).change();
						if(check_variant == true){
							if(_avi_op1 == ''){
								_avi_op1 = _key;
							}
							if(_avi_op2 == ''){
								_avi_op2 = _val;
							}
							//console.log(_avi_op1 + ' -- ' + _avi_op2)
						}else{
							_unavi += 1;
						}
					})
					if(_unavi == _count_op3){
						$('#variant-swatch-1 .swatch-element[data-value = "'+_key+'"]').addClass('soldout');
						setTimeout(function(){
							$('#variant-swatch-1 .swatch-element[data-value = "'+_key+'"] input').attr('disabled','disabled');
						})
					}
				})
				$('#variant-swatch-1 .swatch-element[data-value="'+_avi_op1+'"] input').click();
			}
			else if(name.indexOf('2') != -1){
				$('#variant-swatch-2 .swatch-element label').removeClass('sd');
				$('#variant-swatch-2 .swatch-element').removeClass('soldout');
				$('.selector-wrapper .single-option-selector').eq(2).find('option').each(function(){
					var _tam = $(this).val();
					$(this).parent().val(_tam).trigger('change');
					if(check_variant){
						if(_available == '' ){
							_available = _tam;
						}
					}else{
						$('#variant-swatch-2 .swatch-element[data-value="'+_tam+'"]').addClass('soldout');
						$('#variant-swatch-2 .swatch-element[data-value="'+_tam+'"]').find('input').prop('disabled', true);				
					}
				})
				$('.selector-wrapper .single-option-selector').eq(2).val(_available).trigger('change');
				$('#variant-swatch-2 .swatch-element[data-value="'+_available+'"] label').addClass('sd');
			}
		}else{

		}
	})
})
</script>
{% endif %}
{{ 'currencies.js' | asset_url | script_tag }}
{{ 'jquery.currencies.js' | asset_url | script_tag }}
<script>
// Pick your format here:  
// Can be 'money_format' or 'money_with_currency_format'
Currency.format = 'money_format';
var shopCurrency = 'VND';
var cookieCurrency = Currency.cookie.read();
// Fix for customer account pages 
jQuery('span.money span.money').each(function() {
	jQuery(this).parent('span.money').removeClass('money');
});
// Add precalculated shop currency to data attribute 
jQuery('span.money').each(function() {
	jQuery(this).attr('data-currency-VND', jQuery(this).html());
});
// Select all your currencies buttons.
var buttons = jQuery('#currencies a');
var currentCurrencies = jQuery('#pre-currencies');
// When the page loads.
if (cookieCurrency == null || cookieCurrency == shopCurrency) {
	Currency.currentCurrency = shopCurrency;
}
else {
	Currency.currentCurrency = cookieCurrency;
	Currency.convertAll(shopCurrency, cookieCurrency);
	buttons.removeClass('selected');
	jQuery('#currencies a[data-currency=' + cookieCurrency + ']').addClass('selected');
	var htmlCurrently = jQuery('#currencies a[data-currency=' + cookieCurrency + ']').html();
	currentCurrencies.html(htmlCurrently);
	do_multi_currency_warning(Currency.currentCurrency, shopCurrency);
}
// When customer clicks on a currency button.
buttons.click(function() {
	buttons.removeClass('selected');
	jQuery(this).addClass('selected');
	var newCurrency =  jQuery(this).attr('data-currency');
	var htmlCurrently = jQuery(this).html();
	currentCurrencies.html(htmlCurrently);
	Currency.convertAll(Currency.currentCurrency, newCurrency);
	do_multi_currency_warning(Currency.currentCurrency, shopCurrency);
});
// For product options.
var original_selectCallback = window.selectCallback;
var selectCallback = function(variant, selector) {
	original_selectCallback(variant, selector);
	Currency.convertAll(shopCurrency, jQuery('#currencies a.selected').attr('data-currency'));
	do_multi_currency_warning(Currency.currentCurrency, shopCurrency);
};
// do this each time you recalculate or page load
do_multi_currency_warning(Currency.currentCurrency, shopCurrency);
// a function to make the cart better when choosing different currencies
// explained in step 7 below
function do_multi_currency_warning(currentCurrency, shopCurrency)
{
	jQuery('.selected-currency').text(Currency.currentCurrency);
	if (currentCurrency != shopCurrency){
		jQuery('.multi-currency-warning').text('*');
		jQuery('.multi-currency-warning-bottom').show();
	}
	else{
		jQuery('.multi-currency-warning').text('');
		jQuery('.multi-currency-warning-bottom').hide();
	}
}
</script>



{{ 'main.js' | asset_url | script_tag }}
{{ 'script.js' | asset_url | script_tag }}	



<script>
{% if newHash %}
$(function() {
	timber.updateHash('{{ newHash }}');
});
 {% endif %}
 {% if resetPassword %}
 $(function() {
	 timber.resetPasswordSuccess();
 });
	{% endif %}
</script>
