{% if template contains 'product' %}
{% include 'recommend-products' %}
{%endif%}

{% comment %}
{% if template contains 'product' or template contains 'collection'%}
 {%include 'last-view-products'%}
{%endif%}
{% endcomment %}

{%include 'showroom'%}
{%include 'section_instagram'%}

<div class="fix-footer hidden-lg hidden-md">
	<div class="nav-mobile">
		<ul class="primary-navbar">
			{% for link in linklists[settings.main_menu_mb].links limit:4%}
			{% capture icon %}menu_icon_mb_{{forloop.index}}.png{%endcapture%}
			{% if linklists[link.handle] != null %}

			<li class="nav-item dropdown dropdown1 {% if link.active %}active{% endif %}">
				<a href="{{ link.url }}" class="dropdown-toggle"><img src="{{icon | asset_url}}" width="20" alt=""/> {{ link.title }}</a>
				<ul class="dropdown-menu dropdown-level1"> 

					{% for childlink in linklists[link.handle].links %}
					{% if linklists[childlink.handle] != null %}
					<li class="dropdown dropdown2">
						<a href="{{ childlink.url }}" class="dropdown-toggle">{{ childlink.title }}	<div class="visible-sm visible-xs menu-toggle menu-toggle2"></div></a>
						<ul class="dropdown-menu dropdown-level2"> 
							{% for childlink1 in linklists[childlink.handle].links %}
							{% if linklists[childlink1.handle] != null %}
							<li class="dropdown dropdown3">
								<a href="{{ childlink1.url }}" class="dropdown-toggle">{{ childlink1.title }}<div class="visible-sm visible-xs menu-toggle menu-toggle3"></div></a>
								<ul class="dropdown-menu dropdown-level3">
									{% for childlink2 in linklists[childlink1.handle].links %}
									<li><a href="{{ childlink2.url }}">{{ childlink2.title }}</a></li> 
									{% endfor %}
								</ul>
							</li> 
							{% else %}
							<li><a href="{{ childlink1.url }}">{{ childlink1.title }}</a></li>  
							{% endif %}
							{% endfor %}
						</ul>
					</li> 
					{% else %}
					<li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li> 
					{% endif %}
					{% endfor %}
				</ul>
			</li>
			{% else %}
			<li class="{% if link.active %}active{% endif %}">
				<a href="{{ link.url }}"><img src="{{icon | asset_url}}" width="20" alt=""/> {{ link.title }}</a>
			</li>   
			{% endif %}
			{% endfor %}

		</ul>  

	</div>
	<div class="section-support">
		<div class="container">
			<div class="row">
				<div class="line">
					<div class="col-md-3 col-sm-6 col-tb-6 col-mb-12">
						<div class="support-item">				
							<span class="title-support">{{settings.hotline_title1}}</span>
							<span class="hotline"><i class="fa fa-phone"></i> <a href="tel:{{settings.hotline_support1}}">{{settings.hotline_support1}}</a></span>
							<span class="text">{{settings.hotline_subtitle1}}</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-tb-6 col-mb-12">
						<div class="support-item">				
							<span class="title-support">{{settings.hotline_title2}}</span>
							<span class="hotline"><i class="fa fa-phone"></i> <a href="tel:{{settings.hotline_support2}}">{{settings.hotline_support2}}</a></span>
							<span class="text">{{settings.hotline_subtitle2}}</span>
						</div>
					</div> 
					<div class="line-support">
						{% assign c2_menu = settings.fot_menu2 %}
						<ul>
							<li>
								<a class="bnt-nav" href="javascript:void(0)">Hữu ích dành cho bạn <i class="fa fa-angle-double-down"></i></a>
								<ul class="list" style="display:none;">
									{% for link in linklists[c2_menu].links %}
									<li><a href="{{ link.url }}">{{ link.title }}</a></li>
									{% endfor %}
								</ul>
							</li>
							<li><a href="{{settings.showroom_link}}">Chuỗi showroom WHITE ANT <i class="fa fa-university"></i></a></li>
						</ul>
						<script>
						$(document).ready(function(){
							$(".bnt-nav").click(function(){
								$(".list").toggle();
							});
						});
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- FOOTER -->
{% assign info = settings.fot_info %}
{% assign social = settings.fot_social %}
{% assign c1_title = settings.fot_c1_title %}
{% assign c1_menu = settings.fot_menu1 %}
{% assign c2_title = settings.fot_c2_title %}
{% assign c2_menu = settings.fot_menu2 %}
{% assign c3_title = settings.fot_c3_title %}
{% assign c3_menu = settings.fot_menu3 %}
{% assign c4_title = settings.fot_c4_title %}
{% assign c4_menu = settings.fot_menu4 %}
{% assign coppyright = settings.coppyright %}
{% assign btt = settings.backtotop_enable %}
<footer class="page-footer"> 
	<section class="ptb-15">
		<div class="container">
			<div class="row">
				
				<div class="col-md-3 col-sm-12 footer-widget hidden-sm hidden-xs">
					<div class="text-widget">
						<p>{{settings.fot_c1_content}}</p>
						<ul>
							<li> <i class="fa fa-map-marker"></i> <span> <strong>Trụ sở chính:</strong> {{ settings.store_address }}</span> </li>
							<li> <i class="fa fa-envelope"></i>  <span> <strong>Email:</strong> <a href="mailto:{{ settings.store_email }}" rel="nofollow">{{ settings.store_email }}</a> </span> </li>
							<li> <i class="fa fa-phone"></i>  <span><strong>Hotline mua hàng: </strong><a href="tel:{{ settings.store_phone }}" rel="nofollow">{{ settings.store_phone }}</a> </span> </li>
							<li> <i class="fa fa-user"></i>  <span><strong>Đại lý:</strong> <a href="tel:{{ settings.store_hotline }}" rel="nofollow">{{ settings.store_hotline }}</a> </span> </li>

						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6 footer-widget hidden-sm hidden-xs">
					<h4 class="title-1">{{c2_title}}</h4>
					<ul class="list">
						{% for link in linklists[c2_menu].links %}
						<li><a href="{{ link.url }}">{{ link.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6 footer-widget hidden-sm hidden-xs">
					<h4 class="title-1">{{c3_title}}</h4>
					<ul class="list">
						{% for link in linklists[c3_menu].links %}
						<li><a href="{{ link.url }}">{{ link.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 footer-widget hidden-sm hidden-xs">
					<h4 class="title-1">{{c4_title}}</h4>
					{%comment%}
					{% form 'customer' %}
					{{ form.errors | default_errors }}
					{% if form.posted_successfully? %}
					<p class="note form-success">Cảm ơn bạn đã đăng ký</p>
					{% else %}
					<p class="text">Nhập email của bạn</p>
					<div class="input-group">

						<input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{settings.mailing_list_emailtext}}" name="contact[email]" id="Email" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
						<input type="hidden" name="contact[tags]" value="newsletter">
						<span class="input-group-btn">
							<input type="submit" class="btn" name="subscribe" id="subscribe" value="Đăng ký">
						</span>

					</div>
					<p>
						Nhập email của bạn vào đây để nhận tin!
					</p>
					{% endif %}
					{% endform %}


					{%endcomment%}
					<div class="image-footer">
						<img src="{{'banner_ft.jpg' | asset_url}}" alt="Hệ thống cửa hàng"/>
						<span>
							<a href="{{settings.showroom_link}}">
								Xem địa chỉ showroom White Ant <i class="fa fa-angle-right"></i>
							</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="footer-bottom">
		<div class="container ptb-15">
			<div class="row">
				<div class="col-md-7 col-sm-12">
					{% if coppyright != "" %}
					<p><span class="ft-1">© {{coppyright}}</span><span class="ft-2"> | </span>Design by <a href="https://ecomcx.com/" title="Ecomcx" target="_blank">ECOMCX</a></p>
					{% else %}
					<p><span class="ft-1">© Bản quyền thuộc về Công ty Cổ phần Kiến Trắng</span><span class="ft-2"> | </span>Design by <a href="https://ecomcx.com/" title="Ecomcx" target="_blank">ECOMCX</a></p>
					{% endif %}
					<span>Mã số doanh nghiệp: 0500554260<br>Đăng kí lần đầu: ngày 20 tháng 12 năm 2006; đăng ký thay đổi gần nhất: ngày 08 tháng 04 năm 2015</span>
				</div>
				<div class="col-md-5 col-sm-12">

					<div class="flex-row align-middle">
						<div class="flex-col flex-right">
							<a href="http://www.online.gov.vn/CustomWebsiteDisplay.aspx?DocId=46536">
								<img src="{{'dkbct.png' | asset_url}}" width="180" alt="BCT"/>
							</a>
						</div>
						<div class="flex-col flex-left">
							<img src="//theme.hstatic.net/1000210298/1000401350/14/payment.png?v=741" alt="Logo Payment" class="img-responsive">
						</div>
					</div>     

				</div>
				
			</div>
		</div>
	</section>
</footer>
<!-- /FOOTER -->
{% if btt %}
<div id="to-top-mb" class="to-top mb"> <i class="fa fa-arrow-circle-o-up"></i> </div>
{% endif %}
<!--Start of AutoAds Tracking Code-->
<script id='autoAdsMaxLead-widget-script' src='https://cdn.autoads.asia/scripts/autoads-maxlead-widget.js?business_id=B7328EDB5A9E4C1BA06C3935AB562BBC' type='text/javascript' charset='UTF-8' async></script>
<!--End of AutoAds Tracking Code-->