<div class="top-bar">
	
		<div class="container flex-row align-middle">
			<div class="flex-col flex-left">
				{%include 'translate'%}
			</div>
			<div class="search-top flex-col flex-grow flex-right hidden-phone">
				{%include 'ultimate-search-with-thumb'%}
			</div>
			<div class="flex-col flex-right">
				{%include 'support-box'%}

			</div>
			
		</div>
	
</div>