{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
{{ '//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' | stylesheet_tag }}
{% if settings.theme_font_family contains 'Google' %}
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.theme_font_family | remove: 'Google+' }}:300,400,700">
{% endif %}
{% if settings.theme_font_family_tertiary contains 'Google' %}
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.theme_font_family_tertiary | remove: 'Google+' }}:300,400,700">
{% endif %}
{% if settings.theme_font_family_septenary contains 'Google' %}
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.theme_font_family_septenary | remove: 'Google+' }}:300,400,700">
{% endif %}
{% if settings.theme_font_family_senary contains 'Google' %}
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.theme_font_family_senary | remove: 'Google+' }}:300,400,700">
{% endif %}
{{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
{{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
<!-- Build Main CSS -->								
{{ 'base.scss.css' | asset_url | stylesheet_tag }}		
{{ 'style.scss.css' | asset_url | stylesheet_tag }}		
{{ 'update.scss.css' | asset_url | stylesheet_tag }}		
{{ 'module.scss.css' | asset_url | stylesheet_tag }}
{{ 'responsive.scss.css' | asset_url | stylesheet_tag }}
{{ 'menu.scss.css' | asset_url | stylesheet_tag }}
{{ 'bootstrap-select.min.css' | asset_url | stylesheet_tag }}
{{ 'animate.css' | asset_url | stylesheet_tag }}
{{ 'modal-cart.scss.css' | asset_url | stylesheet_tag }}
{{ 'white-ant.scss.css' | asset_url | stylesheet_tag }}
{{ 'reponsive.scss.css' | asset_url | stylesheet_tag }}
{{ 'check_out.css' | asset_url | stylesheet_tag }}
{{ 'custom.scss.css' | asset_url | stylesheet_tag }}
{{ 'product.scss.css' | asset_url | stylesheet_tag }}