
<div class="header-mobile" class="hidden">
	{% if settings.main_menu_mb_enable%}
	{% unless template == 'product'  %}
	<div class="nav-mobile">
		<ul class="primary-navbar off">
			{% for link in linklists[settings.main_menu_mb].links limit:3%}
			{% capture icon %}menu_icon_mb_{{forloop.index}}.png{%endcapture%}
			{% if linklists[link.handle] != null %}

			<li class="nav-item dropdown dropdown1 {% if link.active %}active{% endif %}">
				<a href="{{ link.url }}" class="dropdown-toggle"><img src="{{icon | asset_url}}" width="20" alt=""/> {{ link.title }}</a>
				<ul class="dropdown-menu dropdown-level1"> 

					{% for childlink in linklists[link.handle].links %}
					{% if linklists[childlink.handle] != null %}
					<li class="dropdown dropdown2">
						<a href="{{ childlink.url }}" class="dropdown-toggle">{{ childlink.title }}	<div class="visible-sm visible-xs menu-toggle menu-toggle2"></div></a>
						<ul class="dropdown-menu dropdown-level2"> 
							{% for childlink1 in linklists[childlink.handle].links %}
							{% if linklists[childlink1.handle] != null %}
							<li class="dropdown dropdown3">
								<a href="{{ childlink1.url }}" class="dropdown-toggle">{{ childlink1.title }}<div class="visible-sm visible-xs menu-toggle menu-toggle3"></div></a>
								<ul class="dropdown-menu dropdown-level3">
									{% for childlink2 in linklists[childlink1.handle].links %}
									<li><a href="{{ childlink2.url }}">{{ childlink2.title }}</a></li> 
									{% endfor %}
								</ul>
							</li> 
							{% else %}
							<li><a href="{{ childlink1.url }}">{{ childlink1.title }}</a></li>  
							{% endif %}
							{% endfor %}
						</ul>
					</li> 
					{% else %}
					<li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li> 
					{% endif %}
					{% endfor %}
				</ul>
			</li>
			{% else %}
			<li class="{% if link.active %}active{% endif %}">
				<a href="{{ link.url }}"><img src="{{icon | asset_url}}" width="20" alt=""/> {{ link.title }}</a>
			</li>   
			{% endif %}
			{% endfor %}
			<li class="button-menu">
				<i class="fa fa-angle-double-down"></i>
			</li> 
		</ul>  
		<div class="fix-menumobile on" style="display:none;">
			<ul class="primary-navbar" >
				{% for link in linklists[settings.main_menu_mb].links%}
				{% capture icon %}menu_icon_mb_{{forloop.index}}.png{%endcapture%}
				{% if linklists[link.handle] != null %}

				<li class="nav-item dropdown dropdown1 {% if link.active %}active{% endif %}">
					<a href="{{ link.url }}" class="dropdown-toggle"><img src="{{icon | asset_url}}" width="20" alt=""/> {{ link.title }}</a>
					<ul class="dropdown-menu dropdown-level1">  
						{% for childlink in linklists[link.handle].links %}
						{% if linklists[childlink.handle] != null %}
						<li class="dropdown dropdown2">
							<a href="{{ childlink.url }}" class="dropdown-toggle">{{ childlink.title }}	<div class="visible-sm visible-xs menu-toggle menu-toggle2"></div></a>
							<ul class="dropdown-menu dropdown-level2"> 
								{% for childlink1 in linklists[childlink.handle].links %}
								{% if linklists[childlink1.handle] != null %}
								<li class="dropdown dropdown3">
									<a href="{{ childlink1.url }}" class="dropdown-toggle">{{ childlink1.title }}<div class="visible-sm visible-xs menu-toggle menu-toggle3"></div></a>
									<ul class="dropdown-menu dropdown-level3">
										{% for childlink2 in linklists[childlink1.handle].links %}
										<li><a href="{{ childlink2.url }}">{{ childlink2.title }}</a></li> 
										{% endfor %}
									</ul>
								</li> 
								{% else %}
								<li><a href="{{ childlink1.url }}">{{ childlink1.title }}</a></li>  
								{% endif %}
								{% endfor %}
							</ul>
						</li> 
						{% else %}
						<li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li> 
						{% endif %}
						{% endfor %}
					</ul>
				</li>
				{% else %} 
				<li class="{% if link.active %}active{% endif %}">
					<a href="{{ link.url }}"><img src="{{icon | asset_url}}" width="20" alt=""/> {{ link.title }}</a>
				</li>   
				{% endif %}
				{% endfor %}
				<li class="">
					<a href="/account/login"><img src="{{icon | asset_url}}" width="20" alt=""/> Đăng nhập</a>
				</li> 
				<li class="button-menu off">
					<i class="fa fa-angle-double-up"></i>
				</li>  
			</ul> 
			<div class="ovlow-nav"></div>
		</div>

	</div>
	{%endunless%}
	{% endif %}
</div>