{{ 'jquery-2.2.3.min.js' | asset_url | script_tag }}

{% if template contains 'collection' %}{{ 'ajaxinate.js' | asset_url | script_tag }}{% endif %}
<!-- Bizweb conter for header -->

{{ 'option_selection.js' | haravan_asset_url | script_tag }}
{% if template contains 'customers' %}
{{ 'haravan_common.js' | haravan_asset_url | script_tag }}
{{ 'customer_area.js'  | haravan_asset_url | script_tag }}
{% endif %}
{{ 'hogan-3.0.1.js' | asset_url | script_tag }}

<script src="//hstatic.net/0/0/global/design/js/haravan.plugin.1.0.js"></script>



