<header class="main-header {% if template != 'index' %}white-bg {% endif %}">
	
	{%include 'header-top-bar'%}
	{%include 'header-main'%}	
	
	{%include 'header-mobile'%}	
</header>
<script>
$(document).ready(function(){
	$(".button-menu").click(function(){
		$(".primary-navbar.off").hide();
		$(".fix-menumobile.on").show();
	});
	$(".button-menu.off").click(function(){
		$(".fix-menumobile.on").hide();
		$(".primary-navbar.off").show();
	});
	$(".ovlow-nav").click(function(){
		$(".fix-menumobile.on").hide();
		$(".primary-navbar.off").show();
	});

});

</script>
