<nav class="fix-navbar" id="primary-navigation"> 
	<div class="row">  
		<div class="col-sm-12">
			<ul class="primary-navbar text-center">
				{% for link in linklists.main-menu.links %}
				{% assign child_list_handle = link.title | handleize %}
				{% capture icon %}menu_icon_{{forloop.index}}.png{%endcapture%}
				{% if linklists[child_list_handle].links != blank %}

				<li class="nav-item dropdown dropdown1{% if link.active %} active{% endif %}" aria-haspopup="true">
					<a href="{{ link.url }}" class="dropdown-toggle">{% if settings.megamenu_icon_enable %}<img src="{{icon | asset_url}}" width="20" alt=""/> {% endif %}{{ link.title }}</a>
					<ul class="dropdown-menu dropdown-level1">
						{% for childlink in linklists[child_list_handle].links %}

							{% assign child_list_handle_lv1 = childlink.title | handleize %}

							{% if linklists[child_list_handle_lv1] != blank %}
							<li class="dropdown dropdown2">
								<a href="{{ childlink.url }}" class="dropdown-toggle">{{ childlink.title }}	<div class="visible-sm visible-xs menu-toggle menu-toggle2"></div></a>
								<ul class="dropdown-menu dropdown-level2"> 
									{% for childlink1 in linklists[child_list_handle_lv1].links %}
										{% if linklists[childlink1.title | handleize] != blank %}
										<li class="dropdown dropdown3">
											<a href="{{ childlink1.url }}" class="dropdown-toggle">{{ childlink1.title }}<div class="visible-sm visible-xs menu-toggle menu-toggle3"></div></a>
											<ul class="dropdown-menu dropdown-level3">
												{% for childlink2 in linklists[childlink2.title | handleize].links %}
												<li><a href="{{ childlink2.url }}">{{ childlink2.title }}</a></li> 
												{% endfor %}
											</ul>
										</li> 
										{% else %}
										<li><a href="{{ childlink1.url }}">{{ childlink1.title }}</a></li>  
										{% endif %}
									{% endfor %}
								</ul>
							</li> 
							{% else %}
							<li{% if childlink.active %} class="dropdown dropdown2"{% endif %}><a href="{{ childlink.url }}" class="dropdown-toggle">{{ childlink.title | escape }}</a></li> 
							{% endif %}


						{% endfor %}
					</ul>
				</li>

				{% else %}
				<li class="{% if link.active %}active{% endif %}">
					<a href="{{ link.url }}" class="dropdown-toggle">{% if settings.megamenu_icon_enable %}<img src="{{icon | asset_url}}" width="20" alt=""/> {% endif %}{{ link.title }}</a>
				</li>   
				{% endif %}
				{% endfor %}
			</ul> 

		</div>
	</div>         
</nav>

