<nav class="fix-navbar" id="primary-navigation"> 
	<div class="row">  
		<div class="col-sm-4">
			<div class="megamenu">
				<div class="megamenu-head text-center">
					<span><i class="fa fa-list"></i> {{settings.megamenu_title_1}} <i class="fa fa-angle-down"></i></span>
				</div>
				<ul class="menu-left no-bullets">
					{% for i in (1..10) %}
					{%capture enable%}enable_megamenu_child_{{i}}{%endcapture%}
					{%if settings[enable]%}
					{%capture use_megamenu %}use_megamenu_{{i}}{% endcapture %}
					{% capture _icon %}megamenu_item_icon{{i}}.png{%endcapture%}
					{% capture megamenu_item_title %}megamenu_item_title_{{i}}{% endcapture %}
					{% capture megamenu_item_url %}megamenu_item_url_{{i}}{% endcapture %}
					{% capture mega_column_limit %}mega_column_limit{{i}}{% endcapture %}
					{% capture use_image %}use_image_{{i}}{% endcapture %}
					{% capture image_child %}image_child_{{i}}.png{% endcapture %}
					{% capture image_child_url %}image_child_url_{{i}}{% endcapture %}
					{% capture _dropdownmenu_child %}dropdownmenu_child_{{i}}_1{% endcapture %}
					{% capture enable_blog %}enable_news_menu_{{i}}{% endcapture %}
					{% capture enable_image %}enable_news_image_{{i}}{% endcapture %}
					{% capture blog_image %}news_image_{{i}}.jpg{% endcapture %}
					{% capture enable_image %}enable_news_image_{{i}}{% endcapture %}
					{% capture sec_blog %}sec_menu_blog_{{i}}{% endcapture %}
					{%assign blog_col = settings[sec_blog]%}

					{% if settings[_dropdownmenu_child] %}
					<li>
						<a href="{{settings[megamenu_item_url]}}">{% if settings.megamenu_icon_enable %}<img src="{{ _icon | asset_url}}" alt="{{settings[megamenu_item_title]}}" />{%endif%}{{settings[megamenu_item_title]}} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
						<div class="sub-menu{%if settings[enable_blog]%} width_blog{%endif%}">
							<ul class="no-bullets">
								{%assign dropdownmenu_child = settings[_dropdownmenu_child]%}
								{%for linklv2 in linklists[dropdownmenu_child]links%}
								<li class="{%if linklists[dropdownmenu_child].links%}dropdown-menu--lv2{%endif%}">
									<a href="{{linklv2.url}}">{{linklv2.title}} {%if linklists[linklv2.handle].links%}
										<i class="fa fa-angle-right" aria-hidden="true"></i>{%endif%}
									</a>
									{%if linklists[linklv2.handle].links%}
									<ul class="no-bullets">
										{%for linklv3 in linklists[linklv2.handle].links%}
										<li>
											<a href="{{linklv3.url}}">{{linklv3.title}}</a>
										</li>	
										{%endfor%}
									</ul>
									{%endif%}
								</li>
								{%endfor%}
							</ul>
							{%if settings[enable_blog]%}
							<div class="blog-menu">
								{%if settings[enable_image]%}
								<div class="image">
									<img src="{{ blog_image | asset_url}}" alt=""/>
								</div>
								{%endif%}
								{% for article in blogs[blog_col].articles limit: 2 %}	
								<div class="news-item">
									<div class="news-img">
										<a href="{{ article.url }}">
											{% if article.image == null %}
											<img src="{{ 'no-image.jpg' | asset_url }}" alt="{{ article.title }}" />
											{% else %}
											<img src="{{ article.image.src | img_url:'compact' }}" alt="{{ article.title }}" />
											{% endif %}
										</a>
									</div>
									<div class="news-caption">
										<h4 class="sub-title-1"> Ngày đăng: {{ article.published_at | date: '%d/%m/%Y' }} </h4>

										<h3 class="title-2"><a href="{{ article.url }}">{{ article.title | truncatewords: 10 }}</a></h3>
										<p>{{ article.content | strip_html | truncatewords: 18 }}</p>
										<a href="{{ article.url }}" class="fsz-12"> CHI TIẾT <i class="fa fa-long-arrow-right"></i> </a> 
									</div>
								</div>
								{% endfor %}
							</div>
							{%endif%}
						</div>		
					</li>
					{%else%}
					<li>
						<a href="{{settings[megamenu_item_url]}}">{% if settings.megamenu_icon_enable %}<img src="{{ _icon | asset_url}}" alt="{{settings[megamenu_item_title]}}" />{%endif%}{{settings[megamenu_item_title]}}</a>
					</li> 
					{%endif%}
					{%endif%}
					{%endfor%}
				</ul>
			</div>



		</div>
		<div class="col-sm-8">  
		</div>
	</div>         


</nav>