<div class="main-nav-border visible">
		<div class="flex-row container">
			<div class="flex-col flex-left hidden-lg hidden-tablet">
				<div class="mobile-button">
					<div class="menu-hover">
						<button type="button" class="navbar-toggle-tablet collapsed" id="trigger-mobile">
							<span class="sr-only">Toggle navigation</span>
							<span class="fa fa-bars"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="flex-col logo">
				{%include 'main-logo'%}
			</div>
			<div class="flex-col flex-left flex-grow responsive-menu visible-on-stick"> 
				{%include 'header-megamenu'%}
			</div>
			<div class="flex-col flex-left flex-grow responsive-menu hide-on-stick"> 
				{%include 'header-nav'%}
			</div>

			<div class="search-top flex-col flex-grow flex-right  hidden-xs visible-on-stick">
				{%include 'ultimate-search-with-thumb-stick'%}
			</div>

			<div class="flex-col flex-left cart-megamenu  visible">

				<div class="your-info-item visible-on-stick hidden-xs">
					<a href="tel:{{settings.store_phone}}">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<span class="sub-text hidden-sm hidden-xs">{{settings.store_phone}}</span>
					</a>
				</div>
				<div class="your-info-item visible-on-stick hidden-xs">
					<a href="{{settings.link_Shop_pages}}">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						<span class="sub-text hidden-sm hidden-xs">Showroom</span>
					</a>
				</div>
					<a id="top-cart-trigger" href="javascript:void(0)" title="Giỏ hàng">
						<div class="your-info-item visible-on-stick">

							<i class="fa" aria-hidden="true"><img src="{{ "icon-cart.png" | asset_url }}" alt="Giỏ hàng"></i>
							<span class="hd-cart-count">{{ cart.item_count }}</span>	

						</div>
						<div class="desktop-cart-wrapper hide-on-stick">

							<img src="{{ "icon-cart.png" | asset_url }}" alt="Giỏ hàng">
							<span class="hd-cart-count">{{ cart.item_count }}</span>	
							<span class="hd-cart-text hide-on-stick">Giỏ hàng</span>
						</div>

					</a>
				

			</div>
		</div>

</div>
