{% assign variantCount = product.variants | size %}

<div class="section-view">
	<div class="container">
		<div class="col-md-12 last-view-products hidden">
			<div class="last-view-products-wrapper">
				<div class="header-title">
					<h2>Sản phẩm vừa xem</h2>
				</div> 

				<div class="row product-list">
					<div class="content-product-list products-view-owl owl-carousel not-dqowl"> 

					</div>
				</div>
			</div>
		</div>

		<script id="product-loop-tpl" type="text/template">
			{% raw %}
			{{#products}}
			<div class="product-box pro-loop item">
				<div class="product-block product-resize">
					<div class="product-img view view-third product-media">
						<a href="{{ url }}" title="{{ title }}">
					
							{{#image}}
							<img alt="{{ title }}" src="{{ image.src}}"> 
							{{/image}}
							{{^image}}
							<img alt="{{ title }}" src="//hstatic.net/0/0/global/design/theme-default/no-image.png">
							{{/image}}		
							{{#on_sale}}
							<span class="prod-tag tag-1">-{{sale_percent}}%</span>
							{{/on_sale}}			
						</a>

					</div>

					<div class="product-detail clearfix product-caption">
						<h3 class="pro-name product-title"><a href="{{ url }}" title="{{ title }}">{{ title }}</a></h3>
						<div class="price">	
							<strong class="pro-price clr-txt">{{ price }}</strong>
							{{#on_sale}}
						<del class="compare-price">{{ compare_at_price }}</del>
						{{/on_sale}}	
						</div>					
					</div>
					
					<div class="prod-icons ababababa">
						<form action="/cart/add" method="post" class="variants form-nut-grid" data-id="product-actions-{{ product.id }}" enctype="multipart/form-data">
							
							{{#contact}}
							<a href="{{ url }}" class="fa fa-unlink" title="Chi tiết"></a>
							{{/contact}}
							{{^contact}}
								{{#sold_out}}
								<a href="{{ url }}" class="fa fa-unlink" title="Hết hàng"></a>
								{{/sold_out}}
								{{^sold_out}}
								<a href="{{ url }}" class="fa fa-link" title="Chi tiết"></a>
								{{/sold_out}}

							{{/contact}}
							<a href="#quick-view-product" data-handle="{{ handle }}" title="Xem nhanh" class="fa fa-expand quick-view"></a>
						</form>
					</div>

				</div>	
			</div>
			{{/products}}
			{% endraw %}
		</script>
	</div>
</div>

<script>
(function loadProducts() {
	var products = lastViewProducts.all(0, 8);

	if(!products.length) {
		return;
	}

	var source = jQuery('#product-loop-tpl').html();
	var template = Hogan.compile(source);

	products.map(function( product ) {
		var first_variant = product.variants[0];
		var on_sale = first_variant.compare_at_price > first_variant.price;
		var sold_out = product.available;
		var contact = first_variant.price == 0;
		product.sold_out = sold_out;
		product.contact = contact;

		product.on_sale = on_sale;
		if(on_sale) {	
			product.price = Haravan.formatMoney(first_variant.price + '00', '{{shop.money_format}}');
			product.compare_at_price = Haravan.formatMoney(first_variant.compare_at_price + '00', '{{shop.money_format}}');
			product.sale_percent = Math.round(((first_variant.compare_at_price - first_variant.price) / first_variant.compare_at_price) * 100);
		}else{
			product.price = Haravan.formatMoney(first_variant.price + '00', '{{shop.money_format}}');

		}
		if(product.image) {
			product.image.src = product.image.src, 'large';
		}			


		product.url = '/products/' + product.handle;

		return product;
	}); 

	var html = template.render({ products: products }); 

	jQuery('.last-view-products .content-product-list').html(html); 
	jQuery('.last-view-products').removeClass('hidden');

}());
</script>