<div class="main-logo medium-logo-center">
	<a href="/">
		{% if settings.logo_use_image %}
		<img src="{{ 'logo.png' | asset_url }}" alt="{{ store.name }}" class="img-responsive center-block" />
		{% else %}
		<strong>{{ store.name }}</strong>
		{% endif %}
	</a>
</div>