
<section id="menu-mobile">
	<ul>
		{% for link in linklists.main-menu.links %}
		{% if linklists[link.handle] != empty %}
		<li class="parent {% if link.active %}active{% endif %}">
			<a class="has-category" href="{{ link.url }}" title="{{ link.title }}">
				<span class="">{{ link.title }}</span>
			</a>
			<ul>
				{% for child_link in linklists[link.handle].links %}
				{% if linklists[child_link.handle] != empty %}
				<li class="parent {% if child_link.active %}active{% endif %}">
					<a class="" href="{{ child_link.url }}" title="{{ child_link.title }}">
						<span class="">{{ child_link.title }}</span>
					</a>
					<ul>
						{% for child_link1 in linklists[child_link.handle].links %}
						{% if linklists[child_link1.handle] != empty %}
						<li class="parent {% if child_link1.active %}active{% endif %}">
							<a class="" href="{{ child_link1.url }}" title="{{ child_link1.title }}">
								<span class="">{{ child_link1.title }}</span>
							</a>
							<ul>
								{% for child_link2 in linklists[child_link1.handle].links %}
								<li class="{% if child_link2.active %}active{% endif %}">
									<a class="" href="{{ child_link2.url }}" title="{{ child_link2.title }}">
										<span class="">{{ child_link2.title }}</span>
									</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						{% else %}
						<li class="{% if child_link1.active %}active{% endif %}">
							<a class="" href="{{ child_link1.url }}" title="{{ child_link1.title }}">
								<span class="">{{ child_link1.title }}</span>
							</a>
						</li>
						{% endif %}
						{% endfor %}
					</ul>
				</li>
				{% else %}
				<li class="{% if child_link.active %}active{% endif %}">
					<a class="" href="{{ child_link.url }}" title="{{ child_link.title }}">
						<span class="">{{ child_link.title }}</span>
					</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</li>
		{% else %}
		<li class="{% if link.active %}active{% endif %}">
			<a class="" href="{{ link.url }}" title="{{ link.title }}" target="_self">
				<span class="">{{ link.title }}</span>
			</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</section>
<script type="text/javascript">
	$(function() {
	$('#menu-mobile').mmenu({
	extensions    : [ 'effect-slide', 'pageshadow' ],
	header        : true,
	searchfield   : true
	});
	});
</script>
