
<div id="myCart" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">
					Giỏ hàng của bạn ( <b></b> sản phẩm )
				</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="fa fa-times"></i>
				</button>
			</div>
			<form action="/cart" method="post" id="cartform">
				<div class="modal-body">
					<table style="width:100%;" id="cart-table">
						<tr>
							<th>Sản phẩm</th>
							<th></th>
							<th>Đơn giá</th>
							<th>Số lượng</th>
							<th>Giá tiền</th>
							<th></th>
						</tr>
						<tr class="line-item original">
							<td class="item-image"></td>
							<td class="item-title">
								<a></a>
								<span class="item-delete"></span>
							</td>
							<td class="item-prices"><div class="price"></div><del class="gia-goc light-font"></del></td>
							<td class="item-quantity"></td>
							<td class="item-price"><div class="price"></div><del class="gia-goc light-font"></del></td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<div class="row">
						<div class="col-sm-6">
							<div class="modal-note">
								<textarea placeholder="Viết ghi chú" id="note" name="note" rows="5">{{ cart.note }}</textarea>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="total-price-modal">
								Tổng cộng : <span class="item-total"></span>
							</div>
							<div class="total-price-modal-original">
								Giá gốc : <del class="gia-goc item-total-original"></del>
							</div>
							<div class="total-price-modal-save">
								Tiết kiệm : <span class="item-total-save"></span>
							</div>
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-lg-6">
							<div class="comeback">
								<a href="/collections/all">
									Mua thêm sản phẩm khác <i class="fa fa-angle-double-right"></i>
								</a>
							</div>
						</div>
						<div class="col-lg-6 text-right">
							<div class="buttons btn-modal-cart">
								<button type="submit" class="button-default {%if cart.total_price <= 30000000 %} bnt-freeship{%endif%}" id="checkout" name="checkout">
									Tiến hành thanh toán
								</button>
							</div>

							<div class="buttons btn-modal-cart hidden">
								<button type="submit" class="button-default" id="update-cart-modal" name="">
									Cập nhật
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>

$(document).on('change', '#quantity1', function () {
	clearTimeout(200);
	typingTimer = setTimeout(doneTyping, 200);
});


function doneTyping() {
	$('#update-cart-modal').trigger( "click" );
}

// Ẩn modal cart khi click vào tiếp tục mua hàng
$( ".comeback a" ).click(function() {

});

$(document).ready(function(){
	$(".bnt-freeship").click(function(){
		alert("{{settings.home_page_freeship}}");

	});
	
});
</script>

<style>
	input[type=number] {
	/*for absolutely positioning spinners*/
	position: relative; 
	padding: 5px;
	padding-right: 25px;
	}

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
	opacity: 0;
	}
	input[type=number]:hover::-webkit-inner-spin-button,
	input[type=number]:hover::-webkit-outer-spin-button {
	opacity: 1;
	}
	input[type=number]::-webkit-outer-spin-button, 
	input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: inner-spin-button !important;
	width: 25px;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	}
</style>
