<div id="myModalmultistock" class="" role="dialog">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="inventory-location-box data clearfix invent">

			<h4></h4>

			<div class="inventory-location-ajax product-inventory clearfix">
				<ul class="no-bullets clearfix" id="stock-box"></ul>
			</div>

		</div>
	</div>
</div>

{%if template contains 'product'%}
<script>
$('#buyNowOmni').click(function(){
	$('#buy-now').trigger('click');
})
$('#addCartOmni').click(function(){
	$('#AddToCart').trigger('click');
})

var modalOmni = document.getElementById('myModalmultistock');
var btnOmniOpen = document.getElementById("viewModalOmni");
var spanOmniClose = document.getElementById("closeModalOmni");

//btnOmniOpen.onclick = function() {
//modalOmni.style.display = "block";
//}
//spanOmniClose.onclick = function() {
//modalOmni.style.display = "none";
//}
window.onclick = function(event) {
	if (event.target == modalOmni) {
		//modalOmni.style.display = "none";
	}
}
</script>
{%endif%}