<script type="text/javascript">
    function loadScript(c, d) { var e = document['createElement']('script'); e['type'] = 'text/javascript'; if (e['readyState']) { e['onreadystatechange'] = function () { if (e['readyState'] == 'loaded' || e['readyState'] == 'complete') { e['onreadystatechange'] = null; d(); } }; } else { e['onload'] = function () { d(); }; } e['src'] = c; document['getElementsByTagName']('head')[0x0]['appendChild'](e); }
    var pageTypes = {
        "home": "HOME",
        "collection": "CATEGORY",
        "product": "PRODUCT",
        "searchresults": "SEARCH"
    };
    var _osOptions = {
        "language": "en",
        "pageType": pageTypes[HaravanAnalytics.meta.page.pageType] || "HOME",
        "categories": [],
        "skuIds": []
    };

    var currentVariant =  {{ product | json }};
    //console.log("printing currentvariant");
    //console.log(currentVariant);
    var skus = (currentVariant && [currentVariant]) || [];
    skus && skus.forEach(function (sku, index) {
        if (sku && sku.variants) {
           for (var i = 0; i < sku.variants.length; i++) {
               var singleVariantObj = sku.variants[i];
               if(singleVariantObj && singleVariantObj.available)
               {
                  _osOptions["skuIds"].push(singleVariantObj.id);
                  _osOptions["categories"].push(sku.type);
                  break;
               }
           }
        } else if (sku && sku.id) {
            _osOptions["skuIds"].push(sku.id);
            "{{product.type}}".length && _osOptions["categories"].push("{{product.type}}");
        }
    });
    {% for product_type in collection.all_types %}
        _osOptions.categories.push("{{ product_type}}");
    {% endfor %}
    if (_osOptions["pageType"] == "CATEGORY" || _osOptions["pageType"] == "PRODUCT") {
        _osOptions["categories"] = _osOptions["categories"] && _osOptions["categories"].length > 0 && [_osOptions["categories"][0]] || []
    } else {
        _osOptions["categories"] = [];
    };
    //console.log(_osOptions);
    //loadScript("https://c.o-s.io/55457/graviti.min.js", function() {
    //     if (null != window.location.href.match(/_os_test_4/)) {  document.cookie = '_sok_widgetVisible=true; path=/;' }if (!!window.location.href.match(/.*/gi)) { window._sok.loadDiscovery({"title":"Sản Phẩm Hot","label":"Đề Xuất","trafficToBeServedPer":100,"excludePages":"","demoMode":false,"font":"Lato","color":"#0000ff","button":{"color":"#0000ff","hoverColor":"#0000ff","text":"Đề Xuất"},"deviceTargetting":[{"id":131,"deviceType":"DESKTOP","statusType":"ACTIVE"},{"id":132,"deviceType":"MOBILE","statusType":"PAUSED"}],"ads":[],"widgetVisible":{"ab":{"default":"false","variant":{"value":"true","_condition":1}}},"fontUrl":"https://fonts.googleapis.com/css?family=Lato:400,600","googleAnalyticsTag":null,"configLanguage":"vi","id":66,"statusType":"ACTIVE","metadata":"{\"languageConfig\":[{\"language\":\"vi\",\"currencyCode\":\"VND\",\"countryCode\":\"VN\"}]}","clientId":"55457","agencyId":72,"currencyCode":"VND","platform":"haravan","pageType":_osOptions["pageType"],"skuIds":_osOptions["skuIds"],"language":'vi',"categories":_osOptions["categories"],"enableOnMobile":false,"layouts":["2_COLUMN"]}); }
    //});
</script>
