
<section class="modal modalWindow" id="popupOne">  
	<section class="modalWrapper">
		<div class="row">
			<div class="col-sm-8 col-xs-12 text-left">
				<div class="left">
					<div id="CustomerLoginForm" class="form-vertical">
						{% form 'customer_login' %}

						<h2>Đăng nhập tài khoản</h2>

						{{ form.errors | default_errors }}

						<label for="CustomerEmail" class="hidden-label">Email:</label>
						<input type="email" name="customer[email]" id="CustomerEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="Vui long nhập Email" autocorrect="off" autocapitalize="off" autofocus>

						{% if form.password_needed %}
						<label for="CustomerPassword" class="hidden-label">Mật khẩu:</label>
						<input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="Vui lòng nhập mật khẩu">
						{% endif %}
						<script src="//multiapp.haravan.com/social-login/script/dhcshop.js?width=300&height=160"></script>

						<p>
							<input type="submit" class="btn btn--full" value="Đăng nhập">
						</p>
						{% if form.password_needed %}
						<p class="reset"><a href="javascript:void(0)" id="RecoverPassword">Quên mật khẩu?</a></p>
						{% endif %}

						{% endform %}
					</div>
					<div id="RecoverPasswordForm" style="display: none;">

						<h2>Cài đặt lại mật khẩu</h2>
						<p>Mật khẩu mới sẽ được gửi về email của bạn.</p>

						<div class="form-vertical">
							{% form 'recover_customer_password' %}

							{{ form.errors | default_errors }}

							{% comment %}
							Assign variable to be used after timber.init() is run in theme.liquid
							{% endcomment %}
							{% if form.posted_successfully? %}
							{% assign resetPassword = true %}
							{% endif %}

							<label for="RecoverEmail" class="hidden-label">Email</label>
							<input type="email" value="" name="email" id="RecoverEmail" class="input-full" placeholder="Email của bạn" autocorrect="off" autocapitalize="off">

							<p>
								<input type="submit" class="btn btn--full" value="Gửi">
							</p>
							<button type="button" id="HideRecoverPasswordLink" class="text-link">Bỏ qua</button>
							{% endform %}
						</div>

					</div>
					<div id="CustomerRegisterForm" style="display: none;">
						<h2>Đăng ký tài khoản</h2>
						<button id="reset_login">
							<i class="fa fa-arrow-left"></i> Đăng nhập
						</button>
						<div class="form-vertical">

							{% form 'create_customer' %}

							{{ form.errors | default_errors }}

							<label for="FirstName" class="label">Họ: <span style="color:red;">*</span></label>
							<input type="text" name="customer[first_name]" id="FirstName" class="input-full" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

							<label for="LastName" class="label">Tên: <span style="color:red;">*</span></label>
							<input type="text" name="customer[last_name]" id="LastName" class="input-full"  {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">

							<label for="Email" class="label">Email: <span style="color:red;">*</span></label>
							<input type="email" name="customer[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}"  {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

							<label for="CreatePassword" class="label">Mật khẩu: <span style="color:red;">*</span></label>
							<input type="password" name="customer[password]" id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" >
							<p>
								<input type="submit" value="Đăng ký" class="btn btn--full">
							</p>

							{% endform %}
						</div>
					</div>

				</div>
			</div>
			<div class="col-sm-4 col-xs-12 text-left">
				<div class="right">
					<div class="right_fix">
						<!-- start content -->
						<div class="content">
							<h3>Quyền lợi khi đăng ký thành viên tại DHC Vietnam Official</h3>
							<hr>
							<div>
								<p>1. Tích điểm nâng hạng để trở thành khách hàng Vip của DHC Vietnam</p>
							</div>

							<div style="padding-left: 10px;">
								<p>
									&#10004; Chính sách Ưu đãi đặc biệt khi mua hàng tại chuỗi Showroom DHC Vietnam
								</p>	
								<p>
									&#10004; Các ưu đãi dành riêng cho thành viên nhân này sinh nhật(Tuỳ theo thứ hàng thành viên)
								</p>
							</div>
							<div>
								<p> 
									2. Thuận tiện khi mua hàng và thanh toán
								</p>
							</div>
							<div>
								<p> 
									3. Giao hàng siêu tốc trong 24h
								</p>
							</div>

						</div>
						<!-- end content -->

						<div class="btn">
							<button id="bnt_fordk">Đăng ký</button>
						</div>
					</div>			
				</div>
			</div>
		</div>
	</section>
	<a class="closeBtn">X</a>
</section>
<section class="modal overlay"></section>
<style>
	section.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 998;
	}
	section.modalWindow {
	overflow: initial;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999 !important;
	width: 1000px;
	min-height: 200px;
	background: #FFF;
	cursor: default;
	bottom: auto;
	}
	section.modal.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	background: rgba(0, 0, 0, 0.1);
	z-index: 997;
	cursor: pointer;
	}
	section.modalWindow section.modalWrapper {

	text-align: left;
	line-height: 20px !important;
	}
	section.modal .left {
	padding: 30px 35px 30px 50px;
	}
	section.modal .left h2 {
	font-size: 25px;
	font-weight: 600;
	margin: 0 0 25px;
	}
	section.modal .left label {
	text-transform: uppercase;
	color:#333;
	}
	section.modal .left input {
	border-radius: 5px !important;
	overflow: hidden;
	}
	section.modal .left input.btn.btn--full {
	color: #fff;
	text-transform: uppercase;
	background: #15408e;
	font-weight: 700;
	}
	section.modal .left p.reset {
	text-align: right;
	margin-bottom: 8px;
	}
	div#CustomerRegisterForm h2 {
	margin-bottom: 0;
	}
	div#CustomerRegisterForm button {
	background: none;
	border: 0;
	color: #000;
	margin-bottom: 15px;
	font-size: 16px;
	margin-top: 10px;
	}
	div#CustomerRegisterForm button:hover {
	color:#15408e;
	}
	section.modal .left p a{
	color:#e603c0;
	}
	.closeBtn {
	position: absolute;
	right: 0px;
	top: 6px;
	cursor: pointer;
	}
	button#HideRecoverPasswordLink {
	border: 0;
	color: #333;
	}
	.content h3 {
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	margin: 0;
	margin-top: 10px;
	}
	hr {
	margin-top: 15px;
	margin-bottom: 15px;
	}
	.right
	{
	top:0;
	right: 0;

	background-color: #BBBBBB
	}
	.right .content
	{
	color: #FFFFFF;
	}
	.right .right_fix
	{
	width: 100%;
	margin: 0px;
	padding:61px 15px;
	}
	section.modalWrapper .btn {
	width: 100%;
	padding: 0;
	display: inline-block;
	}
	.right button
	{
	width: 100%;
	background: #FFFFFF;
	color: #565656;
	cursor: pointer;
	font-weight: bold;
	border: none;
	}
	.right button:hover {
	opacity: 0.8;
	}

	.closeBtn
	{
	position: absolute;
	right: -15px;
	top: -15px;
	font-weight: bold;
	border-radius: 50%;
	background-color: #ffffff;
	z-index: 999999;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	}
	.close:hover,
	.close:focus {
	background-color: red;
	color: #FFFFFF;
	cursor: pointer;
	}

</style>
<script>
settings = {
	//Model Popup
	objModalPopupBtn: ".modalButton",
	objModalCloseBtn: ".overlay, .closeBtn",
	objModalDataAttr: "data-popup"
}  
$(settings.objModalPopupBtn).bind("click", function () {
	if ($(this).attr(settings.objModalDataAttr)) {

		var strDataPopupName = $(this).attr(settings.objModalDataAttr);


		//Fade In Modal Pop Up
		$(".overlay, #" + strDataPopupName).fadeIn();

	}
});

//On clicking the modal background
$(settings.objModalCloseBtn).bind("click", function () {
	$(".modal").fadeOut();
});


$(document).ready(function(){
	$("#RecoverPassword").click(function(){
		$("#CustomerLoginForm").hide();
		$("#CustomerRegisterForm").hide();
		$("#RecoverPasswordForm").show();

	});
	$("#HideRecoverPasswordLink").click(function(){
		$("#RecoverPasswordForm").hide();
		$("#CustomerRegisterForm").hide();
		$("#CustomerLoginForm").show();
	});
	$("#bnt_fordk").click(function(){
		$("#CustomerLoginForm").hide();
		$("#RecoverPasswordForm").hide();
		$("#CustomerRegisterForm").show();
		$("#CustomerRegisterForm").show();

	});
	$("#reset_login").click(function(){
		$("#CustomerLoginForm").show();
		$("#CustomerRegisterForm").hide();
		$("#RecoverPasswordForm").hide();
	});
});

</script>

