{%comment%}
<section class="modal modalWindow" id="popupOne">  
	<section class="modalWrapper">
		<h2>Modal Popup </h2>
		<p></p>

	</section>
	<a class="closeBtn">CLOSE X</a>
</section>
<section class="modal overlay"></section>


<script>

settings = {
	//Model Popup
	objModalPopupBtn: ".modalButton",
	objModalCloseBtn: ".overlay, .closeBtn",
	objModalDataAttr: "data-popup"
}  
$(settings.objModalPopupBtn).bind("click", function () {
	if ($(this).attr(settings.objModalDataAttr)) {

		var strDataPopupName = $(this).attr(settings.objModalDataAttr);


		//Fade In Modal Pop Up
		$(".overlay, #" + strDataPopupName).fadeIn();

	}
});

//On clicking the modal background
$(settings.objModalCloseBtn).bind("click", function () {
	$(".modal").fadeOut();
});


</script>
{%endcomment%}