<div id="myCartship" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">
					Đơn hàng trên 300k sẽ được freeship toàn quốc

				</h4> 

			</div> 

			<div class="comeback">
				<a href="/collections/all">
					Mua thêm sản phẩm khác <i class="fa fa-angle-double-right"></i>
				</a>
			</div>
			<div class="buttons btn-modal-cart">
				<button type="submit" class="button-default" id="checkout" name="checkout">
					Tiến hành thanh toán
				</button>
			</div>

		</div>
	</div>

</div>

