<div id="bizweb-product-reviews" class="bizweb-product-reviews" data-id="{{ product.id }}">
	{% if product.metafields.bpr.votes %}
	<div class="title-bl">
		<h3>Đánh giá sản phẩm</h3>
	</div>
	<div id="bizweb-product-reviews-sub" style="width:100%">
		<div class="bizweb-product-reviews-summary" id="bizweb-product-reviews-summary">
			<div itemscope itemtype="http://schema.org/Product">
				<meta itemprop="name" content="{{ product.name }}" />
				<div class="bpr-summary" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
					<meta content="{{ product.metafields.bpr.rating }}" itemprop="ratingValue" />
					<meta content="5" itemprop="bestRating" />
					<meta content="1" itemprop="worstRating" />
					<meta content="{{ product.metafields.bpr.votes }}" itemprop="ratingCount" />

					<span class="bpr-summary-average">{{ product.metafields.bpr.rating }}</span>
					<div id="bizweb-prv-summary-star" class="bizweb-product-reviews-star" data-score="{{ product.metafields.bpr.rating }}" data-number="5"></div>
					<div class="bpr-summary-caption"></div>
				</div>
			</div>
		</div>
		<span class="product-reviews-summary-actions">
		</span>
		<div class="bizweb-product-reviews-form" id="bpr-form_{{ product.id }}" style="display:none;">
		</div>
		<div style="display:none;" id="bpr-thanks" class="bizweb-product-reviews-form">
		</div>
		<div id="bpr-list" class="bizweb-product-reviews-list">
		</div>
		<div id="bpr-more-reviews">
		</div>
	</div>
	{% endif %}
</div>