{% unless grid_item_width %}
{% assign grid_item_width = 'item col-sm-3 col-xs-6 col-sp-12' %}
{% endunless %}
{% unless current_collection == blank %}
{% assign current_collection = collection %}
{% endunless %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}
{% assign sold_out = true %}
{% if product.available  %}
{% assign sold_out = false %}
{% endif %}
{% assign imagesize = settings.home_product_imagesize %}

<div class="product_block {{ grid_item_width }}">
	<div class="product-container text-left product-block">

		<div class="product-image-container image {% if settings.theme_more_pimages_enable and settings.theme_more_pimages_option == 'showone' %}swap{%endif%}">
			<span class="new-box hidden">
				<span class="label-new label-info label">New</span>
			</span>
			{% if on_sale %}
			<span class="product-label product-label-special sale-box">
				<span class="label-sale label">
					{{ 'products.product.on_sale_from_html' | t }} <br>- {{product.compare_at_price_max | minus: product.price | divided_by:product.compare_at_price_max | times : 100 | round : 0}}% 
					
				</span>
			</span>
			{% endif %}

			<a class="product_img_link" href="{{ product.url | within: collection }}" title="{{ product.title }}">
				<img class="replace-2x img-responsive" src="{{ product.featured_image.src | product_img_url: imagesize }}" alt="{{ product.title }}">                
			</a>

			{% if settings.theme_more_pimages_enable and settings.theme_more_pimages_option == 'showone' %}
			<a class="hover-image" href="{{ product.url | within: collection }}" title="{{ product.title }}">
				{% include 'product-more-image' %}
			</a>
			{% endif %}

			{% if settings.theme_more_pimages_enable and settings.theme_more_pimages_option == 'showmore' %}
			{% include 'product-more-image' %}
			{% endif %}
			<div class="price-quick prices clearfix">				
				<span class="price product-price {% if on_sale %}sale-price{% endif %}">
					{{ product.price | money }}
				</span>
				{% if on_sale %}
				<span class="old-price product-price">{{ product.compare_at_price | money }}</span>
				{% endif %}
			</div>
			<div class="functional-buttons clearfix">
				<div class="action hidden-xs">
					<div>                    
						<div class="quick-view col-lg-6 col-md-3 col-xs-3">
							<a class="quick-view btn hidden-sm hidden-xs" href="#quick-view-product" data-handle="{{ product.handle }}" title="{{ 'general.quickview.title' | t }}">
								<span>{{ 'general.quickview.title' | t }}</span>
							</a>
						</div>                    
						<div class="col-lg-6 col-md-9 col-xs-9 btn-action">
							<div class="view_detail">
								<a class="btn lnk_view" href="{{ product.url | within: collection }}" title="View">
									<span>{{ 'general.viewdetail.title' | t }}</span>
								</a>
							</div>
							{% if settings.theme_wishlist_enable %}
							{% include 'ap-wishlist-product' %}
							{% endif %}                        
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="product-meta">
			{% if dealTime %}
			{% include 'block-productdeal' %}
			{% endif %}
			{% if settings.product_reviews_enable %}
			<div class="review">
				<span class="haravan-product-reviews-badge" data-id="{{ product.id }}"></span>
			</div>
			{% endif %}
			<h5 class="name">
				<a class="product-name" href="{{ product.url | within: collection }}" title="{{ product.title }}">{{ product.title }}</a>
			</h5>            
			<div class="clearfix"></div>
			<div class="product-desc">{{ product.description }}</div>            
			<div class="bottom">
				<div class="wrap-hover">                  	
					{% assign variantCount = product.variants | size %}
					<form action="/cart/add" method="post" enctype="multipart/form-data" class="form-ajaxtocart">
						<div class="addtocart cart">
							<input type="hidden" name="id" value="{{ product.variants.first.id }}" />
							{% if sold_out %}
							<input type="submit" value="{{ 'products.product.unavailable' | t }}" class="button ajax_addtocart disabled" />
							{% else %}
							{% if variantCount > 1 %}
							<a class="button ajax_addtocart" href="{{ product.url | within: collection }}" title="{{ product.title }}">{{ 'products.product.select_options' | t }}</a>
							{% else %}
							<input type="submit" value="{{ 'products.product.add_to_cart' | t }}" class="button ajax_addtocart" />
							{% endif %}
							{% endif %}
						</div>
					</form>
					<div class="content_price text-center prices clearfix">                        
						<span class="product-price {% if on_sale %}sale-price{% endif %}">
							{{ product.price | money }}
						</span>
						{% if on_sale %}
						<span class="old-price product-price">{{ product.compare_at_price | money }}</span>
						{% endif %}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>