{% assign p_sale_percent = (product_recommend.compare_at_price | minus: product_recommend.price ) | divided_by: product_recommend.compare_at_price %}

	<div class="product-box pro-loop item">
		<div class="product-block product-resize">
			<div class="product-img view view-third product-media">
				<a href="{{product_recommend.url}}" title="{{product_recommend.title}}">
					<img alt="{{product_recommend.title}}" src="{%if product_recommend.images.size > 0%}{{ product_recommend.featured_image.src | product_img_url: 'large' }}{%else%}//hstatic.net/0/0/global/design/theme-default/no-image.png{%endif%}" alt="{{ product_recommend.featured_image.alt | escape }}" />
					{% if on_sale %}
					<span class="prod-tag tag-1">-{{ p_sale_percent | times: 100 }}%</span>
					{% endif %}
				</a>
			</div>

			<div class="product-detail clearfix product-caption">

				<h3 class="pro-name product-title">
					<a href="{{ product_recommend.url | within: collection }}" title="{{product_recommend.title}}">
						{{ product_recommend.title }}
					</a>
				</h3>
				<div class="price">
					<strong class="pro-price clr-txt">{{ product_recommend.price | money }}</strong>
						{% if on_sale %}
						<del class="compare-price">{{ product_recommend.compare_at_price | money }}</del>
						{% endif %}
					
				</div>
				<div class="prod-icons ababababa">
					<form action="/cart/add" method="post" class="variants form-nut-grid" data-id="product-actions-{{ product_recommend.id }}" enctype="multipart/form-data">

						{% if contact %}
							<a href="{{ product_recommend.url }}" class="fa fa-unlink" title="Chi tiết"></a>
						{% else %}
							{% if sold_out %}
								<a href="{{ product_recommend.url }}" class="fa fa-unlink" title="Hết hàng"></a>
							{% else %}
								<a href="{{ product_recommend.url }}" class="fa fa-link" title="Chi tiết"></a>
							{% endif %}

						{% endif %}
						<a href="#quick-view-product" data-handle="{{ product_recommend.handle }}" title="Xem nhanh" class="fa fa-expand quick-view"></a>
					</form>
				</div>
			</div>
		</div>
	</div>
