{% assign imagesize = settings.home_product_imagesize %}

{% assign sold_out = true %}
{% if product.available  %}
{% assign sold_out = false %}
{% assign awe-price = product.selected_or_first_available_variant.price %}
{% assign awe-compare-price = product.selected_or_first_available_variant.compare_at_price %}
{%else%}
{% assign awe-price = product.variants[0].price %}
{% assign awe-compare-price = product.variants[0].compare_at_price %}
{% endif %} 
{%assign contact = false%}
{%if awe-price == 0 %}
{%assign contact = true%}
{%endif%}
{% assign on_sale = false %}
{% if awe-compare-price > awe-price %}
{% assign on_sale = true %}
{% endif %}
{% assign variantCount = product.variants | size %}
{% assign on_var = false %}
{% if variantCount > 1 %}
{% assign on_var = true %}
{% endif %}
{% capture discount %}{{ awe-compare-price | minus:awe-price | times:100 | divided_by:awe-compare-price | round }}% {% endcapture %}

<div class="product-box product-block product-container"> 
	<div class="product-image-container image {% if settings.theme_more_pimages_enable and settings.theme_more_pimages_option == 'showone' %}swap{%endif%}"> 
		{% if product.featured_image != null %}
			<a class="product_img_link" href="{{ product.url | within: collection }}" title="{{ product.title }}">
				<img class="replace-2x img-responsive" src="{{ product.featured_image.src | product_img_url: imagesize }}" alt="{{ product.title }}">                
			</a>

			{% if settings.theme_more_pimages_enable and settings.theme_more_pimages_option == 'showone' %}
			<a class="hover-image" href="{{ product.url | within: collection }}" title="{{ product.title }}">
				{% include 'product-more-image' %}
			</a>
			{% endif %}

		{% else %}
			<a class="replace-2x img-responsive" href="{{ product.url }}" title="{{product.title}}">
				<img class="prod-img" alt="{{product.title}}" src="{{ 'no_image.jpg' | asset_url | img_url: 'medium' }}" />
			</a>
		{% endif %} 
		{% if on_sale %}
		<span class="prod-tag tag-1">-{{ discount }}</span>
		{% endif %}
		{% include 'tag_promotion' %}
	</div>
	<div class="product-caption"> 
		<h3 class="product-title">
			<a href="{{ product.url }}" title="{{product.title}}"><span class="light-font">{{product.title}}</span></a>
		</h3>
		<div class="price">
			{% if contact %}
			<strong class="clr-txt">Liên hệ</strong>
			{% else %}
			{% if on_sale %}
			<strong class="clr-txt">{{ awe-price | money }}</strong>
			{% if awe-compare-price > awe-price %}
			<del class="light-font">{{ awe-compare-price | money }}</del>
			{% endif %}	
			{% else %}
			<strong class="clr-txt">{{ awe-price | money }}</strong>
			{% endif %}
			{% endif %}
		</div>
		<div class="prod-action">
			<button type="button" onclick="add_item_show_modalCart({{ product.variants.first.id }})" class="hidden-sm hidden-lg hidden-md btn buy-nows">Mua Ngay</button>
		</div>
		<div class="prod-icons ababababa">
			<form action="/cart/add" method="post" class="variants form-nut-grid" data-id="product-actions-{{ product.id }}" enctype="multipart/form-data">
				{%if contact %}
				<a href="{{ product.url }}" class="fa fa-unlink" title="Chi tiết"></a>
				{% else %}
					{% if variantCount > 1 %}
					<a href="{{ product.url }}" class="fa fa-link" title="Chọn sản phẩm"></a>
					{% elsif sold_out %}
					<a href="{{ product.url }}" class="fa fa-unlink" title="Hết hàng"></a>
					{% else %}
					<input type="hidden" name="id" value="{{ product.variants[0].id }}" />
					<a class="fa fa-shopping-basket" onclick="add_item_show_modalCart({{ product.variants.first.id }})" title="Cho vào giỏ hàng"></a>
					{% endif %}
				{% endif %}
				<a href="#quick-view-product" data-handle="{{ product.handle }}" title="Xem nhanh" class="fa fa-expand quick-view"></a>
			</form>
		</div>
	</div>
</div>
