{% assign sold_out = true %}
{% if product.available  %}
{% assign sold_out = false %}
{% assign awe-price = product.selected_or_first_available_variant.price %}
{% assign awe-compare-price = product.selected_or_first_available_variant.compare_at_price %}
{%else%}
{% assign awe-price = product.variants[0].price %}
{% assign awe-compare-price = product.variants[0].compare_at_price %}
{% endif %} 
{%assign contact = false%}
{%if awe-price == 0 %}
{%assign contact = true%}
{%endif%}
{% assign on_sale = false %}
{%if awe-price > 0 %}
{% if awe-compare-price > awe-price %}
{% assign on_sale = true %}
{% endif %}
{% endif %}
{% assign variantCount = product.variants | size %}
{% assign on_var = false %}
{% if variantCount > 1 %}
{% assign on_var = true %}
{% endif %}
{%if product.featured_image.alt ==""%}
{% assign featured_image_alt = product.name %}
{%else%}
{% assign featured_image_alt = product.featured_image.alt%}
{%endif%}
{% if awe-compare-price > awe-price %}
{% capture discount %} 
{{awe-compare-price | minus:awe-price | times:100 | divided_by:awe-compare-price | round }}% 
{% endcapture %}
{%assign pt = awe-compare-price | minus:awe-price | times:100 | divided_by:awe-compare-price%}
{%if pt > 99 %}
{% capture discount %}
99%
{% endcapture %}
{%endif%}
{%if pt < 1 %}
		   {% capture discount %}
		   1%
		   {% endcapture %}
		   {%endif%}
		   {% assign on_sale = true %}
		   {% endif %}
<div class="deal-item">
	<div class="deal-content">
		{% if on_sale %}
		<div class="text-right">
			<span class="prod-tag tag-2">-{{ discount }}</span>
		</div>
		{% endif %}
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="deal-img">
					{% if product.featured_image != null %}
					<img alt="{{product.title}}" src="{{ product.featured_image.src | img_url:'large' }}" class="img-responsive center-block" />
					{% else %}
					<img alt="{{product.title}}" src="{{ 'no_image.jpg' | asset_url | img_url: 'medium' }}" class="img-responsive center-block" />
					{% endif %}
				</div>
			</div>
			<div class="col-md-8 col-sm-8">
				<div class="deal-text">
					<h4 class="sub-title">{% if product.vendor != '' %} {{ product.vendor }} {% else %}{% endif %}</h4>
					<h3 class="fsz-20 pb-5"> <a href="{{ product.url }}" title="{{product.title}}">{{product.title}}</a></h3>
					<p>{{ product.description| strip_html | truncatewords: 40 }}</p>
					<div class="price pt-10"> 
						{% if contact %}
						<strong class="clr-txt">Liên hệ</strong>
						{% else %}
						{% if on_sale %}
						<strong class="clr-txt">{{ awe-price | money }}</strong>{% if awe-compare-price > awe-price %}<del class="light-font">{{ awe-compare-price | money }}</del>{% endif %}
						{% else %}
						<strong class="clr-txt">{{ awe-price | money }}</strong>
						{% endif %}
						{% endif %}
					</div>
					<div class="group-button pt-10">
						<form action="/cart/add" method="post" class="variants form-nut-grid" data-id="product-actions-{{ product.id }}" enctype="multipart/form-data">
							{%if contact %}
							<a href="{{ product.url }}" class="fa fa-unlink" title="Chi tiết"></a>
							{% else %}
							{% if variantCount > 1 %}
							<a href="{{ product.url }}" class="fa fa-link" title="Chọn sản phẩm"></a>
							{% elsif sold_out %}
							<a href="{{ product.url }}" class="fa fa-unlink" title="Hết hàng"></a>
							{% else %}
							<input type="hidden" name="id" value="{{ product.variants[0].id }}" />
							<a class="fa fa-shopping-basket add_to_cart" title="Cho vào giỏ hàng"></a>
							{% endif %}
							{% endif %}
							{% if settings.quickview_enable %}
							<a href="{{ product.url }}" data-handle="{{ product.alias }}" class="fa fa-search quick-view"></a>
							{% endif %}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>