{% assign count_images = product.images | size %}
{% assign column_center = 'col-sm-12 col-md-12' %}
<div id="quick-view-product" style="display:none;">
	<div class="quickview-overlay fancybox-overlay fancybox-overlay-fixed"></div>
	<div class="quick-view-product">

	</div>
	<div id="quickview-modal" style="display:none;">
		<div class="primary_block row">

			<div class="product-left-column col-sm-12 col-md-5 col-lg-5">
				<div class="clearfix image-block col-xs-10 col-sm-10">
					{% assign imagesize = settings.product_page_imagesize %}
					<span class="view_full_size">
						{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
						<a class="img-product" title="{{ product.title }}" href="{{ featured_image | img_url: '1024x1024' }}">
							<img class="img-responsive" id="product-featured-image-quickview" src="{{ featured_image | img_url: imagesize }}" alt="{{ product.title }}"/>
						</a>
					</span>              
				</div>
				<div class="more-view-wrapper clearfix col-xs-2 col-sm-2">
					<div id="thumbs_list_quickview">
						<ul class="product-photo-thumbs quickview-more-views-owlslider" id="thumblist_quickview">
						</ul>
					</div>      
					<span class="view_scroll_spacer">
						<a id="view_scroll_left_quickview" class="" title="{{ 'products.general.previous_image' | t }}" href="javascript:{}">
							{{ 'products.general.previous_image' | t }}
						</a>
						<a id="view_scroll_right_quickview" title="{{ 'products.general.next_image' | t }}" href="javascript:{}">
							{{ 'products.general.next_image' | t }}
						</a>
					</span>
				</div>
			</div>

			<div class="product-right-column col-xs-12 col-sm-7 col-md-7">
				<div class="product-info col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<h3 class="qwp-name">&nbsp;</h3>
					
					{% if settings.product_reviews_enable %}
					<div class="review hidden">
						<span class="haravan-product-reviews-badge" data-id=""></span>
					</div>
					{% endif %}            
					<div class="product-description rte">
						{{ product.description | truncatewords: 30}}
					</div>
					<h5 class="brand"></h5>
					<div class="availability">                  
					</div>
					<div class="product-sku">
					</div>
					{% if settings.product_page_social_enable %}
					{% include 'block-social-sharing' %}
					{% endif %}
					
					<ul id="usefull_link_block{{ product.id }}" class="clearfix no-print list-inline">
						<li class="print">
							<a href="javascript:print();"><i class="fa fa-print"></i> {{ "gift_cards.issued.print" | t }}</a>
						</li>
					</ul>
				</div>
				<div class="product-extra col-xs-12 col-sm-6 col-md-6 col-lg-6 product-item">
					<div>
						<form action="/cart/add" method="post" enctype="multipart/form-data" class="variants form-ajaxtocart">
							<span class="prices">
								<span class="price h2"></span>
							</span>
							<span class="price-product-detail">
								<span class="old-price product-price compare-price"></span>
							</span>
							<select name='id' style="display:none"></select>
							<div class="clearfix"></div>

							
								
							 
						</form>
						<h3 class="detail-product">&nbsp;</h3>
						{% if settings.theme_wishlist_enable %}
						{% include 'ap-wishlist-product' %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<a title="Close" class="quickview-close fancybox-close" href="javascript:void(0)"></a>
	</div>    
</div>
