<div class="qv-product-images" style="opacity: 0"></div>
<div class="qv-content">
  <div class="holder">
    <h3 class="qv-product-title"></h3>
    <h4 class="qv-product-type"></h4>
    <h5 class="qv-product-price"></h5>
    <h5 class="qv-product-original-price"></h5>
    <hr />
    <div class="qv-add-to-cart">
      <div class="qv-product-options"></div>
      <div class="quantity">
        <span>Quantity</span>
        <input type="number" class="qv-quantity" value="1" min="1">
      </div>
      <input type="submit" class="qv-add-button" value="Add to Cart">
      <div class="qv-add-to-cart-response"></div>
    </div>
    <div class="qv-product-description"></div>
  </div>
  <a class="view-product" href=""><span>View Full Product Details</span></a>
</div>

{% assign count_images = product.images | size %}
{% assign column_center = 'col-sm-12 col-md-12' %}
<div id="quick-view-product" style="display:none;">
	<div class="quickview-overlay fancybox-overlay fancybox-overlay-fixed"></div>
	<div class="quick-view-product">

	</div>
	<div id="quickview-modal" style="display:none;">
		<div class="primary_block row">
			<div class="product-left-column col-sm-12 col-md-5 col-lg-5">
				<div class="clearfix image-block col-xs-10 col-sm-10">
					{% assign imagesize = settings.product_page_imagesize %}
					<span class="view_full_size">
						{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
						<a class="img-product" title="{{ product.title }}" href="{{ featured_image | img_url: '1024x1024' }}">
							<img class="img-responsive" id="product-featured-image-quickview" src="{{ featured_image | img_url: imagesize }}" alt="{{ product.title }}"/>
						</a>
					</span>              
				</div>
				<div class="more-view-wrapper clearfix col-xs-2 col-sm-2">
					<div id="thumbs_list_quickview">
						<ul class="product-photo-thumbs quickview-more-views-owlslider" id="thumblist_quickview">
						</ul>
					</div>      
					<span class="view_scroll_spacer">
						<a id="view_scroll_left_quickview" class="" title="{{ 'products.general.previous_image' | t }}" href="javascript:{}">
							{{ 'products.general.previous_image' | t }}
						</a>
						<a id="view_scroll_right_quickview" title="{{ 'products.general.next_image' | t }}" href="javascript:{}">
							{{ 'products.general.next_image' | t }}
						</a>
					</span>
				</div>
			</div>
			<div class="product-right-column col-xs-12 col-sm-7 col-md-7">
				<div class="product-info col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<h3 class="qwp-name">&nbsp;</h3>
					
					{% if settings.product_reviews_enable %}
					<div class="review hidden">
						<span class="haravan-product-reviews-badge" data-id=""></span>
					</div>
					{% endif %}            
					<div class="product-description rte">
						{{ product.description | truncatewords: 30}}
					</div>
					<h5 class="brand"></h5>
					<div class="availability">                  
					</div>
					<div class="product-sku">
					</div>
					{% if settings.product_page_social_enable %}
					{% include 'block-social-sharing' %}
					{% endif %}
					
					<ul id="usefull_link_block{{ product.id }}" class="clearfix no-print list-inline">
						<li class="print">
							<a href="javascript:print();"><i class="fa fa-print"></i> {{ "gift_cards.issued.print" | t }}</a>
						</li>
					</ul>
				</div>
				<div class="product-extra col-xs-12 col-sm-6 col-md-6 col-lg-6 product-item">
					<div id="quickview-nav-button" style="position: relative; top: -20px;">
						<ul>                
							<li><a class="btn-previous-product" href="javascript:;" style="float:left;">← Trước</a></li>
							<li><a class="btn-next-product" href="javascript:;" style="float:right;">Sau →</a></li>
						</ul>
					</div>
					<div>
						<form action="/cart/add" method="post" enctype="multipart/form-data" class="variants form-ajaxtocart">
							<span class="prices">
								<span class="price h2"></span>
							</span>
							<span class="price-product-detail">
								<span class="old-price product-price compare-price"></span>
							</span>
							<select name='id' style="display:none"></select>
							<div class="clearfix"></div>
							<div class="quantity_wanted_p">
								<label for="quantity-detail" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
								<input type="number" id="quantity-detail" name="quantity" value="1" min="1" class="quantity-selector">
							</div>
							<div class="total-price">
								<label>{{ 'products.product.subtotal' | t }}: </label>
								<span></span>
							</div>   
	                   
							{%comment%}<button type="submit" name="add" id="AddToCart{{ product.id }}" class="btn add_to_cart_detail ajax_addtocart">
								<span >Thêm vào giỏ hàng</span>
							</button>{%endcomment%}
							
								
							 
						</form>
						<h3 class="detail-product">&nbsp;</h3>
						{% if settings.theme_wishlist_enable %}
						{% include 'ap-wishlist-product' %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<a title="Close" class="quickview-close fancybox-close" href="javascript:void(0)"></a>
	</div>    
</div>
