{% assign productsrecommend = product.metafields.ProductRecommend %}
{% if productsrecommend.size > 0 %}
<div class="section-view">
	<div class="container">
		<div class="col-md-12 recommend-products">
			<div class="recommend-products-wrapper">
				<div class="header-title">
					<h2>Mặc phối cùng</h2>
				</div> 

				<div class="row product-list">
					<div class="content-product-list products-view-owl owl-carousel not-dqowl"> 
					{% for value in productsrecommend %}{%assign product_recommend=collections.all.products[value.last]%}

						{% include 'product-loop-recommend' %}

					{%endfor %}
					</div>
				</div>
			</div>
		</div>
		

		
	</div>
</div>

{% endif %}


