{%if settings.banner_1_enable%}
<div class="homepage-product-spotlight-banner">
	<div class="container">
		<article style="background-color: {{settings.background_color_banner1}};">
			<div class="text-container" style="color: #ffffff;">
				<h2 style="font-weight: 300; font-size: 2em; color: {{settings.color_text_banner1}};">{{settings.banner_1_text}}</h2>
				<p></p>
				<a class="caret-right" style="color: {{settings.color_text_banner1}};" href="{{settings.banner_1_url}}">
					{{settings.banner_1_button}} <i class="fa fa-angle-right"></i>
				</a>
			</div>
			<a class="banner-right" href="{{settings.banner_1_url}}">
				<img src="{{'banner_1.jpg' | asset_url}}" alt="{{settings.banner_1_text}}" width="889" height="289">
			</a>
		</article>
	</div>
</div>
{%endif%}

<div class="section-banner" style="margin:30px 0px;">
	<div class="container">
		<div class="row">
			{%if settings.banner_2_enable%}
			<div class="col-sm-4 col-xs-12">
				<div class="banner-item">
					<a href="{{settings.banner_2_url}}"><img src="{{'banner_2.jpg' | asset_url}}" alt="Banner1"/></a>
				</div>
			</div>
			{%endif%}
			{%if settings.banner_3_enable%}
			<div class="col-sm-4 col-xs-12">
				<div class="banner-item">
					<a href="{{settings.banner_3_url}}"><img src="{{'banner_3.jpg' | asset_url}}" alt="Banner2"/></a>
				</div>
			</div>
			{%endif%}
			{%if settings.banner_4_enable%}
			<div class="col-sm-4 col-xs-12">
				<div class="banner-item">
					<a href="{{settings.banner_4_url}}"><img src="{{'banner_4.jpg' | asset_url}}" alt="Banner3"/></a>
				</div>
			</div>
			{%endif%}
		</div>
	</div>
</div>