<section class="naturix-goods sec-blogs">
	<div class="container">
		<div class="title-wraps" style="margin-bottom:30px;">
			<h2 class="section-title"><strong>{{ settings.sec_new_title }}</strong></h2>
		</div> 

		<div class="row">
			<div class="col-lg-7 col-md-6">
				<div class="blogs-owl owl-carousel">
					{% for article in blogs[settings.sec_blog_1].articles limit: settings.sec_blog_limit_1  %}
					<div class="blog-item">
						<div class="news-img">
							<a href="{{ article.url }}">
								{% if article.image == null %}
								<img src="{{ 'no-image.jpg' | asset_url }}" alt="{{ article.title }}" />
								{% else %}
								<img src="{{ article.image.src | img_url:'1024x1024' }}" alt="{{ article.title }}" />
								{% endif %}
							</a>
							<div class="news-caption">
								<a href="{{article.blog.url}}" class="sub-title-sm">{{article.blog.title}}</a>
								<h3 class="title-2"><a href="{{ article.url }}"><span class="light-font">{{ article.title }}</span></a></h3>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-lg-5 col-md-6">
				<div class="blogs-right">
					{% for article in blogs.all.articles limit: 3%}
					<div class="item">
						<div class="latest-news">
							<div class="news-img">
								<a href="{{ article.url }}">
									{% if article.image == null %}
									<img src="{{ 'no-image.jpg' | asset_url }}" alt="{{ article.title }}" />
									{% else %}
									<img src="{{ article.image.src | img_url:'large' }}" alt="{{ article.title }}" />
									{% endif %}
								</a>
							</div>
							<div class="news-caption">
								<a href="{{article.blog.url}}" class="sub-title-sm">{{article.blog.title}}</a>
								<h3 class="title-2"><a href="{{ article.url }}"><span class="light-font">{{ article.title }}</span></a></h3>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="line"></div>
	</div>
</section>