{% comment %}
<div id="instafeed">
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>
<script type="text/javascript">
	var userFeed = new Instafeed({
	get: 'user',
	userId: '304664105',
	clientId: '	92aaa603e1cd492e9bd211e2a3027362',
	accessToken: '304664105.92aaa60.0b0dda327c7044878919d344dcbe1298',
	resolution: 'standard_resolution',
	template: '<a href="{{link}}" target="_blank" id="{{id}}"><img src="{{image}}" /></a>',
	sortBy: 'most-recent',
	limit: 4,
	links: false
	});
	userFeed.run();
</script>
{% endcomment %}

<div class="section-support hidden-sm hidden-xs">
	<div class="container">
		<div class="row">
			<div class="line">
				<div class="col-md-3 co-sm-6 col-xs-12">
					<div class="support-item">				
						<span class="title-support">{{settings.hotline_title1}}</span>
						<span class="hotline"><i class="fa fa-phone"></i> <a href="tel:{{settings.hotline_support1}}">{{settings.hotline_support1}}</a></span>
						<span class="text">{{settings.hotline_subtitle1}}</span>
					</div>
				</div>
				<div class="col-md-3 co-sm-6 col-xs-12">
					<div class="support-item">				
						<span class="title-support">{{settings.hotline_title2}}</span>
						<span class="hotline"><i class="fa fa-phone"></i> <a href="tel:{{settings.hotline_support2}}">{{settings.hotline_support2}}</a></span>
						<span class="text">{{settings.hotline_subtitle2}}</span>
					</div>
				</div> 
				<div class="col-md-3 co-sm-6 col-xs-12">
					<div class="support-item">
						<span class="title-support">{{settings.newlest_title}}</span>
						{% form 'customer' %}
						{{ form.errors | default_errors }}
						{% if form.posted_successfully? %}
						<p class="note form-success">Cảm ơn bạn đã đăng ký</p>
						{% else %}
						<span class="text">{{settings.newlest_subtitle}}</span>
						<div class="input-group">

							<input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Nhập email của bạn" name="contact[email]" id="emailSubscribe" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
							<input type="hidden" name="contact[tags]" value="newsletter">
							<span class="input-group-btn">
								<input type="submit" class="btn" name="subscribe" id="subscribe" value="Đăng ký">
							</span>

						</div>

						{% endif %}
						{% endform %}
					</div>
				</div>
				<div class="col-md-3 co-sm-6 col-xs-12">
					<div class="support-item">
						<span class="title-support">{{settings.social_title}}</span>

						<div class="social">
							<ul>
								{%if settings.header_social_1.size > 0 %}
								<li><a href="{{settings.header_social_1}}"><i class="fa fa-twitter"></i></a></li>
								{%endif%}
								{%if settings.header_social_2.size > 0 %}
								<li><a href="{{settings.header_social_2}}"><i class="fa fa-facebook"></i></a></li>
								{%endif%}
								{%if settings.header_social_3.size > 0 %}

								<li><a href="{{settings.header_social_3}}"><i class="fa fa-google-plus"></i></a></li>
								{%endif%}
								{%if settings.header_social_4.size > 0 %}

								<li><a href="{{settings.header_social_4}}"><i class="fa fa-pinterest"></i></a></li>

								{%endif%}
								{%if settings.header_social_5.size > 0 %}
								<li><a href="{{settings.header_social_5}}"><i class="fa fa-youtube"></i></a></li>
								{%endif%}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% if template contains 'index'%}
{% if settings.home_instagram_enable%}
<div class="section_instagram">
	<div class="instagram-owl owl-carousel not-dqowl">
		{% for i in (1..10) %}
		{% capture var_image %}instagram_image_{{i}}.jpg{% endcapture %}
		{% capture var_name %}instagram_title_{{i}}{% endcapture %}
		{% capture var_link %}instagram_link_{{i}}{% endcapture %}
		<div class="item">
			<a href="{{ settings.[var_link] }}" target="_blank">
				<span class="item--overlay"><i class="fa fa-instagram"></i></span>
				<img src="{{ var_image | asset_url }}" alt="{{ settings.[var_name] }}" class="img-responsive center-block" />
			</a>
		</div>
		{% endfor %}
	</div>
	<a href="{{ settings.instagram-link }}" target="_blank" title="{{ settings.instagram_title }}" class="btn-instagram">
		{{ settings.instagram_title }}
	</a>
</div>
{%endif%}
{%endif%}