{%assign limit = settings.sec_tab_limit_best%}
<section class="naturix-goods section-product">
	<div class="container"> 
		<div class="row">
			<div class="col-md-12">
				<div class="title-wraps">
					<h2 class="section-title"><strong>{{ settings.sec_tab_title_best }}</strong></h2>
				</div>
				<div class="products-best-sell">
					<div class="products-best-sell-owl owl-carousel not-dqowl">
						{% if collections[settings.sec_tab_1_col_best].products.size > 0 %}
						{% assign section_trending_store_alias = settings.sec_tab_1_col_best %}
						{% else %}
						{% assign section_trending_store_alias = 'frontpage' %}
						{% endif %}
						{% for product in collections[section_trending_store_alias].products limit: limit %}         
						<div class="item">
							{% include 'product-item-home-custom' %}																
						</div>
						{% endfor %}							
					</div>
				</div>
				<div class="seemore">
					<a href="{{collections[settings.sec_tab_1_col_best].url}}">
						{{settings.sec_bnt_product_3}}
					</a>
				</div>
			</div>
		</div>
	</div>
</section>