{% unless grid_item_width %}
{% assign grid_item_width = 'item col-sm-3 col-xs-6 col-sp-12' %}
{% endunless %}
{%assign limit = settings.sec_product_limit_1%}
{%assign col = settings.sec_product_col_1%}

<section class="naturix-goods">
	<div class="container"> 
		<div class="row">
			<div class="col-md-12">
				<div class="title-wraps">
					<h2 class="section-title">
						<strong>{{ settings.sec_title_product_1 }}</strong>
					</h2>
				</div>
				<div class="products-best-sell">
					<div class="products-section">
						<div class="row">

									{% for product in collections[col].products limit: limit %}         
									<div class="product_block {{ grid_item_width }}">
										{% include 'product-item-home-custom' %}																
									</div>
									{% endfor %}			

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{%if settings.banner_5_enable%}
<section class="banner" style="margin:0px 0px 30px;">
	<div class="container">
		<a href="{{settings.banner_5_url}}"><img src="{{'banner_5.jpg' | asset_url}}" alt=""/></a>
	</div>
</section>
{%endif%}