<section class="deals sec-space light-bg">
	<img alt="{{ settings.sec_promotion_title }}" src="{{ 'promotion_image_1.png' | asset_url }}" class="right-bg-img" />  
	<img alt="{{ settings.sec_promotion_title }}" src="{{ 'promotion_image_2.png' | asset_url }}" class="left-bg-img" />  
	<div class="container"> 
		<div class="row"> 
			<div class="col-sm-5 text-right"> 
				<h4 class="sub-title">{{ settings.sec_promotion_title }}</h4>
				<h2 class="section-title">{{ settings.sec_promotion_title_2 }}</h2>
			</div>
			<div class="col-sm-2 text-center no-padding"> 
				<img alt="{{ settings.sec_promotion_title }}" src="{{ 'potato.png' | asset_url }}" />
			</div>
			<div class="col-sm-5"> 
				<p>{{ settings.sec_promotion_title_3 }}</p>
			</div>
		</div>
		<div class="row">
			{% if settings.sec_promotion_time_enable %}
			<div class="deal-count">
				<div class="countdown-wrapper">
					<div id="defaultCountdown" class="countdown"></div>
				</div> 
			</div>
			{% endif %}
			<div class="deal-slider owl-carousel owl-theme dots-2">
				{% for product in collections[settings.sec_promotion_collections].products limit: settings.sec_promotion_limit %}		
				<div class="item item-carousel">
					{% include 'product_item_promotion' %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>