<section class="subscribe-wrap sec-space light-bg">
	<img alt="{{ settings.sec_subscribe_title }}" src="{{ 'sec-img-5.png' | asset_url }}" class="right-bg-img" />  
	<img alt="{{ settings.sec_subscribe_title }}" src="{{ 'sec-img-6.png' | asset_url }}" class="left-bg-img" />  
	<div class="container"> 
		<div class="row"> 
			<div class="col-md-4"> 
				<h4 class="sub-title">{{ settings.sec_subscribe_title }}</h4>
				<h2 class="fsz-30">{{ settings.sec_subscribe_title_2 }}</h2>
			</div>
			<div class="col-md-8"> 
				<form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="newsletter-form row">
					<div class="form-group col-sm-8">
						<input class="form-control" placeholder="Email của bạn..." name="EMAIL" id="mail" required=""  type="email" />                                                                                     
					</div>
					<div class="form-group col-sm-4">                                               
						<button name="subscribe" id="subscribe" class="theme-btn btn-block" type="submit"> Đăng ký <i class="fa fa-long-arrow-right"></i> </button>                                            
					</div>
				</form>
			</div>
		</div>
	</div>
</section>