{%assign title = settings.sec_tab_title%}
{%assign limit = settings.sec_tab_limit%}
<section class="organic-all sec-space-bottom">
	<div class="container-fluid"> 
		<div class="col-md-12">
			<div class="section_tab_product">
				<h2 class="noo-sh-title">{{ settings.sec_tab_title }}</h2>
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
						{%for i in (1..4)%}
						{%capture enable%}sec_tab_{{i}}_enable{%endcapture%}							
						{%capture title%}sec_tab_{{i}}_title{%endcapture%}
						{%if settings[enable]%}
						<li role="presentation" class="{% if i == 2 %}next{% endif %} {% if forloop.first == true %}active{% endif %}">
							<a href="#home-{{i}}" id="home-tab-{{i}}" role="tab" data-toggle="tab" aria-controls="home-{{i}}" aria-expanded="true">
								<span class="text">{{settings[title]}}</span>
							</a>
						</li>
						{%endif%}
						{%endfor%}
					</ul>
					<div id="myTabContent" class="tab-content">
						{%for i in (1..4)%}
						{%capture enable%}sec_tab_{{i}}_enable{%endcapture%}							
						{%capture col%}sec_tab_{{i}}_col{%endcapture%}
						{%if settings[enable]%}
						<div role="tabpanel" class="tab-pane fade {% if forloop.first == true %} in active{% endif %}" id="home-{{i}}" aria-labelledby="home-tab-{{i}}">
							<div class="products row row-gutter-14">
								{%assign col = settings[col]%}
								{% if collections[col].products.size > 0 %}
								{% assign section_trending_store_alias = col %}
								{% else %}
								{% assign section_trending_store_alias = 'frontpage' %}
								{% endif %}
								{% for product in collections[section_trending_store_alias].products limit: limit %}         
								<div class="col-xs-6 col-sm-3 col-md-3">
									{% include 'product_item_home' %}																
								</div>
								{% endfor %}							
							</div>
							<div class="tab-more row row-gutter-14 text-center">
								<a href="{{ collections[col].url }}" title="Xem thêm" class="theme-btn-sm-2">Xem thêm</a>
							</div>
						</div>
						{%endif%}
						{%endfor%}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>