<section class="organic-farm sec-space-top svg-icon">
	<div class="container rel-div">
		<div class="title-wrap">
			<h4 class="sub-title"> <span> {{ settings.sec_intro_title_2 }} </span> </h4>
			<h2 class="section-title"><strong>{{ settings.sec_intro_title }}</strong></h2>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-push-3 col-sm-12 col-sm-push-0 col-xs-12">
				<div class="img-intro">
					<img src="{{ 'intro_content_image_0.png' | asset_url }}" alt="{{ settings.sec_intro_title }}" class="img-responsive center-block" />
				</div>
			</div>
			<div class="col-md-3 col-md-pull-6 col-sm-6 col-sm-pull-0 col-xs-12">
				{% for i in (1..3) %}
				{% capture var_image %}intro_content_image_{{i}}.png{% endcapture %}
				{% capture var_name %}intro_content_title_{{i}}{% endcapture %}
				{% capture var_content %}intro_content_content_{{i}}{% endcapture %}
				{% capture var_link %}intro_content_link_{{i}}{% endcapture %}
				<div class="full-item full-item2">
					<div class="feature-wrap">
						<a href="{{ settings.[var_link] }}" title="{{ settings.[var_name] | strip_html | strip}}"><img src="{{ var_image | asset_url }}" alt="{{ settings.[var_name] | strip_html | strip}}" /></a>
						<div class="feature-wrap-contetn">
							<h3 class="title-1"><a href="{{ settings.[var_link] }}" title="{{ settings.[var_name] | strip_html | strip}}">{{ settings.[var_name] }}</a></h3>
							<p>{{ settings.[var_content] }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				{% for i in (4..6) %}
				{% capture var_image %}intro_content_image_{{i}}.png{% endcapture %}
				{% capture var_name %}intro_content_title_{{i}}{% endcapture %}
				{% capture var_content %}intro_content_content_{{i}}{% endcapture %}
				{% capture var_link %}intro_content_link_{{i}}{% endcapture %}
				<div class="full-item">
					<div class="feature-wrap">
						<a href="{{ settings.[var_link] }}" title="{{ settings.[var_name] | strip_html| strip}}"><img src="{{ var_image | asset_url }}" alt="{{ settings.[var_name] | strip_html | strip}}" /></a>
						<div class="feature-wrap-contetn">
							<h3 class="title-1"><a href="{{ settings.[var_link] }}" title="{{ settings.[var_name] | strip_html | strip}}">{{ settings.[var_name] }}</a></h3>
							<p>{{ settings.[var_content] }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
