<section class="main-slide">
	<div class="home-slider owl-carousel not-dqowl">
		{% for i in (1..3) %}
		{% capture var %}slider_{{i}}_enable{% endcapture %}
		{% capture var_link %}slider_{{i}}_url{% endcapture %}
		{% capture var_image %}slider_{{i}}.jpg{% endcapture %}
		{% capture var_name %}slider_{{i}}_text_2{% endcapture %}
		{% capture var_address %}slider_{{i}}_text_3{% endcapture %}
		{% capture var_button %}slider_{{i}}_text_4{% endcapture %}
		{% if settings.[var] %}
		<div class="item">
			<img src="{{ var_image | asset_url }}" alt="{{ settings.[var_address] }}" class="img-responsive center-block" />
			<div class="tbl-wrp slide-1">
				<div class="text-middle">
					<div class="tbl-cell">
						<div class="slide-caption container text-center">
							<div class="slide-title2 pb-50">
								<h2 class="section-title"
										{% if forloop.first == true %}
										data-animation-in="flipInY" data-animation-out="animate-out fadeOutLeft"
										{% elsif forloop.index == 2 %}
										data-animation-in="flipInY" data-animation-out="animate-out fadeOutLeft"
										{% else %}
										data-animation-in="flipInY" data-animation-out="animate-out fadeOutLeft"
										{% endif %}
										>{{ settings.[var_name] }}</h2>
								<h4 class="sub-title"
										{% if forloop.first == true %}
										data-animation-in="flipInX" data-animation-out="animate-out fadeOutLeft"
										{% elsif forloop.index == 2 %}
										data-animation-in="flipInX" data-animation-out="animate-out fadeOutLeft"
										{% else %}
										data-animation-in="flipInX" data-animation-out="animate-out fadeOutLeft"
										{% endif %}
										>{{ settings.[var_address] }}</h4>
							</div>
							<div class="slide"
									 {% if forloop.first == true %}
									 data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutLeft"
									 {% elsif forloop.index == 2 %}
									 data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutLeft"
									 {% else %}
									 data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutLeft"
									 {% endif %}
									 >
								{%if settings.[var_button].size > 0%}
								<a href="{{ settings.[var_link] }}" class="slide-btn">{{ settings.[var_button] }}</a>  
								{%endif%}							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</section>