{% if settings.blogs_aside_category_title %}
{%include 'aside-blog-category'%}
{%endif%}
{% if settings.blogs_aside_recent_enable %}
{%include 'aside-blog-recent'%}
{% endif %}
{%include 'aside-blog-tag'%}
{%if settings.article_banner_enable%}
<div class="widget-wrap">
	<div class="aside-banner">
		<img src="{{'blog_banner_image.jpg' | asset_url}}" alt=""/>
	</div>	

</div>
{%endif%}