

<!-- SHOP BY CATALOG -->
{% if settings.shop_by_catalog_enable and template contains 'collection' %}
<div id="catalog_block" data-collection={{collection.id}} class="block{% if settings.use_ajax_for_catalog_filter %} ajax-filter{% endif %}">
	{% if settings.shop_by_catalog_title != blank %}
	<h4 class="title_block">
		{{ settings.shop_by_catalog_title }}
	</h4>
	{% endif %}
	<div style="" class="block_content">
		<!-- SHOP BY SIZE -->
		{% if settings.shop_by_size_enable %}
		<div class="catalog_filters">
			{% if settings.shop_by_size_title != blank %}
			<div class="catalog_subtitle_heading">
				<span class="catalog_subtitle">{{ settings.shop_by_size_title }}</span>
			</div>
			{% endif %}
			<ul id="ul_catalog_size" class="col-md-12 catalog_filter_ul list-unstyled">
				{% assign list_size = settings.shop_by_size_list | split: ',' %}
				{% for size in list_size %}
				{% assign custom_tag = size | strip %}
				{% assign check = false %}
				{% for ct in current_tags %}
				{% if ct == custom_tag %}
				{% assign check = true %}
				{% endif %}
				{% endfor %}
				{% if check %}
				<li class="advanced-filter active-filter col-md-6" data-group="by_size" data-handle="{{ size | handleize }}">
					{{ size | link_to_remove_tag: size }}
				</li>
				{% else %}
				<li class="advanced-filter col-md-6" data-group="by_size" data-handle="{{ size | handleize }}">
					{{ size | link_to_add_tag: size }}
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		<!-- SHOP BY PRICE -->
		{% if settings.shop_by_price_enable %}
		<div class="catalog_filters">
			{% if settings.shop_by_price_title != blank %}
			<div class="catalog_subtitle_heading">
				<span class="catalog_subtitle">{{ settings.shop_by_price_title }}</span>
			</div>
			{% endif %}
			<ul id="ul_catalog_price" class="col-md-12 catalog_filter_ul list-unstyled">						
				{% assign list_price = settings.shop_by_price_list | split: ',' %}
				{% for price in list_price %}
				{% assign custom_tag = price | strip %}
				{% assign check = false %}
				{% for ct in current_tags %}
				{% if ct == custom_tag %}
				{% assign check = true %}
				{% endif %}
				{% endfor %}	
				{% if check %}		
				<li class="advanced-filter active-filter" data-group="{{ settings.shop_by_price_title }}" data-handle="{{ price }}">
					{{ price | link_to_remove_tag: price }}
				</li>
				{% else %}
				<li class="advanced-filter" data-group="{{ settings.shop_by_price_title }}" data-handle="{{ price }}">
					{{ price | link_to_add_tag: price }}
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		<!-- SHOP BY Color -->
		{% if settings.shop_by_color_enable %}
		<div class="catalog_filters">
			{% if settings.shop_by_color_title != blank %}
			<div class="catalog_subtitle_heading">
				<span class="catalog_subtitle">{{ settings.shop_by_color_title }}</span>
			</div>
			{% endif %}
			<ul id="ul_catalog_color" class="col-md-12 list-unstyled color-group">
				{% for i in (1..15) %}
				{% capture color_text %}shop_by_color_text_{{i}}{% endcapture %}
				{% capture color_image %}shop_by_color_image_{{i}}{% endcapture %}
				{% if settings[color_text] != blank %}
				{% assign custom_tag = settings[color_text] %}
				{% if current_tags contains custom_tag %}
				<li class="advanced-filter active-filter col-lg-6 col-xs-6" data-group="by_color" data-handle="{{ custom_tag | handleize }}">
					<span class="catalog_color" style="background-color:{{ settings[color_image] }}">&nbsp;</span>
					{{ settings[color_text] | link_to_remove_tag: custom_tag }}
				</li>
				{% else %}
				<li class="advanced-filter col-lg-6 col-xs-6" data-group="by_color" data-handle="{{ custom_tag | handleize }}">
					<span class="catalog_color" style="background-color:{{ settings[color_image] }}">&nbsp;</span>
					{{ settings[color_text] | link_to_add_tag: custom_tag }}
				</li>
				{% endif %}
				{% endif %}
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
</div>
{% endif %}
<!-- SHOP BY TYPE -->
{% if settings.shop_by_type_enable and template == 'collection'  %}
<div id="shopbytype" class="block">
	{% if settings.shop_by_type_title != blank %}
	<h4 class="title_block">
		{{ settings.shop_by_type_title }}
	</h4>
	{% endif %}
	<div class="block_content">
		<ul class="list-block list-unstyled">
			{% for type in collection.all_types limit:settings.shop_by_type_number %}
			<li {% if collection.current_type == type %} class="active" {% endif %}>
				{{ type | link_to_type }}
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
<!-- SHOP BY Vendor -->
{% if settings.shop_by_vendor_enable and collection.all_vendors.size > 0 %}
<div class="block">
	{% if settings.shop_by_vendor_title != blank %}
	<div class="title_block">
		{{ settings.shop_by_vendor_title }}
	</div>
	{% endif %}
	<div class="block_content">
		<ul id="ul_catalog_vendor" class="list-block list-unstyled">
			{% for vendor in collection.all_vendors limit:settings.shop_by_vendor_number %}
			{% if collection.current_vendor == vendor %}
			<li class="active" data-group="{{ settings.shop_by_vendor_title }}" data-handle="{{ collection.current_vendor | handleize }}">
				{{ vendor | link_to_vendor }}
			</li>
			{% else %}
			<li class="" data-group="{{ settings.shop_by_vendor_title }}">
				{{ vendor | link_to_vendor }}
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

<!-- SHOP BY Product tags -->
<div class="block product-tags">
	<div class="title_block">
		Product tags
	</div>
	<div class="block_content">
		<ul class="subnav clearfix">
			<li{% unless current_tags %} class="active"{% endunless %}>
				{% if collection.handle %}
				<a href="/collections/{{ collection.handle }}{% if collection.sort_by %}?sort_by={{ collection.sort_by }}{% endif %}">All</a>
				{% elsif collection.current_type %}
				<a href="{{ collection.current_type | url_for_type | sort_by: collection.sort_by }}">All</a>
				{% elsif collection.current_vendor %}
				<a href="{{ collection.current_vendor | url_for_vendor | sort_by: collection.sort_by }}">All</a>
				{% endif %}
				</li>
			{% for tag in collection.all_tags %}
			{% if current_tags contains tag %}
			<li class="active">
				{{ tag | link_to_remove_tag: tag }}
			</li>
			{% else %}
			<li>
				{{ tag | link_to_tag: tag }}
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
<style>
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/* Subnavigation styles */
.subnav { clear: both; list-style-type: none; margin: 35px 0; padding: 0; }
.subnav li { display: block; float: left; }
.subnav li a {
  display: block;
  height: 28px;
  line-height: 28px;
  padding: 0 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: #eee;
  margin: 0 7px 7px 0;
  color: #666;
}
.subnav li a:hover, .subnav li.active a {
  background: #666;
  color: #fff;
}
.product-tags ul li a {
	padding: 0 7px !important;
}
</style>


