<script>
var colName = "{{collection.title}}";
var colId = {{collection.id}};
var selectedViewData = "{% if template contains '.list' %}data_list{% else %}data{% endif %}";
</script>

<aside>
<div id="left_column" class="left_column sidebar">
{% include 'sidebar-categories' %}
{% include 'sidebar-shopby' %}
</div>
</aside>