<ul class="nav nav-right">

	<li class="your-info-item">
		<a href="tel:{{settings.store_phone}}">
			<i class="fa fa-phone" aria-hidden="true"></i>
			<span class="sub-text"><span class="hidden-xs hidden-sm">Bán hàng: </span><span class="hidden-xsm">{{settings.store_phone}}</span></span>
		</a>
	</li>
	<li class="your-info-item">
		<a href="{{settings.link_Shop_pages}}">
			<i class="fa fa-map-marker" aria-hidden="true"></i>
			<span class="sub-text hidden-xs hidden-sm">{{settings.Shop_pages}}</span><span class="sub-text hidden-small visible-phone">Showroom</span>
		</a>
	</li>

	<li class="your-info-item hidden-xs account-decktop" title="Đăng nhập">
		<a href="javascript:void(0)" class="a-users modalButton" data-popup="popupOne" title="Tài khoản">
			<i class="fa fa-user" aria-hidden="true"></i> 
		</a>

	</li>
</ul>
