{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
{% if option == swatch %}
{% assign found_option = true %}
{% assign option_index = forloop.index0 %}

{% assign downcased_option = swatch | downcase %}
{% if downcased_option contains 'màu sắc' or downcased_option contains 'màu' %}
{% assign is_color = true %}
{% endif %}
{% endif %}
{% endfor %}

{% unless found_option %}

{% else %}
<div id="variant-swatch-{{option_index }}" class="swatch swatch-product-single clearfix" data-option="option{{option_index | plus: 1 }}" data-option-index="{{ option_index }}">
	<div class="header">Chọn {{ swatch }}</div>
	<div class="select-swap">
		{% assign values = '' %}
		
		{% assign totalquantity = 0 %}
		{% assign valuesEscape = '' %}
		{% assign valuesHandle = '' %}

		{% assign startLoop = 0 %}
		{% for variant in product.variants %}

		{% assign value = variant.options[option_index] %}

		
		
		{% if is_color %}
					
			{% unless values contains value %}
				
				{% assign values = values | join: ',' %}
				{% assign values = values | append: ',' | append: value %} 
				{% assign values = values | split: ',' %} 

				{% assign totalquantity = totalquantity | plus: variant.inventory_quantity %}

				{% assign img_url = variant.image.src | img_url: 'thumb' %}

					{% assign startLoop = startLoop | plus: 1 %}

					

					<div data-value="{{ value | escape }}" class="n-sd swatch-element color {{ value | handle  }} {% if option_index == 2 %}variant-3 {%endif%} {% if product.available == false %}soldout{% else %}available{% endif %}" >
					<input class="variant-{{option_index}} input-product" id="swatch-{{ option_index }}-{{ value | handle  }}" type="radio" name="option{{ option_index | plus: 1 }}" value="{{ value | escape }}" {% if is_color %}data-img-src="{% unless img_url contains 'noDefaultImage6' %}{{ img_url }}{%endunless%}"{% endif %} {% if product.available == false %}disabled="disabled"{% endif %}/>
					<label class="{{ value | handle }} {% if img_url contains 'noDefaultImage6' %}no-thumb{% else %}has-thumb{% endif %}" for="swatch-{{ option_index }}-{{ value | handle  }}" style="{% unless img_url contains 'noDefaultImage6' %}background: url({{ img_url }}) top left no-repeat {% endunless %}" >
						<span>{{  value | escape }}</span>
						<img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
						<img class="img-check" src="{{'select-pro.png' | asset_url }}" />
					</label>

					</div>


			{% endunless %}

		{% else %}
			
			{% unless values contains value %}
				{% assign values = values | join: ',' %}
				{% assign values = values | append: ',' | append: value %} 
				{% assign values = values | split: ',' %} 

				{% assign totalquantity = totalquantity | plus: variant.inventory_quantity %}
			<div data-value="{{ value | escape }}" class="n-sd swatch-element {{ value | handle }} {% if option_index == 2 %}variant-3 {%endif%} {% if option_index == 0 %}{% if totalquantity > 0 %}available{% else %}soldout{% endif %}{% else %}{% if product.available == false %}soldout{% else %}available{% endif %}{% endif %}" >
				<input class="variant-{{option_index}} input-product" id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option{{ option_index | plus: 1 }}" value="{{ value | escape }}" {% if is_color %}data-img-src="{% unless img_url contains 'noDefaultImage6' %}{{variant.image.src | img_url: 'compact'}}{%endunless%}"{% endif %} {% if product.available == false %}disabled="disabled"{% endif %}/>
				<label for="swatch-{{ option_index }}-{{ value | handle }}" >
					{{ value }}
					<img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
					<img class="img-check" src="{{'select-pro.png' | asset_url }}" />
				</label>
			</div>

				{% assign totalquantity = variant.inventory_quantity %}
			{% endunless %}
		{% endif %}

		{% endfor %}
	</div>
</div>
{% endunless %}
