{% for tag in product.tags %}
{% assign tag_str = tag | split: '_'%}
{% assign tag_str_case = tag_str[0] | handleize %}
{% if settings.tag_promotion == tag_str_case %}
<div class="tag_promotion">
	{{tag_str[1]}}
</div>
{% endif %}
{% endfor %}