<div class="gg-translate">
<div>
	<!-- GTranslate: https://gtranslate.io/ -->
	<a href="#" onclick="doGTranslate('vi|vi');return false;" title="Vietnamese" class="gflag nturl" style="background-position:-200px -400px;">
		<img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Vietnamese">
	</a>
	<a href="#" onclick="doGTranslate('vi|en');return false;" title="English" class="gflag nturl" style="background-position:-0px -0px;">
		<img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="English">
	</a>
	<a href="#" onclick="doGTranslate('vi|th');return false;" title="Thai" class="gflag nturl" style="background-position:-0px -500px;">
		<img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Thai">
	</a>
</div>
<div id="google_translate_element2">
	<div class="skiptranslate goog-te-gadget" dir="ltr">
		<div id=":0.targetLanguage">
			<select class="goog-te-combo">
				<option value="vi">Tiếng Việt</option>
				<option value="eo">Quốc tế ngữ</option>
				<option value="ar">Tiếng Ả Rập</option>
				<option value="sq">Tiếng Albania</option>
				<option value="am">Tiếng Amharic</option>
				<option value="en">Tiếng Anh</option>
				<option value="hy">Tiếng Armenia</option>
				<option value="az">Tiếng Azerbaijan</option>
				<option value="pl">Tiếng Ba Lan</option>
				<option value="fa">Tiếng Ba Tư</option>
				<option value="xh">Tiếng Bantu</option>
				<option value="eu">Tiếng Basque</option>
				<option value="be">Tiếng Belarus</option>
				<option value="bn">Tiếng Bengal</option>
				<option value="bs">Tiếng Bosnia</option>
				<option value="pt">Tiếng Bồ Đào Nha</option>
				<option value="bg">Tiếng Bulgaria</option>
				<option value="ca">Tiếng Catalan</option>
				<option value="ceb">Tiếng Cebuano</option>
				<option value="ny">Tiếng Chichewa</option>
				<option value="co">Tiếng Corsi</option>
				<option value="ht">Tiếng Creole ở Haiti</option>
				<option value="hr">Tiếng Croatia</option>
				<option value="iw">Tiếng Do Thái</option>
				<option value="da">Tiếng Đan Mạch</option>
				<option value="de">Tiếng Đức</option>
				<option value="et">Tiếng Estonia</option>
				<option value="tl">Tiếng Filipino</option>
				<option value="fy">Tiếng Frisia</option>
				<option value="gd">Tiếng Gael Scotland</option>
				<option value="gl">Tiếng Galicia</option>
				<option value="ka">Tiếng George</option>
				<option value="gu">Tiếng Gujarat</option>
				<option value="nl">Tiếng Hà Lan</option>
				<option value="af">Tiếng Hà Lan (Nam Phi)</option>
				<option value="ko">Tiếng Hàn</option>
				<option value="ha">Tiếng Hausa</option>
				<option value="haw">Tiếng Hawaii</option>
				<option value="hi">Tiếng Hindi</option>
				<option value="hmn">Tiếng Hmong</option>
				<option value="hu">Tiếng Hungary</option>
				<option value="el">Tiếng Hy Lạp</option>
				<option value="is">Tiếng Iceland</option>
				<option value="ig">Tiếng Igbo</option>
				<option value="id">Tiếng Indonesia</option>
				<option value="ga">Tiếng Ireland</option>
				<option value="jw">Tiếng Java</option>
				<option value="kn">Tiếng Kannada</option>
				<option value="kk">Tiếng Kazakh</option>
				<option value="km">Tiếng Khmer</option>
				<option value="ku">Tiếng Kurd</option>
				<option value="ky">Tiếng Kyrgyz</option>
				<option value="lo">Tiếng Lào</option>
				<option value="la">Tiếng Latinh</option>
				<option value="lv">Tiếng Latvia</option>
				<option value="lt">Tiếng Litva</option>
				<option value="lb">Tiếng Luxembourg</option>
				<option value="ms">Tiếng Mã Lai</option>
				<option value="mk">Tiếng Macedonia</option>
				<option value="mg">Tiếng Malagasy</option>
				<option value="ml">Tiếng Malayalam</option>
				<option value="mt">Tiếng Malta</option>
				<option value="mi">Tiếng Maori</option>
				<option value="mr">Tiếng Marathi</option>
				<option value="mn">Tiếng Mông Cổ</option>
				<option value="my">Tiếng Myanmar</option>
				<option value="no">Tiếng Na Uy</option>
				<option value="ne">Tiếng Nepal</option>
				<option value="ru">Tiếng Nga</option>
				<option value="ja">Tiếng Nhật</option>
				<option value="ps">Tiếng Pashto</option>
				<option value="fr">Tiếng Pháp</option>
				<option value="fi">Tiếng Phần Lan</option>
				<option value="pa">Tiếng Punjab</option>
				<option value="ro">Tiếng Rumani</option>
				<option value="sm">Tiếng Samoa</option>
				<option value="cs">Tiếng Séc</option>
				<option value="sr">Tiếng Serbia</option>
				<option value="st">Tiếng Sesotho</option>
				<option value="sn">Tiếng Shona</option>
				<option value="sd">Tiếng Sindhi</option>
				<option value="si">Tiếng Sinhala</option>
				<option value="sk">Tiếng Slovak</option>
				<option value="sl">Tiếng Slovenia</option>
				<option value="so">Tiếng Somali</option>
				<option value="su">Tiếng Sunda</option>
				<option value="sw">Tiếng Swahili</option>
				<option value="tg">Tiếng Tajik</option>
				<option value="ta">Tiếng Tamil</option>
				<option value="es">Tiếng Tây Ban Nha</option>
				<option value="te">Tiếng Telugu</option>
				<option value="th">Tiếng Thái</option>
				<option value="tr">Tiếng Thổ Nhĩ Kỳ</option>
				<option value="sv">Tiếng Thụy Điển</option>
				<option value="zh-CN">Tiếng Trung (Giản Thể)</option>
				<option value="zh-TW">Tiếng Trung (Phồn thể)</option>
				<option value="uk">Tiếng Ukraina</option>
				<option value="ur">Tiếng Urdu</option>
				<option value="uz">Tiếng Uzbek</option>
				<option value="cy">Tiếng Xứ Wales</option>
				<option value="it">Tiếng Ý</option>
				<option value="yi">Tiếng Yiddish</option>
				<option value="yo">Tiếng Yoruba</option>
				<option value="zu">Tiếng Zulu</option>
			</select>
		</div>Được hỗ trợ bởi <span style="white-space:nowrap"><a class="goog-logo-link" href="https://translate.google.com" target="_blank"><img src="https://www.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_42x16dp.png" width="37px" height="14px" style="padding-right: 3px">Dịch</a></span></div>
</div>
<script type="text/javascript">
function googleTranslateElementInit2() {
new google.translate.TranslateElement({
pageLanguage: 'vi',
autoDisplay: false
}, 'google_translate_element2');
}
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>
<script type="text/javascript">
	/* <![CDATA[ */
eval(function(p, a, c, k, e, r) {
e = function(c) {
return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36))
};
if (!''.replace(/^/, String)) {
while (c--) r[e(c)] = k[c] || e(c);
k = [function(e) {
return r[e]
}];
e = function() {
return '\\w+'
};
c = 1
};
while (c--)
if (k[c]) p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]);
return p
}('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}', 43, 43, '||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'), 0, {}))
/* ]]> */
</script>
</div>


<style>
	a.gflag {
		vertical-align: middle;
		font-size: 24px;
		background-repeat: no-repeat;
		background-image: url(//gtranslate.net/flags/24.png);
	}
	a.gflag img {border: 0;}
	a.gflag:hover {background-image: url(//gtranslate.net/flags/24a.png);}
	#goog-gt-tt {display: none !important;}
	.goog-te-banner-frame {display: none !important;}
  .goog-te-menu-value:hover {text-decoration: none !important;}
	body {top: 0 !important;}
	#google_translate_element2 {display: none!important;}

</style>