
<form id="searchauto" action="/search" class="input-group search-bar search_form searchform-categoris ultimate-search">

	<div class="wpo-search">
		<div class="wpo-search-inner">
			<div class="input-group">
				<input type="hidden" name="type" value="product" />
				<input id="searchtext" name="q" id="s" maxlength="40" class="input-group-field st-default-search-input search-text form-control input-search" type="text" size="20" placeholder="{{ 'general.search.placeholder' | t }}">
				<span class="input-group-addon input-group-btn">
					<button type="submit" id="searchsubmit" class="btn">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</div>
		<input type="hidden" class="collection_id" value="(collectionid:product>=0)" />
		<input type="hidden" class="collection_handle" value="all" />
		<input type="hidden" class="collection_name" value="all" />

	</div>

</form>




<script>
function selectSuggest(r){return cur=$(".smart-search-wrapper > .select").index(),length=$(".smart-search-wrapper > a").length,38==r&&(-1==cur||0==cur?cur=length-1:cur-=1),40==r&&(-1==cur||cur==length-1?cur=0:cur+=1),$(".smart-search-wrapper>a").removeClass("select"),$(".smart-search-wrapper>a:nth-child("+(cur+1)+")").addClass("select"),$(".ultimate-search input[name=q]").val($(".smart-search-wrapper>.select").attr("data-title")),!1}$(".ultimate-search").submit(function(r){r.preventDefault();var e=$(this).find("input[name=q]").val();return e?void(window.location="/search?type=product&q="+e):void(window.location="/search?type=product&q=**")}),function(r){r.fn.smartSearch=function(e){var a,t=!1,s=null,c={smartoffset:!0,searchoperator:"**",searchfield:"title",searchwhen:"keyup",searchdelay:500};void 0!==e&&r.each(e,function(r,a){void 0!==e[r]&&(c[r]=e[r])}),(a=r(this)).attr("autocomplete","off"),this.bind(c.searchwhen,function(e){if(38==e.keyCode||40==e.keyCode)return selectSuggest(e.keyCode);r(".smart-search-wrapper."+c.wrapper).remove(),clearTimeout(s),s=setTimeout(p,c.searchdelay,r(this).val())});var p=function(e){if(t)return this;t=!0,coll="",null!=c.collection&&(coll=r(c.collection).val()+"&&"),r.ajax({url:"/search?q=filter=("+coll+"("+c.searchfield+":product"+c.searchoperator+e+"))&view=ultimate-search",dataType:"JSON",async:!1,success:function(e){0==r(".smart-search-wrapper."+c.wrapper).length&&r("body").append("<div class='smart-search-wrapper "+c.wrapper+"'></div>"),o(),r.each(e,function(e,a){r(".smart-search-wrapper."+c.wrapper).append("<a data-title='"+a.title+"'class='thumbs' href='"+a.url+"'> <img src='"+Haravan.resizeImage(a.featured_image,"icon")+"'/></a><a data-title='"+a.title+"' href='"+a.url+"'>"+a.title+"<span class='price-search'>"+Haravan.formatMoney(a.price,"{{amount}}")+"đ</span></a>")}),t=!1},error:function(r,e,a){}})};r(window).resize(function(){o()}),r(window).scroll(function(){o()}),r(this).blur(function(){r(".smart-search-wrapper."+c.wrapper).slideUp()});var o=function(){a.offset()&&(r(".smart-search-wrapper."+c.wrapper).css("width",a.outerWidth()+"px"),r(".smart-search-wrapper."+c.wrapper).css("left",a.offset().left+"px"),c.smartoffset?(h=r(".smart-search-wrapper."+c.wrapper).height(),h+a.offset().top-r(window).scrollTop()+a.outerHeight()>r(window).height()?(r(".smart-search-wrapper."+c.wrapper).css("top",""),r(".smart-search-wrapper."+c.wrapper).css("bottom",r(window).scrollTop()+r(window).height()-a.offset().top+"px")):(r(".smart-search-wrapper."+c.wrapper).css("bottom",""),r(".smart-search-wrapper."+c.wrapper).css("top",a.offset().top-r(window).scrollTop()+a.outerHeight()+"px"))):r(".smart-search-wrapper."+c.wrapper).css("top",a.offset().top-r(window).scrollTop()+a.outerHeight()+"px"))};return this}}(jQuery),jQuery(".ultimate-search input[name=q]").smartSearch({searchdelay:400,wrapper:"search-wrapper",collection:".collection_id"});
</script>


<style>
	.smart-search-wrapper>a.thumbs{width:32px;display:inline-block;padding:5px 0}.smart-search-wrapper>a.thumbs img{position:absolute;top:0;width:32px;height:35px;left:0}.smart-search-wrapper{position:fixed;background:#fff;border:1px solid #d7d7d7;border-top:none;z-index:999}.smart-search-wrapper>a{width:calc(100% - 32px);float:left;text-overflow:ellipsis;overflow:hidden;white-space:pre;color:#686767;text-decoration:none;line-height:29px;font-size:13px;font-family:sans-serif;padding:5px 160px 5px 5px;position:relative;height:35px}.smart-search-wrapper>a.select,.smart-search-wrapper>a:hover{background:-webkit-linear-gradient(left,#fff,#eaeaea);background:-o-linear-gradient(left,#fff,#eaeaea);background:-moz-linear-gradient(left,#fff,#eaeaea);background:linear-gradient(left,#fff,#eaeaea);color:#000}.smart-search-wrapper>a>span.price-search{position:absolute;right:5px;top:0}
</style>