<form id="searchauto_stick" action="/search" class="input-group search-bar search_form searchform-categoris ultimate-search">

	<div class="wpo-search">
		<div class="wpo-search-inner">
			<div class="input-group">
				<input type="hidden" name="type" value="product" />
				<input id="searchtext_stick" name="q" id="s" maxlength="40" class="input-group-field st-default-search-input search-text form-control input-search" type="text" size="20" placeholder="{{ 'general.search.placeholder' | t }}">
				<span class="input-group-addon input-group-btn">
					<button type="submit" id="searchsubmit_stick" class="btn">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</div>
		<input type="hidden" class="collection_id" value="(collectionid:product>=0)" />
		<input type="hidden" class="collection_handle" value="all" />
		<input type="hidden" class="collection_name" value="all" />

	</div>

</form>
