/***********************************************************************/
// some basic colors
$white:			 				    #FFFFFF; 
$black:							    #000000;
$blue:                              #6087D2;  // Skin blue
$wild-sand:                         #ffffff;  
$silver:                            #f5f5f5;  
$red:            					#ff0000;
$red-light:            				#ff9999;
$yellow-light:           			#ffdc73;
$nocolor:							transparent;

// Variables paths 
// ========================================================================
$font-family:						 {{ settings.theme_font_family | remove: 'Google+' | replace: '+', ' ' }};
$font-family-tertiary  :             {{ settings.theme_font_family_tertiary | remove: 'Google+' | replace: '+', ' ' }};		// font for menu
$font-family-septenary : 			 {{ settings.theme_font_family_septenary | remove: 'Google+' | replace: '+', ' ' }}; 		// font for slideshow
$font-family-senary    : 		 	 {{ settings.theme_font_family_senary | remove: 'Google+' | replace: '+', ' ' }};		// font for Price
$font-icon 	   		   : 			 "FontAwesome";

$theme-font-size: 					{{ settings.theme_font_size }}px;
$theme-font-size-medium: 			18px;
//////////////////// Variables defined for Themes + Skins //////////////// 
$theme-color:                    {{ settings.theme_color_default }};
$theme-color-default: 			    {{ settings.theme_color_primary }};
$theme-color-secondary:				{{ settings.theme_color_secondary }};
$theme-color-tertiary:              {{ settings.theme_color_tertiary }};
$theme-color-four:					{{ settings.theme_color_four }};

$theme-bg-color:					{{ settings.theme_color_body_bg }};

$theme-text-color:					{{ settings.theme_text_color_primary }};
$theme-text-color-secondary:		{{ settings.theme_text_color_secondary }};
$theme-text-color-tertiary:			{{ settings.theme_text_color_tertiary }};
$theme-text-banner-color:			{{ settings.theme_text_color_banner }};

//-------- BORDERS
$border-color:						{{ settings.theme_color_borders }};
$main-border:						1px solid $border-color;
$main-border-hover:                 1px solid $theme-color-secondary;

//--------- BUTTON
$theme-button-one-color:      {{ settings.theme_text_color_buttonone }};
$theme-button-one-bg:       {{ settings.theme_bg_color_buttonone }};
$theme-button-one-border:     {{ settings.theme_border_color_buttonone }};
$theme-button-one-hover-color:    {{ settings.theme_text_color_buttonone_hover }};
$theme-button-one-hover-bg:     {{ settings.theme_bg_color_buttonone_hover }};
$theme-button-one-hover-border:   {{ settings.theme_border_color_buttonone_hover }};
$theme-button-two-color:      {{ settings.theme_text_color_buttontwo }};
$theme-button-two-bg:       {{ settings.theme_bg_color_buttontwo }};
$theme-button-two-border:     {{ settings.theme_border_color_buttontwo }};
$theme-button-two-hover-color:    {{ settings.theme_text_color_buttontwo_hover }};
$theme-button-two-hover-bg:     {{ settings.theme_bg_color_buttontwo_hover }};
$theme-button-two-hover-border:   {{ settings.theme_border_color_buttontwo_hover }};

//--------- BACKGROUNDS
$dark-background:                   $black;
$light-background:                  $white;

@mixin inline-block(){
	display: inline-block;
	vertical-align: middle;
}

/* Chờ setup sau */

.align-middle{
	-ms-flex-align:center !important;
	align-items:center !important;
	-ms-flex-item-align:center !important;
	-ms-grid-row-align:center !important;
	align-self:center !important;
	vertical-align:middle !important
}
.align-bottom{
	-ms-flex-pack:end !important;
	justify-content:flex-end !important;
	-ms-flex-align:end !important;
	align-items:flex-end !important;
	-ms-flex-item-align:end !important;
	align-self:flex-end !important;
	vertical-align:bottom !important
}
.align-top{-ms-flex-pack:start !important;
	justify-content:flex-start !important;
	-ms-flex-align:start !important;
	align-items:flex-start !important;
	-ms-flex-item-align:start !important;
	align-self:flex-start !important;
	vertical-align:top !important
}
.align-center{
	-ms-flex-pack:center !important;
	justify-content:center !important
}
.align-right{
	-ms-flex-pack:end !important;
	justify-content:flex-end !important
}


.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.text-center>div,
.text-center>div>div,
.text-center .is-divider,
.text-center .star-rating,
.text-center .is-star-rating {
	margin-left: auto;
	margin-right: auto
}

.text-center .pull-right,
.text-center .pull-left {
	float: none
}

.text-right>div,
.text-right>div>div,
.text-right .is-divider,
.text-right .star-rating,
.text-right .is-star-rating {
	margin-left: auto;
	margin-right: 0
}
.text-center .button:first-of-type {
	margin-left: 0 !important
}

.text-right .button:last-of-type,
.text-center .button:last-of-type {
	margin-right: 0 !important
}

header .header_search {
		//max-width:800px;
    width: 80%;
    background: transparent;
    border-bottom: 0 none;
    overflow: hidden;
    -webkit-transition: all 0.35s ease-out 0s;
    transition: all 0.35s ease-out 0s;
    z-index: 9;
		padding-right: 10px;
    float: right;
}

header .header_search input {
	width: 90%;
	height: 100%;
	float: right;
	display: inline-block;
	background: #ccc;
	min-height: 35px;
	font-size: 15px;
	border: none;
	color: #000000;
	border-radius: 25px;
	font-weight:100;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
button.btn.icon-fallback-text {
    background: none;
    font-size: 0px;
    margin-left: -30px !important;
    z-index: 999;
    height: 35px;
    width: 35px;
    line-height: 30px;
    text-align: center;
}
button.btn.icon-fallback-text:after {
    content: '\f002';
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: 20px;
    color: #333;
    position: absolute;
    right: 20px;
    top: 0px;
}
.input-group-btn > .btn {
    position: relative;
}
.header_search .input-group .input-group-field {
    border-radius: 25px !important;
    height: 35px;
}
.container {
	max-width:1375px;
	width: 100%;
}
header .top-bar a {
    color: #ffffff;
}
header .your-info-item .sub-text {
    font-size: 14px;
    margin-left: 5px;
    font-weight: 600;
}
header .your-info-item i.fa {
    font-size: 20px;
    color: #333;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #ccc;
    border-radius: 50%;
}
header .translate-top {padding-right: 30px;}

.main-logo img {
    max-height: 80px;
    padding: 10px 0;
}
.sticky .main-logo img {
    max-height: 65px !important;
}
header .flex-row {
    height: 100%;
}

.container{
	position: relative;
}
.flex-row {
	-js-display: flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%
}

.flex-row-start {
	-ms-flex-pack: start;
	justify-content: flex-start
}

.flex-row-center {
	-ms-flex-pack: center;
	justify-content: center
}

.flex-row-col {
	-js-display: flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: start;
	justify-content: flex-start
}

.text-center .flex-row {
	-ms-flex-pack: center;
	justify-content: center
}

.header .flex-row {
	height: 100%
}

.flex-col {
	max-height: 100%
}

.flex-grow {
	-ms-flex: 1;
	flex: 1;
	-ms-flex-negative: 1;
	-ms-flex-preferred-size: auto !important
}

.flex-center {
	margin: 0 auto
}

.flex-left {
	margin-right: auto
}

.flex-right {
	margin-left: auto
}

.flex-wrap {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}
.flex-grow-2{
    -ms-flex: 2;
    flex: 2;
    -ms-flex-negative: 2;
    -ms-flex-preferred-size: auto !important;
}


.hidden{
    display: none !important;
	}
@media (max-width: 410px){
	.hidden-small {
    display: none !important;
	}
}
@media (max-width: 480px){
	.hidden-phone {
    display: none !important;
	}
}
@media (min-width: 481px){
	.visible-phone {
    display: none !important;
	}
}
@media (max-width: 768px){
	.hidden-xs {
    display: none !important;
	}
	.top-bar a {
    color: #000000;
	}
	.main-logo.medium-logo-center {
		margin: auto;
	}
	
}
@media (max-width: 991px) and (min-width: 481px){
	.hidden-xsm {
    display: none !important;
	}
}
@media (max-width: 1023px){
	.flex-col.logo {
    -ms-flex: 1;
    flex: 1;
    -ms-flex-negative: 1;
    -ms-flex-preferred-size: auto !important;
	}
	
}
@media (max-width: 991px) and (min-width: 768px){
	//.hidden-sm {
  //  display: none !important;
	//}
}
@media (max-width: 1199px) and (min-width: 1024px){
	.hidden-tablet {
    display: none !important;
	}
	.visible-tablet {
			display: block!important;
	}
}
@media (max-width: 1199px){
	.primary-navbar {
    text-align: center;
	}
	.primary-navbar > li {
		padding-left: 6px;
	}
}
@media (min-width: 992px){
	header .menu-canvas {
    display: none;
	}
}
@media (min-width: 1200){
	//.hidden-lg, .hidden-desktop {
  //  display: none !important;
	//}
}
.main-logo.medium-logo-center {
	display: grid;
}
header {
	.main-nav-border.sticky {
		.hide-on-stick{
			display:none!important;
		}
		.visible-on-stick{
			display: inline;
		}
		.desktop-cart-wrapper {
			top: 6px;
		}
	}
	.main-nav-border:not(.sticky) {
		.visible-on-stick{
			display:none!important;
		}
	}
	
	.your-info-item {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 10px;

		i.fa img {
			width: 16px;
			margin-top: -3px;
		}
	}

	#searchauto { 
		float:right; 
		width: 90%;
		padding-right: 20px;
	}
}
.desktop-cart-wrapper {
    position: relative;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
		width: 52px
}
.your-info-item > span.hd-cart-count, .desktop-cart-wrapper > span.hd-cart-count {
    display: inline-block;
    line-height: 16px;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #333333;
    color: #fff;
    font-size: 10px;
    text-align: center;
}
.your-info-item > span.hd-cart-count{right: -5px;}

.nav>li.your-info-item>a:hover {
    background-color: transparent;
}

 .desktop-cart-wrapper > span.hd-cart-count {
	 right: 0;
	 top: 0;
 }

.desktop-cart-wrapper > .hd-cart-text {
    color: #333;
    line-height: 1;
    font-size: 12px;
    margin-top: 5px;
}

.menu-canvas {
    padding-right: 30px;
    font-size: 20px;
}

#primary-navigation {padding-left:30px;}

.input-group-btn{
	button.btn .fa-search { font-size:20px;}
}

.search-top {
	input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
    min-height: 35px;
	}
}
.megamenu {
	max-width:350px; 
	width:220px;
}
.mobile-button button .fa-bars {
	font-size:26px;
}
.navbar-toggle-tablet {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}


/* banner module */
.text-container {
    width: 31.6666666667%;
    max-height: 254px;
    height: 254px;
}
a.banner-right {
    display: inline-block;
    width: 68.3333333333%;
}


/* blog trang chủ */
.col-lg-7 .owl-carousel .owl-stage-outer {
    max-height: 428px;
}
.col-lg-5 .blogs-right .item {
   max-height: 136px;
	img {
		max-height: 100%;
	}
}
section.naturix-goods.sec-blogs .blog-item .news-caption {
	top: 300px;
	bottom: unset;
}
.latest-news .news-img a{
	max-height: 136px;
}
.container .row{
    margin-right: unset;
    margin-left: unset;
    width: 100%;
}
.prod-tag.tag-1{
color: #fff;
}


/* col global */
@media (max-width: 479px){

.line-support > ul > li {
	text-align: center;
	border-right: unset;
	width: 100%;
	padding: 10px 5px;
	ul.list {
		text-align: center;
	}
}

.support-item {
    text-align: center;
}

.col-mb-1, .col-mb-2, .col-mb-3, .col-mb-4, .col-mb-5, .col-mb-6, .col-mb-7, .col-mb-8, .col-mb-9, .col-mb-10, .col-mb-11, .col-mb-12 {
    float: left; }
	.col-mb-1 {
		width: 8.33333%; }

	.col-mb-2 {
		width: 16.66667%; }

	.col-mb-3 {
		width: 25%; }

	.col-mb-4 {
		width: 33.33333%; }

	.col-mb-5 {
		width: 41.66667%; }

	.col-mb-6 {
		width: 50%; }

	.col-mb-7 {
		width: 58.33333%; }

	.col-mb-8 {
		width: 66.66667%; }

	.col-mb-9 {
		width: 75%; }

	.col-mb-10 {
		width: 83.33333%; }

	.col-mb-11 {
		width: 91.66667%; }

	.col-mb-12 {
		width: 100%; }

	.col-mb-pull-0 {
		right: 0%; }

	.col-mb-pull-1 {
		right: 8.33333%; }

	.col-mb-pull-2 {
		right: 16.66667%; }

	.col-mb-pull-3 {
		right: 25%; }

	.col-mb-pull-4 {
		right: 33.33333%; }

	.col-mb-pull-5 {
		right: 41.66667%; }

	.col-mb-pull-6 {
		right: 50%; }

	.col-mb-pull-7 {
		right: 58.33333%; }

	.col-mb-pull-8 {
		right: 66.66667%; }

	.col-mb-pull-9 {
		right: 75%; }

	.col-mb-pull-10 {
		right: 83.33333%; }

	.col-mb-pull-11 {
		right: 91.66667%; }

	.col-mb-pull-12 {
		right: 100%; }

	.col-mb-push-0 {
		left: 0%; }

	.col-mb-push-1 {
		left: 8.33333%; }

	.col-mb-push-2 {
		left: 16.66667%; }

	.col-mb-push-3 {
		left: 25%; }

	.col-mb-push-4 {
		left: 33.33333%; }

	.col-mb-push-5 {
		left: 41.66667%; }

	.col-mb-push-6 {
		left: 50%; }

	.col-mb-push-7 {
		left: 58.33333%; }

	.col-mb-push-8 {
		left: 66.66667%; }

	.col-mb-push-9 {
		left: 75%; }

	.col-mb-push-10 {
		left: 83.33333%; }

	.col-mb-push-11 {
		left: 91.66667%; }

	.col-mb-push-12 {
		left: 100%; }

	.col-mb-offset-0 {
		margin-left: 0%; }

	.col-mb-offset-1 {
		margin-left: 8.33333%; }

	.col-mb-offset-2 {
		margin-left: 16.66667%; }

	.col-mb-offset-3 {
		margin-left: 25%; }

	.col-mb-offset-4 {
		margin-left: 33.33333%; }

	.col-mb-offset-5 {
		margin-left: 41.66667%; }

	.col-mb-offset-6 {
		margin-left: 50%; }

	.col-mb-offset-7 {
		margin-left: 58.33333%; }

	.col-mb-offset-8 {
		margin-left: 66.66667%; }

	.col-mb-offset-9 {
		margin-left: 75%; }

	.col-mb-offset-10 {
		margin-left: 83.33333%; }

	.col-mb-offset-11 {
		margin-left: 91.66667%; }

	.col-mb-offset-12 {
		margin-left: 100%; }
}
@media (max-width: 767px) and (min-width: 480px){
.support-item {
    text-align: center;
}
	.col-tb-1, .col-tb-2, .col-tb-3, .col-tb-4, .col-tb-5, .col-tb-6, .col-tb-7, .col-tb-8, .col-tb-9, .col-tb-10, .col-tb-11, .col-tb-12 {
    float: left; }
	.col-tb-1 {
		width: 8.33333%; }

	.col-tb-2 {
		width: 16.66667%; }

	.col-tb-3 {
		width: 25%; }

	.col-tb-4 {
		width: 33.33333%; }

	.col-tb-5 {
		width: 41.66667%; }

	.col-tb-6 {
		width: 50%; }

	.col-tb-7 {
		width: 58.33333%; }

	.col-tb-8 {
		width: 66.66667%; }

	.col-tb-9 {
		width: 75%; }

	.col-tb-10 {
		width: 83.33333%; }

	.col-tb-11 {
		width: 91.66667%; }

	.col-tb-12 {
		width: 100%; }

	.col-tb-pull-0 {
		right: 0%; }

	.col-tb-pull-1 {
		right: 8.33333%; }

	.col-tb-pull-2 {
		right: 16.66667%; }

	.col-tb-pull-3 {
		right: 25%; }

	.col-tb-pull-4 {
		right: 33.33333%; }

	.col-tb-pull-5 {
		right: 41.66667%; }

	.col-tb-pull-6 {
		right: 50%; }

	.col-tb-pull-7 {
		right: 58.33333%; }

	.col-tb-pull-8 {
		right: 66.66667%; }

	.col-tb-pull-9 {
		right: 75%; }

	.col-tb-pull-10 {
		right: 83.33333%; }

	.col-tb-pull-11 {
		right: 91.66667%; }

	.col-tb-pull-12 {
		right: 100%; }

	.col-tb-push-0 {
		left: 0%; }

	.col-tb-push-1 {
		left: 8.33333%; }

	.col-tb-push-2 {
		left: 16.66667%; }

	.col-tb-push-3 {
		left: 25%; }

	.col-tb-push-4 {
		left: 33.33333%; }

	.col-tb-push-5 {
		left: 41.66667%; }

	.col-tb-push-6 {
		left: 50%; }

	.col-tb-push-7 {
		left: 58.33333%; }

	.col-tb-push-8 {
		left: 66.66667%; }

	.col-tb-push-9 {
		left: 75%; }

	.col-tb-push-10 {
		left: 83.33333%; }

	.col-tb-push-11 {
		left: 91.66667%; }

	.col-tb-push-12 {
		left: 100%; }

	.col-tb-offset-0 {
		margin-left: 0%; }

	.col-tb-offset-1 {
		margin-left: 8.33333%; }

	.col-tb-offset-2 {
		margin-left: 16.66667%; }

	.col-tb-offset-3 {
		margin-left: 25%; }

	.col-tb-offset-4 {
		margin-left: 33.33333%; }

	.col-tb-offset-5 {
		margin-left: 41.66667%; }

	.col-tb-offset-6 {
		margin-left: 50%; }

	.col-tb-offset-7 {
		margin-left: 58.33333%; }

	.col-tb-offset-8 {
		margin-left: 66.66667%; }

	.col-tb-offset-9 {
		margin-left: 75%; }

	.col-tb-offset-10 {
		margin-left: 83.33333%; }

	.col-tb-offset-11 {
		margin-left: 91.66667%; }

	.col-tb-offset-12 {
		margin-left: 100%; }
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: 0%; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: 0%; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (max-width: 991px) and (min-width: 768px){
	.line-support > ul > li {
		display: inline-block;
		text-align: center;
		width: 50%;
		float: left;
		padding: 10px 5px;
	}
	.support-item {
		text-align: center;
	}
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: 0%; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: 0%; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: 0%; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: 0%; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

.col-xs-2-4,
.col-xs-4-8,
.col-xs-7-2,
.col-xs-9-6,
.col-sm-2-4,
.col-sm-4-8,
.col-sm-7-2,
.col-sm-9-6,
.col-md-2-4,
.col-md-4-8,
.col-md-7-2,
.col-md-9-6,
.col-lg-2-4,
.col-lg-4-8,
.col-lg-7-2,
.col-lg-9-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

@media (max-width: 480px) {
	.small-columns-1>.col{
		max-width: 100%;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	}
.small-columns-4>.col{
		max-width: 25%;
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
	}
.small-columns-2>.col{
		max-width: 50%;
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
	}
.small-columns-3>.col{
		max-width: 33.666667%;
		-ms-flex-preferred-size: 33.666667%;
		flex-basis: 33.666667%;
	}

  .col-sp-2-4, .col-sp-4-8,
  .col-sp-7-2, .col-sp-9-6 {
    float: left; }
  .hidden-sp {
    display: none !important; }
  .col-sp-1, .col-sp-2, .col-sp-3, .col-sp-4, .col-sp-5, .col-sp-6, .col-sp-7, .col-sp-8, .col-sp-9, .col-sp-10, .col-sp-11, .col-sp-12 {
    float: left; }
  .col-sp-1 {
    width: 8.33333%; }
  .col-sp-2 {
    width: 16.66667%; }
  .col-sp-3 {
    width: 25%; }
  .col-sp-4 {
    width: 33.33333%; }
  .col-sp-5 {
    width: 41.66667%; }
  .col-sp-6 {
    width: 50%; }
  .col-sp-7 {
    width: 58.33333%; }
  .col-sp-8 {
    width: 66.66667%; }
  .col-sp-9 {
    width: 75%; }
  .col-sp-10 {
    width: 83.33333%; }
  .col-sp-11 {
    width: 91.66667%; }
  .col-sp-12 {
    width: 100%; }
  .col-sp-pull-0 {
    right: 0%; }
  .col-sp-pull-1 {
    right: 8.33333%; }
  .col-sp-pull-2 {
    right: 16.66667%; }
  .col-sp-pull-3 {
    right: 25%; }
  .col-sp-pull-4 {
    right: 33.33333%; }
  .col-sp-pull-5 {
    right: 41.66667%; }
  .col-sp-pull-6 {
    right: 50%; }
  .col-sp-pull-7 {
    right: 58.33333%; }
  .col-sp-pull-8 {
    right: 66.66667%; }
  .col-sp-pull-9 {
    right: 75%; }
  .col-sp-pull-10 {
    right: 83.33333%; }
  .col-sp-pull-11 {
    right: 91.66667%; }
  .col-sp-pull-12 {
    right: 100%; }
  .col-sp-push-0 {
    left: 0%; }
  .col-sp-push-1 {
    left: 8.33333%; }
  .col-sp-push-2 {
    left: 16.66667%; }
  .col-sp-push-3 {
    left: 25%; }
  .col-sp-push-4 {
    left: 33.33333%; }
  .col-sp-push-5 {
    left: 41.66667%; }
  .col-sp-push-6 {
    left: 50%; }
  .col-sp-push-7 {
    left: 58.33333%; }
  .col-sp-push-8 {
    left: 66.66667%; }
  .col-sp-push-9 {
    left: 75%; }
  .col-sp-push-10 {
    left: 83.33333%; }
  .col-sp-push-11 {
    left: 91.66667%; }
  .col-sp-push-12 {
    left: 100%; }
  .col-sp-offset-0 {
    margin-left: 0%; }
  .col-sp-offset-1 {
    margin-left: 8.33333%; }
  .col-sp-offset-2 {
    margin-left: 16.66667%; }
  .col-sp-offset-3 {
    margin-left: 25%; }
  .col-sp-offset-4 {
    margin-left: 33.33333%; }
  .col-sp-offset-5 {
    margin-left: 41.66667%; }
  .col-sp-offset-6 {
    margin-left: 50%; }
  .col-sp-offset-7 {
    margin-left: 58.33333%; }
  .col-sp-offset-8 {
    margin-left: 66.66667%; }
  .col-sp-offset-9 {
    margin-left: 75%; }
  .col-sp-offset-10 {
    margin-left: 83.33333%; }
  .col-sp-offset-11 {
    margin-left: 91.66667%; }
  .col-sp-offset-12 {
    margin-left: 100%; }
  .col-sp-7-2 {
    width: 60%; }
  .col-sp-4-8 {
    width: 40%; }
  .col-sp-2-4 {
    width: 20%; }
  .col-sp-9-6 {
    width: 80%; } 

}

@media (max-width: 768px) and (min-width: 481px) {
.medium-columns-1>.col{
		max-width: 100%;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	}
.medium-columns-4>.col{
		max-width: 25%;
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
	}
.medium-columns-2>.col{
		max-width: 50%;
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
	}
.medium-columns-3>.col{
		max-width: 33.666667%;
		-ms-flex-preferred-size: 33.666667%;
		flex-basis: 33.666667%;
	}
  .col-xs-2-4, .col-xs-4-8,
  .col-xs-7-2, .col-xs-9-6 {
    float: left; }
  .col-xs-2-4 {
    width: 20%; }
  .col-xs-4-8 {
    width: 40%; }
  .col-xs-7-2 {
    width: 60%; }
  .col-xs-9-6 {
    width: 80%; }
}

@media (min-width: 768px) {
  .col-sm-2-4, .col-sm-4-8,
  .col-sm-7-2, .col-sm-9-6 {
    float: left; }
  .col-sm-2-4 {
    width: 20%; }
  .col-sm-4-8 {
    width: 40%; }
  .col-sm-7-2 {
    width: 60%; }
  .col-sm-9-6 {
    width: 80%; } }

@media (min-width: 992px) {
  .col-md-2-4, .col-md-4-8,
  .col-md-7-2, .col-md-9-6 {
    float: left; }
  .col-md-2-4 {
    width: 20%; }
  .col-md-4-8 {
    width: 40%; }
  .col-md-7-2 {
    width: 60%; }
  .col-md-9-6 {
    width: 80%; } }

//========== Social Sharing Product ==========//
.socialsharing_product{
	ul{
		li{
			@include inline-block();
			.btn{
				padding: 7px 4px;
				border: 3px double $border-color;
				border-radius: 0px;
				color: $theme-text-color;
				font-size:$theme-font-size - 2;
			}
			.btn-twitter{
				i{color: #00AAF0;}
				&:hover{
					background-color: #00AAF0;
					color: $white;
					i{color: $white;}
				}
			}
			.btn-facebook{
				i{color: #435F9F;}
				&:hover{
					background-color: #435F9F;
					color: $white;
					i{color: $white;}
				}
			}
			.btn-google-plus{
				i{color: #E04B34;}
				&:hover{
					background-color: #E04B34;
					color: $white;
					i{color: $white;}
				}
			}
			.btn-linkedin{
				i{color: #435F9F;}
				&:hover{
					background-color: #435F9F;
					color: $white;
					i{color: $white;}
				}
			}
			.btn-pinterest{
				i{color: #CE1F21;}
				&:hover{
					background-color: #CE1F21;
					color: $white;
					i{color: $white;}
				}
			}
		}
	}
}

@media screen and (min-width: 850px){
.large-columns-1>.col{
		max-width: 100%;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	}
.large-columns-4>.col{
		max-width: 25%;
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
	}
.large-columns-2>.col{
		max-width: 50%;
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
	}
.large-columns-3>.col{
		max-width: 33.666667%;
		-ms-flex-preferred-size: 33.666667%;
		flex-basis: 33.666667%;
	}
}

.grid-row {
	-js-display: grid;
	display: grid;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
grid-template-columns: 50% 50%;

}

.blog-feature, .blog-fis {
padding: 20px;
}


/*filter sidebar */
.sidebar {
	.block {
		//margin-bottom: 15px;
		float: unset;
		.title_block {
			background: #000000;
			font-size: 18px;
			margin-bottom: 15px;
			font-weight: 100;
			color: #FFFFFF;
			text-align: center;
			line-height: 30px;
			position: relative;
			text-transform: uppercase;
			font-family: Roboto;
			padding: 10px;
			letter-spacing: 1px;
			border: none;
			margin: 0;
		}
		.block_content {
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			-ms-border-radius: 0px;
			-o-border-radius: 0px;
			border-radius: 0px;
			padding: 15px 0px 10px 10px;
			border: none;
			background: #FFFFFF;
			&:after {
				clear: both;
			}
			&:before, &:after {
				content: " ";
				display: table;
			}
		}
		ul {
			margin: 0;
			li {
				position: relative;
				a {
					font-family: Roboto;
					color: #000000;
					text-transform: uppercase;
					display: block;
					font-size: 14px;
					padding: 10px 15px;
					&:hover {
						color: #000000;
					}
				}
			}
		}
		.color-group {
			> li {
				&.active-filter {
					.catalog_color {
						border: solid 2px #FF0000
					}
					a {
						font-weight: 800;
						
					}
				}
				.catalog_color {
					height: 24px;
					width: 24px;
					padding: 0px;
					border: 1px solid #666;
					float: left;
					margin-top: 5px;
				}
				input {
					display: none;
				}
				a {
					display: inline-block;
					vertical-align: middle;
					font-size: 12px;
					
				}

			}
		}
	}
}
@media (max-width: 768px){
	.sidebar .block {
		padding: unset;
	}
}
#categories_block {
	.block_content ul li a {
		color: #000000;
		border: 1px solid #ffffff;
		margin-bottom: 15px;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		padding: 15px 0 15px 30px;
	}
	
}
#catalog_block {
	.catalog_subtitle {
		font-weight: bold;
		color: #000000;
	}
	.advanced-filter {
		padding-left: 0px;
		padding-right: 0px;
	}
}
.catalog_filter_ul {
	padding: 0px 15px;
	> li {
		&.active-filter a:before {
			content: "\f046";
		}
		input {
			display: none;
		}
		a {
			position: relative;
			line-height: 18px;
			&:before {
				position: absolute;
				content: "\f096";
				top: 10px;
				left: 0px;
				font-family: FontAwesome;
				font-size: 14px;
				color: #000000;
			}
			&:hover:before {
				content: "\f046";
			}
		}
	}
}
.list-group {
    margin-bottom: 20px;
    padding-left: 0;
}
.list-unstyled, .list-inline {
    //padding-left: 0;
    list-style: none;
}

@media (max-width: 768px){
	#left_column {
		width: 300px;
    z-index: 9999;
    background: #31373d;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-overflow-scrolling: touch;
	}
	.filterBar {
		border-bottom: 0;
		margin-bottom: 20px;
		padding-bottom: 15px;
		position: absolute;
		width: 32%;
		left: 15px;
		z-index: 999;
		top: -50px;
		button, a {
			padding: 9px 10px;
			margin-top: 8px;
			margin-right: 15px;
			margin-bottom: 8px;
			background-color: transparent;
			background-image: none;
			border: 1px solid transparent;
			border-radius: 4px;
			.fa{
				font-size: 26px;
			}
		}
	}
}
@media (min-width: 769px){
	//.filterBar {display:none; }
	#left_column {
		width: 300px;
		z-index: 9999;
		background: #31373d;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-transform: translate3d(-300px, 0, 0);
		transform: translate3d(-300px, 0, 0);
		transition: -webkit-transform 200ms ease;
		transition: transform 200ms ease;
		transition: transform 200ms ease, -webkit-transform 200ms ease;
		transition: all 0.3s;
		-webkit-overflow-scrolling: touch;
	}
	.filterBar {
		border-bottom: 0;
		margin-bottom: 20px;
		padding-bottom: 15px;
		position: absolute;
		width: 32%;
		left: 15px;
		z-index: 999;
		top: -50px;
		button, a {
			padding: 9px 10px;
			margin-top: 8px;
			margin-right: 15px;
			margin-bottom: 8px;
			background-color: transparent;
			background-image: none;
			border: 1px solid transparent;
			border-radius: 4px;
			.fa{
				font-size: 26px;
			}
		}
	}
}

.side-nav-container-left .side-nav-left {
    min-height: 100%;
    top: 0px;
    max-height: 100%;
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 0px !important;
    background-color: #FFF;
    max-width: 250px;
    z-index: 99990;
}
.side-nav-left {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1000;
    display: block !important;
}
body.move-left-to-right .over-cover {
    background: rgba(0, 0, 0, 0.6);
    z-index: 10000;
    left: 300px !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: block !important;
}
body, .over-cover {
    left: 0;
    margin-left: 0;
    transition: all 0.01s ease 0s;
}
.over-cover {
    position: fixed;
    top: 0;
    left: 100% !important;
    z-index: -100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.category-products .form-horizontal {
    text-align: right;
}
.sortPagiBar #sort-by {
    padding: 8px 12px;
font-size:14px;
}
.sortPagiBar label {
    font-weight: 100;
    line-height: 35px;
    margin-right: 5px;
    text-transform: uppercase;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
#left_column::-webkit-scrollbar {
  width: 1em;
}
 
#left_column::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
#left_column::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 0px solid slategrey;
}
#menu-mobile {
	background: #FFFFFF;
}

.product_list.loading:before {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    z-index: 12;
	background: url({{ 'loading.gif' | asset_url }}) no-repeat center center #FFFFFF;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
}

.recommend-products-wrapper .header-title {
	border-bottom: 1px solid #dedede;
	display: inline-block;
	padding-right: 75px; 
	h2 {
		font-size: 18px;
		text-transform: uppercase;
		color: #000;
		font-weight: 700;
		border-bottom: 2px solid #00a7f4;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: rgb(0, 167, 244);
		display: inline-block;
		margin: 0;
	}
}
#Huratips-Pagination {text-align:center;}