/*  don't judge, I wrote this in a hurry*/
* { margin:0; padding:0;}
img { border:0;}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* =============== */
/* = General CSS = */
/* =============== */
body { background: #2d2d2d repeat-x; font-size:12px; color: #2f2f2f; font-family: 'lucida grande', 'Lucida sans unicode', helvetica, arial, sans-serif;}
h1.logo { text-align:center;}
h1 {position:relative; z-index:1; }
h2 { font-family: 'proxima nova', 'helvetica', arial; font-weight:normal}
h1, h2, h3, h4 { letter-spacing:-1px; color:#262626; margin-bottom:5px; }
h2 { font-size:18px; cursor:move;}
p { margin-bottom:10px;}
ul { margin-left:0px; list-style-type:none;margin-bottom:10px;}
dl { margin-bottom:10px;}

hr { color:#d7d7d7; background:#d7d7d7; border:0px; height:1px; margin:3px 0 10px;}
em { color:#9c9c9c; font-style:normal;;}

.new { display: inline-block; font-size:9px; text-transform: uppercase; font-weight: bold; color:#fff; padding:1px 3px; -moz-border-radius: 5px; -webkit-border-radius:5px; background: #7fb539; font-family: "helvetica neue", helvetica, arial }

dl dt {text-decoration:none; display:block;background:#ececec url(arrow.png) no-repeat 95% 50% ;padding:5px 10px; border:solid #dedede; border-width:0px 1px 1px 1px; -moz-border-radius:2px;-webkit-radius:2px; cursor:pointer; word-wrap:break-word}
dl dt:hover { background-color:#d7efff; background-position:95% -30%; color:#0763a1;}
dl dt:first-child { border-top:1px solid #dedede; }
dl dd { display:none; word-wrap: break-word}

/* this is the accordian */
.active { background-color:#2390da ;background-position:95% 130%; display:block; color:#FFF; letter-spacing:-0.5px; font-weight:bold; border:0;}
.active:hover { color: #fff;background-color:#2390da; background-position:95% 130%;}

dl em { background: #cae8ff; color:#004e7f; padding:9px 7px;  display:block; }
dl dd .example {  padding:3%}
dl dd  { background:#dcf1f8; color:#363636;  -moz-border-radius: 0 0 4px 4px;}
dl dd  code { display: block; background:#494949; color: #ececec; font-family:courier; padding:10px; margin:5px;-moz-border-radius:4px ;-moz-webkit-radius:4px ; overflow:auto; }
dl dd code.output { background: #2a2a2a url('bg-codeoutput.gif') repeat-x; -moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;}
dl pre { background: #cae8ff; color:#004e7f; padding:9px 7px;  display:block;overflow:auto;}
dl dd code + code.output  { margin:-10px 5px 15px 5px; border-width:0px 1px 1px 1px;   }

div.options { background:#d2ebff; font-family:georgia, serif; padding:9px 7px; border:1px solid #ecf7ff; border-width:1px 0px; }
div.options ul { margin-top:7px;}
div.options ul li { margin-bottom:2px; padding-bottom:2px; border-bottom:1px solid #c6e0e7;}
div.options ul li:first-child { border-top:1px solid #c6e0e7;}

.main-nav-cta { border:2px solid #e0e0e0; padding:6px 11px; border-radius:4px; transition:color 0.5s ease; text-decoration:none;}
.main-nav-cta:hover { border: 2px solid #fff; text-decoration:none!important;}
/* ========== */
/* = Layout = */
/* ========== */
ul.images  li { }

.logo { margin-left:30px; margin-top:13px; fill:#fff; float:left; }


/* sticky footer */
html, body, #wrap {height: 100%;}
body > #wrapper {height: auto; min-height: 100%;} 
#footer-wrapper {position: relative; background: #ffe614 url('bg-footer.png') repeat-x top; display:none; margin-top: -110px; /* negative value of footer height */ height: 110px;clear:both;} 
#footer { text-align:center; padding-top:35px;}
#footer p { color:#847000; font-size:18px; letter-spacing:-1px; font-weight:bold; margin-bottom:5px;}
#footer small { font-size:13px; opacity:0.6; font-weight:normal;}
#footer a { color:#847000; text-decoration:underline;}
#footer a:hover { text-decoration:none;}


#container { margin:auto; width:96%; padding-bottom:110px; }
#container:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.content { position:relative; z-index:2;}

.block {  background:#fff; border-radius:2px; padding:15px 15px 10px 15px;-moz-box-shadow:1px 1px 3px #000 ;-webkit-box-shadow: 1px 1px 3px #000; margin:0 0 20px 0; position:relative;}

ul.section-options { position:absolute; top:12px; right:9px; margin:0; padding:0;}
ul.section-options li { margin:0; padding:0; float:left; margin-left:5px;}

ul.section-options li a { background:#c9e9ff; font-size:9.5px; color:#004a7c; text-transform:uppercase; -moz-border-radius:4px;border-radius:4px; -webkit-border-radius:4px; padding:3px; text-decoration:none;}
ul.section-options li a:hover { background:#2390da; color:#fff;}
ul.section-options li a.move { background:#e4e4e4; cursor:move; display:none;}
ul.section-options li a.move:hover { background:#b7b7b7; cursor:move;}
ul.section-options li a.move img { position:relative; top:2px;}
ul.section-options li .move {  padding:7px; margin-right:-7px;}

/* the grid */
.col-1, .col-2, .col-3, .col-4, .col-4-5, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {padding:0 0.5%; margin-right:0.5%; float:left; }
.col-12 { margin-right:0px;}
.col-3 {width:23.5%; min-height:100px;  -moz-border-radius:5px; -webkit-border-radius:5px;}
.col-3.indent { -moz-box-shadow:1px 1px 2px #fff;-webkit-box-shadow:1px 1px 2px #fff;background:darkgreen;padding-top:20px;padding-bottom:80px;  }
.last {margin-right:0 !important;}

#navigation {  width:100%; height:52px; margin-bottom:15px; color:#fff;}
#navigation ul { float:right; margin-top:23px; margin-right:3%;}
#navigation ul li { float:left; margin-left:25px;}
#navigation ul li:first-child { margin-left:0;}

#navigation img.logo { float:left; margin-top:18px; margin-left:3%; margin-right:15px;}
#navigation a { color:#e0e0e0; text-decoration:none;}
#navigation a:hover { text-decoration:underline; color:#FFF;}
#navigation a.edit-mode { color:#e0e0e0;   text-decoration:none; padding:2px; }
#navigation a.edit-mode:hover { background:#d10000; color:#fff; text-decoration:none;}
#navigation a.edit-mode.activated { background:#d10000;}

#navigation p.shameless-promo { margin-top:20px; float:left ;}
#navigation p.shameless-promo a { margin-right:15px;}
#navigation p.shameless-promo a.twitter { color:#96c5e6;}
#navigation p.shameless-promo a.twitter img {position:relative; top:2px;}
#navigation p.shameless-promo a.twitter:hover img {opacity:0.8; }

.placeholder { }
.collapse { }