Haravan.doNotTriggerClickOnThumb = false;
function changeImageQuickView(img, selector) {
	var src = $(img).attr("src");
	src = src.replace("_compact", "");
	$(selector).attr("src", src);
}
var selectCallbackQuickView = function(variant, selector) {
	var productItem = jQuery('.quick-view-product .product-item');
	addToCart = productItem.find('.add_to_cart_detail'),
		productPrice = productItem.find('.price'),
		comparePrice = productItem.find('.old-price'),
		totalPrice = productItem.find('.total-price span');

	if (variant) {
   	
		// Regardless of stock, update the product price
		productPrice.html(Haravan.formatMoney(variant.price, "{{ shop.money_format }}"));

		// Also update and show the product's compare price if necessary
		if ( variant.compare_at_price > variant.price ) {
			comparePrice
			.html(Haravan.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"))
			.show();        	
			productPrice.addClass('on-sale');
		} else {
			comparePrice.hide();
			productPrice.removeClass('on-sale');
		}

		{% if settings.use_color_swatch %}
		// BEGIN SWATCHES
		var form = jQuery('#' + selector.domIdPrefix).closest('form');
		 for (var i=0,length=variant.options.length, i<length, i++) {
			 var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
			 if (radioButton.size()) {
				 radioButton.get(0).checked = true;
			 }
		 }
		 // END SWATCHES
		 {% endif %}

		 //update variant inventory
		 {% if settings.display_quickview_availability %}
		 var inventoryInfo = productItem.find('.product-inventory span');
			if (variant.available) {
				if (variant.inventory_management!=null) {
					inventoryInfo.text(variant.inventory_quantity + " in stock");
				} else {
					inventoryInfo.text("Many in stock");
				}
			} else {
				inventoryInfo.text("Out of stock");
			}
		{% endif %}
		updatePricingQuickView();

		{% if settings.enable_multiple_currencies %}
		Currency.convertAll('{{ shop.currency }}', jQuery('#currencies').val(), 'span.money', 'money_format');
		{% endif %}
		/*begin variant image*/
		if (variant && variant.featured_image) {
			var originalImage = jQuery("#product-featured-image-quickview");
			var newImage = variant.featured_image;
			var element = originalImage[0];
			Haravan.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
				jQuery('#thumblist_quickview img').each(function() {
					var grandSize = jQuery(this).attr('src');
					var native = newImageSizedSrc;              
					var newImageSized = newImageSizedSrc.substr(0, newImageSizedSrc.lastIndexOf("?"));
					newImageSized = newImageSized.replace("http:", "");
					newImageSized = newImageSized.replace("https:", "");

					grandSize = grandSize.replace("http:", "");
					grandSize = grandSize.replace("https:", "");
					grandSize = grandSize.replace("_compact", "");
					grandSize = grandSize.replace("_grande", "");              
					if (grandSize == newImageSized) {
						changeImageQuickView(newImage, "#product-featured-image-quickview");
						//                 jQuery(this).closest("li").trigger('click');
						//                 jQuery("#product-featured-image-quickview").attr("src", native);
						return false;
					}
				});
			});        
		}
				 /*end of variant image*/
	}
};




//========== QUICK VIEW ==========//
iniQuickView();
var Currency = {
  rates: {"USD":1.0,"EUR":1.34219,"GBP":1.68666,"CAD":0.916849,"ARS":0.121595,"AUD":0.933241,"BRL":0.442566,"CLP":0.0017495,"CNY":0.161845,"CYP":0.397899,"CZK":0.0485421,"DKK":0.180023,"EEK":0.0857811,"HKD":0.129032,"HUF":0.00428189,"ISK":0.008703,"INR":0.0164176,"JMD":0.00888117,"JPY":0.00975181,"LVL":1.90977,"LTL":0.388724,"MTL":0.293496,"MXN":0.075792,"NZD":0.85223,"NOK":0.159644,"PLN":0.321641,"SGD":0.80241,"SKK":21.5517,"SIT":175.439,"ZAR":0.0938496,"KRW":0.000967725,"SEK":0.145267,"CHF":1.10288,"TWD":0.0332938,"UYU":0.0427901,"MYR":0.312305,"BSD":1.0,"CRC":0.0018498,"RON":0.302985,"PHP":0.0228976,"AED":0.272235,"VEB":0.000158919,"IDR":8.49979e-05,"TRY":0.469403,"THB":0.0310801,"TTD":0.157072,"ILS":0.293227,"SYP":0.00670018,"XCD":0.37037,"COP":0.0005315,"RUB":0.0279492,"HRK":0.175593,"KZT":0.0054915,"TZS":0.0006025,"XPT":1463.73,"SAR":0.266617,"NIO":0.0383951,"LAK":0.0001243,"OMR":2.59673,"AMD":0.00245345,"CDF":0.00108308,"KPW":0.00771069,"SPL":6.0,"KES":0.0113835,"ZWD":0.00276319,"KHR":0.00024692,"MVR":0.0649773,"GTQ":0.12818,"BZD":0.501281,"BYR":9.676e-05,"LYD":0.814956,"DZD":0.012404,"BIF":0.00065147,"GIP":1.68666,"BOB":0.144725,"XOF":0.00204615,"STD":5.471e-05,"NGN":0.00620425,"PGK":0.408501,"ERN":0.095511,"MWK":0.00252733,"CUP":0.0377358,"GMD":0.0252566,"CVE":0.0123233,"BTN":0.0164176,"XAF":0.00204615,"UGX":0.000383,"MAD":0.120056,"MNT":0.00053836,"LSL":0.0938496,"XAG":20.1864,"TOP":0.5363,"SHP":1.68666,"RSD":0.0114929,"HTG":0.022048,"MGA":0.0003985,"MZN":0.0330579,"FKP":1.68666,"BWP":0.112801,"HNL":0.0476435,"PYG":0.00023576,"JEP":1.68666,"EGP":0.139848,"LBP":0.00066116,"ANG":0.558659,"WST":0.4302,"TVD":0.933241,"GYD":0.0047965,"GGP":1.68666,"NPR":0.0101381,"KMF":0.0027282,"IRR":3.791e-05,"XPD":856.35,"SRD":0.305378,"TMM":7.01754e-05,"SZL":0.0938496,"MOP":0.125273,"BMD":1.0,"XPF":0.0112475,"ETB":0.0505405,"JOD":1.41253,"MDL":0.072099,"MRO":0.00343762,"YER":0.0046543,"BAM":0.686249,"AWG":0.558659,"PEN":0.356,"VEF":0.158919,"SLL":0.00022873,"KYD":1.21951,"AOA":0.010214,"TND":0.584113,"TJS":0.201499,"SCR":0.0812683,"LKR":0.00767902,"DJF":0.00549002,"GNF":0.00014237,"VUV":0.01069,"SDG":0.17567,"IMP":1.68666,"GEL":0.578982,"FJD":0.53999,"DOP":0.0229305,"XDR":1.53292,"MUR":0.0323626,"MMK":0.00102775,"LRD":0.0108108,"BBD":0.5,"ZMK":0.000162602,"XAU":1288.73,"VND":4.7e-05,"UAH":0.0854613,"TMT":0.350877,"IQD":0.00085822,"BGN":0.686209,"KGS":0.0193432,"RWF":0.00144832,"BHD":2.65182,"UZS":0.00042952,"PKR":0.0101217,"MKD":0.021808,"AFN":0.017816,"NAD":0.0938496,"BDT":0.0128988,"AZN":1.27502,"SOS":0.00083404,"QAR":0.274597,"PAB":1.0,"CUC":1.0,"SVC":0.114286,"SBD":0.1386,"ALL":0.0096485,"BND":0.80241,"KWD":3.5307,"GHS":0.291333,"ZMW":0.162602,"XBT":583.16,"NTD":0.0337206},
  convert: function(amount, from, to) {
    return (amount * this.rates[from]) / this.rates[to];
  }
};
function displayImage(domAAroundImgThumb)
{
	if (domAAroundImgThumb.attr('href'))
	{
		var new_src = domAAroundImgThumb.attr('href').replace('1024x1024', '{{ settings.product_page_imagesize }}');
		var new_title = domAAroundImgThumb.attr('title');
		var new_href = domAAroundImgThumb.attr('href');
		if ($('#product-featured-image').attr('src') != new_src)
		{
			$('#product-featured-image').attr({
				'src' : new_src,
				'alt' : new_title,
				'title' : new_title
			});
		}
		$('#views_block li').removeClass('shown');
		$(domAAroundImgThumb).parent().addClass('shown');
	}
}
function productZoom(){
	$('.jqzoom').jqzoom({
		zoomType: 'innerzoom', //innerzoom/standard/reverse/drag
		zoomWidth: 458, //zooming div default width(default width value is 200)
		zoomHeight: 458, //zooming div default width(default height value is 200)
		xOffset: 21, //zooming div default offset(default offset value is 10)
		yOffset: 0,
		title: false
	});
}
function productImage() {
  	$('#thumblist_quickview').height(parseInt($('#thumblist_quickview >li').outerHeight(true) * $('#thumblist_quickview >li').height) + 'px');
    $('#thumbs_list_quickview').serialScroll({
		items:'li:visible',
		prev:'#view_scroll_left_quickview',
		next:'#view_scroll_right_quickview',
		axis:'y',
		start:0,
		stop:true,
		duration:700,
		step: 2,
		lazy: true,
		lock: false,
		force:false,
		cycle:false
	});
  	$("#thumbs_list_quickview").trigger( 'goto', [ 3 ] );
  
	$('#thumblist').height(parseInt($('#thumblist >li').outerHeight(true) * $('#thumblist >li').height) + 'px');
    $('#thumbs_list').serialScroll({
		items:'li:visible',
		prev:'#view_scroll_left',
		next:'#view_scroll_right',
		axis:'y',
		start:0,
		stop:true,
		duration:700,
		step: 2,
		lazy: true,
		lock: false,
		force:false,
		cycle:false
	});
	$('.thumbs_list_frame').height(parseInt($('.thumbs_list_frame >li').outerHeight(true) * $('.thumbs_list_frame >li').height) + 'px');
    $('.thumbs_list').serialScroll({
		items:'li:visible',
		prev:'.view_scroll_left',
		next:'.view_scroll_right',
		axis:'y',
		start:0,
		stop:true,
		duration:700,
		step: 2,
		lazy: true,
		lock: false,
		force:false,
		cycle:false
	});
	if (!!$.prototype.fancybox){
		$('li:visible .fancybox, .fancybox.shown').fancybox({
			'hideOnContentClick': true,
			'openEffect'	: 'elastic',
			'closeEffect'	: 'elastic'
		});
	}
}
function addCheckedSwatch(){  
  $('.swatch .color label').on('click', function () {      
    $('.swatch .color').each(function(){      
      $(this).find('label').removeClass('checkedBox');
    });
    $(this).addClass('checkedBox');      
  });
}
function updateOptionsInSelector(t, sel) {
  var from = (sel != "quickview") ? "" : ".quick-view-product ";
  switch (t) {
    case 0:
      var n = "root";
      var r = $(from + ".single-option-selector:eq(0)");
      break;
    case 1:
      var n = $(from + ".single-option-selector:eq(0)").val();
      var r = $(from + ".single-option-selector:eq(1)");
      break;
    case 2:
      var n = $(from + ".single-option-selector:eq(0)").val();
      n += " / " + $(from + ".single-option-selector:eq(1)").val();
      var r = $(from + ".single-option-selector:eq(2)")
      }
  var i = r.val();
  r.empty();
  var s = (sel != "quickview") ? Haravan.optionsMap[n] : Haravan.optionsMapQuickview[n];
  
  if(typeof s != "undefined"){
    for (var o = 0; o < s.length; o++) {
      var u = s[o];
      var a = $("<option></option>").val(u).html(u);
      r.append(a)
    }
  }
  $(from + '.swatch[data-option-index="' + t + '"] .swatch-element').each(function() {
    if ($.inArray($(this).attr("data-value"), s) !== -1) {
      $(this).removeClass("soldout").addClass("available").show().find(":radio").removeAttr("disabled", "disabled").removeAttr("checked")
    } else {
      $(this).removeClass("available").addClass("soldout").hide().find(":radio").removeAttr("checked").attr("disabled", "disabled")
    }
  });
  if ($.inArray(i, s) !== -1) {
    r.val(i)
  }
  r.trigger("change")
};
function updatePricingQuickView() {    
		Currency.convertAll(window.shop_currency, $("#currencies a.selected").data("currency"), "span.money", "money_format")
    
    var regex = /([0-9]+[.|,][0-9]+[.|,][0-9]+)/g;		
    var unitPriceTextMatch = jQuery('.quick-view-product .prices .price').data("price");
    if (unitPriceTextMatch) {
        var unitPriceText = unitPriceTextMatch;
        var unitPrice = unitPriceTextMatch;
        var quantity = parseInt(jQuery('.quick-view-product input[name=quantity]').val());
        var totalPrice = unitPriceTextMatch * quantity;				
        var totalPriceText = Haravan.formatMoney(totalPrice,window.money_format);				
        jQuery('.quick-view-product .total-price span').html(totalPriceText);
    }
	}
	function changeImageQuickView(img, selector) {
	var src = $(img).attr("src");
	src = src.replace("_compact", "");
	$(selector).attr("src", src);
	}
function linkOptionSelectorsQuickview(t) {
  for (var n = 0; n < t.variants.length; n++) {
    var r = t.variants[n];
    if (r.available) {
      Haravan.optionsMapQuickview["root"] = Haravan.optionsMapQuickview["root"] || [];
      Haravan.optionsMapQuickview["root"].push(r.option1);
      Haravan.optionsMapQuickview["root"] = Haravan.uniq(Haravan.optionsMapQuickview["root"]);
      if (t.options.length > 1) {
        var i = r.option1;
        Haravan.optionsMapQuickview[i] = Haravan.optionsMapQuickview[i] || [];
        Haravan.optionsMapQuickview[i].push(r.option2);
        Haravan.optionsMapQuickview[i] = Haravan.uniq(Haravan.optionsMapQuickview[i])
      }
      if (t.options.length === 3) {
        var i = r.option1 + " / " + r.option2;
        Haravan.optionsMapQuickview[i] = Haravan.optionsMapQuickview[i] || [];
        Haravan.optionsMapQuickview[i].push(r.option3);
        Haravan.optionsMapQuickview[i] = Haravan.uniq(Haravan.optionsMapQuickview[i])
      }
    }
  }
  updateOptionsInSelector(0, "quickview");
  if (t.options.length > 1)
    updateOptionsInSelector(1, "quickview");
  if (t.options.length === 3)
    updateOptionsInSelector(2, "quickview");
  $(".single-option-selector:eq(0)").change(function() {
    updateOptionsInSelector(1, "quickview");
    if (t.options.length === 3)
      updateOptionsInSelector(2, "quickview");
    return true
  });
  $(".single-option-selector:eq(1)").change(function() {
    if (t.options.length === 3)
      updateOptionsInSelector(2, "quickview");
    return true
  });
}
	var product = {};
	var currentLinkQuickView = '';
	var option1 = '';
	var option2 = '';
    function setButtonNavQuickview() {
      $("#quickview-nav-button a").hide();
      $("#quickview-nav-button a").attr("data-index", "");
      var listProducts = $(currentLinkQuickView).closest(".slide").find("a.quick-view");
      if(listProducts.length > 0) {
        var currentPosition = 0;
        for(var i = 0; i < listProducts.length; i++) {
          if($(listProducts[i]).data("handle") == $(currentLinkQuickView).data("handle")) {
            currentPosition = i;
            break;
          }
        }
        if(currentPosition < listProducts.length - 1) {
          $("#quickview-nav-button .btn-next-product").show();
          $("#quickview-nav-button .btn-next-product").attr("data-index", currentPosition + 1);
        }
        if(currentPosition > 0) {
          $("#quickview-nav-button .btn-previous-product").show();
          $("#quickview-nav-button .btn-previous-product").attr("data-index", currentPosition - 1);
        }
      }
      $("#quickview-nav-button a").click(function() {
        $("#quickview-nav-button a").hide();
        var indexLink = parseInt($(this).data("index"));
        if(!isNaN(indexLink) && indexLink >= 0) {
          	var listProducts = $(currentLinkQuickView).closest(".slide").find("a.quick-view");
          	if(listProducts.length > 0 && indexLink < listProducts.length) {
              	//$(".quickview-close").trigger("click");
          		$(listProducts[indexLink]).trigger("click");
            }
        }
      });
    }
	function iniQuickView(){
      	$(document).on("click", "#thumblist_quickview li", function() {
          changeImageQuickView($(this).find("img:first-child"), "#product-featured-image-quickview");
        });
		$(document).on('click', '.quick-view', function(e) {
			var producthandle = $(this).data("handle");
          	currentLinkQuickView = $(this);
			Haravan.getProduct(producthandle,function(product) {
				var qvhtml = $("#quickview-modal").html();
				$(".quick-view-product").html(qvhtml);
				var quickview= $(".quick-view-product");
				//var productdes = product.description.replace(/(<([^>]+)>)/ig,"");
				var featured_image = product.featured_image;
              	// Reset current link quickview and button navigate in Quickview
              	setButtonNavQuickview();
				//productdes = productdes.split(" ").splice(0,30).join(" ")+"...";
				quickview.find(".view_full_size a").attr("title",product.title);
				quickview.find(".view_full_size a").attr("href",featured_image);
				quickview.find(".view_full_size img").attr("src",featured_image);
				quickview.find(".view_full_size img").attr("alt",product.title);

				quickview.find(".price").html(Haravan.formatMoney(product.price, window.money_format));
				quickview.find(".price").data("price",product.price);
				quickview.find(".product-item").attr("id", "product-" + product.id);
				quickview.find(".variants").attr("id", "product-actions-" + product.id);
				quickview.find(".variants select").attr("id", "product-select-" + product.id);

				quickview.find(".product-info .qwp-name").append(product.title);
				quickview.find(".product-extra .detail-product").append("<a href='"+product.url+ "'>" + "CHI TIẾT SẢN PHẨM"  + "</a>");
				quickview.find(".review .haravan-product-reviews-badge").attr("data-id",product.id);
				quickview.find(".product-info .brand").append("<span>{{'products.product.vendor' | t}}: </span>"+product.vendor);
				if(product.available){
					quickview.find(".product-info .availability").append("<p>Tình trạng: <span style='color:#72C13D;'>{{'products.product.in_stock' | t }}</span></p>");
				}else{
					quickview.find(".product-info .availability").append("<p>Tình trạng: <span>{{'products.product.sold_out' | t }}</span></p>");
				}                
				quickview.find(".product-info .product-sku").append("<p>{{'products.product.sku' | t }}: <span>"+product.variants[0].sku+"</span></p>");

				//quickview.find(".product-description").html(productdes);

				if (product.compare_at_price > product.price) {
					quickview.find(".old-price").html(Haravan.formatMoney(product.compare_at_price_max, window.money_format)).show();
					quickview.find(".price").addClass("sale-price")
				}
				else {
					quickview.find(".old-price").html("");
					quickview.find(".price").removeClass("sale-price")
				}
				if (!product.available) {
					quickview.find("select, input, .dec, .inc, .variants label").remove();
					quickview.find(".add_to_cart_detail").text("Hết hàng").addClass("disabled").attr("disabled", "disabled");
					$(".quantity_wanted_p").css("display", "none");
				}
				else {
					quickViewVariantsSwatch(product, quickview);
					$(".quantity_wanted_p").removeAttr("style");
				}

				$("#quick-view-product").fadeIn(500);

				$(".view_scroll_spacer").removeClass("hidden");

				loadQuickViewSlider(product, quickview);
				quickview.find(".img-product").on("click",function(e){
					return false;
				});
				//initQuickviewAddToCart();

				$(".quick-view").fadeIn(500);
				if ($(".quick-view .total-price").length > 0) {
					$(".quick-view input[name=quantity]").on("change", updatePricingQuickView)
				}
				if (product.available) {
					updatePricingQuickView();
				}
				// Setup listeners to add/subtract from the input
				$(".js-qty__adjust").on("click", function() {
					var el = $(this),
							id = el.data("id"),
							qtySelector = el.siblings(".js-qty__num"),
							qty = parseInt(qtySelector.val().replace(/\D/g, ''));

					var qty = validateQty(qty);

					// Add or subtract from the current quantity
					if (el.hasClass("js-qty__adjust--plus")) {
						qty = qty + 1;
					} else {
						qty = qty - 1;
						if (qty <= 1) qty = 1;
					}

					// Update the input's number
					qtySelector.val(qty);
					updatePricingQuickView();
				});
				$(".js-qty__num").on("change", function() {
					updatePricingQuickView();
				});
			});
			return false;
		});
		// $(".quick-view").fancybox({
		// 	maxWidth	: 1170,
		// 	maxHeight	: 800,
		// 	width		: '80%',
		// 	autoSize	: true,
		// 	closeClick	: false,
		// 	openSpeed   : 2000,
		// 	title	: false
		// });
	}
	function loadQuickViewSlider(n, r) {
      productImage();
      var s = Haravan.resizeImage(n.featured_image, "grande");
      r.find(".quickview-featured-image").append('<a href="' + n.url + '"><img src="' + s + '" title="' + n.title + '"/><div style="height: 100%; width: 100%; top:0; left:0 z-index: 2000; position: absolute; display: none; background: url(' + window.loading_url + ') 50% 50% no-repeat;"></div></a>');
      if (n.images.length > 0) {
        var o = r.find(".more-view-wrapper ul");
        for (i in n.images) {
          var u = Haravan.resizeImage(n.images[i], "grande");
          var a = Haravan.resizeImage(n.images[i], "compact");
          var f = '<li><a href="javascript:void(0)" data-image="' + u + '"><img src="' + a + '"  /></a></li>';
          o.append(f)
        }
        o.find("a").click(function() {
          var t = r.find(".quickview-featured-image img");
          var n = r.find(".quickview-featured-image div");
          if (t.attr("src") != e(this).attr("data-image")) {
            t.attr("src", e(this).attr("data-image"));
            n.show();
            t.load(function(t) {
              n.hide();
              e(this).unbind("load");
              n.hide()
            })
          }
        });
        if(n.images.length <5){
          $(".view_scroll_spacer").addClass("hidden");
        }
//         o.owlCarousel({
//           navigation: true,
//           items: 5,
//           itemsDesktop: [1199, 4],
//           itemsDesktopSmall: [979, 3],
//           itemsTablet: [768, 3],
//           itemsTabletSmall: [540, 3],
//           itemsMobile: [360, 3]
//         }).css("visibility", "visible")
      } else {        
        r.find(".quickview-more-views").remove();
        r.find(".quickview-more-view-wrapper-jcarousel").remove()
      }
    }
	function updateQuantity(){
		$('.js-qty__adjust').on('click', function() {
			var el = $(this),
				id = el.data('id'),
				qtySelector = el.siblings('.js-qty__num'),
	            qty = parseInt(qtySelector.val().replace(/\D/g, ''));

	        var qty = validateQty(qty);

	        // Add or subtract from the current quantity
	        if (el.hasClass('js-qty__adjust--plus')) {
	          qty = qty + 1;
	        } else {
	          qty = qty - 1;
	          if (qty <= 1) qty = 1;
	        }

	        // Update the input's number
	        qtySelector.val(qty);
          	updatePricing();
      	});
	}
	validateQty = function (qty) {
	    // Make sure we have a valid integer
	    if((parseFloat(qty) == parseInt(qty)) && !isNaN(qty)) {
	      // We have a number!
	    } else {
	      // Not a number. Default to 1.
	      qty = 1;
	    }
	    return qty;
  	};
	var convertToSlug = function (e) {
        return e.toLowerCase().replace(/[^a-z0-9 -]/g, "").replace(/\s+/g, "-").replace(/-+/g, "-")
    }
	function quickViewVariantsSwatch(t, quickview) {      	
        if (t.variants.length > 1) {
            for (var r = 0; r < t.variants.length; r++) {
                var i = t.variants[r];
                var s = '<option value="' + i.id + '">' + i.title + "</option>";
                quickview.find("form.variants > select").append(s)
            }
            new Haravan.OptionSelectors("product-select-" + t.id, { product: t, onVariantSelected: selectCallbackQuickView });
            var o = window.file_url.substring(0, window.file_url.lastIndexOf("?"));
            var u = window.asset_url.substring(0, window.asset_url.lastIndexOf("?"));
            var a = "";
            for (var r = 0; r < t.options.length; r++) {
                a += '<div class="swatch clearfix" data-option-index="' + r + '">';
                a += '<div class="header">' + t.options[r].name + "</div>";
                var f = false;
                if (/Color|Colour/i.test(t.options[r].name)) { f = true }
              	var l = new Array;
                for (var c = 0; c < t.variants.length; c++) {
                    var i = t.variants[c]; var h = i.options[r];
                    var p = this.convertToSlug(h);
                    var d = "quickview-swatch-" + r + "-" + p;
                    if (l.indexOf(h) < 0) {
                        a += '<div data-value="' + h + '" class="swatch-element ' + (f ? "color " : "") + p + (i.available ? " available " : " soldout ") + '">';
                        if (f) {
                            a += '<div class="tooltip">' + h + "</div>"
                        }
                        a += '<input id="' + d + '" type="radio" name="option-' + r + '" value="' + h + '" ' + (c == 0 ? " checked " : "") + (i.available ? "" : " disabled") + " />";
                        if (f) {
                            a += '<label class="'+ p +'" for="' + d + '" style="background-color: ' + p + "; background-image: url(" + u + p + '.png)"><img class="crossed-out" src="' + u + 'soldout.png" /><i></i></label>'
                        }
                        else {
                            a += '<label class="'+ p +'" for="' + d + '">' + h + '<img class="crossed-out" src="' + u + 'soldout.png" /></label>'
                        }
                        a += "</div>";
                        if (i.available) {
                            $('.quick-view .swatch[data-option-index="' + r + '"] .' + p).removeClass("soldout").addClass("available").find(":radio").removeAttr("disabled")
                        } l.push(h)
                    }
                } a += "</div>"
            }
            quickview.find("form.variants > select").after(a);
            quickview.find(".swatch :radio").change(function () {
                var t = $(this).closest(".swatch").attr("data-option-index");
                var q = $(this).val();
                $(this).closest("form").find(".single-option-selector").eq(t).val(q).trigger("change");
              	
            });
            if (t.available) {
                Haravan.optionsMapQuickview = {};
              	linkOptionSelectorsQuickview(t);
            }
          	addCheckedSwatch();
        }
        else {
            quickview.find("form.variants > select").remove();
            var v = '<input type="hidden" name="id" value="' + t.variants[0].id + '">';
            quickview.find("form.variants").append(v)
        }
    }
	$(document).on('click', '.quick-view', function(e){
		e.preventDefault();
	});
	$(document).on('click', '.quickview-close, #quick-view-product .quickview-overlay', function(e){
		$("#quick-view-product").fadeOut(500);
	});
