@font-face {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: normal;
	src: local('Helvetica'), url('{{'Helvetica.woff' | asset_url}}') format('woff');
}
body > img {
	display: none;
}
.container-full{
	padding:0px 30px;
}
.rte h1, .rte .h1, .rte h2, .rte .h2, .rte h3, .rte .h3, .rte h4, .rte .h4, .rte h5, .rte .h5, .rte h6, .rte .h6 {
	margin-top: 0em;
}
/*============================================================================
1. Mixin
==============================================================================*/
@mixin clearfix() {
	&:after {
		content: "";
		display: table;
		clear: both; }
	*zoom: 1;
}
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}
@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
	@include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
	@include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
	@include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
	moz-transform-origin: $origin;
	-o-transform-origin: $origin;
	-ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
	transform-origin: $origin;
}

@mixin prefix($property, $value) {
	-webkit-#{$property}: #{$value};
	-moz-#{$property}: #{$value};
	-ms-#{$property}: #{$value};
	-o-#{$property}: #{$value};
	#{$property}: #{$value};
}
@mixin gradient($from, $to, $fallback) {
	background: $fallback;
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
	background: -webkit-linear-gradient(top, $from 0%, $to 100%);
	background: -o-linear-gradient(top, $from 0%, $to 100%);
	background: -ms-linear-gradient(top, $from 0%, $to 100%);
	background: linear-gradient(top bottom, $from 0%, $to 100%);
}
@mixin backface($visibility: hidden) {
	@include prefix('backface-visibility', #{$visibility});
}
@mixin box-sizing($box-sizing: border-box) {
	-webkit-box-sizing: #{$box-sizing};
	-moz-box-sizing: #{$box-sizing};
	box-sizing: #{$box-sizing};
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
}
/*============================================================================
2. Variable
==============================================================================*/
$gutter: 30px;
$main-color: {{ settings.color_main }};
$border-color: {{ settings.color_borders }};
$font-base:  {{ base_family }};
$font-header:  {{ header_family }};
$font-accent:  {{ accent_family }};
$baseFontSize: {{ settings.type_base_size }};
$text-color: {{ settings.color_body_text }};
$header-bg-color: {{ settings.color_body_text }};
$footer-bg-color: {{ settings.color_body_text }};
$disabledGrey: #ddd;
$disabledBorder: #ddd;

/*============================================================================
#Function
==============================================================================*/
@function em($pixels, $context: $baseFontSize) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}
	@if (unitless($context)) {
		$context: $context * 1px;
	}
	@return $pixels / $context * 1em;
}

/*============================================================================
3. Element
==============================================================================*/
/*3.1 Title*/
.title-head {
	font-size: em(20px);
	font-weight: 600; 
	color: $text-color;	
	text-decoration: none;
	a{
		color: $text-color;
		&:hover{
			color: $main-color;
		}
	}
}
.subtitle-head{
	font-size:em(18px);
	color: $text-color;
	margin: 20px 0;
}
/*3.2 Product item*/
/*.product-box {
text-align: left;
margin-bottom: 14px;
background: #fff;
position: relative;	
overflow:hidden;
&:before {
content: "";
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 1);
position: absolute;
top: 0;
left: 0;
}
.product-thumbnail {
display: -webkit-flex;
-webkit-align-items: center;
display: -ms-flexbox;
display: flex;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
position: relative;   
> a {
display: block;
width: 100%;      
max-height: 339;
height: 339px;
text-align: center;
}
a img {
width: auto;
height: 100%;
-webkit-flex: 1;
-ms-flex: 1;
flex: 1;			
&.bethua{
width: 100%;
height: auto;
}
}
}
.product-info {
z-index: 10;
position: relative;
padding-bottom: 10px;
}
.product-name {
font-size: em(18px);
line-height: 24px;
color: $text-color;		
font-weight: 300;		
a {
color: $text-color;
text-decoration: none;
&:hover {
color: $main-color;
}
}
}	
.product-price {
color: #323c3f;
font-size: em(18px);
line-height: em(24px);
display: block;
font-weight: 700;

}
.product-price-old {
text-decoration: line-through;
font-size: em(16px);
margin: 0 0 0 10px;
display: inline-block;
color: #adadad;
}
.sale-flash {
position: absolute;
font-size: em(13px);
color: #FFF;
width: 40px;
height: 40px;
line-height: 40px;
font-weight:700;
top: 0;
left: 10px;
text-align:center;
z-index: 99;
background-color: #faca00;
&:before {
border-top: 10px solid #faca00;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
content: "";
position: absolute;
bottom: 100%;
margin: 0;
left: 0%;
top: 100%;
z-index: 100;
}

}
.product-summary {
font-size: em(14px);
color: #acacac;
line-height: 20px;
}
form{		
@include scale(1);
}

}*/
.product-price {
	color: #323c3f;
	font-size: em(20px);
	line-height: 24px;
	display: block;
	font-weight: 700; 
}
.products-view-list {
	.product-box {
		.product-thumbnail {
			text-align: center;
			margin-bottom: 0;
			width: calc(100% / 3);
			float: left
		}
		.product-info {
			text-align: left;
			margin-left: 30px;
			float: left;
			width: calc(100% / 3 * 2 - 30px);
			background: transparent;
			border-top: none;
		}
	}

}
/*3.3 Breadcrumb*/
.breadcrumb {
	margin: 0;
	font-size: em(14px);
	padding: 10px 0;
	background-color: #fff;
	border-radius: 0; 
	li {
		display: inline;
		> a {
			color: #adadad;
			> span {
				color: #adadad;
			}
		}
		span {
			display: inline;
			color: #323c3f;
			.fa {
				color: #323c3f;
			}
		}
		a:hover, &.active, strong {
			color: #323c3f;
			font-weight: 400;
		}
	}
	>li+li:before{
		display: none;
	}
}
/*3.4 Pagination*/
.pagination {
	margin-bottom: 20px;

	.page-link {
		float: left;
		margin: 2.5px;
		width: 40px;
		background: #fff;
		text-align: center;
		height: 40px;
		font-size: 16px;
		line-height:32px;		
		color: #333;
		border-radius: 0;
		border: none;
		text-decoration: none;
		border: 1px solid $border-color;
		&:hover {
			background-color: #9e9e9e;
			border-color:  #9e9e9e;
			color: #fff;
		}
	}
	.page-item {
		&.disabled .page-link {
			border: 0;
			display: none;
		}
		&.active .page-link {
			background-color: #9e9e9e;
			border-color:  #9e9e9e;
			color: #fff;
			display: block;
		}
	}
}


/*============================================================================
4. Header
==============================================================================*/
$header-bg: {{settings.color_header_bg}};
$topbar: {{settings.color_header_topbar_bg}};
/*4.1  Header Gerenal*/
header{
	//background:$header-bg;
}
.topbar {
	background:$topbar;
	text-align: center;
	height: 40px;
	line-height: 40px;
	.container {
		>div{
			border-bottom: 1px solid #e1e1e1;
		}
	}
	.list-inline li{
		margin-right: 15px;
	}
}
.header-main{
	padding: 30px 0;
}
.logo {
	display: inline-block;
	font-size: em(40px);
}
.header_search {
	padding: 10px 0 15px;   
	input{
		float: right;
	}
	.input-group-btn{
		position: absolute;
		right: 0;
		top: 0;		
		width: 45px;
	}
	.input-group{
		width: 100%;
		margin-bottom: 0;
	}	
	button{
		padding: 0;
		width: 45px;   
		background: transparent;
		img{
			margin-top: 6px;
		}
	}
}

/*4.2  Minicart*/
.mini-cart {		
	z-index: 10;	
	text-align: center;

	&:hover .top-cart-content {
		display: block;
	}
	.dropdown-toggle {
		font-size: 12px;
		padding: 0;
		text-transform: none;
	}	
}

.top-cart-contain {
	color: #333;  
	padding: 0;
	right: 0;
	z-index: 1000;
	.price {
		color: $main-color;
		text-transform: uppercase;
	}
	.mini-cart .price {
		margin-right: 5px;
		font-size: 16px;
		font-weight: 700;
	}
	.product-details .price {
		color: $main-color;
		width: auto;
		float: none;
		font-weight: 400;
		padding-left: 0;
		font-size: 12px;
	}
}

.top-cart-content {
	display: block;
	position: absolute;
	top: 30px;
	right: 0;
	background: #fff;
	padding: 0;
	text-align: left;
	box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.4);
	z-index: 10000;
	ul.list-item-cart{
		padding:0;
		max-height: 230px;
		overflow-y: auto;
		border-bottom: 1px solid #eee;
	}
	.empty {
		text-align: left;
		color: #333;
	}
	.product-name {
		margin: 0;
		width: 150px;
		line-height: 1;		
		padding-right: 10px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		a {
			font-size: em(14px);
			line-height: normal;
			line-height: 20px !important;
			font-weight: 400;
			color: #333;
			&:hover{
				color: $main-color;
			}
		}
	}
	li {
		list-style: none;
		&.item {
			border-top: 1px solid #eee;
			overflow: hidden;
			padding: 20px 0;
			&:first-child {
				border-top: none;
				padding-top: 10px;
			}
			&:last-child {
				margin: 0;
				border-bottom: none;
			}
			.product-image{
				float: left;
				display: block;
				width: 100px;
				margin-right: 10px;
			}
			.detail-item{
				padding-left: 110px;
				position: relative;
				.quantity-select{
					margin-top: 5px;
				}
				.fa{
					position: absolute;
					right: 20px;
				}
				input{
					display: inline-block;
					width: 45px;
					padding: 0;
					text-align: center;
					min-height: 20px;
					height: 25px;
					border: 1px solid #eee;
					outline: none;
					box-shadow: none;
					-webkit-appearance: none;
					-moz-appearance: none;
					margin-bottom: 0;
				}
				button.items-count {
					display: inline-block;
					border-radius: 0px;
					border: none;
					outline: none;
					box-shadow: none;
					-webkit-appearance: none;
					-moz-appearance: none;
					background-color: #e5e5e5;
					color: #000;
					height: 25px;
					&:hover, &:focus{
						color: #fff;
						background-color: $main-color;
					}
				}
			}
		}
	}
	.block-subtitle {
		color: #333;
		overflow: hidden;
		padding: 15px;
		text-align: left;
		font-family: 'Open Sans', sans-serif;
		font-size: em(13px);
		background: #f5f5f5;
		text-transform: none;
		font-weight: 400;
		border-bottom: 1px #ddd solid;
	}
}

.top-subtotal {
	color: #333;
	font-size: em(16px);
	font-weight: 400;
	padding: 15px 0;
	//padding-top: 30px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	text-align: left;
	text-transform: none;
	margin-bottom:15px;
	.price {
		font-weight: 700;
		color: $main-color;
		float: right;
	}
}

ul#cart-sidebar {
	padding: 10px 10px;
	margin: 0;
	max-height: 582px;
	min-width: 320px;
	.no-item{
		p{
			margin-bottom: 0;
		}
	}
	li {
		&.list-item {
			max-height: 400px;
			overflow-y: auto;
		}
		&.action {
			display: none;
		}
	}
	&.hasclass li.action {
		display: block;
	}
	li.list-item {
		.price2 {
			font-weight: 700;
			color: #f94e3f;
			font-size: 14px;
			display: list-item;
			margin-bottom: 5px;
		}
		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-track {
			background: rgba(255, 255, 255, 0.9);
		}
		&::-webkit-scrollbar-thumb {
			background: $main-color;
			border-radius: 15px;
			&:hover, &:active {
				background: $main-color;
				border-radius: 15px;
			}
		}
	}
}

.li-fix-1 {
	background: #FFF;
	border-top: 1px solid #ebebeb;
	display: block;
}

.li-fix-2 {
	display: block;
	width: 295px;
}
/*4.3 Menu*/
$nav: {{settings.color_nav_bg}};
header nav {
	//background: $nav;	
	.nav{
		position: relative;
	}
	.nav-item {		
		position: relative;
		&.has-mega{
			position: static;
		}
		>a{
			line-height: 32px;

			color: #333;
			&:hover{
				color: $main-color;
			}
		}
		>.fa{
			color: #fff;
			position: absolute;
			right: 0;
			top: 33px;
		}
		.nav-item-lv2 {
			padding: 0 10px;
		}
		.nav-item-lv3 {
			padding: 0 10px;
		}
		&:hover{
			>.dropdown-menu{
				display: block;
				margin-top: 0;
			}
			> .mega-content{
				display: block;
			}
		}
		li.dropdown-submenu {
			position: relative;

			.dropdown-menu{
				left: 100%;
				top: 0;
			}
			&:hover{
				>.dropdown-menu{
					display: block;
				}
			}
		}
	}
	.mega-content {
		display: none;
		position: absolute;
		width: 100%;
		background: #fff;
		z-index: 100;
		padding: 20px;
		border: 1px solid #ebebeb;
		left:0;
		text-align: left;
		.level1.item {
			float: left;
			width: 25%;
			padding: 0 5px;
		}
		.level0{
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			.level1{
				h2{
					text-transform: uppercase;
					font-size: 14px;
					font-weight: 600;
					margin: 0;
					a{
						font-size: 14px;
						padding: 0;
						font-weight: 600;
					}
				}
				.level1{
					margin-top: 10px;
					padding-left: 0;
					margin-bottom: 10px;
					li{
						a{
							padding: 0;
							font-size: 14px;
							text-transform: inherit;
						}
					}
				}
			}
			.nav-block-center{
				ul{
					padding: 0;
				}
			}
		}
	}

}


/*============================================================================
5. FOOTER
==============================================================================*/
$footer-bg: {{settings.color_footer_bg}};
$footer-title: {{settings.color_footer_title}};
$footer-link: {{settings.color_footer_link}};
$footer-border: {{settings.color_footer_border}};
$footer-icon: {{settings.color_footer_icon}};
$footer-subcribe: {{settings.color_footer_sub_info}};
$footer-copyright: {{settings.color_footer_copyright}};
footer{	
	background:#f4f4f4;
	position: relative;
	overflow: hidden;
	margin-top: 30px;
	padding-top: 50px;
	.footer-info-widget{
		h3{
			font-size: em(18px);
			color: $footer-title;
			text-transform:uppercase;   
			margin-bottom: 20px;
		}
		p{
			color: $footer-subcribe;
			font-size: em(16);
			&.hotline{
				font-size: em(28px);
				color: $footer-icon;        
				font-weight: 700;
				margin-bottom: 15px;
				margin-top: -8px;
				a{
					color: $footer-icon; 
					&:hover{
						color: $main-color;
					}
				}
			}
		}
		form{
			position: relative;
			input{
				height: 50px;
				@include border-radius(5px);
				font-size: em(16px);
			}
			button{
				position: absolute;
				right: 0;
				background: transparent;
				border: none;
				line-height: 50px;
				font-size: em(30px);
				color: #a6a6ad;
				padding-right: 10px;
			}
		}
	}
	.list-inline{
		.fa{
			color: $footer-icon;
			margin-right: 20px;
			font-size: em(30);
			&:hover{
				color:$main-color;        
			}
		}
	}
	.site-footer{
		h3{
			position: relative;
			color: $footer-title;
			margin: 0;
			padding: 13px 0;    
			font-size: em(18px);

		}
	}

	.list-menu{		
		margin-bottom: 15px;
		line-height: em(24px);
		a{
			color: $footer-link;     
			&:hover{
				color:$main-color;
			}
		}
		li{
			color: $footer-link;
		}
		&.contact .fa {
			width: 20px;
			margin-right: 5px;
			color:$main-color;
		}
	} 
	.copyright {
		line-height: 40px;
		text-align: center;
		color: $footer-copyright;
		font-size:em(14px);
		position: relative;
		.inner{
			border-top: 1px solid #e1e1e1;
		}
		a{      
			font-weight: 700;
			color: $footer-copyright;
			&:hover{
				color: $main-color;
			}
		}
	}
	.social-icons li{
		margin-right: 10px;
	}
	.back-to-top {

		position: absolute;
		right: 10px;
		bottom: 10px;
		font-size: 30px;
		color: $text-color;
		line-height: 1;
		cursor: pointer;
		&.show {
			position: fixed;
			right: 10px;
			bottom: 10px;
		}
	}
	form{
		position: relative;
		button#subscribe {
			position: absolute;
			right: 0;
		}
	}

}

/*============================================================================
6. Product detail
==============================================================================*/
.details-product{
	#gallery_01 {
		margin-top: 15px;
	}
	.owl-carousel.owl-loaded{
		overflow: hidden;
	}
	.details-pro{
		.product-price{
			font-size: em(30px);
			display: inline-block;
		}
		.price-box{
			margin: 10px 0 15px;
			del{
				color: #adadad;
				font-size: em(20px);
			}
		}
		.custom-btn-number {
			position: relative;
			padding: 0;
			margin-bottom: 0px;
			border: none;
			box-shadow: none;	
			height: auto;
			display: inline-block;
			width: auto;
			float: left;
			label{font-size: 14px;    display: inline-block;}
			#qty, .qty-edit{			
				width: 50px;
				display: inline-block;
				font-size: 14px;
				height: 50px;
				border: 0.5px solid #CCCCCC;
				line-height: 50px;
				text-align:center;
				margin-bottom: 0;
				float: left;
				border-left: none;
				border-right: none;
			}
			.btn-cts{
				border: 0.5px solid #ccc;
				outline: none;
				background: #fff;
				height: 40px;
				width: 20px;
				text-align: center;
				vertical-align: top;
				padding: 0;
				color: #000;
				&.btn-minus{
					float: left;
				}
				&:hover, &:focus{
					background-color:#ccc;
				}
			}
			.qtyminus {
				position: absolute;
				left: 25px;
				top: 4px;
				font-size: em(20px);
			}
			.qtyplus {
				position: absolute;
				right: 25px;
				top: 4px;
				font-size: em(20px);
			}
		}	
	}
}
#recently-viewed-products{
	.image {
		float: left;
		width: 90px;
		margin-right: 10px;
	}
	.info {
		width: calc(100% - 100px);
		float: right;
	}
}
.zoomWrapper {
	width: auto !important;
	height: auto !important;
	width: 100% !important;
	height: 100% !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
.zoomWrapper img {
	position: static !important;
	width: auto !important;
	height: auto !important;
	max-width: 100%;
	max-height: 100%;
	& ~ img{
		display: none!important;
	}
}
.product-tab{
	.tab-link{
		margin-right: 20px;
		h3{
			margin: 10px 0;
			font-size:em(16px);
		}
		span{

			font-size:em(16px);
		}
		&.current{
			h3{
				color: $main-color;
			}
		}
	}
	.tab-content.current{
		padding: 10px;
		border: 1px solid $border-color;
		min-height: 200px;
	}
}
/*============================================================================
7. Collection
==============================================================================*/
.view-mode span{
	font-size: 0;
}
.button-view-mode{
	padding: 0;
	margin: 0;
	font-size: em(20px);
	&.active{
		box-shadow: none;
		color: $text-color;
		a{
			color: $text-color;
		}
	}	
}
.sortPagiBar{
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 20px;
	padding-bottom: 15px;
}
/*============================================================================
8. Blogs
==============================================================================*/
.blog-item {  	
	overflow: hidden;
	margin-bottom: 15px;
	.date {
		position: absolute;
		background: $main-color;
		text-align: center;
		color: #fff;
		padding: 3px 10px;
		z-index: 10;
		span{
			display: block;
			line-height: 45px;
			& ~ span{       
				overflow: hidden;
				border-top: 1px solid #fff;
			}
		}
	}
}
.blog-item-name {	
	font-weight: 700;
	position: relative;
	font-size:em(16px);
	margin:0;
	a{
		color: $text-color;
	}
	.fa{
		position: absolute;
		left: 0;
		top: 9px;
		font-size: 11px;
		color: $main-color;
	}
}
.blog-item-summary {
	font-size:em(14px);
	margin-bottom: 0;
}
.blog-item-thumbnail {
	position: relative;
}
.list-blogs {
	.blog-item {
		margin-bottom: 25px;		
	}
}
/*============================================================================
9. Article
==============================================================================*/
.article-main{
	.article-title {
		font-size: em(24px);
		line-height: em(27px);
		margin: 15px 0 8px;
	}
	.postby {
		font-size: em(16px);
		line-height: em(24px);
		color: #676767;
		margin-bottom: 10px;
	}
	.article-content {
		font-size: em(16px);
	}
	.form-group {
		margin: 0;
		padding-top: 0;
		padding-bottom: 0px;
		margin-bottom: 20px;
	}
}

#article-comments{
	margin-top: 30px;
	.article-comment {
		margin-bottom: 10px;
	}
	.article-comment-user-image {
		margin: 0;
		float: left;
		width: 50px;
		margin-right: 12px;
	}
	.article-comment-user-comment {
		padding-left: 63px;
		font-size: em(14px);


	}
	.user-name-comment {
		margin: 0;
		color: $main-color;
		font-size: 18px;
		line-height: 1;
	}
	.article-comment-date-bull {
		padding: 5px 0;
		display: block;
		color: #acacac;
	}

}
.social-media{
	font-size: em(14px);
	label{
		display: inline-block;
	}
	a{
		margin-right: 7px;
	}
	.list-inline li{
		margin-right: 20px;
	}
}
.section-news-2{
	margin-bottom: 20px;
}
/*============================================================================
10. CART
==============================================================================*/
.cart-item{
	background: #fff;
	padding: 20px 10px;
	border-bottom: 1px solid $border-color;

}
.cart-item-image {
	float: left;
	width: 120px;
	margin-right: 20px;
}
.cart-item-info {
	padding-left: 140px;
	h3{
		margin: 0;
		font-size: em(18px);
		font-weight: 400;
	}
	.product-price{
		line-height: 50px;
	}
	input{
		width: 95px;
		height: 45px;
		border-color: $border-color;
		float: left;
	}
	.remove-item {
		color: #c6c6c6;
		font-size: 38px;
		font-weight: 300;
		line-height: 47px;
		float: right;
	}
	.variant{
		color: #adadad;
	}
}
.name-product-cart{
	color: $main-color;
}
.cart{
	.total-price{
		background: #fff;
		padding: 25px;
		line-height: 45px;
	}
}
.delete-cart{
	.title{
		font-size: em(30px);
		text-align: center;
		padding: 30px 10px;
	}
	.btn-50{
		width: calc(50% - 3px);
		a{
			color: #fff;
			display: block;
		}
	}
}

/*============================================================================
11. ACCOUNT,ORDER,ADDREDSS...
==============================================================================*/
/*11.1 Account gerenal*/
#customer_register{
	margin-bottom: 20px;
}
#customer_login,
#recover_customer_password{
	margin-bottom: 0;
}
.checkbox.style {
	input {
		margin: 0 !important;
		display: none;
	}
	label {
		display: inline-block;
		vertical-align: middle;
		font-weight: normal;
		text-transform: none;   
		position: relative;
		padding-left: 55px;
		line-height: 50px;
		&:before {
			display: block;
			width: 35px;
			height: 35px;
			background: #fff;
			border: 1px solid #d4d4d4;
			border-radius: 5px;
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-o-transform: translateY(-50%);
		}
	}
	input:checked + label:after {
		content: "\f00c";
		font-family: FontAwesome;
		font-size: 20px;
		color: $main-color;
		position: absolute;
		top: 50%;
		left: 8px;
		transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}
}


/*11.2 Account*/
.block-account{
	h3{
		margin-top: 0;
	}
}
.customer-name{
	color: $main-color;
	line-height: 55px;
}
.block-content.form-signup{
	background: #fff;
	//padding-top: 20px;
	p{
		padding: 0 20px;
		i{
			color: $main-color;
			margin-right: 10px;
		}
	}
}
.block-edit-padding{
	p {
		padding: 0 !important;
		display: table;
		i {
			display: table-cell;
			width: 20px;
			text-align: center;
		}
	}
}
.address-title{
	padding-left: 10px;
	margin-bottom: 15px;
	border-radius: 0!important;
	font-weight: 300;
	button{
		background: none;
		border: none;
		font-size: 0;
		width: 50px;
		height: 55px;
		&.btn-edit{
			background-image:url({{ 'btn-edit.png'|asset_url}});
			background-repeat: no-repeat;
			background-position: center;
		}
		&.btn-delete{
			background-image:url({{ 'btn-delete.png'|asset_url}});
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}
.address-subtitle{
	margin-top: 0;
	text-transform: uppercase;
}
.address-item-action{
	right: 0;
	top: -7px;
	.btn-row{
		padding-right: 5px;
	}
}
.address-group {
	background: #fff;
	padding-bottom: 5px;
	margin-bottom: 15px;
	p{		
		color: #595959;
		label{
			float: left;
			font-weight: 300;
		}		
	}
}

/*11.2 Order*/
#order_payment,
#order_shipping{
	background: #fff;
	//padding:10px 20px;
	.address.note{
		i{
			color: $main-color;
			margin-right: 5px;
		}
	}
}
.totalorders {
	background: #fff;
	border-color: $border-color;
}
.order-headding{
	margin:0;
}

.info-contact{
	.widget-menu{
		p{
			display: inline;
		}
	}
	.logo{
		font-size: 20px;
	}
}
/*============================================================================
12. SIDEBAR
==============================================================================*/
.aside-item{
	&.collection-category{
		.nav-item {
			position: relative;
			clear: left;
			font-size: em(14px);
			a{
				font-size: em(14px);
			}
			.fa{
				position: absolute;
				right: 5px;
				top: 8px;
			}
			.dropdown-menu{
				position: static;
				width: 100%;
				border: 0;
				padding-left: 5px;
				box-shadow: none;
				margin-top: 0;
				padding-top: 0;
				li{
					a{
						&:hover, &:focus{
							color: $main-color;
							background-color: transparent;
						}
					}
				}
			}
			&.active{
				>a{
					color: $main-color;
				}
				>.dropdown-menu{
					display: block;
				}
			}
		}
		.nav>li>a {
			padding: 5px 0px;
		}
	}
	.nav>li>a:focus, .nav>li>a:hover{
		background: none;
	}
}
.ui-widget.ui-widget-content{
	height: 2px;
	background: #ebebeb;
}
.ui-slider-range.ui-corner-all.ui-widget-header {
	background: $text-color!important;
}
.ui-slider-horizontal .ui-slider-handle {
	height: 14px!important;
	width: 14px!important;
	border-radius: 50%!important;
	top: -6px!important;
	border: none!important;
	background: $main-color!important;
}
.ui-widget.ui-widget-content {
	border: none!important;
	margin-bottom: 25px;
	width: calc(100% - 14px);
	margin-left: 7px;
}
#start{
	width: 100px;
	float: left;
	input{
		text-align: center;
		border-radius: 3px;
		border: 1px solid #e1e1e1;
		box-shadow: none;
		height: 34px;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
}
#stop{
	width: 100px;
	float: left;
	margin-left: 30px;
	text-align: center;	
	position: relative;
	input{
		text-align: center;
		border-radius: 3px;
		border: 1px solid #e1e1e1;
		box-shadow: none;
		height: 34px;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
	&:before {
		content: "-";
		position: absolute;
		left: -17px;
		font-size: 17px;
		top: 4px;
	}
}
a#filter-value {
	height: 30px;
	line-height: 10px;
	font-weight: 400;
	width: 100%;
	margin-top: 15px;
	border-radius: 3px;
}
/*============================================================================
#13. FIXED APPS
==============================================================================*/
div#isp_search_result_page_container .btn-search {
	display: none;
}
button.btn.btn-default.btn-search {
	display: none;
}
div#isp_search_result_page_container form{
	margin-bottom: 0;
}

.text-container {
	width: 35%;
	text-align: center;
	position: relative;
	padding: 59px;
	float:left;
	-moz-box-shadow: -5px 6px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -5px 6px 12px rgba(0, 0, 0, 0.5);
	box-shadow: -5px 6px 12px rgba(0, 0, 0, 0.5);
}
.col-sm-4.col-xs-12:first-child .banner-item {
	-moz-box-shadow: -5px 6px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -5px 6px 12px rgba(0, 0, 0, 0.5);
	box-shadow: -5px 6px 12px rgba(0, 0, 0, 0.5);
}
a.caret-right {
	letter-spacing: 1px; 
	text-transform: uppercase;
	font-weight: 700;
	font-size: .953em;
}

.homepage-product-spotlight-banner img {
	width: 100% !important;
	max-width: 100%;
}
a.banner-right {
	display: inline-block;
	width: 65%;
}
.megamenu-head {
	background: #ccc;
	color: $main-color;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 35px;
	margin: 0;
	display: inline-block;
	width: 100%;
	height: 35px;
  border-radius: 10px;
	i.fa {
		float: right;
		line-height: 35px;
		margin-right: 15px;
		font-size: 18px;
	}
}
.megamenu {
	position: relative;
	cursor:pointer;
	.menu-left{
		position: absolute;
		top: 100%;
		padding: 10px 0px;
		left: 0;
		width: 100%;
		background: #fff;
		z-index: 99999;
		-moz-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
		display:none;
		>li:first-child a {
			color: red;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 700;
			&:hover{
				color:#00a7f4;
			}
		}
		.sub-menu{
			display:none;
			background:#fff;
			position: absolute;
			left: 100%;
			background: #fff;
			top: 0;
			padding: 10px 0;
			border: 1px solid #dedede;
			&.width_blog{
				width:700px;
			}
			.blog-menu{
				display: inline-block;
				width: 445px;
				padding: 0px 10px;
				border-left: 1px dashed #dedede;
				.news-caption {
					display: table-cell;
					padding-left: 15px;
					padding-top: 20px;
				}
				h4.sub-title-1 {
					margin: 0;
				}
				h3.title-2 {
					font-size: 13px;
					margin: 5px 0;
					color:#000;
					font-weight:700;
				}
				.news-img {
					float: left;
					margin: 20px auto auto 0px;
					position: relative;
					width:140px;
				}
				p{
					line-height: 22px;
					font-size: 14px;
					margin-bottom: 0;
				}
			}
			> ul{
				width: 250px;
				display:inline-block;
				float:left;
			}
		}
		li{
			line-height: 40px;
			font-size: 16px;
			padding: 0px 15px;
			>a{
				>img{
					margin-right: 8px;
					transform: translateY(-4px);
				}
				i.fa {
					float: right;
					line-height: 30px;
					font-size: 18px;
					margin-right:15px;
				}

			}
			&:hover{
				> .sub-menu{
					display:block;
				}
			}


		}

	}
	&:hover{
		.menu-left{
			display:block;
		}
	}
}
.section_showroom{
	position:relative;
	margin:30px 0px;
	padding:100px 0px;
	text-align:center;
	background:url({{'showroom_bg.jpg' | asset_url}}) no-repeat center;
	background-size:cover;
	display: inline-block;
	width: 100%;
	h2{
		font-size: 25px;
		background: rgba(23, 71, 158, 0.8);
		display: inline-block;
		font-weight: 700;
		a{
			color: #fff;
			padding: 10px 20px;
			display: inline-block;
		}
		&:hover{
			background:#17479e;
		}
	}
}
@media (max-width:768px){
	.text-container {
		width:100%;
	}
	a.banner-right {
		width:100%;
	}
	.header-decktop {
		display: none;
	}
	.header-mobile {
		display: block !important;
		padding: 10px 0;
		padding-bottom: 0;
	}
	.navbar-toggle{
		float: none !important;
	}
	.navbar-toggle .icon-bar {
		background: #333;
		width: 30px;
		height: 4px;
	}
	p.welcome-msg {
		margin: 0;
		display: inline-block !important;
		text-align: left !important;
		transform: translateY(7px);
	}
	p.welcome-msg a {
		color: #000 !important;;
		font-size: 30px !important;
	}
	.cart-hover {
		width: 30px;
		display: inline-block;
	}
	.search-hover img {
		width: 100%;
	}
	.header-search {
		padding: 0 !important;
		width: 30px !important;
		display: inline-block;
		margin-left: 0px !important;
	}
	.main-header .main-logo {
		text-align: center;
		margin-top: 10px;
	}
	.header-search button{
		padding: 0 !important;
	}
	form#searchauto {
		display: block !important;
		margin-bottom: 0px;
	}
	.input-group .input-group-field {
		border: 0 !important;
		background: none !important;
		border-top-left-radius: 0px !important;
		border-bottom-left-radius: 0px !important;
	}
	.wpo-search-inner .input-group {
		border: 1px solid #dedede;
		border-radius: 25px;
	}
	input#searchsubmit {
		background: none;
	}
	span.input-group-addon.input-group-btn {
		background: none !important;
	}
	input#searchsubmit {
		color: #ccc;
		font-size: 18px;
	}

	header.main-header {
		padding: 0;
	}
}
form#add-to-cart-form {
	margin-bottom: 12px;
}
.map-product {
	margin-bottom: 10px;
	a {
		font-size: 16px;
		font-weight: 600;
		color: #1244a0;
	}
}
.info-socials-article {
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	.box-like-socials-article {
		display: inline-block;
	}
}
aside.aside-item {
	display: inline-block;
	width: 200px;
	position: relative;
}
.aside-title {
	border: 1px solid #dedede;
	padding: 10px 15px;
	cursor: pointer;

}
.aside-content.filter-group {
	max-height: 0;
	overflow: hidden;
	margin: 0;
	position: absolute;
	z-index: 99;
	top: 100%;
	width: 200px;
	border: 0px;
	background: #fff;
	margin-top: 15px;
	border: 1px solid #dedede;
	border-bottom: 0;
	transition: 0.5s;
} 
.aside-item:hover{
	.aside-content.filter-group {
		max-height: 300px;
		transition: 0.5s;
	}
}

aside.sidebar.left-content {
	margin-bottom: 15px;
}
.filter-group ul {
	max-height: 200px;
	overflow-y: auto;
}
.sortPagiBar {
	border-bottom: 0;
	margin-bottom: 20px;
	padding-bottom: 15px;
	position: absolute;
	width: 32%;
	right: 15px;
	z-index: 999;
	top: -55px;
}
section.products-view {
	border-top: 1px solid #dedede;
	padding-top: 15px;
}
header nav li > a > img {
	transform: translateY(-10px);
}
.view-mode a.btn {
	padding: 0;
	margin: 0;
	font-size: 0;
	border: 0;
	height: 0;
	width: 0;
	line-height: 0;
}
.aside-title h2.title-head:after {
	content: '\f107';
	font-family: 'FontAwesome';
	right: 0;
	position: absolute;
}
.aside-title.active h2.title-head:after{
	content: '\f106';
}
.aside-title h2.title-head {
	font-size: 16px;
	margin: 0px;
	position: relative;
}
.filter-item * {
	color: #333;
}
.filter-item{
	padding-left:15px;
}
.filter-item--check-box .fa {
	margin-right: 5px;
	display: none;
}
.search-top .input-group .input-group-field {
	border: 1px solid #ccc;
	background: #ccc;

}

.search-top .input-group {
	border-radius: 25px;
	overflow: hidden;
	margin:0px;
	width:100%;
}

.search-top .input-group .btn, .input-group input[type="submit"],.search-top .input-group .input-group-field {
	height: 35px;
	line-height: 35px;
}
.section-support {
	margin-bottom: 30px;
}
.section-support .line {
	border-top: 3px solid #16469e;
	border-bottom: 3px solid #16469e;
	padding: 60px 0px 30px;
	display: inline-block;
	width: 100%;
}
.footer-widget .text-widget > p {
	line-height: 18px;
	font-style: italic;
	color: #000;
}
.page-footer h4.title-1 {
	margin-top: 0;
	font-weight: 700;
	color: #000;
	margin-bottom: 30px;
}
.support-item {
	text-align: left;
	color: #000;
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
	span {
		display: block;
		&.hotline {
			font-size: 28px;
		}
		&.text {
			font-size: 13px;
			text-transform: initial;
			font-weight: 400;
		}
	}
	.input-group-btn{
		display: table-cell;
	}
	.input-group{
		width:100%;
	}
	.btn, input[type="submit"] {
		display: inline-block;
		height: 40px;
		line-height: 39px;
		background: #333;
		color: #fff;
		text-transform: uppercase;
		padding: 0 15px;
		text-align: center;
		white-space: nowrap;
		outline: none !important;
		cursor: pointer;
		border: none;
		font-weight: 400;
		border-radius: 0;
		letter-spacing: 0;
		-webkit-transition: background-color 0.1s ease-in;
		-moz-transition: background-color 0.1s ease-in;
		-ms-transition: background-color 0.1s ease-in;
		-o-transition: background-color 0.1s ease-in;
		transition: background-color 0.1s ease-in;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	.input-group .input-group-field {
		border: 1px solid #ccc;
		background: #fff;
		font-weight: 400;
		font-size: 13px;
	}
	.social ul {
		margin-bottom: 0;
		margin-top: 10px;
		text-align: left;
		li a {
			border: 1px solid #fff;
			height: 40px;
			width: 40px;
			display: inline-block;
			border-radius: 25px;
			background: #fff;
			text-align: center;
			line-height: 40px;
			color: #333;
			font-size: 30px;
		}
	}
}
.last-view-products-wrapper .header-title {
	border-bottom: 1px solid #dedede;
	display: inline-block;
	padding-right: 75px;
	h2 {
		font-size: 18px;
		text-transform: uppercase;
		color: #000;
		font-weight: 700;
		border-bottom: 2px solid #00a7f4;
		display: inline-block;
		margin: 0;
	}
}
span.hotline .fa {
	font-size: 18px;
	color: #fff;
	background: $main-color;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	transform: translateY(-5px);
}
span.hotline a:hover{
	color: #17469e;
}
.support-item .social ul li a:hover{
	background: $main-color;
}
.support-item .btn, .support-item input[type="submit"]:hover{
	background: $main-color;
}
.megamenu-head i.fa.fa-list {
	float: none;
	margin-right: 5px;
	transform: translateY(2px);
}
.modal-content button.close {
	margin-top: -2px;
	display: inline-block;
	width: 27px;
	height: 27px;
	position: relative;
	top: -60px;
	left: 15px;
	background: #fff;
	border-radius: 50%;
	float: left;
	opacity: 1;
}
section.section-product {
	background: #f4f4f4;
	padding: 30px 0px;
}
.seemore {
	text-align: center;
	a {
		color: #333;
		font-size: 15px;
		strong{
			color: #16469e;
		}
		span{
			color: red;
			font-size: 23px;
			font-weight: 600;
			text-transform: uppercase;

		}
	}
}
section.naturix-goods.sec-blogs {
	background: #f4f4f4;
	padding: 50px 0px;
	.latest-news{
		margin-top: 0;
		.news-img {
			margin: 0;
			height: 157px;
			width: 200px;
		}
	}
	.news-img {
		margin: 0;
	}
	.blogs-right .item {
		margin-bottom: 10px;
	}
	.sub-title-sm {
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		color: #00a7f4;
	}
	.blog-item .news-caption {
		position: absolute;
		bottom: 0;
		background: rgba(51, 51, 51, 0.5);
		left: 0;
		width: 100%;
		padding-bottom: 30px;
		h3.title-2 {
			margin: 0;
			color: #fff;
			a{
				font-size: 30px;
				color: #fff;
			}
		}
	}
	.line {
		width: 100%;
		height: 3px;
		background: #16469e;
	}
}
.sidebar_instagram .item:nth-child(3n+1) {
	clear: left;
}
.sidebar_instagram .item {
	width: 29%;
	float: left;
	margin: 5px;
}
ul.nav.navbar-pills {
	padding-left: 15px;
}
.sidebar_instagram {
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}
.content-page{

	.title {
		text-align: center;
		position: relative;
		h2{
			color:#000;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 22px;
			margin-bottom: 30px;
			padding-bottom: 10px;
			&:before {
				content: '';
				width: 280px;
				height: 2px;
				background: #333;
				position: absolute;
				bottom: 0;
				left: 50%;
				display: inline-block;
				transform: translateX(-50%);
			}
		}
	}
	.support-voucher {
		display: inline-block;
		width: 100%;
		text-align: center;
		margin: 30px 0;
		.hotline {
			display: inline-block;
			background: #16469e;
			color: #fff;
			font-size: 25px;
			padding: 15px 100px;
			line-height: 28px;
			span.free-hotline {
				font-size: 18px;
			}
			a {
				font-size: 35px;
				color: #fff;
			}
		}
	}
	.vouche-conten li span {
		width: 25px;
		height: 25px;
		display: inline-block;
		background: #dedede;
		text-align: center;
		line-height: 25px;
		margin-bottom: 5px;
		border-radius: 50%;
		margin-right: 5px;
	}
}
.page-article{
	.aritcle-image{
		position: relative;
		img {
			width: 100%;
		}
		.theme-container.container {
			width: 100%;
			.col-xs-12 {
				padding: 0;
			}
		}
		.breadcrumb-bg{
			background: none;
			padding: 0px;
		}
		.breadcrumb li strong {
			color: #fff;
			font-weight: 400;
		}
		.breadcrumb li > a > span {
			color: #dedede;
		}
		.blog-media h1 {
			color: #fff;
			font-size: 26px;
			font-weight: 600;
			position: relative;
			padding-bottom: 15px;
			&:before {
				content: '';
				width: 200px;
				height: 3px;
				background: #16469e;
				display: inline-block;
				position: absolute;
				bottom: 0;
			}
		}
		.sub-title-1 {
			font-size: 13px;
			text-transform: uppercase;
			color: #dedede;
		}
	}
	.action-article {
		position: absolute;
		bottom: 0;
		left: 0;
		padding:15px 30px;
		background: rgba(19, 18, 18, 0.5);
		width: 100%;
	}
	.content {
		background: #f0f0f0;
		padding: 50px 30px;
	}
	.article-main .article-content {
		padding: 0 100px 30px;
	}
	.share-article {
		border-bottom: 2px solid #16469e;
		padding-bottom: 15px;
	}
	.blog-single .blog-sidebar .h4 {
		margin: 40px 0 50px;
		display: inline-block;
		width: 100%;
		text-align: center;
		font-size: 25px;
		color: #000;
		font-weight: 700;
		text-transform: uppercase;
		position: relative;
		&:after {
			width: 150px;
			height: 3px;
			background: #16469e;
			content: '';
			display: inline-block;
			position: absolute;
			bottom: -8px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.product-countdown{
	.details-product .details-pro .stock-brand {
		border-top: 0;
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 0;
	}
	.details-product .details-pro .form-product {
		margin-top: 20px;
	}
	.details-product .details-pro .stock-brand ul li .a-brand p {
		display: block;
		border-left: 0;
		line-height: 25px;
		padding-left: 0;
		margin: 0;
	}
	.stock-brand ul li {
		display: inline-block;
		text-align: center;
		&.stock-tag {
			display: block;
			text-align: left;
			margin-top: 15px;
			span {
				border: 3px solid #00a7f4;
				padding: 5px 15px;
				border-radius: 25px;
				color: #00a7f4;
			}
		}
	}
	.info-socials-article {
		margin-left: 40px;
		display: inline-block;
		width: 100%;
		padding: 0;
		border-top: 0;
		border-bottom: 0;
		transform: translateY(-22px);
	}
	.star-off-png::before {
		content: "\f004" !important;
		color: #d7d7d7 !important;
		font: normal normal normal 20px/1 FontAwesome !important;
	}
	span.special-price {
		font-size: 16px;
		color: #000;
	}
	.details-product .details-pro .price-box .special-price .product-price {
		color: #ff5f5f;
	}
	.details-product .details-pro .price-box .old-price .product-price-old {
		color: #adadad;
		font-weight: 400;
	}
	.details-product .details-pro .form-product .form-group .btn-lg {
		padding: 0;
		line-height: 50px;
		height: 50px;
		width: 100%;
	}
	.details-product .details-pro .form-product .form-group .btn-lg:before {
		display:none;
	}
	.infor-add span {
		font-size: 20px;
		font-weight: 600;
		display: block;
		line-height: 35px;
		color: #00a7f4;
		&.sau{
			color: #ff5f5f;
		}
		&.shipping {
			font-weight: 400;
			color: #333;
			line-height: 25px;
			margin-top: 5px;
			font-size: 22px;
		}
	}
	.progress {
		height: 10px !important;
	}
	.tooltip{ 
		position:relative;
		float:right;
	}
	.tooltip > .tooltip-inner {
		background-color: #fff;
		padding: 0;
		color: #00a7f4;
		font-weight: bold; 
		font-size: 12px;
		width: 40px;
		height: 40px;
		line-height: 35px;
		text-align: center;
		border: 3px solid #00a7f4; 
		border-radius: 50%;
	}

	.progress{
		border-radius:0;
		overflow:visible;
	}
	.progress-bar{
		background:rgb(23,44,60); 
		-webkit-transition: width 2.5s ease-in-out;
		transition: width 2.5s ease-in-out;
	}
	.progress-bar {
		background: #00a7f4;
	}
	.tooltip.top .tooltip-arrow {
		display: none !important;
	}
	.tooltip {
		position: relative;
		top: -18px !important;
	}
}
#menu-mobile .menu-mobile >div>ul> li:nth-child(2)> a {
	color: red;
}


.countdown-product,
.countdown-slideshow {
	font-size: 20px;
	padding: 10px 0 0;
	color: #333;
	margin: 0px;
	margin-bottom: 30px;
}.countdown-slideshow #countdown {
	margin: 0px;
	margin-left: 0px;
}.countdown-product #demo {
	color: #ce1111;
	font-size: 17px;
	font-weight: bold;
}.item-collect span {
	color: #171717;
	font-size: 20px;
	cursor: pointer; 
	letter-spacing: 1.5px;
	padding: 10px 0;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
}#countdown,
#countdown1 {
	width: 450px;
	text-align: center;
	border-radius: 5px;
	margin: auto;
	padding: 0;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}#countdown #tiles,
#countdown1 #tiles1 {
	position: relative;
	z-index: 1;
}#countdown #tiles > span,
#countdown1 #tiles1 > span {
	width: 14%;
	text-align: center;
	color: #fff;
	background-color: #00a7f4;
	border-radius: 3px;
	margin: 0 7px;
	padding: 15px 0;
	display: inline-block;
	position: relative;
}#countdown #tiles > span:before,
#countdown1 #tiles1 > span:before {
	content: "";
	width: 100%;
	height: 13px;
	background: #fff;
	display: block;
	padding: 0 3px;
	position: absolute;
	top: 41%;
	left: -3px;
	z-index: -1;
}#countdown .labels,
#countdown1 .labels {
	width: 100%;
	height: 25px;
	text-align: center;
	bottom: 8px;
}#countdown .labels li,
#countdown1 .labels li {
	width: 15%;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	font-weight: 700;
	font-size: 15px;
} 
.countdown-slideshow > p {
	font-weight: 600;
}
#combo-program {
	overflow-x: initial !important;
}
.image-footer {
	margin-top: -15px;
}
.image-footer a{
	color:#000;
}

div#combo-popup{
	display:none;
	&.introoo {
		opacity: 1;
		display:block;
	}
	.modal-header{
		button.close {
			top: 0px;
    	left: 0px;
		}
	}
}
div#city >ul >li {
	display: inline-block;
	border: 0;
	text-transform: uppercase;
	border-right: 1px solid #dedede;
}
#city > ul {
	margin-bottom: 15px;
	background: #f1f1f1;
	padding: 0;
	text-align: center;

}
#city .tab-content{ 
	display:none;
	&.current{
		display:block;
	}
}

button#searchsubmit,button#searchsubmit_stick {
	padding: 0;
	width: 50px;
	height: 35px;
	background: none;
}

.btn[disabled], fieldset[disabled] .btn {
	opacity: 1;
}

.modal-footer span.price {
	display: block;
	padding-bottom: 10px;
}

.modal-content h3.title {
	margin: 0;
	text-transform: uppercase;
	font-size: 20px;
}

.modal-footer{
	border:0;
}
a.bnt-combo {
	width: 100%;
	text-align: center;
	display: inline-block;
	padding: 8px 10px;
	color: #00a7f4;
	font-size: 16px;
}
#combo-popup .modal-body.open{
	#combo-program {
		max-height: 100%;
	}
	a.bnt-combo.clickopen {
		display: none;
	}
}