// Biến khởi tạo
var timeOut_modalCart;
var viewout = true;
var check_show_modal = true;
// Add a product and show modal cart
var add_item_show_modalCart = function(id,link_checkout) {
	if( check_show_modal ) {
		check_show_modal = false;
		timeOut_modalCart = setTimeout(function(){ 
			check_show_modal = true;
		}, 1000);
		if ( $('.addtocart-modal').hasClass('clicked_buy') ) {
			var quantity = $('#quantity').val();
		} else {
			var quantity = 1;
		}
		var params = {
			type: 'POST',
			url: '/cart/add.js',
			async: true,
			data: 'quantity=' + quantity + '&id=' + id,
			dataType: 'json',
			success: function(line_item) {
				if(link_checkout != undefined){
					window.location = "/checkout";
				}
				else{
					getCartModal();					
					jQuery('#myCart').modal('show');				
					jQuery('.modal-backdrop').css({'height':jQuery(document).height(),'z-index':'99'});
				}
				$('.addtocart-modal').removeClass('clicked_buy');
			},
			error: function(XMLHttpRequest, textStatus) {
				alert('Sản phẩm bạn vừa mua đã vượt quá tồn kho');
			}
		};
		jQuery.ajax(params);
	}
}

// Modal Cart
function getCartModal(){
	var cart = null;
	jQuery('#cartform').hide();
	jQuery('#myCart #exampleModalLabel').text("Giỏ hàng");
	jQuery.getJSON('/cart.js', function(cart, textStatus) {
		if(cart)
		{
			jQuery('#cartform').show();
			jQuery('.line-item:not(.original)').remove();
			jQuery.each(cart.items,function(i,item){
				var total_line = 0;
				var total_line = item.quantity * item.price;
				tr = jQuery('.original').clone().removeClass('original').appendTo('table#cart-table tbody');
				if(item.image != null)
					tr.find('.item-image').html("<img src=" + Haravan.resizeImage(item.image,'small') + ">");
				else
					tr.find('.item-image').html("<img src='//hstatic.net/0/0/global/design/theme-default/no-image.png'>");
				vt = item.variant_options;
				if(vt.indexOf('Default Title') != -1)
					vt = '';
				tr.find('.item-title').children('a').html(item.product_title + '<br><span>' + vt + '</span>').attr('href', item.url);
				tr.find('.item-quantity').html("<input id='quantity1' name='updates[]' min='1' type='number' value=" + item.quantity + " class='' />");
				if ( typeof(formatMoney) != 'undefined' ){
					tr.find('.item-price').html(Haravan.formatMoney(total_line, formatMoney));
				}else {
					tr.find('.item-price').html(Haravan.formatMoney(total_line, ''));
				}
				tr.find('.item-delete').html("<a href='javascript:void(0);' onclick='deleteCart(" + item.variant_id + ")' ><i class='fa fa-times'></i></a>");
			});
			jQuery('.item-total').html(Haravan.formatMoney(cart.total_price, formatMoney));
			jQuery('.modal-title').children('b').html(cart.item_count);
			jQuery('.count-holder .count').html(cart.item_count );
			if(cart.item_count == 0){				
				jQuery('#exampleModalLabel').html('Giỏ hàng của bạn đang trống. Mời bạn tiếp tục mua hàng.');
				jQuery('#cart-view').html('<tr><td>Hiện chưa có sản phẩm</td></tr>');
				jQuery('#cartform').hide();
			}
			else{			
				jQuery('#exampleModalLabel').html('Bạn có ' + cart.item_count + ' sản phẩm trong giỏ hàng.');
				jQuery('#cartform').removeClass('hidden');
				jQuery('#cart-view').html('');
			}
			if ( jQuery('#cart-pos-product').length > 0 ) {
				jQuery('#cart-pos-product span').html(cart.item_count + ' sản phẩm');
			}
			// Get product for cart view

			jQuery.each(cart.items,function(i,item){
				clone_item(item);
			});
			jQuery('#total-view-cart').html(Haravan.formatMoney(cart.total_price, formatMoney));
		}
		else{
			jQuery('#exampleModalLabel').html('Giỏ hàng của bạn đang trống. Mời bạn tiếp tục mua hàng.');
			if ( jQuery('#cart-pos-product').length > 0 ) {
				jQuery('#cart-pos-product span').html(cart.item_count + ' sản phẩm');
			}
			jQuery('#cart-view').html('<tr><td>Hiện chưa có sản phẩm</td></tr>');
			jQuery('#cartform').hide();
		}
	});

	$('#site-overlay').addClass("active");
	$('.main-body').addClass("sidebar-move");
	$('#site-nav--mobile').addClass("active");
	$('#site-nav--mobile').removeClass("show-filters").removeClass("show-search").addClass("show-cart");
}
//clone item cart
function clone_item(product){
	var item_product = jQuery('#clone-item-cart').find('.item_2');
	if ( product.image == null ) {
		item_product.find('img').attr('src','//hstatic.net/0/0/global/design/theme-default/no-image.png').attr('alt', product.url);
	} else {
		item_product.find('img').attr('src',Haravan.resizeImage(product.image,'small')).attr('alt', product.url);
	}
	item_product.find('a:not(.remove-cart)').attr('href', product.url).attr('title', product.url);
	item_product.find('.pro-title-view').html(product.title);
	item_product.find('.pro-quantity-view').html(product.quantity);
	item_product.find('.pro-price-view').html(Haravan.formatMoney(product.price,formatMoney));
	item_product.find('.remove-cart').html("<a href='javascript:void(0);' onclick='deleteCart(" + product.variant_id + ")' ><i class='fa fa-times'></i></a>");
	var title = '';
	if(product.variant_options.indexOf('Default Title') == -1){
		$.each(product.variant_options,function(i,v){
			title = title + v + ' / ';
		});
		title = title + '@@';
		title = title.replace(' / @@','')
		item_product.find('.variant').html(title);
	}else {
		item_product.find('.variant').html('');
	}
	item_product.clone().removeClass('hidden').prependTo('#cart-view');
}
// Delete variant in modalCart
function deleteCart(variant_id){
	var params = {
		type: 'POST',
		url: '/cart/change.js',
		data: 'quantity=0&id=' + variant_id,
		dataType: 'json',
		success: function(cart) {
			getCartModal();
		},
		error: function(XMLHttpRequest, textStatus) {
			Haravan.onError(XMLHttpRequest, textStatus);
		}
	};
	jQuery.ajax(params);
}
// Update product in modalCart
jQuery(document).on("click","#update-cart-modal",function(event){
	event.preventDefault();
	if (jQuery('#cartform').serialize().length <= 5) return;
	jQuery(this).html('Đang cập nhật');
	var params = {
		type: 'POST',
		url: '/cart/update.js',
		data: jQuery('#cartform').serialize(),
		dataType: 'json',
		success: function(cart) {
			if ((typeof callback) === 'function') {
				callback(cart);
			} else {
				getCartModal();
			}
			jQuery('#update-cart-modal').html('Cập nhật');
		},
		error: function(XMLHttpRequest, textStatus) {
			Haravan.onError(XMLHttpRequest, textStatus);
		}
	};
	jQuery.ajax(params);
});
/* fixHeightProduct */
function fixHeightProduct(data_parent, data_target, data_image) {
	var box_height = 0;
	var box_image = 0;
	var boxtarget = data_parent + ' ' + data_target;
	var boximg = data_parent + ' ' + data_target + ' ' + data_image;
	jQuery(boximg).css('height', 'auto');
	jQuery($(boxtarget)).css('height', 'auto');
	jQuery($(boxtarget)).removeClass('fixheight');
	jQuery($(boxtarget)).each(function() {
		if (jQuery(this).find($(data_image)).height() > box_image) {
			box_image = jQuery(this).find($(data_image)).height();
		}
	});
	if (box_image > 0) {
		jQuery(boximg).height(box_image);
	}
	jQuery($(boxtarget)).each(function() {
		if (jQuery(this).height() > box_height) {
			box_height = jQuery(this).height();
		}
	});
	jQuery($(boxtarget)).addClass('fixheight');
	if (box_height > 0) {
		jQuery($(boxtarget)).height(box_height);
	}
	try {
		fixheightcallback();
	} catch (ex) {}
}
jQuery(document).ready(function(){
	// Image Product Loaded fix height
	jQuery('.content-product-list .image-resize').imagesLoaded(function() {
		fixHeightProduct('.content-product-list', '.product-resize', '.image-resize');
		jQuery(window).resize(function() {
			fixHeightProduct('.content-product-list', '.product-resize', '.image-resize');
		});
	});
	// icon Footer
	$('a.btn-fter').click(function(e){
		if ( $(this).attr('aria-expanded') == 'false' ) {
			e.preventDefault();
			$(this).attr('aria-expanded','true');
			$('.main-footer').addClass('bg-active');
		} else {
			$(this).attr('aria-expanded','false');
			$('.main-footer').removeClass('bg-active');
		}
	});
	// Mainmenu sidebar
	$(document).on("click", "span.icon-subnav", function(){
		if ($(this).parent().hasClass('active')) {
			$(this).parent().removeClass('active');
			$(this).siblings('ul').slideUp();
		} else {
			if( $(this).parent().hasClass("level0") || $(this).parent().hasClass("level1")){
				$(this).parent().siblings().find("ul").slideUp();
				$(this).parent().siblings().removeClass("active");
			}
			$(this).parent().addClass('active');
			$(this).siblings('ul').slideDown();
		}
	});

	jQuery(window).scroll(function() {
		if ($(this).scrollTop() > 60) {
			$('.scrollToTop').addClass('show');
		} else {
			$('.scrollToTop').removeClass('show');
		}
		if (jQuery(window).width() < 768) {
			/* scroll header */
			var scroll = $(window).scrollTop();
			if (scroll < 320) {
				$(".main-header").removeClass("scroll-menu");	
			} else {
				$(".main-header").addClass("scroll-menu");		
			}
		}
	});
	//Click event to scroll to top
	jQuery('.scrollToTop').on('click', function(){
		jQuery("html, body").animate({ scrollTop: 0 }, "slow");
	});
	$('a[data-spy=scroll]').click(function(){
		event.preventDefault() ;
		$('body').animate({scrollTop: ($($(this).attr('href')).offset().top - 20) + 'px'}, 500);
	})
	// View more description product
	/*
	if ($('.description-productdetail').length > 0) {
		if ($('.description-productdetail').height() > 350 ) {
			$('.description-productdetail').css('height','350');
			//	$('.view-more-detail').addClass('close-desc');
		} else {
			$('.view-more-detail').addClass('hidden');
		}
	}
	$(document).on("click", ".view-more-detail", function(){
		if ($(this).hasClass('close-desc')) {		
			$('.description-productdetail').css('height','350');
			$('.view-more-detail').removeClass('close-desc');
			$('.view-more-detail a').text('+ Đọc thêm');
		} 
		else {
			$('.description-productdetail').removeAttr('style');
			$('.view-more-detail').addClass('close-desc');
			$('.view-more-detail a').text('- Rút gọn')
		}
	});
*/
	
});

jQuery(document).ready(function(){
	$("select.loc_on_change").change(function(){
		if($(this).attr("value") == "#") return false;
		window.location = $(this).attr("value");
	});

});
/* focus email footer */
jQuery(document).on("change",".group-input #contact_email", function(){
	var e = jQuery(this);
	"hidden" != e.attr("type") && e.toggleClass("not-empty", "" != e.val())
});
jQuery(document).ready(function($){
	$("nav.mobile select").change(function(){ window.location = jQuery(this).val(); });
	$('input[type="submit"], input.btn, button').click(function(){ 
		// remove ugly outline on input button click
		$(this).blur();
	})
}); // end document ready

/* jQuery css bezier animation support -- Jonah Fox */
;(function($){

	$.path = {};

	var V = {
		rotate: function(p, degrees) {
			var radians = degrees * Math.PI / 180,
					c = Math.cos(radians),
					s = Math.sin(radians);
			return [c*p[0] - s*p[1], s*p[0] + c*p[1]];
		},
		scale: function(p, n) {
			return [n*p[0], n*p[1]];
		},
		add: function(a, b) {
			return [a[0]+b[0], a[1]+b[1]];
		},
		minus: function(a, b) {
			return [a[0]-b[0], a[1]-b[1]];
		}
	};

	$.path.bezier = function( params, rotate ) {
		params.start = $.extend( {angle: 0, length: 0.3333}, params.start );
		params.end = $.extend( {angle: 0, length: 0.3333}, params.end );

		this.p1 = [params.start.x, params.start.y];
		this.p4 = [params.end.x, params.end.y];

		var v14 = V.minus( this.p4, this.p1 ),
				v12 = V.scale( v14, params.start.length ),
				v41 = V.scale( v14, -1 ),
				v43 = V.scale( v41, params.end.length );

		v12 = V.rotate( v12, params.start.angle );
		this.p2 = V.add( this.p1, v12 );

		v43 = V.rotate(v43, params.end.angle );
		this.p3 = V.add( this.p4, v43 );

		this.f1 = function(t) { return (t*t*t); };
		this.f2 = function(t) { return (3*t*t*(1-t)); };
		this.f3 = function(t) { return (3*t*(1-t)*(1-t)); };
		this.f4 = function(t) { return ((1-t)*(1-t)*(1-t)); };

		/* p from 0 to 1 */
		this.css = function(p) {
			var f1 = this.f1(p), f2 = this.f2(p), f3 = this.f3(p), f4=this.f4(p), css = {};
			if (rotate) {
				css.prevX = this.x;
				css.prevY = this.y;
			}
			css.x = this.x = ( this.p1[0]*f1 + this.p2[0]*f2 +this.p3[0]*f3 + this.p4[0]*f4 +.5 )|0;
			css.y = this.y = ( this.p1[1]*f1 + this.p2[1]*f2 +this.p3[1]*f3 + this.p4[1]*f4 +.5 )|0;
			css.left = css.x + "px";
			css.top = css.y + "px";
			return css;
		};
	};

	$.path.arc = function(params, rotate) {
		for ( var i in params ) {
			this[i] = params[i];
		}

		this.dir = this.dir || 1;

		while ( this.start > this.end && this.dir > 0 ) {
			this.start -= 360;
		}

		while ( this.start < this.end && this.dir < 0 ) {
			this.start += 360;
		}

		this.css = function(p) {
			var a = ( this.start * (p ) + this.end * (1-(p )) ) * Math.PI / 180,
					css = {};

			if (rotate) {
				css.prevX = this.x;
				css.prevY = this.y;
			}
			css.x = this.x = ( Math.sin(a) * this.radius + this.center[0] +.5 )|0;
			css.y = this.y = ( Math.cos(a) * this.radius + this.center[1] +.5 )|0;
			css.left = css.x + "px";
			css.top = css.y + "px";
			return css;
		};
	};

	$.fx.step.path = function(fx) {
		var css = fx.end.css( 1 - fx.pos );
		if ( css.prevX != null ) {
			$.cssHooks.transform.set( fx.elem, "rotate(" + Math.atan2(css.prevY - css.y, css.prevX - css.x) + ")" );
		}
		fx.elem.style.top = css.top;
		fx.elem.style.left = css.left;
	};

})(jQuery);
function getCartAjax(){
	var cart = null;
	$('#cartform').hide();
	$('#myCart #exampleModalLabel').text("Giỏ hàng");
	jQuery.getJSON('/cart.js', function(cart, textStatus) {
		if(cart)
		{
			$('#cartform').show();
			$('.line-item:not(.original)').remove();
			$.each(cart.items,function(i,item){
				var total_line = 0;
				var total_line = item.quantity * item.price;
				tr = $('.original').clone().removeClass('original').appendTo('table#cart-table tbody');
				if(item.image != null)
					tr.find('.item-image').html("<img src=" + Haravan.resizeImage(item.image,'small') + ">");
				else
					tr.find('.item-image').html("<img src='//hstatic.net/0/0/global/design/theme-default/no-image.png'>");
				vt = item.variant_options;
				if(vt.indexOf('Default Title') != -1)
					vt = '';
				tr.find('.item-title a').html(item.product_title + '<br><span>' + vt + '</span>').attr('href', item.url);
				tr.find('.item-quantity').html("<input id='quantity1' name='updates[]' min='1' type='number' value=" + item.quantity + " class='' />");
				if ( typeof(formatMoney) != 'undefined' ){
					tr.find('.item-price').html(Haravan.formatMoney(total_line, formatMoney));
				}else {
					tr.find('.item-price').html(Haravan.formatMoney(total_line, ''));
				}
				tr.find('.item-delete').html("<a href='#' onclick='deleteCart(" + item.variant_id + ")' >Xóa</a>");
			});
			if ( typeof(formatMoney) != 'undefined' ){
				$('.item-total').html(Haravan.formatMoney(cart.total_price, formatMoney));
			}else {
				$('.item-total').html(Haravan.formatMoney(cart.total_price, ''));
			}
			$('.modal-title b').html(cart.item_count);
			$('*[id=cart-count]').html(cart.item_count);
			if(cart.item_count == 0){
				//$('#myCart button').attr('disabled', '');
				$('#myCart #cartform').addClass('hidden');
				$('#myCart #exampleModalLabel').html('Giỏ hàng của bạn đang trống. Mời bạn tiếp tục mua hàng.');
			}
			else{
				$('#myCart #exampleModalLabel').html('Bạn có ' + cart.item_count + ' sản phẩm trong giỏ hàng.');
				$('#myCart #cartform').removeClass('hidden');
				$('#myCart button').removeAttr('disabled');
			}

		}
		else{
			$('#myCart #exampleModalLabel').html('Giỏ hàng của bạn đang trống. Mời bạn tiếp tục mua hàng.');
			$('#cartform').hide();
		}
	});

}
/*
	 $(document).ready(function(){
		 $('#cart-target a').click(function(event){
			 event.preventDefault() ;
			 getCartAjax();
			 $('#myCart').modal('show');
			 $('.modal-backdrop').css({'height':$(document).height(),'z-index':'99'});
		 });
	 });
*/
$('#checkout').click(function(){
	$('#cartform').submit();
})
// The following piece of code can be ignored.
$(function(){
	$(window).resize(function() {
		$('#info').text("Page width: "+$(this).width());
	});
	$(window).trigger('resize');
});

var buy_now = function(id) {
	var quantity = 1;
	var params = {
		type: 'POST',
		url: '/cart/add.js',
		data: 'quantity=' + quantity + '&id=' + id,
		dataType: 'json',
		success: function(line_item) {
			window.location = '/checkout';
		},
		error: function(XMLHttpRequest, textStatus) {
			Haravan.onError(XMLHttpRequest, textStatus);
		}
	};
	jQuery.ajax(params);
}
function deleteCart(variant_id){
	var params = {
		type: 'POST',
		url: '/cart/change.js',
		data: 'quantity=0&id=' + variant_id,
		dataType: 'json',
		success: function(cart) {
			getCartModal();
		},
		error: function(XMLHttpRequest, textStatus) {
			Haravan.onError(XMLHttpRequest, textStatus);
		}
	};
	jQuery.ajax(params);
}




/*=======================================*/
jQuery(document).ready(function(){
	if ($('.addThis_listSharing').length > 0){
		$(window).scroll(function(){
			if(jQuery(window).scrollTop() > 100 ) {
				jQuery('.addThis_listSharing').addClass('is-show');
			} else {
				jQuery('.addThis_listSharing').removeClass('is-show');
			}
		});
		$('.content_popupform form.contact-form').submit(function(e){
			e.preventDefault();	
			var self = $(this);
			grecaptcha.ready(function() {
				grecaptcha.execute('6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-', {action: 'submit'}).then(function(token) {
					self.prepend('<input type="hidden" name="g-recaptcha-response" value="' + token + '">');
					$.ajax({
						type: 'POST',
						url:'/contact',
						data: $('.content_popupform form.contact-form').serialize(),			 
						success:function(data){		
							$('.modal-contactform.fade.in').modal('hide');
							setTimeout(function(){ 				
								$('.modal-succesform').modal('show');					
								setTimeout(function(){							
									$('.modal-succesform.fade.in').modal('hide');
								}, 5000);
							},300);
						},				
					})
				}); 
			});
		});
		$(".modal-succesform").on('hidden.bs.modal', function() {
			location.reload();
		});
	}
	if (jQuery(window).width() < 768 && $('.layoutProduct_scroll').length > 0 ) {
		var curScrollTop = 0;
		$(window).scroll(function(){	
			var scrollTop = $(window).scrollTop();
			if(scrollTop > curScrollTop  && scrollTop > 200 ) {
				$('.layoutProduct_scroll').removeClass('scroll-down').addClass('scroll-up');
			}
			else {
				if (scrollTop > 200 && scrollTop + $(window).height() + 150 < $(document).height()) {
					$('.layoutProduct_scroll').removeClass('scroll-up').addClass('scroll-down');	
				}
			}
			if(scrollTop < curScrollTop  && scrollTop < 200 ) {
				$('.layoutProduct_scroll').removeClass('scroll-up').removeClass('scroll-down');
			}
			curScrollTop = scrollTop;
		});
	}
	/* form new letter footer*/
	$('#form-newsletter form.contact-form').submit(function(e) { 
		e.preventDefault();
		var self = $(this);
		grecaptcha.ready(function() {
			grecaptcha.execute('6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-', {action: 'submit'}).then(function(token) {
				self.prepend('<input type="hidden" name="g-recaptcha-response" value="' + token + '">');
				self.unbind('submit').submit();
			}); 
		});
	});
});

