<div id="article">
	<div class="container-fluid">
		<div class="row breadcrumb-shop">{%include 'breadcrumb'%}</div>
		<div class="row wrapper-row">
			<div class="col-md-6 col-sm-12 col-xs-12 box-article-heading wrapbox-heading-page">

				{% assign no_image = false %}
				{% if article.image %}
				{% comment %} Lấy hình Featured {% endcomment %}
				{% assign imageUrl = article.image.src | product_img_url : 'grande' %}
				{% else %}

				{% comment %}Kiểm tra trích dẫn và content có hình hay ko{% endcomment %}
				{% assign imageUrl = '' %}
				{% if article.excerpt contains 'src=' %}
				{% assign imageExcerptNotNull = true %}
				{% else %}
				{% assign imageExcerptNotNull = false %}
				{% endif %}
				{% if article.content contains 'src=' %}
				{% assign imageContentNotNull = true %}
				{% else %}
				{% assign imageContentNotNull = false %}
				{% endif %}

				{% comment %}Nếu có Excerpt or Content cắt hình{% endcomment %}
				{% if imageExcerptNotNull %}
				{% assign arrayUrl = article.excerpt | split : 'src="' %}
				{% else %}
				{% if imageContentNotNull %}
				{% assign arrayUrl = article.content | split : 'src="' %}
				{% endif %}
				{% endif %}

				{% comment %}Truyền hình vào biến imageUrl{% endcomment %}
				{% if imageExcerptNotNull == false and imageContentNotNull == false %}
				{% capture blog_no_image %}{{ 'blog-no-img-min.jpg' | asset_url }}{% endcapture %}
				{% assign imageUrl = blog_no_image %}
				{% else %}
				{% assign imageUrl = arrayUrl[1] | split : '"'%}
				{% if imageUrl contains '//hstatic' %}
				{% assign imageUrl = imageUrl.first | product_img_url : 'grande' %}
				{% else %}
				{% assign imageUrl = imageUrl.first %}
				{% endif %}
				{% endif %}
				{% endif %}

				<div class="header-page clearfix">					
					<h1 class="sb-title-article">{{article.title}}</h1>
					<ul class="article-info-more">
						<li> Người viết: {{article.author}} lúc <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%d/%m/%Y' }}</time></li>
					</ul>	
					<ul class="article-info-more">
						<li><i class="fa fa-file-text-o"></i><a href="#"> {{blog.title}}</a> </li>
						{% if blog.comments_enabled? %}
						<li>- <i class="comment-icon fa fa-comment-o"></i>
							<a href="{{ article.url }}#comments">
								{{ article.comments_count }}<span> {{ article.comments_count | pluralize: 'Bình luận','Bình luận' }}</span>
							</a>
						</li>
						{% endif %}	
					</ul>								
				</div>
				<span class="background-img-art"><img src="{{ imageUrl }}" alt="{{ article.title }}" ></span>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12  wrapbox-content-page ">				
				<div class="content-page row">
					<div class="col-md-12 col-sm-12 col-xs-12 article-content">
						<div class="article-pages">{{ article.content }}</div>
						{%if article.tags.size > 0%}
						<div class="meta-tags">
							<span class="tags-title">Tags: </span> 
							{% for tag in article.tags %}
							<a class="tag" href="{{shop.url}}/blogs/all/tagged/{{ tag | handle }}">{{ tag }}</a>
							{% endfor %}
						</div>
						{% endif %}
						<div class="post-navigation">							
							{% if blog.previous_article %}
							<span class="left">{{ '&larr; Bài trước' | link_to: blog.previous_article }}</span>
							{% endif %}
							{% if blog.next_article %}
							<span class="right">{{ 'Bài sau &rarr;' | link_to: blog.next_article }}</span>
							{% endif %}							
						</div>
					</div>
					{% if blog.comments_enabled? %}						
					<!-- Begin article comments -->
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div role="tabpanel" class="article-comment">
							<!-- Nav tabs -->
							<div class="title-bl">
								<h2>
									<a data-spy="scroll" data-target="#comment" href="#comment" aria-controls="comment" role="tab">Viết bình luận</a>
								</h2>
							</div>
							<!-- Tab panes -->
							<div id="comment">
								<!-- Begin comments -->
								<div id="comments" class="comments ">
									<div class="comment_form">
										{% form "new_comment", article %}
										{% if form.posted_successfully? %}
										{% if blog.moderated? %}
										<p class="subtext success">Bình luận thành công! Tuy nhiên, lời bình cần được kiểm duyệt trước khi đăng lên</p>
										{% else %}
										<p class="subtext success">Bình luận của bạn đã được đăng lên</p>
										{% endif %}
										{% endif %}

										{% if form.errors %}
										<p class="subtext error">Thông tin bạn nhập chưa đầy đủ</p>
										{% endif %}
										<div class="row">
											<div class="col-md-6 col-sm-6 col-xs-12">
												<div class="form-group">
													<input type="text" id="comment_author" name="comment[author]" size="40" class="text form-control" placeholder="Tên của bạn " required="required" />
												</div>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<div class="form-group">
													<input type="text" id="comment_email" name="comment[email]" size="40" class="text form-control" placeholder="Email của bạn" required="required"/>
												</div>
											</div>
										</div>
										<div class="form-group">												
											<textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="text form-control" placeholder="Viết bình luận ..." required="required">{{form.body}}</textarea>
										</div>			
										{{form.captcha_html}}
										{% if blog.moderated? %}
										<div class="notice form-group">Bình luận của bạn sẽ được duyệt trước khi đăng lên</div>
										{% endif %}
										{%comment%}
										<span class="pull-right">
											<small>Tối thiểu 20 ký tự</small>
										</span>
										{%endcomment%}
										<div class="sitebox-recaptcha form-group">
											This site is protected by reCAPTCHA and the Google
											<a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a> 
											and <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer">Terms of Service</a> apply.
										</div>
										<button type="submit" class="readmore btn-rb clear-fix" id="comment-submit" >Gửi bài viết</button>
										{% endform %}
									</div>
								</div>

								<!-- End comments -->
							</div>
							{% if article.comments.size > 0 or comment.created_at %}
							<div class="title-bl">
								<h2>Bình luận</h2>
							</div>
							<div id="binhluan">
								{% if comment and comment.created_at %}
								<div id="comment-{{ comment.id }}" class="comment-user border-bottom clearfix">
									<h3 class="author">
										<strong>{{ comment.author }}</strong>
										<span class="date">{{ comment.created_at | date: '%d/%m/%Y' }}</span>
									</h3>
									<div>{{ comment.content }}</div>
								</div> <!-- /.comment -->
								{% endif %}

								{% for comment in article.comments %}
								<div id="comment-{{ comment.id }}" class="comment-user border-bottom clearfix">
									<h3 class="author">
										<strong>{{ comment.author }}</strong>
										<span class="date">{{ comment.created_at | date: '%d/%m/%Y' }}</span>
									</h3>
									<div>{{ comment.content }}</div>
								</div> <!-- /.comment -->
								{% endfor %}

							</div>
							{% endif %}

						</div>
					</div>
					<!-- End article comments -->
					{%endif%}
				</div>

			</div>   
		</div>
	</div>
</div>
