<div id="blog" class="">
	{% paginate blog.articles by settings.pagination_blog_limit %}
	<div class="container-fluid">
		<div class="row breadcrumb-shop">{%include 'breadcrumb'%}</div>
		<div class="row wrapper-row">
			<div class="col-md-6 col-xs-12 wrapbox-heading-page">
				<div class="header-page clearfix">
					<h1>{{blog.title}}</h1>
				</div>
			</div>
			<div class="col-md-6 col-xs-12 blog-content">
				<div class="row"> 
					<div class="list-article-content">
						{%if blog.articles.size == 0%}
						<p class="col-md-12  col-sm-12 col-xs-12">Chưa có bài viết nào trong mục này</p>
						{%else%}
						<!-- Begin: Nội dung blog -->      
						{% for article in blog.articles limit: settings.pagination_blog_limit %}
						{% assign no_image = false %}
						{% if article.image %}
						{% comment %} Lấy hình Featured {% endcomment %}
						{% assign imageUrl = article.image.src | product_img_url : 'grande' %}
						{% else %}

						{% comment %}Kiểm tra trích dẫn và content có hình hay ko{% endcomment %}
						{% assign imageUrl = '' %}
						{% if article.excerpt contains 'src=' %}
						{% assign imageExcerptNotNull = true %}
						{% else %}
						{% assign imageExcerptNotNull = false %}
						{% endif %}
						{% if article.content contains 'src=' %}
						{% assign imageContentNotNull = true %}
						{% else %}
						{% assign imageContentNotNull = false %}
						{% endif %}

						{% comment %}Nếu có Excerpt or Content cắt hình{% endcomment %}
						{% if imageExcerptNotNull %}
						{% assign arrayUrl = article.excerpt | split : 'src="' %}
						{% else %}
						{% if imageContentNotNull %}
						{% assign arrayUrl = article.content | split : 'src="' %}
						{% endif %}
						{% endif %}

						{% comment %}Truyền hình vào biến imageUrl{% endcomment %}
						{% if imageExcerptNotNull == false and imageContentNotNull == false %}
						{% capture blog_no_image %}{{ 'blog-no-img-min.jpg' | asset_url }}{% endcapture %}
						{% assign imageUrl = blog_no_image %}
						{% else %}
						{% assign imageUrl = arrayUrl[1] | split : '"'%}
						{% if imageUrl contains '//hstatic' %}
						{% assign imageUrl = imageUrl.first | product_img_url : 'grande' %}
						{% else %}
						{% assign imageUrl = imageUrl.first %}
						{% endif %}
						{% endif %}
						{% endif %}
						<div class="news-content">
							<div class="article-body" >
								<div class="body-content">
									<!-- Begin: Nội dung bài viết -->
									<h2 class="title-article"><a href="{{ article.url}}" title="{{ article.title }}">{{ article.title }}</a></h2>							
									<ul class="info-more">
										<li> Người viết: {{article.author}} lúc <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%d/%m/%Y' }}</time></li>
										{% if blog.comments_enabled? %}
										<li> - <i class="comment-icon fa fa-comment-o"></i>
											<a href="{{ article.url }}#comments">
												{{ article.comments_count }}<span> {{ article.comments_count | pluralize: 'Bình luận','Bình luận' }}</span>
											</a>
										</li>
										{% endif %}	
									</ul>	

								</div>
							</div>
							{% if no_image == false %}								
							<div class="article-img">
								<img src="{{ imageUrl }}" alt="{{ article.title }}" >
							</div>									
							{%endif%}

						</div>
						{% endfor %}
						{%endif%}
						<!-- End: Nội dung blog --> 
					</div>				
					<!-- Begin: Phân trang blog --> 
					{% include 'pagination-default' %}
					<!-- End: Phân trang blog --> 					
				</div>
			</div>
		</div>
	</div>
	{% endpaginate %}
</div>