<div id="collection" class="collection-page">
	{% paginate collection.products by settings.pagination_limit %}
	<div class="main-content container-fluid">
		<div class="row breadcrumb-shop">{%include 'breadcrumb'%}</div>
		{%if settings.show_banner_image_collection%}
		<div class="row">
			<div class=" banner-collection-header">
				{% if collection.image != blank %}
				<img src="{{ collection.image.src }}" alt="{{collection.title}}"/>
				{% else %}
				<img src="{{ 'collection_banner.jpg' | asset_url }}" alt="{{collection.title}}"/>
				{% endif %}
			</div>
		</div>
		{%endif%}
		<div class="row content-product-list">
			{%if collection.products.size == 0%}
			<div class="col-md-6 col-sm-12 col-xs-12 wrapbox-heading-page">
				<div class="header-page">
					<h1 class="title">{%if collection.handle == 'all'%}Tất cả sản phẩm{%else%}{{collection.title}}{%endif%}</h1>
					<p class="note-h1">{{collection.description}}</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 no-product wrapbox-content-page">
				<p>Chưa có sản phẩm nào trong danh mục này</p>
			</div>
			{%else%}
			<div class="col-md-6 col-sm-6 col-xs-12 pro-loop pro-loop-title">
				<div class="product-block product-resize ">
					<div class="wrap-collection-title image-resize wrap-flex-align flex-column">
						<div class="heading-collection">
							<h1 class="title">{%if collection.handle == 'all'%}Tất cả sản phẩm{%else%}{{collection.title}}{%endif%}</h1>
							<div class="note-h1">{{collection.description}}</div>
						</div>
					</div>
				</div>
			</div>
			{% for product in collection.products limit: settings.pagination_limit  %}
			<div class="col-md-3 col-sm-6 col-xs-12 pro-loop">
				{% include 'product-loop' with collection.handle %}
			</div>
			{% endfor %}	
			{%endif%}					
		</div>				
		<div class="row pagination-theme pagination-ajax clearfix">
			{%include 'pagination-default'%}
		</div>
	</div>
	{% endpaginate %}
	<!-- End no products -->
	<input type="text" class="hidden" id="coll-handle" value="{% if collection.handle == 'all' %}(collectionid:product>0){% else %}(collectionid:product={{collection.id}}){% endif %}" />
</div>
<script>
Haravan.queryParams = {};
if (location.search.length) {
	for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
		aKeyValue = aCouples[i].split('=');
		if (aKeyValue.length > 1) {
			Haravan.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
		}
	}
}
var collFilters = jQuery('.coll-filter');
collFilters.change(function() {
	var newTags = [];
	var newURL = '';
	delete Haravan.queryParams.page;
	collFilters.each(function() { 
		if (jQuery(this).val()) {
			newTags.push(jQuery(this).val());
		}
	});
	{% if collection.handle %}
	newURL = '/collections/' + '{{ collection.handle }}';
	 if (newTags.length) {
		 newURL += '/' + newTags.join('+');
	 }
	 var search = jQuery.param(Haravan.queryParams);
	 if (search.length) {
		 newURL += '?' + search;
	 }
	 location.href = newURL;    
	 {% else %}
	 if (newTags.length) {
		 Haravan.queryParams.constraint = newTags.join('+');        
	 }
		else {
			delete Haravan.queryParams.constraint;
		}
		location.search = jQuery.param(Haravan.queryParams);
		{% endif %}      
		});


		jQuery('.sort-by').val('{{ collection.sort_by | default: collection.default_sort_by  }}').trigger('change');		/*.bind('change', function() {
			Haravan.queryParams.sort_by = jQuery(this).val();
			location.search = jQuery.param(Haravan.queryParams);
		});*/
		</script>
<script>
jQuery(document).ready(function(){
	jQuery('.sort-by').val('{{ collection.sort_by | default: collection.default_sort_by  }}').trigger('change');	
	str = "";
	var Stringfilter = function(){
		var q="", vendor="",color="", size="", sortBy = "", sortDefault = "",total_page=0, cur_page=1;
		var handle_coll = $('#coll-handle').val();
		var str_url = 'filter=';
		q = "("+handle_coll;

		if (jQuery('.filter-vendor .select-vendor').length > 0  ) {
			vendor = jQuery('.filter-vendor .select-vendor').val();
			//	vendor=vendor.substring(0,vendor.length -2);// vd giá trị "(vendor:product**Khác) + '||'"
			if(vendor != ""){
				q+='&&'+vendor;
			}
		}

		if (jQuery('.filter-color .select-color').length > 0 ) {
			color = jQuery('.filter-color .select-color').val();
			if(color != ""){
				q+='&&'+color;
			}
		}

		if (jQuery('.filter-size .select-size').length > 0 ) {
			size = jQuery('.filter-size .select-size').val();
			if(size != "")
				q+='&&'+size;
		}

		if (jQuery('.sort-by').length > 0) {
			sortBy = jQuery(".sort-by option:selected").data("filter");
			sortDefault = jQuery(".sort-by option:selected").val();
		}

		if(vendor != "" || color != "" || size != ""){
			str_url += encodeURIComponent(q) + ")" + sortBy;
			str_url = "/search?q="+str_url
		}
		else{
			str_url = "/collections/{{collection.handle}}?sort_by="+sortDefault;
			//console.log(str_url);
		}
		str = str_url;
		//console.log(str_url);
		jQuery.ajax({ // lấy tổng số trang của kết quả filter
			url: str_url+"&view=page",	
			async: false,
			success:function(data){
				total_page = parseInt(data);
			}
		})
		//		debugger;
		if(cur_page <= total_page){
			jQuery('.pagination-ajax').show();
			jQuery.ajax({
				url : str_url+"&view=filter",//view=filter bắt buộc phải tạo view search.filter hoặc collection.filter
				success: function(data){
					jQuery('.pro-loop:not(.pro-loop-title)').remove();
					jQuery(".content-product-list .no-product").remove();
					jQuery('.filter-by .content-filter').hide();
					if(jQuery(".content-product-list").find(".count-filter").length > 0){
						jQuery(".content-product-list").find(".count-filter").remove();
					}
					jQuery(".content-product-list").append(data);
					jQuery(".subtitle").html("").html(jQuery('.count-filter').clone().removeClass('hidden'));
					jQuery('.content-product-list img').imagesLoaded( function() {
						jQuery(window).resize();
					});
				}
			})
			jQuery.ajax({  // đoạn code 
				url: str_url+"&view=paginate",
				async: false,
				success:function(data){				
					jQuery(".pagination-ajax").html(data); // in phân trang
				}
			})
		}
		else{
			jQuery('.pro-loop:not(.pro-loop-title)').remove();
			jQuery(".content-product-list .wrapbox-content-page").remove();
			jQuery(".content-product-list").append("<div class='col-md-6 col-sm-12 col-xs-12 no-product wrapbox-content-page'>Không tìm thấy sản phẩm nào phù hợp!</div>");
			jQuery('.filter-by .content-filter').hide();
			jQuery('.pagination-ajax').hide();
			jQuery(".subtitle").html("Có 0 sản phẩm cho kết quả lọc");
		}
		jQuery('.pagination-ajax').on("click","a",function(){ // bắt sự kiện click các nút phân trang
			var link = jQuery(this).attr("data-link");
			if(link == 'm'){
				link = cur_page - 1;
			}
			if(link == 'p'){
				link = cur_page + 1;
			}
			link = parseInt(link);
			jQuery.ajax({
				url : str+"&view=filter&page="+link, 
				success: function(data){
					jQuery('.pro-loop:not(.pro-loop-title)').remove();
					jQuery(".content-product-list .no-product").remove();
					jQuery('.filter-by .content-filter').hide();
					jQuery(".content-product-list").append(data);
					jQuery('.content-product-list img').imagesLoaded( function() {
						jQuery(window).resize();
					});
					cur_page = link;
				}
			})
			jQuery.ajax({ 
				url: str+"&view=paginate&page="+link,	
				success:function(data){
					jQuery(".pagination-ajax").html(data); // in phân trang
				}
			})
		})
	}
	$('#apply-sort-filter').on("click",function(){
		Stringfilter();
		$('#site-overlay').removeClass("active");
		$('.main-body').removeClass("sidebar-move");
		$('#site-nav--mobile').removeClass("active");
		$('#site-nav--mobile').removeClass("show-filters").removeClass("show-search").removeClass("show-cart");
	});
	$('#clear-sort-filter').on('click',function(){
		$('.content-filter select[class*=select-]').each(function(){
			$(this).val("").change();
		});
		jQuery('.sort-by').val("{{ collection.sort_by | default: collection.default_sort_by  }}").change();
		Stringfilter();
		$('#site-overlay').removeClass("active");
		$('.main-body').removeClass("sidebar-move");
		$('#site-nav--mobile').removeClass("active");
		$('#site-nav--mobile').removeClass("show-filters").removeClass("show-search").removeClass("show-cart");
	});
});
</script>

