{%layout none%}
{% paginate collection.products by settings.pagination_limit %}
{%if collection.products.size == 0%}
<p class="count-filter hidden">Có {{ collection.products.size }} sản phẩm trong {%if collection.handle == 'all'%} cửa hàng {%else%} nhóm "{{collection.title}}" {%endif%}</p>
<div class='col-md-6 col-sm-12 col-xs-12 no-product wrapbox-content-page'>
	<p>Không tìm thấy sản phẩm nào phù hợp</p>
</div>
{%else%}
<p class="count-filter hidden">Có {{ collection.products.size }} sản phẩm trong {%if collection.handle == 'all'%} cửa hàng {%else%} nhóm "{{collection.title}}" {%endif%}</p>
{%for product in collection.products%}
<div class="col-md-3 col-sm-6 col-xs-6 pro-loop animated zoomIn">
	{% include 'product-loop' %}
</div>
{%endfor%}
{%endif%} 
{% endpaginate %}