<div class="layout-info-account account-order">
	<div class="title-infor-account text-center">
		<h1>Chi tiết đơn hàng </h1>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3 sidebar-account">
				{% include 'acc-sidebar' %}
			</div>	
			<div class="col-xs-12 col-sm-9" >
				<div class="header-page">
					<h4 class="name-order">Đơn hàng: {{ order.name }}, <span class="order_date">Đặt lúc &mdash; {{ order.created_at | date: "%d/%m/%Y, %I:%M%p" }}</span></h4>
					{% if order.cancelled %}
					<div id="order_cancelled" class="flash notice col-sm-12">
						<h5 id="order_cancelled_title">Hủy đơn hàng <span>{{ order.cancelled_at | date: "%d/%m/%Y, %I:%M%p" }}</span></h5>
						<span>{{ order.cancel_reason }}</span>
					</div>
					{% endif %}
				</div>
				<div class="row">
					<div class="col-xs-12">
						<a href="/account" id='return_to_store'>Quay lại trang tài khoản </a>
					</div>				
					<div class="col-md-12 col-sm-12 col-xs-12 content-page customer-table-wrap detail-table-order">
						<div class="customer-table-bg">						
							<p class="title-detail">Chi tiết đơn hàng	</p>
							<div class="table-responsive">
								<table id="order_details" class="table tableOrder" >
									<tr height="40px">
										<th class=""></th>
										<th class="">Sản phẩm</th>
										<th class="text-center">Mã sản phẩm</th>
										<th class="text-center">Đơn giá</th>
										<th class="text-center">Số lượng</th>
										<th class="total text-right">Thành tiền</th>
									</tr>
									{% for line_item in order.line_items %}
									<tr height="40px" id="{{ line_item.id }}" class="{% cycle 'odd', 'even' %}">
										<td class="order-image" >											
											<a href="{{ line_item.url }}" aria-label="{{ line_item.title }}">									
												<img src="{% if line_item.image > 0 %}{{ line_item.image | product_img_url : 'small'}}{% else %}{{'no_image.jpg' | asset_url}}{% endif %}" alt="{{ line_item.title }}" />
											</a>
										</td>
										<td class="" style="max-width:300px">
											{{ line_item.product.title | link_to: line_item.url }} <br/> 
											<span class="variant_acc">
												{%unless line_item.variant.title contains 'Default' %}
												{{line_item.variant.title}}
												{%endunless%}
											</span>
											{% if line_item.fulfillment %}
											<div>
												Fulfilled {{ line_item.fulfillment.created_at | date: "%b %d" }}
												{% if line_item.fulfillment.tracking_number %}
												<a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
												{% endif %}
											</div>
											{% endif %}
										</td>
										<td class="sku text-center">{{ line_item.sku }}</td>
										<td class="money text-center">{{ line_item.price | money }}</td>
										<td class="quantity center text-center">{{ line_item.quantity }}</td>
										<td class="total money text-right">{{ line_item.quantity | times: line_item.price | money }}</td>
									</tr>
									{% endfor %}
									<tr height="40px" class="order_summary order_border">
										<td class="text-right" colspan="5"><b>Giá sản phẩm</b></td>
										<td class="total money text-right"><b>{{ order.subtotal_price | money }}</b></td>
									</tr>   

									{% for shipping_method in order.shipping_methods %}
									<tr height="40px" class="order_summary ">
										<td class="text-right" colspan="5"><b>{{ shipping_method.title }}</b></td>
										<td class="total money text-right"><b>{{ shipping_method.price | money }}</b></td>
									</tr>
									{% endfor %}

									{% for tax_line in order.tax_lines %}
									<tr height="40px" class="order_summary ">
										<td class="text-right" colspan="5"><b>{{ tax_line.title }} {{ tax_line.rate | times: 100 }}</b>%</td>
										<td class="total money text-right"><b>{{ tax_line.price | money }}</b></td>
									</tr>
									{% endfor %}    

									<tr  height="40px"class="order_summary order_total">
										<td class="text-right" colspan="5"><b>Tổng tiền</b></td>
										<td class="total money text-right"><b>{{ order.total_price | money }} {{ order.currency }}</b></td>
									</tr>    
								</table>
							</div>
						</div>

					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 content-page">
						<div class="row">
							<div id="order_payment" class="col-md-6 col-sm-6">
								<h3 class="order_section_title">Địa chỉ nhận thanh toán</h3>
								<div class="alert alert-info">
									<span class="text_status">Tình trạng thanh toán:</span> <span class="status_{{ order.financial_status }}">{{ order.financial_status  | replace : 'pending', 'Chờ xử lý' | replace : 'paid', 'Đã hoàn tất'}}</span>
									</div>
								<div class="address">
									<p class="adressName ">{{ order.billing_address.name }}</p>
									<p>{{ order.billing_address.company }}</p>
									<p>{{ order.billing_address.address1 }}</p>
									<p>{{ order.billing_address.address2 }}</p>
									<p>{{ order.billing_address.city }} {{ order.billing_address.province }}</p>
									<p>{{ order.billing_address.country }}</p>
									<p>{{ order.billing_address.phone }}</p>


								</div>

							</div>
							{% if order.shipping_address %}
							<div id="order_shipping" class="col-md-6 col-sm-6">

								<h3 class="order_section_title">Địa chỉ gửi hàng</h3>
								<div class="alert alert-info">
									<span class="text_status">Vận chuyển:</span> 
									{% if order.fulfillment_status contains 'not fulfilled' %}
									<span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status | replace : 'not fulfilled','Chưa giao hàng' }}</span>
									{% else %}
									<span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status | replace : 'fulfilled', 'Đã giao hàng' }}</span>
									{% endif %}
								</div>
								<div class="address">
									<p class="adressName ">{{ order.shipping_address.name }}</p>
									<p>{{ order.shipping_address.company }}</p>
									<p>{{ order.shipping_address.address1 }}</p>
									<p>{{ order.shipping_address.address2 }}</p>
									<p>{{ order.shipping_address.city }} {{ order.shipping_address.province }}</p>
									<p>{{ order.shipping_address.country }} </p>
									<p>{{ order.shipping_address.phone }}</p>
								</div>

							</div>
							{% endif %}
						</div>
					</div>
				</div>

			</div>
		</div>


	</div>
</div>