<div class="layout-account">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-xs-12 wrapbox-heading-page">
				<div class="header-page clearfix">
					<h1>Đăng nhập</h1>
				</div>
			</div>
			<div class="col-md-6 col-xs-12 wrapbox-content-page ">
				<div id="customer-login">
					<div id="login" class="userbox">
						<div class="accounttype">
							<h2 class="title"></h2>
						</div>
						{% form 'customer_login' %}
						{{ form.errors | default_errors }}
						<div class="clearfix large_form">
							<label for="customer_email" class="icon-field"><i class="icon-login icon-envelope "></i></label>
							<input required type="email" value="" name="customer[email]" id="customer_email" placeholder="Email" class="text" />
						</div>
						{% if form.password_needed %}
						<div class="clearfix large_form">
							<label for="customer_password" class="icon-field"><i class="icon-login icon-shield"></i></label>
							<input required type="password" value="" name="customer[password]" id="customer_password" placeholder="Mật khẩu" class="text" size="16" />      
						</div>
						{% endif %}
						<div class="sitebox-recaptcha large_form">
							This site is protected by reCAPTCHA and the Google
							<a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a> 
							and <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer">Terms of Service</a> apply.
						</div>
						<div class="clearfix action_account_custommer">
							<div class="action_bottom">
								<input class="btn btn-signin" type="submit" value="Đăng nhập" />
							</div>
							<div class="req_pass">
								<a href="#" onclick="showRecoverPasswordForm();return false;">Quên mật khẩu?</a><br>
								hoặc <a href="/account/register" title="Đăng ký">Đăng ký</a>
							</div>
						</div>
						{% endform %}
					</div>
					<div id="recover-password" style="display:none;" class="userbox">
						<div class="accounttype">
							<h2>Phục hồi mật khẩu</h2>
						</div>		

						{% form 'recover_customer_password' %}
						{{ form.errors | default_errors }}
						<div class="clearfix large_form">
							<label for="email" class="icon-field"><i class="icon-login icon-envelope "></i></label>
							<input type="email" value="" size="30" name="email" placeholder="Email" id="recover-email" class="text" />
						</div>
						<div class="sitebox-recaptcha large_form">
							This site is protected by reCAPTCHA and the Google
							<a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a> 
							and <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer">Terms of Service</a> apply.
						</div>
						<div class="clearfix action_account_custommer">
							<div class="action_bottom">
								<input class="btn" type="submit" value="Gửi" />
							</div>
							<div class="req_pass">
								<a href="#" onclick="hideRecoverPasswordForm();return false;">Hủy</a>
							</div>
						</div>
						{% endform %}
					</div>
					{% if shop.checkout.guest_login %}
					<div id="guest" class="col-md-5">
						<h2>Khách hàng đăng nhập</h2>
						{% form 'guest_login' %}
						<input class="btn" type="submit" value="Đăng nhập tài khoản khách" />
						{% endform %}
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function showRecoverPasswordForm() {
	document.getElementById('recover-password').style.display = 'block';
	document.getElementById('login').style.display='none';
	}

	function hideRecoverPasswordForm() {
	document.getElementById('recover-password').style.display = 'none';
	document.getElementById('login').style.display = 'block';
	}

	if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>
