<div class="layout-account">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-xs-12 wrapbox-heading-page">
				<div class="header-page clearfix">
					<h1>Kích hoạt tài khoản</h1>
				</div>
			</div>
			<div class="col-md-6 col-xs-12 wrapbox-content-page ">
				<div id="customer-login">

					<div id="login" class="userbox">
						<div class="accounttype">
							<h2 class="title"></h2>
						</div>
						{% form 'activate_customer_password' %}
						{{ form.errors | default_errors }}
						<p class=" create-password">Điền mật khẩu để kích hoạt tài khoản của bạn</p>
						<div class="clearfix large_form">
							<label for="customer_password" class="icon-field"><i class="icon-login icon-shield"></i></label>
							<input required type="password" value="" name="customer[password]" id="customer_password" placeholder="Mật khẩu" class="text" size="16" />      
						</div>
						<div class="clearfix large_form">
							<label for="customer_password" class="icon-field"><i class="icon-login icon-shield"></i></label>
							<input required type="password" value="" name="customer[password_confirmation]" id="customer_password" placeholder="Xác nhận mật khẩu" class="text" size="16" />      
						</div>
						<div class="sitebox-recaptcha large_form">
							This site is protected by reCAPTCHA and the Google
							<a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a> 
							and <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer">Terms of Service</a> apply.
						</div>
						<div class="clearfix action_account_custommer">
							<div class="action_bottom">
								<input class="btn btn-signin" type="submit" value="Kích hoạt" />

							</div>		
							<div class="req_pass">
								<span class="">hoặc</span>
								<a href="/">Từ chối đăng ký</a>
							</div>
							{% endform %}

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
