<div class="layout-account">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-xs-12 wrapbox-heading-page">
				<div class="header-page clearfix">
					<h1>Phục hồi mật khẩu</h1>
				</div>
			</div>
			<div class="col-md-6 col-xs-12 wrapbox-content-page ">

				<div id="customer-login">
					<div id="login" class="userbox">
						<div class="accounttype">
							<h2 class="title"></h2>
						</div>
						{% form 'reset_customer_password' %}
						{{ form.errors | default_errors }}
						<div class="clearfix large_form">
							<label for="customer_password" class="icon-field"><i class="icon-login icon-shield"></i></label>
							<input required type="password" value="" name="customer[password]" id="customer_password" placeholder="Mật khẩu" class="text" size="16" />      
						</div>
						<div class="clearfix large_form">
							<label for="customer_password" class="icon-field"><i class="icon-login icon-shield"></i></label>
							<input required type="password" value="" name="customer[password_confirmation]" id="customer_password" placeholder="Xác nhận mật khẩu" class="text" size="16" />      
						</div>

						<div class="action_bottom">
							<input class="btn btn-signin" type="submit" value="Lưu" />
						</div>


						{% endform %}
					</div>

				</div>
			</div>
		</div>
	</div>
</div>