<div class="layout-account">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-xs-12 wrapbox-heading-page">
				<div class="header-page clearfix">
					<h1>Tạo tài khoản</h1>
				</div>
			</div>
			<div class="col-md-6 col-xs-12 wrapbox-content-page ">
				<div class="userbox">
					{% form 'create_customer' %}
					{{ form.errors | default_errors }}
					<div id="last_name" class="clearfix large_form">
						<label for="last_name" class="label icon-field"><i class="icon-login icon-user "></i></label>
						<input required type="text" value="" name="customer[last_name]" placeholder="Họ" id="last_name" class="text" size="30" />
					</div>
					<div id="first_name" class="clearfix large_form">
						<label for="first_name" class="label icon-field"><i class="icon-login icon-user "></i></label>
						<input required type="text" value="" name="customer[first_name]" placeholder="Tên" id="first_name" class="text" size="30" />
					</div>
					<div id="gender" class="clearfix large_form">
						<input id="radio1" type="radio" value="0" name="customer[gender]"/> 
						<label for="radio1">Nữ</label>
						<input id="radio2" type="radio" value="1" name="customer[gender]"/> 
						<label for="radio2">Nam</label>
					</div>
					<div id="birthday" class="clearfix large_form">
						<label for="birthday" class="label icon-field"><i class="icon-login icon-envelope "></i></label>
						<input  type="text" value="" placeholder="mm/dd/yyyy" name="customer[birthday]" id="birthday" class="text" size="30" />
					</div>
					<div id="email" class="clearfix large_form">
						<label for="email" class="label icon-field"><i class="icon-login icon-envelope "></i></label>
						<input required type="email" value="" placeholder="Email" name="customer[email]" id="email" class="text" size="30" />
					</div>
					<div id="password" class="clearfix large_form">
						<label for="password" class="label icon-field"><i class="icon-login icon-shield "></i></label>
						<input required type="password" value="" placeholder="Mật khẩu" name="customer[password]" id="password" class="password text" size="30" />
					</div>
					<div class="sitebox-recaptcha large_form">
						This site is protected by reCAPTCHA and the Google
						<a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a> 
						and <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer">Terms of Service</a> apply.
					</div>
					<div class="clearfix action_account_custommer">
						<div class="action_bottom">
							<input class="btn" type="submit" value="Đăng ký" />			
						</div>						
					</div>
					<div class="clearfix req_pass">
						<a class="come-back" href="{{ shop.url }}"><i class="fa fa-long-arrow-left"></i> Quay lại trang chủ</a>
					</div>
					{% endform %}
				</div>

			</div><!-- #register -->
			<!-- #customer-register -->
