<h1 class="hidden">{{shop.name}}</h1>
{% if settings.heading_featured != empty %}
<div class="wrapper-heading-home animation-tran">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
				<div class="site-animation">
					<h2><a href="{{settings.heading_featured_url}}">{{settings.heading_featured}}</a></h2>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% if settings.show_block_home_category1 != false or settings.show_block_home_category2 != false %} 
<div class="wrapper-home-banner animation-tran" >
	<div class="container-fluid">
		<div class="row">
			{% if settings.show_block_home_category1 %}
			<div class="col-xs-12 col-sm-6 home-banner-pd">
				<div class="block-banner-category"> 
					<a  class="link-banner wrap-flex-align flex-column" href="{{settings.block_home_category1_link}}">
						<span class="fg-image">
							<img class="b-lazy b-loaded" src="{{ 'block_home_category1.jpg' | asset_url }}"  alt="{{settings.block_home_category1_alt }}">
						</span>						
						<figcaption class="caption_banner site-animation">
							<p>{{settings.block_home_category1_note}}</p>
							<h2>{{settings.block_home_category1_title}}</h2>					
						</figcaption>	
					</a>		
				</div>
			</div>
			{% endif%}
			{% if settings.show_block_home_category2 %}
			<div class="col-xs-12 col-sm-6 home-banner-pd">
				<div class="block-banner-category">
					<a class="link-banner wrap-flex-align flex-column" href="{{settings.block_home_category2_link}}">
						<span class="fg-image">
							<img class="b-lazy b-loaded" src="{{ 'block_home_category2.jpg' | asset_url }}" alt="{{settings.block_home_category2_alt}}">
						</span>
						<figcaption class="caption_banner site-animation">
							<p>{{settings.block_home_category2_note}}</p>
							<h2>{{settings.block_home_category2_title}}</h2>					
						</figcaption>	
					</a>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}

{% if settings.use_featured_products %}
<div class="wrapper-collection-1 " >
	{% assign feature_size = 6 %}
	{%if collections[settings.featured_collection].products.size > 0%}
	<div class="clearfix content-product-list ">
		<div class="col-md-3 col-sm-6 col-xs-12 pro-loop" >
			<div class="product-block product-resize ">
				<div class="wrap-collection-title image-resize wrap-flex-align flex-column">
					<div class="block-pding site-animation">
						<h2 class="title">
							{% if settings.featured_products_title  == '' %}
							{{collections[settings.featured_collection].title}}
							{% else %}
							{{settings.featured_products_title}}
							{% endif %}
						</h2>
						<p class="shopnow">{{settings.featured_products_cap}}</p>
					</div>
				</div>
			</div>
		</div>
		{% for product in collections[settings.featured_collection].products limit: feature_size %}
		<div class="col-md-3 col-sm-6 col-xs-12 pro-loop animation-tran" >
			{% include 'product-loop' with collection.handle %}
		</div>
		{% endfor %}
		{% if collections[settings.featured_collection].products.size >= feature_size %}
		<div class="col-md-3 col-sm-6 col-xs-12 pro-loop">
			<div class="product-block product-resize ">
				<div class="wrap-collection-title image-resize wrap-flex-align flex-column">
					<div class="block-pding">
						<a href="{{collections[settings.featured_collection].url}}" class="link-more">Xem thêm</a>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
	{% else %}

	{% include 'no-product-loop' %}

	{% endif %}
</div>
{% endif %}

{% if settings.home_about_show %}
<div class="wrapper-home-information animation-tran" >
	<div class="container-fluid">
		<div class="row">			
			<div class="col-md-6 col-sm-12 col-xs-12 wrap-pd-infor wrap-flex-align flex-column box_stick">
				<div class="box-banner-inf">
					<div class="content site-animation">
						<h2 class="title dark">{{settings.home_about_title}}</h2>
						{% if settings.home_about_button != empty %}
						<a class="button dark with-icon" href="{{settings.home_about_link}}" title="{{settings.home_about_button}}">
							<span>{{settings.home_about_button}}</span> 
							<span class="icon" aria-hidden="true">
								<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" style="width:21px; height: 10px;" viewBox="0 0 21 10"><path d="M21.000,5.000 L15.000,10.000 L15.000,6.000 L-0.000,6.000 L-0.000,4.000 L15.000,4.000 L15.000,0.000 L21.000,5.000 Z"></path></svg>
							</span>
						</a>
						{% endif %}
					</div>
				</div>
				<div class="container-background">
					<img src="{{ 'home_about_image.jpg' | asset_url }}" alt="{{settings.home_about_title}}">
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12  wrap-pd-infor wrap-flex-align flex-column">
				<div class="inf-content site-animation">
					{{pages[settings.home_about_page].content}}
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}