<div class="pageAbout-us">
	<div class="container-fluid">
		<div class="row breadcrumb-shop">{%include 'breadcrumb'%}</div>
		<div class="row wrapper-row">
			<div class="col-md-6 col-xs-12 wrapbox-heading-page">
				<div class="header-page clearfix">
					<h1>{{ page.title }}</h1>
				</div>
			</div>
			<div class="col-md-6 col-xs-12 wrapbox-content-page">
				<div class="content-page ">
					{{ page.content }}
				</div>
			</div>
		</div>
	</div>
</div>
