{%- assign checkgift = false -%}
{%- for tag in product.tags -%}
{%- if tag == 'giftbox' -%}
{%- assign checkgift = true -%}
{%- endif -%}
{%- endfor -%}
<div id="product" class="productDetail-page">
	<div class="container-fluid">
		<div class="row breadcrumb-shop">{%include 'breadcrumb'%}</div>
		<div class="product-detail-main pr_style_03">
			<div class="row wrapper-detail">
				<div class="col-md-6 col-sm-12 col-xs-12 product-image-detail">
					{%if product.images.size > 0 %}	
					{%if product.images.size > 1 -%}
						<div class="product-gallery">
							<div class="product-gallery__thumbs-container hidden-sm hidden-xs">
								<div class="product-gallery__thumbs thumb-fix" id="productSlick-thumb">
									{% for thumb in product.images %}
									<div class="product-gallery__thumb{% if forloop.first %} active{% endif %}">
										<a class="product-gallery__thumb-placeholder" href="javascript:;" data-image="{{ thumb.src | product_img_url : 'master' }}" data-zoom-image="{{ thumb.src | product_img_url : 'master' }}">
											<img alt="{{product.title}}" src="{{ thumb.src | product_img_url : 'compact' }}" data-image="{{ thumb.src | product_img_url : 'master' }}">
										</a>
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="product-image-details box__product-gallery scroll">
								<ul id="sliderproduct" class="site-box-content slide_product hidden-lg hidden-md">
									{% for images in product.images %}
									<li class="product-gallery-item gallery-item">
										<img class="product-image-feature" src="{{ images.src | product_img_url : 'master' }}" alt="{{product.title}}">
									</li>	
									{% endfor %}
								</ul>
								<div class="hidden-sm hidden-xs">
									<img class="product-image-feature" src="{{product.featured_image | product_img_url : 'master'}}" alt="{{product.title}}">
								</div>
								<div class="product-image__button">
									<!--  icon social share -->
									{% if settings.share_prod_on_twitter != false or settings.share_prod_on_plusgoogle != false or settings.share_prod_on_facebook != false or settings.share_prod_on_pinterest != false %}
									<div class="product-sharing icon-pr-fix">
										<span class="icon" aria-hidden="true">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve"><path d="M14.9,14.9c-1,0-1.8,0.4-2.5,1l-5.2-3.5c0.1-0.4,0.2-0.8,0.2-1.2S7.4,10.3,7.2,10l5.2-3.5c0.7,0.6,1.5,1,2.5,1c2,0,3.7-1.7,3.7-3.7S16.9,0,14.9,0s-3.7,1.7-3.7,3.7c0,0.4,0.1,0.8,0.2,1.2L6.2,8.4c-0.7-0.6-1.5-1-2.5-1c-2,0-3.7,1.7-3.7,3.7s1.7,3.7,3.7,3.7c1,0,1.8-0.4,2.5-1l5.2,3.5c-0.1,0.4-0.2,0.8-0.2,1.2c0,2,1.7,3.7,3.7,3.7s3.7-1.7,3.7-3.7S16.9,14.9,14.9,14.9z"/></svg>
										</span>
										{% if settings.share_prod_on_twitter %}
										<a href="//twitter.com/intent/tweet?source={{ shop.url }}{{ product.url }}" target="_blank">
											<span class="twitter" aria-hidden="true">
												<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve"><g><g><path d="M21.4,6.2c-0.7,0.3-1.4,0.5-2.2,0.6c0.8-0.5,1.4-1.2,1.7-2.1c-0.7,0.4-1.6,0.8-2.4,0.9c-0.7-0.7-1.7-1.2-2.8-1.2c-2.1,0-3.8,1.7-3.8,3.8c0,0.3,0,0.6,0.1,0.9c-3.2-0.2-6-1.7-7.9-4C3.6,5.7,3.4,6.3,3.4,7c0,1.3,0.7,2.5,1.7,3.2c-0.6,0-1.2-0.2-1.7-0.5v0c0,1.9,1.3,3.4,3.1,3.8c-0.3,0.1-0.7,0.1-1,0.1c-0.2,0-0.5,0-0.7-0.1c0.5,1.5,1.9,2.6,3.6,2.7c-1.3,1-3,1.6-4.8,1.6c-0.3,0-0.6,0-0.9-0.1c1.7,1.1,3.7,1.7,5.9,1.7c7.1,0,10.9-5.9,10.9-10.9l0-0.5C20.2,7.6,20.9,7,21.4,6.2z"/></g></g></svg>
											</span>
										</a>
										{% endif %}
										{% if settings.share_prod_on_plusgoogle %}					
										<a href="//plus.google.com/share?url={{ product.url }}" target="_blank">
											<span class="google" aria-hidden="true">
												<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve"><g><path d="M8.4,14h3.7c-0.7,1.9-2.4,3.2-4.5,3.2c-2.5,0-4.6-2-4.7-4.6c-0.1-2.7,2.1-5,4.8-5c1.2,0,2.4,0.5,3.2,1.2c0.2,0.2,0.5,0.2,0.7,0L13,7.6c0.2-0.2,0.2-0.5,0-0.7c-1.3-1.3-3.1-2.1-5.1-2.1C3.6,4.7,0,8.2,0,12.4c0,4.3,3.4,7.7,7.7,7.7c4.1,0,7.4-3.2,7.7-7.2c0-0.1,0-1.8,0-1.8H8.4c-0.3,0-0.5,0.2-0.5,0.5v1.9C7.9,13.8,8.1,14,8.4,14z"/><path d="M21.7,11.3V9.4c0-0.2-0.2-0.5-0.5-0.5h-1.6c-0.2,0-0.5,0.2-0.5,0.5v1.8h-1.8c-0.2,0-0.5,0.2-0.5,0.5v1.6c0,0.2,0.2,0.5,0.5,0.5h1.8v1.8c0,0.2,0.2,0.5,0.5,0.5h1.6c0.2,0,0.5-0.2,0.5-0.5v-1.8h1.8c0.2,0,0.5-0.2,0.5-0.5v-1.6c0-0.2-0.2-0.5-0.5-0.5L21.7,11.3L21.7,11.3z"/></g></svg>
											</span>
										</a>
										{% endif %}
										{% if settings.share_prod_on_facebook %}
										<a href="//www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ product.url }}" target="_blank">
											<span class="facebook" aria-hidden="true">
												<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve"><g><path d="M16.4,1l-3.1,0C9.8,1,9.6,3.3,9.6,6.8v1.7H6.5C6.2,8.5,6,8.8,6,9v1.9c0,0.3,0.2,0.5,0.5,0.5h3.1v9.9c0,0.3,0.2,0.5,0.5,0.5h2c0.3,0,0.5-0.2,0.5-0.5v-9.9h3.6c0.3,0,0.5-0.2,0.5-0.5l0-1.9c0-0.1-0.1-0.3-0.1-0.3c-0.1-0.1-0.2-0.1-0.3-0.1h-3.6V5.3c0-1.1,0.3-1.7,1.7-1.7l2.1,0c0.3,0,0.5-0.2,0.5-0.5V1.5C16.8,1.2,16.6,1,16.4,1z"/></g></svg>
											</span>
										</a> 
										{% endif %}
										{% if settings.share_prod_on_pinterest %}
										<a href="//pinterest.com/pin/create/bookmarklet/?media=[MEDIA]&url={{ shop.url }}&is_video=false&description={{ product.url }}" target="_blank"><span class="pinterest" aria-hidden="true">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22 22" style="enable-background:new 0 0 22 22; width: 22px; height: 22px;" xml:space="preserve"><path d="M11,1C5.5,1,1,5.5,1,11c0,4.2,2.6,7.9,6.4,9.3c-0.1-0.8-0.2-2,0-2.9c0.2-0.8,1.2-5,1.2-5S8.3,11.9,8.3,11
												c0-1.4,0.8-2.4,1.8-2.4c0.9,0,1.3,0.6,1.3,1.4c0,0.9-0.5,2.1-0.8,3.3c-0.2,1,0.5,1.8,1.5,1.8c1.8,0,3.1-1.9,3.1-4.6
												c0-2.4-1.7-4.1-4.2-4.1c-2.8,0-4.5,2.1-4.5,4.3c0,0.9,0.3,1.8,0.7,2.3c0.1,0.1,0.1,0.2,0.1,0.3c-0.1,0.3-0.2,1-0.3,1.1
												c0,0.2-0.1,0.2-0.3,0.1c-1.2-0.6-2-2.4-2-3.9c0-3.2,2.3-6.1,6.6-6.1c3.5,0,6.2,2.5,6.2,5.8c0,3.4-2.2,6.2-5.2,6.2
												c-1,0-2-0.5-2.3-1.1c0,0-0.5,1.9-0.6,2.4c-0.2,0.9-0.8,2-1.2,2.6C9,20.8,10,21,11,21c5.5,0,10-4.5,10-10C21,5.5,16.5,1,11,1z"/></svg>
											</span></a> 
										{% endif %}				
									</div>
									{% endif %}
									<!-- END  icon social share -->
									<div id="product-zoom-in" class="product-zoom icon-pr-fix " aria-label="Zoom in" title="Zoom in">
										<span class="zoom-in" aria-hidden="true">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36" style="enable-background:new 0 0 36 36; width: 36px; height: 36px;" xml:space="preserve"><polyline points="6,14 9,11 14,16 16,14 11,9 14,6 6,6 "/><polyline points="22,6 25,9 20,14 22,16 27,11 30,14 30,6 "/><polyline points="30,22 27,25 22,20 20,22 25,27 22,30 30,30 "/><polyline points="14,30 11,27 16,22 14,20 9,25 6,22 6,30 "/> </svg>
										</span>
									</div>
								</div>
							</div>
						</div>	
					{%else%}
					<div class="gallery-item">
						<img src="{{product.featured_image | product_img_url : 'master'}}" alt="{{product.title}}"/>
					</div>
					{%endif%}
					{%else%}
						<div class="no_gallery">
							<img src="//hstatic.net/0/0/global/design/theme-default/no-image.png" width="100%"  alt="{{product.title}}"/>
						</div>
					{%endif%}
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 product-content-desc">
					<div class="product-title">
						<h1>{{ product.title }}</h1>
						<span id="pro_sku"><strong>SKU:</strong> {% if product.variants[0].sku %}{{product.variants[0].sku}}{% else %}Chưa rõ{% endif %}</span>
						{% unless product.available %}<span class="pro-soldold">Hết hàng</span>{% endunless %} 		
					</div>
					<div class="product-price" id="price-preview">
						{% if product.variants.first.compare_at_price > product.variants.first.price %}
						<span class="pro-sale"> sale </span>
						{% endif %}	
						<span class="pro-price">{{ product.variants.first.price | money }}</span>
						{% if product.variants.first.compare_at_price > product.variants.first.price %}
						<del>{{ product.variants.first.compare_at_price | money }}</del>
						{% endif %}
					</div>
					{% assign hide_default_title = false %}
					{% if product.variants.size == 1 and product.variants.first.title contains 'Default' and product.options.size == 1 %}
					{% assign hide_default_title = true %}
					{% endif %}	
					<form id="add-item-form" action="/cart/add" method="post" class="variants clearfix">				
						<div class="select clearfix"{% if hide_default_title %} style="display:none"{% endif %}>
							<select id="product-select" name="id" style="display:none;">
								{% for variant in product.variants %}
								<option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="select-swatch clearfix">
							{% if product.available and product.variants.size > 1 %}
							{% for option in product.options %}
							{% include 'swatch' with option %}
							{% endfor %}
							{% endif %}
						</div>
						<div class="selector-actions d {{checkgift}}">	
							{%- if checkgift -%}
							<button type="button" disabled  class="disabled btn-product-gift button dark " name="add"> 
								Hàng tặng không bán
							</button>
							{%- else -%}				
							<div class="select-quantity">
								<input id="quantity" type="number" name="quantity" min="1" value="1" class="tc item-quantity" />
							</div>
							{%-assign className = ''-%}
							{%-if settings.promotion_hrvapp_use-%}
							{%-if settings.promotion_hrvapp == 'appbuyxgety'-%}
							{%-assign className = 'loading'-%}
							{%-endif-%}	
							{%-endif-%}
							<div class="wrap-addcart">						
								<button type="button" id="add-to-cart" {% unless product.available %}disabled{% endunless %}  class="{% unless product.available %}disabled{% endunless %} btn-detail add-to-cartProduct btn-addtocart  addtocart-modal {{className}}" name="add"> 
									{% if  product.available %}	Thêm vào giỏ {% else %} Hết hàng {% endif %}
								</button>
							</div>	
							{%- endif -%}
						</div>
						{% if settings.promotion_hrvapp_use and settings.promotion_hrvapp == 'appbuyxgety' %}
						<div class="selector-buyxgety">							
							<div id="buyxgety-program" class="hidden">
								<div class="buyxgety-heading">
									<h3>Các sản phẩm được tặng kèm</h3>								
									<p>Chọn 1 trong các loại quà tặng</p>
								</div>							
								<div id="buyxgety-product-list" data-id="{{product.id}}" data-title="{{product.title}}">
									<div class="buyxgety_content clearfix">									
										<div class="buyxgety_lists"></div>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
						<div class="product-action-bottom  visible-xs">
							<div class="input-bottom">
								<input id="quan-input" type="number" value="1" min="1">
							</div>
							<button type="button" id="add-to-cartbottom" {% unless product.available %}disabled{% endunless %}  class="{% unless product.available %}disabled{% endunless %} btn-detail add-to-cartProduct  add-cart-bottom addtocart-modal" name="add"> 
								{% if  product.available %}	Thêm vào giỏ {% else %} Hết hàng {% endif %}
							</button>
						</div>
					</form>
					{% if settings.use_tags_products %}
					<div class="wrap-tagged">																
						<!-- Begin tags -->
						{%if product.tags.size > 0%}
						<div class="tag-wrapper">
							<label>
								Tags:
							</label>
							<ul class="tags">
								{%for tag in product.tags%}
								<li class="active">
									<a href="/collections/all/{{tag | handleize}}">{{tag}}</a>
								</li>
								{%endfor%}
							</ul>
						</div>
						{%endif%}

						<!-- End tags -->
					</div>
					{% endif %}

					<div class="product-description">	
						<div class="title-bl">
							<h2>Mô tả</h2>
						</div>							
						<div class="description-content">
							{%if product.description == blank%} 
							<p>Chưa có mô tả cho sản phẩm này</p>
							{%else%}
							<div class="description-productdetail">
								{{ product.description }}
							</div>
							{% comment %}<div class="view-more-detail"><a href="javascript:void(0);">+ Đọc thêm</a></div>{% endcomment %}
							{%endif%}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% if settings.productspg_related_products %}
		{% include 'product-related'%}
		{% endif %}
	</div>
</div>
<div id="divzoom">
	<div class="divzoom_main">
		{% for thumb in product.images %}
		<div class="product-thumb text-center">
			<img class="product-image-feature" src="{{ thumb.src | product_img_url : 'master' }}" alt="{{product.title}}">
		</div>
		{% endfor %}
	</div>
	<div id="positionButtonDiv" class="hidden">
		<p> 
			<span>
				<button type="button" class="buttonZoomIn"><i></i></button>
				<button type="button" class="buttonZoomOut"><i></i></button>			
			</span>
		</p>
	</div>
	<button id="closedivZoom"><i></i></button>
</div>
{%-if settings.promotion_hrvapp_use -%}
{%-if settings.promotion_hrvapp == 'appcombo'-%}
{%-include 'modal-appcombo'-%}
<script>
$(document).ready(function(){
	$('#add-to-cart').click(function(e){	
		e.preventDefault();
		if(comboApp.checkCombo){
			$('#combo-popup button').removeAttr('data-buynow');
			$('#combo-popup').modal('show');
		}
		else{
			$(this).addClass('clicked_buy');
			add_item_show_modalCart($('#product-select').val());
			getCartModal();
		}
	});
	$('#buy-now').click(function(e){	
		e.preventDefault();
		if(comboApp.checkCombo){
			$('#combo-popup button').attr('data-buynow','true');
			$('#combo-popup').modal('show');
		}
		else{
			$(this).addClass('clicked_buy');
			add_item_show_modalCart($('#product-select').val(),'buy-now');
		}
	});
	// Nút thêm tất cả vào giỏ
	$('body').on('click', '#discount-promotion-combo-add-btn', function(e){
		e.preventDefault();
		var that = $(this);
		var pid = $('#combo-program').data('id');
		var vid = $('#product-select').val();
		comboApp.comboAddCart(pid, vid, function(response){
			if(response){
				if(that.attr('data-buynow') != undefined){
					window.location = "/checkout";
				}
				else{
					$('#combo-popup').modal('hide');
					getCartModal();					
					jQuery('#myCart').modal('show');		
					jQuery('.modal-backdrop').css({'height':jQuery(document).height(),'z-index':'99'});		
					$('.addtocart-modal').removeClass('clicked_buy');
				}
			}
			else{
				alert('fail');
			}
		});
	});
	// Nút chỉ thêm sản phẩm hiện tại
	$('body').on('click', '#discount-promotion-dismiss-btn', function(e){
		e.preventDefault();
		var that = $(this);
		$.ajax({
			type: 'POST',
			async: false,
			url:'/cart/add.js',
			async:false,
			data: $('form#add-item-form').serialize(),
			success:function(line){	
				if(that.attr('data-buynow') != undefined){
					window.location = "/checkout";
				}
				else{
					$('#combo-popup').modal('hide');
					getCartModal();					
					jQuery('#myCart').modal('show');		
					jQuery('.modal-backdrop').css({'height':jQuery(document).height(),'z-index':'99'});		
					$('.addtocart-modal').removeClass('clicked_buy');
				}
			},
			error: function(jqXHR, textStatus, errorThrown) {
				alert('Sản phẩm bạn vừa mua đã vượt quá tồn kho');
			}
		});
	});
});
</script>
{%-elsif settings.promotion_hrvapp == 'appbuyxgety'-%}
<script>
$(document).ready(function(){
	$('#add-to-cart').click(function(e){	
		e.preventDefault();
		var variant_id = $('#product-select').val(),
				quantity = $('#quantity').val();
		buyXgetY.addCartBuyXGetY_detail(false,variant_id,quantity,function(){
			getCartModal();
		});
	});
	$('#buy-now').click(function(e){	
		e.preventDefault();
		var variant_id = $('#product-select').val(),
				quantity = $('#quantity').val();
		buyXgetY.addCartBuyXGetY_detail(false,variant_id,quantity,function(){
			window.location = "/checkout";
		});
	});
	// Nút chỉ thêm sản phẩm hiện tại
	$('body').on('click', '#discount-promotion-dismiss-buyxgety', function(e){
		e.preventDefault();
		var variant_id = $('#product-select').val(),
				quantity = $('#quantity').val();
		buyXgetY.addCartBuyXGetY_detail(true,variant_id,quantity,function(){
			$('#alert_km').modal('hide');
			getCartModal();
		});
	});
});
</script>
{%-endif-%}
{%-else-%}
<script>
$(document).ready(function(){
	$('#add-to-cart').click(function(e){	
		e.preventDefault();
		$(this).addClass('clicked_buy');
		add_item_show_modalCart($('#product-select').val());
		//getCartModal();
	});
});
</script>
{%-endif-%}
<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip(); 
	$('#add-to-cartbottom').click(function(){	
		$('#add-to-cart').trigger('click');
	});
	$('#quan-input').keyup(function(){
		$('[name="quantity"]').val($(this).val());
	})
	$('[name="quantity"]').on('keyup change', function(){
		$('#quan-input').val($(this).val());
	})
	$('#productSlick-thumb').slick({
		slidesToShow: 6,
		slidesToScroll: 6,
		dots: false,
		arrows: false,
		vertical:true,
		verticalSwiping:true,
		infinite: false
	});
});
$(document).on("click","#product-zoom-in",function(){
	//	var indexThumb = $(this).index();
	//	console.log(indexThumb);
	$("body").addClass("open_layer");
	$("#divzoom").css({'opcaity':0,'visibility':'hidden'}).show();
	$('.divzoom_main').flickity({
		resize:true,
		draggable: true,
	});
	if($(window).width() > 768){
		var ncurrent = parseInt($(".gallery-index .current").html()) - 1;
	}
	else{
		var ncurrent = parseInt($(".product-gallery-item.is-selected").index());
	}
	$('.divzoom_main').flickity('select',ncurrent);
	setTimeout(function(){$("#divzoom").css({'opcaity': 1,'visibility':'visible'})},50);
});
$(document).on('click','#closedivZoom', function(event) {
	$("#divzoom").hide();
	$("body").removeClass("open_layer");
	$('.divzoom_main').flickity('select',0);
	//$('.divzoom_main').slick('unslick');
});
</script>
<script>
$(".product-gallery__thumb img").click(function(){
	$(".product-gallery__thumb").removeClass('active');
	$(this).parents('.product-gallery__thumb').addClass('active');
	var img_thumb = $(this).data('image');
	var total_index =  $(this).parents('.product-gallery__thumb').index() + 1;
	$(".gallery-index .current").html(total_index);
	$("#productSlick-thumb").slick('slickGoTo',total_index);
	$(".product-image-details .product-image-feature").attr("src",$(this).attr("data-image"));
});
$(".product-gallery__thumb").first().addClass('active');
var tk = true;
$(document).ready(function(){
	var nb = $('div.swatch').length;
	$('.swatch input').click(function(){
		//alert('df');
		if(nb > 2){
			var vr3 = $('#product-select-option-2 option').length;
		}
		else{
			$('.each').find('label').removeClass('sd');
		}
		var d = $(this).parent().index();
		var o = $(this).attr('name');
		var vl = $(this).val();
		//console.log("This: " + vl);
		$(this).parents(".swatch").find(".header span").html(vl);
		var k=0;
		$('.swatch .soldout').find('label').removeClass('sd');  
		$('.swatch .noi').find('label').removeClass('sd');
		$('.single-option-selector').each(function(){
			var l = $(this).attr('data-option');
			//console.log('select: ' + l);
			if(l == o){
				$(this).find('option:nth-child('+(d+1)+')').prop('selected', true);
				$(this).change();
				var att = $(this).attr('id');
				if(att == 'product-select-option-0' ){
					var ch = $('#product-select-option-1').children().length;
					//console.log(ch);

					$('.each').removeClass('soldout').addClass('available');
					$('.each').find('input').removeAttr('disabled').removeClass('disabled')
					if(nb<3){
						var tb=0;
						$('.swatch .each').removeClass('n-sd');
						for( var i = 0; i < ch ; i++){
							$('#product-select-option-1').find('option:nth-child('+(i+1)+')').prop('selected', true);
							$(this).change();
							//console.log(tk);
							if(tk == false){
								var an = $('#product-select-option-1').find('option:nth-child('+(i+1)+')').val();
								console.log(an);
								$('.swatch .each').each(function(){
									var tam = $(this).attr('data-value');
									if(an == tam){
										//console.log(an+tam)
										$(this).removeClass('available').addClass('soldout');
										$(this).find('input').attr('disabled', 'disabled').addClass('disabled')
									}
								})
							}
							else{
								tb = (i+1);
								var an = $('#product-select-option-1').find('option:nth-child('+(i+1)+')').val();
								//console.log(an + " K: " + tb);
								$('.swatch .each').each(function(){
									var tam = $(this).attr('data-value');
									if(an == tam){
										//console.log("nid: "+ (nid+1))
										$(this).addClass('noi');
									}
								})
							}
						}
						if( tb > 0){
							$('#product-select-option-1').find('option:nth-child('+tb+')').prop('selected', true);
							$('#product-select-option-1').find('option:nth-child('+tb+')').change();
						}
						//console.log(k);
						$('.swatch .noi:nth-child('+tb+')').find('label').addClass('sd');
					}
					else{
						$('.variant-3').removeClass('soldout').addClass('available');
						$('.variant-3').find('input').removeAttr('disabled').removeClass('disabled')
						$('.variant-3').removeClass('noi');
						for( var l = 0; l < vr3 ; l++){
							$('#product-select-option-2').find('option:nth-child('+(l+1)+')').prop('selected', true);
							$(this).change();
							if(tk == false){
								var an = $('#product-select-option-2').find('option:nth-child('+(l+1)+')').val();
								//console.log(an);
								$('.swatch .variant-3').each(function(){
									var tam = $(this).attr('data-value');
									if(an == tam){
										//console.log(an+tam)
										$(this).removeClass('available').addClass('soldout');
										$(this).find('input').attr('disabled', 'disabled').addClass('disabled')
									}
								})
							}
							else{
								k = (l+1);
								//console.log(k);
								var an = $('#product-select-option-2').find('option:nth-child('+(l+1)+')').val();
								$('.swatch .variant-3').each(function(){
									var tam = $(this).attr('data-value');

									if(an == tam){
										//console.log("nid: "+ (nid+1))
										$(this).addClass('noi');
									}
								})
							}
						}
						if( k > 0){
							$('#product-select-option-2').find('option:nth-child('+k+')').prop('selected', true);
							$(this).change();
						}
						//console.log(k);
						$('.swatch .noi:nth-child('+k+')').find('label').addClass('sd');
					}
				}
			}
		})
	})
	if(nb > 2){
		$('.variant-1').click(function(){
			var k=0;
			if(nb > 2){
				var vr3 = $('#product-select-option-2 option').length;
			}
			$('.each').removeClass('soldout').addClass('available');
			$('.each').find('input').removeAttr('disabled').removeClass('disabled')
			$('.swatch .noi').find('label').removeClass('sd');
			for( var i = 0; i < vr3 ; i++){
				$('#product-select-option-2').find('option:nth-child('+(i+1)+')').prop('selected', true);
				$('#product-select-option-2').find('option:nth-child('+(i+1)+')').change();
				if(tk == false){
					var an = $('#product-select-option-2').find('option:nth-child('+(i+1)+')').val();
					//console.log(an);
					$('.swatch .each').each(function(){
						var tam = $(this).attr('data-value');
						if(an == tam){
							//console.log(an+tam)
							$(this).removeClass('available').addClass('soldout');
							$(this).find('input').attr('disabled', 'disabled').addClass('disabled')
						}
					})
				}
				else{
					k = (i+1);
					//console.log(k);
					var n = $('#product-select-option-2').find('option:nth-child('+(i+1)+')').val();
					$('.swatch .variant-3').each(function(){
						var tam1 = $(this).attr('data-value');
						if(n == tam1){
							//console.log("nid: "+ (nid+1))
							$(this).addClass('noi');
						}
					})
				}
			}
			if( k > 0){
				$('#product-select-option-2').find('option:nth-child('+k+')').prop('selected', true);
				$('#product-select-option-2').find('option:nth-child('+k+')').change();
			}
			console.log(k);
			$('.swatch .noi:nth-child('+k+')').find('label').addClass('sd');
		})
	}
});
var check_variant = true;
var selectCallback = function(variant, selector) {
	if (variant && variant.available) {
		if(variant.featured_image != null){
			if ($(window).width()> 991){
				$(".product-gallery__thumb a img[data-image='"+Haravan.resizeImage(variant.featured_image.src,'master').replace('https:','')+"']").click().parents('.product-gallery__thumb').addClass('active');
			} 
			else {
				setTimeout(function(){
					var indexVariant = $(".product-gallery-item img[src='"+Haravan.resizeImage(variant.featured_image.src,'master').replace('https:','')+"']").parent().index();
					$("#sliderproduct").flickity('select', indexVariant);
				},400);
			}
		}
		if (variant.sku != null ){
			jQuery('#pro_sku').html('SKU: ' +variant.sku);
		}
		jQuery('.add-to-cartProduct').removeAttr('disabled').removeClass('disabled').html("Thêm vào giỏ");;
		jQuery('#buy-now').removeAttr('disabled').removeClass('disabled').html("Mua ngay").show();
		jQuery('.pro-soldold').addClass('hidden');
		check_variant = true;
		if(variant.price < variant.compare_at_price){
			//jQuery('#price-preview').html("<span>" + Haravan.formatMoney(variant.price, "{{ shop.money_format }}") + "</span><del>" + Haravan.formatMoney(variant.compare_at_price, "{{ shop.money_format }}") + "</del>");
			var pro_sold = variant.price ;
			var pro_comp = variant.compare_at_price / 100;
			var sale = 100 - (pro_sold / pro_comp) ;
			var kq_sale = Math.round(sale);
			var html = '<span class="pro-sale">'+ 'sale' +'</span>';									
			html += '<span class="pro-price">' + Haravan.formatMoney(pro_sold, "{{ shop.money_format }}") + '</span>';
			html += '<del>' + Haravan.formatMoney(variant.compare_at_price, "{{ shop.money_format }}") + '</del>';
			jQuery('#price-preview').html(html);
		} else {
			jQuery('#price-preview').html("<span class='pro-price'>" + Haravan.formatMoney(variant.price, "{{ shop.money_format }}" + "</span>"));
		}

	} else {
		jQuery('.add-to-cartProduct').addClass('disabled').attr('disabled', 'disabled').html("Hết hàng");
		jQuery('#buy-now').addClass('disabled').attr('disabled', 'disabled').html("Hết hàng").hide();
		var message = variant ? "Hết hàng" : "Không có hàng";
		jQuery('.pro-soldold').removeClass('hidden')
		jQuery('.pro-soldold').text(message);
		check_variant = false;
	}
	return check_variant;
};
jQuery(document).ready(function($){
	{%if product.variants.size == 1 and product.variants.first.title contains 'Default'%}
	{%else%}
	new Haravan.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });

	 // Add label if only one product option and it isn't 'Title'.
	 {% if product.options.size == 1 and product.options.first != 'Tiêu đề' %}
	 $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
		{% endif %} 

		// Auto-select first available variant on page load.
		{% assign found_one_in_stock = false %}
		{% for variant in product.variants %}
		{% if variant.available and found_one_in_stock == false %}
		{% assign found_one_in_stock = true %}
		{% for option in product.options %}
		$('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
		 {% endfor %}
		 {% endif %}
		 {% endfor %}
		 $('.selector-wrapper select').each(function(){
			 $(this).wrap( '<span class="custom-dropdown custom-dropdown--white"></span>');
			 $(this).addClass("custom-dropdown__select custom-dropdown__select--white");
		 });
			{%endif%}
			});
			</script>
<script>
var check_scroll = 1;
var swatch_size = parseInt($('.select-swatch').children().size());
jQuery(document).on('click','.swatch input', function(e) {  
	e.preventDefault()
	var $this = $(this);
	var _available = '';
	$this.parent().siblings().find('label').removeClass('sd');
	$this.next().addClass('sd');
	var name = $this.attr('name');
	var value = $this.val();
	$('select[data-option='+name+']').val(value).trigger('change');
	if(swatch_size == 2){
		if(name.indexOf('1') != -1){
			$('#variant-swatch-1 .swatch-element').find('input').prop('disabled', false);
			$('#variant-swatch-2 .swatch-element').find('input').prop('disabled', false);
			$('#variant-swatch-1 .swatch-element label').removeClass('sd');
			$('#variant-swatch-1 .swatch-element').removeClass('soldout');
			$('.selector-wrapper .single-option-selector').eq(1).find('option').each(function(){
				var _tam = $(this).val();
				$(this).parent().val(_tam).trigger('change');
				if(check_variant){
					if(_available == '' ){
						_available = _tam;
					}
				}else{
					$('#variant-swatch-1 .swatch-element[data-value="'+_tam+'"]').addClass('soldout');
					$('#variant-swatch-1 .swatch-element[data-value="'+_tam+'"]').find('input').prop('disabled', true);
				}
			})
			$('.selector-wrapper .single-option-selector').eq(1).val(_available).trigger('change');
			$('#variant-swatch-1 .swatch-element[data-value="'+_available+'"] label').addClass('sd');
		}
	}
	else if (swatch_size == 3){
		var _count_op2 = $('#variant-swatch-1 .swatch-element').size();
		var _count_op3 = $('#variant-swatch-2 .swatch-element').size();
		if(name.indexOf('1') != -1){
			$('#variant-swatch-1 .swatch-element').find('input').prop('disabled', false);
			$('#variant-swatch-2 .swatch-element').find('input').prop('disabled', false);
			$('#variant-swatch-1 .swatch-element label').removeClass('sd');
			$('#variant-swatch-1 .swatch-element').removeClass('soldout');
			$('#variant-swatch-2 .swatch-element label').removeClass('sd');
			$('#variant-swatch-2 .swatch-element').removeClass('soldout');
			var _avi_op1 = '';
			var _avi_op2 = '';
			$('#variant-swatch-1 .swatch-element').each(function(ind,value){
				var _key = $(this).data('value');
				var _unavi = 0;
				$('.single-option-selector').eq(1).val(_key).change();
				$('#variant-swatch-2 .swatch-element label').removeClass('sd');
				$('#variant-swatch-2 .swatch-element').removeClass('soldout');
				$('#variant-swatch-2 .swatch-element').find('input').prop('disabled', false);
				$('#variant-swatch-2 .swatch-element').each(function(i,v){
					var _val = $(this).data('value');
					$('.single-option-selector').eq(2).val(_val).change();
					if(check_variant == true){
						if(_avi_op1 == ''){
							_avi_op1 = _key;
						}
						if(_avi_op2 == ''){
							_avi_op2 = _val;
						}
						//console.log(_avi_op1 + ' -- ' + _avi_op2)
					}else{
						_unavi += 1;
					}
				})
				if(_unavi == _count_op3){
					$('#variant-swatch-1 .swatch-element[data-value = "'+_key+'"]').addClass('soldout');
					setTimeout(function(){
						$('#variant-swatch-1 .swatch-element[data-value = "'+_key+'"] input').attr('disabled','disabled');
					})
				}
			})
			$('#variant-swatch-1 .swatch-element[data-value="'+_avi_op1+'"] input').click();
		}
		else if(name.indexOf('2') != -1){
			$('#variant-swatch-2 .swatch-element label').removeClass('sd');
			$('#variant-swatch-2 .swatch-element').removeClass('soldout');
			$('#variant-swatch-2 .swatch-element').find('input').prop('disabled', false);
			$('.selector-wrapper .single-option-selector').eq(2).find('option').each(function(){
				var _tam = $(this).val();
				$(this).parent().val(_tam).trigger('change');
				if(check_variant){
					if(_available == '' ){
						_available = _tam;
					}
				}else{
					$('#variant-swatch-2 .swatch-element[data-value="'+_tam+'"]').addClass('soldout');
					$('#variant-swatch-2 .swatch-element[data-value="'+_tam+'"]').find('input').prop('disabled', true);
				}
			})
			$('.selector-wrapper .single-option-selector').eq(2).val(_available).trigger('change');
			$('#variant-swatch-2 .swatch-element[data-value="'+_available+'"] label').addClass('sd');
		}
	}
	else{

	}
	/*check_scroll++;
	//debugger;
	if (check_scroll >= $(".swatch-element").length ){
		$('body,html').animate({scrollTop: 0}, 500);
	}*/
})
$(document).ready(function(){
	var _chage = '';
	$('.swatch-element[data-value="'+$('.selector-wrapper .single-option-selector').eq(0).val()+'"]').find('input').click();
	$('.swatch-element[data-value="'+$('.selector-wrapper .single-option-selector').eq(1).val()+'"]').find('input').click();
	if(swatch_size == 2){
		var _avi_op1 = '';
		var _avi_op2 = '';
		var _count = $('#variant-swatch-1 .swatch-element').size();
		$('#variant-swatch-0 .swatch-element').each(function(ind,value){
			var _key = $(this).data('value');
			var _unavi = 0;
			$('.single-option-selector').eq(0).val(_key).change();
			$('#variant-swatch-1 .swatch-element').each(function(i,v){
				var _val = $(this).data('value');
				$('.single-option-selector').eq(1).val(_val).change();
				if(check_variant == true){
					if(_avi_op1 == ''){
						_avi_op1 = _key;
					}
					if(_avi_op2 == ''){
						_avi_op2 = _val;
					}
				}else{
					_unavi += 1;
				}
			})
			if(_unavi == _count){
				$('#variant-swatch-0 .swatch-element[data-value = "'+_key+'"]').addClass('soldout');
				//$('#variant-swatch-0 .swatch-element[data-value = "'+_key+'"]').find('input').attr('disabled','disabled');
			}
		})
		$('#variant-swatch-1 .swatch-element[data-value = "'+_avi_op2+'"] input').click();
		$('#variant-swatch-0 .swatch-element[data-value = "'+_avi_op1+'"] input').click();
	}
	else if(swatch_size == 3){
		var _avi_op1 = '';
		var _avi_op2 = '';
		var _avi_op3 = '';
		var _size_op2 = $('#variant-swatch-1 .swatch-element').size();
		var _size_op3 = $('#variant-swatch-2 .swatch-element').size();

		$('#variant-swatch-0 .swatch-element').each(function(ind,value){
			var _key_va1 = $(this).data('value');
			var _count_unavi = 0;
			$('.single-option-selector').eq(0).val(_key_va1).change();
			$('#variant-swatch-1 .swatch-element').each(function(i,v){
				var _key_va2 = $(this).data('value');
				var _unavi_2 = 0;
				$('.single-option-selector').eq(1).val(_key_va2).change();
				$('#variant-swatch-2 .swatch-element').each(function(j,z){
					var _key_va3 = $(this).data('value');
					$('.single-option-selector').eq(2).val(_key_va3).change();
					if(check_variant == true){
						if(_avi_op1 == ''){
							_avi_op1 = _key_va1;
						}
						if(_avi_op2 == ''){
							_avi_op2 = _key_va2;
						}
						if(_avi_op3 == ''){
							_avi_op3 = _key_va3;
						}
					}else{
						_unavi_2 += 1;
					}
				})
				if(_unavi_2 == _size_op3){
					_count_unavi += 1;
				}
			})
			if(_size_op2 == _count_unavi){
				$('#variant-swatch-0 .swatch-element[data-value = "'+_key_va1+'"]').addClass('soldout');
				//$('#variant-swatch-0 .swatch-element[data-value = "'+_key_va1+'"]').find('input').attr('disabled','disabled');
			}
		})
		$('#variant-swatch-0 .swatch-element[data-value = "'+_avi_op1+'"] input').click();
	}
})
$( ".select-swap .color" ).hover(function() { 
	var value = $( this ).data("value");
	$(this).parents(".swatch").find(".header span").html( value );
},function(){
	var value = $( ".select-swap .color label.sd span").html();
	$(this).parents(".swatch").find(".header span").html( value );
});
</script>