{%layout none%}
{%paginate search.results by settings.pagination_limit %}
{%if search.results.size == 0%}
<p class="count-filter hidden">Có 0 sản phẩm cho kết quả lọc</p>
<div class='col-md-6 col-sm-12 col-xs-12 no-product wrapbox-content-page'>
	<p>Không tìm thấy sản phẩm nào phù hợp</p>
</div>
{%else%}
<p class="count-filter hidden">Có {{ paginate.items }} sản phẩm cho kết quả lọc</p>
{%for product in search.results%}
<div class="col-md-3 col-sm-6 col-xs-6 pro-loop animated zoomIn">
	{% include 'product-loop' %}
</div>
{%endfor%}
{%endif%}

{%endpaginate%}