<div class="searchPage" id="layout-search">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-xs-12 wrapbox-heading-page">
				<div class="header-page">
					<h1>Tìm kiếm</h1>
					{%- if search.results.size > 0 -%}
					<p class="subtxt">Có <span>{{ search.results.size }} sản phẩm</span> cho tìm kiếm</p>
					{%- endif -%}
				</div>
			</div>
			<div class="col-md-6 col-xs-12 wrapbox-content-page">
				{% if search.performed %}
				{% paginate search.results by 8 %}

				{% if search.results.size == 0 %}
				<div class="content-page" id="search">
					<div class="expanded-message">
						<h2>Không tìm thấy nội dung bạn yêu cầu</h2>
						<span class="subtext">
							Không tìm thấy  <strong>"{{ search.terms | strip_html | escape }}"</strong> . Vui lòng tìm kiếm với từ khóa khác.
						</span>
						<div class="search-field">
							<form class="search-page" action="/search">
								<input type="submit" alt="Go" id="go"/>
								<input type="hidden" name="type" value="product" />
								<input type="text" name="q" class="search_box" placeholder="Tìm kiếm" value="{{search.terms | strip_html | escape}}"  />
							</form>
						</div>
						<div class="message-txt clearfix">
							<p>Sản phẩm bạn vừa tìm không có trong cửa hàng</p>
							<p>Vui lòng kiểm tra chính tả, sử dụng các từ tổng quát hơn và thử lại!</p>
						</div>
					</div>
				</div>
				{% else %}
				<div class="content-page" id="search">					
					<p class="subtext-result">	Kết quả tìm kiếm cho  <strong>"{{ search.terms | strip_html | escape }}"</strong>.		</p>
					<div class="results search-list-results">
						<!-- Begin results -->
						{% for product in search.results %}
						{% assign on_sale = false %}
						{% if product.available and product.compare_at_price > product.price %}
						{% assign on_sale = true %}
						{% endif %}
						<a class="search-item wrap-flex-align" href="{{product.url}}" title="{{product.title}}">
							<div class="thumb-image">
								<img alt="{% if product.featured_image.alt.size >0 %}{{ product.featured_image.alt | escape }}{% else%} {{product.title}} {% endif %}" src="{%if product.images.size > 0%}{{ product.featured_image.src | product_img_url: 'small' }}{%else%}//hstatic.net/0/0/global/design/theme-default/no-image.png{%endif%}"  />
							</div>
							<div class="content">
								<h3 class="title">{{product.title}}</h3>
								<p class="caption">
									{{ product.price | money }}
									{% if on_sale %}<del >{{ product.compare_at_price | money }}</del>{% endif %}
								</p>
							</div>
						</a>
						{% endfor %}
					</div>	<!-- End results -->
					<div class="row pagination-theme clearfix">
						{%include 'pagination-default'%}
					</div>
				</div>
				{% endif %}

				{% endpaginate %}
				{% else %}
				<div class="content-page" id="search">
					<div class="expanded-message">
						<div class="search-field">
							<form class="search-page" action="/search">
								<input type="hidden" name="type" value="product" />
								<input type="submit" alt="Go" id="go"/>
								<input type="text" name="q" class="search_box" placeholder="Tìm kiếm" value="{{search.terms | strip_html | escape}}"  required="required" required/>
							</form>
						</div>
						<div class="message-txt clearfix">
							<p>Rất tiếc, chúng tôi không tìm thấy kết quả cho từ khóa của bạn</p>
							<p>Vui lòng kiểm tra chính tả, sử dụng các từ tổng quát hơn và thử lại!</p>
						</div>
					</div>
				</div>
				{% endif %}

			</div>
			<!-- /#search -->
		</div>
	</div>
</div>
