/*Marker Style 01*/
.wlb-marker-style-1 {
    padding: 245px 0;
}

.wlb-marker-style-1 .wlb_image_pointer {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: 3px solid #ed552d;
    background-color: #fff;
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    line-height: 32px;
}

.wlb-marker-style-1 .wlb_image_pointer .wlb_pointer_box {
    background: #fff;
    width: 240px;
    position: absolute;
    top: 0;
    right: 50%;
    -webkit-transform: translate3d(50%, -100%, 0);
    transform: translate3d(50%, -100%, 0);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
    z-index: 10;
    padding: 20px;
    -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
    text-align: center;
}

.wlb-marker-style-1 .wlb_image_pointer .wlb_pointer_box h4 {
    font-size: 20px;
    margin-bottom: 7px;
}

.wlb-marker-style-1 .wlb_image_pointer .wlb_pointer_box p {
    font-size: 13px;
    line-height: 24px;
    margin: 0;
}

.wlb-marker-style-1 .wlb_image_pointer:hover .wlb_pointer_box {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateY(-110%) translateX(50%);
    transform: translateY(-110%) translateX(50%);
}

.wlb-marker-style-1 .wlb_image_pointer::before {
    content: "\f129";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: FontAwesome;
    color: #ed552d;
    font-size: 18px;
    width: 100%;
    height: 100%;
}

.wlb-marker-style-1 .wlb_image_pointer {
    position: absolute;
    left: 66%;
    top: 15%;
}

/*Marker Style 02*/
.wlb-marker-style-2 {
    padding: 245px 0;
}

.wlb-marker-style-2 .wlb_image_pointer {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    border: 5px solid #dddddd;
    background-color: #fff;
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    line-height: 38px;
}

.wlb-marker-style-2 .wlb_image_pointer .wlb_pointer_box {
    background: #fff;
    width: 240px;
    position: absolute;
    top: 0;
    right: 50%;
    -webkit-transform: translate3d(50%, -100%, 0);
    transform: translate3d(50%, -100%, 0);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
    z-index: 10;
    padding: 20px;
    -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
    text-align: center;
}

.wlb-marker-style-2 .wlb_image_pointer .wlb_pointer_box h4 {
    font-size: 20px;
    margin-bottom: 7px;
}

.wlb-marker-style-2 .wlb_image_pointer .wlb_pointer_box p {
    font-size: 13px;
    line-height: 24px;
    margin: 0;
}

.wlb-marker-style-2 .wlb_image_pointer:hover .wlb_pointer_box {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateY(-110%) translateX(50%);
    transform: translateY(-110%) translateX(50%);
}

.wlb-marker-style-2 .wlb_image_pointer::before {
    content: "\f067";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: FontAwesome;
    color: #ed552d;
    font-size: 18px;
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in-out;
}

.wlb-marker-style-2 .wlb_image_pointer:hover::before {
    transform: translateX(-50%) translateY(-50%) rotate(47deg);
}

.wlb-marker-style-2 .wlb_image_pointer {
    position: absolute;
    left: 50%;
    top: 26%;
}

/*Marker Style 03*/
.wlb-marker-style-3 {
    padding: 245px 0;
}

.wlb-marker-style-3 .wlb_image_pointer {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background-color: #000000;
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    line-height: 49px;
    z-index: 2;
}

.wlb-marker-style-3 .wlb_image_pointer .wlb_pointer_box {
    background: #000000;
    width: 240px;
    position: absolute;
    top: 0;
    right: 50%;
    -webkit-transform: translate3d(50%, -100%, 0);
    transform: translate3d(50%, -100%, 0);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
    z-index: 10;
    padding: 20px;
    -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
    text-align: center;
}

.wlb-marker-style-3 .wlb_image_pointer .wlb_pointer_box h4 {
    font-size: 20px;
    margin-bottom: 7px;
    color: #ffffff;
}

.wlb-marker-style-3 .wlb_image_pointer .wlb_pointer_box p {
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    color: #ffffff;
}

.wlb-marker-style-3 .wlb_image_pointer:hover .wlb_pointer_box {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateY(-110%) translateX(50%);
    transform: translateY(-110%) translateX(50%);
}

.wlb-marker-style-3 .wlb_image_pointer::before {
    content: "\f067";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 18px;
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in-out;
}

.wlb-marker-style-3 .wlb_image_pointer::after {
    position: absolute;
    left: 2px;
    background: #000;
    content: "";
    right: 2px;
    top: 2px;
    bottom: 2px;
    border-radius: 100%;
    border: 2px solid #fff;
    z-index: -1;
}

.wlb-marker-style-3 .wlb_image_pointer:hover::before {
    transform: translateX(-50%) translateY(-50%) rotate(47deg);
}

.wlb-marker-style-3 .wlb_image_pointer {
    position: absolute;
    left: 50%;
    top: 26%;
}

/*Marker Style 04*/
.wlb-marker-style-4 {
    padding: 245px 0;
}

.wlb-marker-style-4 .wlb_image_pointer {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    line-height: 38px;
    border: 5px solid #d88d78;
    z-index: 2;
}

.wlb-marker-style-4 .wlb_image_pointer .wlb_pointer_box {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 240px;
    position: absolute;
    top: 0;
    right: 50%;
    -webkit-transform: translate3d(50%, -100%, 0);
    transform: translate3d(50%, -100%, 0);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
    z-index: 10;
    padding: 20px;
    -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
    text-align: center;
}

.wlb-marker-style-4 .wlb_image_pointer .wlb_pointer_box h4 {
    font-size: 20px;
    margin-bottom: 7px;
}

.wlb-marker-style-4 .wlb_image_pointer .wlb_pointer_box p {
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    color: #18012c;
}

.wlb-marker-style-4 .wlb_image_pointer:hover .wlb_pointer_box {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateY(-110%) translateX(50%);
    transform: translateY(-110%) translateX(50%);
}

.wlb-marker-style-4 .wlb_image_pointer::before {
    content: "\f067";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: FontAwesome;
    color: #d88d78;
    font-size: 18px;
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in-out;
}

.wlb-marker-style-4 .wlb_image_pointer:hover::before {
    transform: translateX(-50%) translateY(-50%) rotate(47deg);
}

.wlb-marker-style-4 .wlb_image_pointer {
    position: absolute;
    left: 83%;
    top: 37%;
}

/*Marker Style 05*/
.wlb-marker-style-5 {
    padding: 245px 0;
}

.wlb-marker-style-5 .wlb_image_pointer {
    width: 46px;
    height: 46px;
    border-radius: 4px;
    background: #000;
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    line-height: 47px;
    z-index: 2;
}

.wlb-marker-style-5 .wlb_image_pointer .effect-1 {
    position: relative;
}

.wlb-marker-style-5 .wlb_image_pointer .effect-1::before,
.wlb-marker-style-5 .wlb_image_pointer .effect-1::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    content: '';
    border: 1px solid #f10;
    border-radius: 50%;
    -webkit-transform: scale(0.35) translateY(-50%) translateX(-50%);
    -ms-transform: scale(0.35) translateY(-50%) translateX(-50%);
    transform: scale(0.35) translateY(-50%) translateX(-50%);
    opacity: 0;
    -webkit-animation: marker-ripple-animation 2.6s cubic-bezier(0.25, 0.9, 0.2, 1) 0.4s infinite;
    animation: marker-ripple-animation 2.6s cubic-bezier(0.25, 0.9, 0.2, 1) 0.4s infinite;
}

.wlb-marker-style-5 .wlb_image_pointer .effect-1::before {
    width: 32px;
    height: 32px;
    left: 50%;
    top: 50%;
    z-index: -1;
}

.wlb-marker-style-5 .wlb_image_pointer .effect-1::after {
    width: 32px;
    height: 32px;
    z-index: -1;
    border-color: rgba(255, 255, 255, 0.4);
    -webkit-animation: marker-ripple-animation 2.6s cubic-bezier(0.25, 0.9, 0.2, 1) 0s infinite;
    animation: marker-ripple-animation 2.6s cubic-bezier(0.25, 0.9, 0.2, 1) 0s infinite;
}

.wlb-marker-style-5 .wlb_image_pointer .wlb_pointer_box {
    background: #000000;
    width: 240px;
    position: absolute;
    top: 0;
    right: 50%;
    -webkit-transform: translate3d(50%, -100%, 0);
    transform: translate3d(50%, -100%, 0);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
    z-index: 10;
    padding: 20px;
    -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
    text-align: center;
}

.wlb-marker-style-5 .wlb_image_pointer .wlb_pointer_box h4 {
    font-size: 20px;
    margin-bottom: 7px;
    color: #fff;
}

.wlb-marker-style-5 .wlb_image_pointer .wlb_pointer_box p {
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    color: #fff;
}

.wlb-marker-style-5 .wlb_image_pointer:hover .wlb_pointer_box {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateY(-110%) translateX(50%);
    transform: translateY(-110%) translateX(50%);
}

.wlb-marker-style-5 .wlb_image_pointer::before {
    content: "\f067";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 18px;
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in-out;
}

.wlb-marker-style-5 .wlb_image_pointer:hover::before {
    transform: translateX(-50%) translateY(-50%) rotate(47deg);
}

.wlb-marker-style-5 .wlb_image_pointer {
    position: absolute;
    left: 83%;
    top: 37%;
}

/* Marker Animation Css */
@-webkit-keyframes marker-ripple-animation {
    0% {
        -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(-50%, -50%, 0) scale(1.7);
        opacity: 0;
    }
}

@keyframes marker-ripple-animation {
    0% {
        transform: translate3d(-50%, -50%, 0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate3d(-50%, -50%, 0) scale(1.7);
        opacity: 0;
    }
}