<style>
	input[type=checkbox] {zoom: 1.5;}	
	td:first-child,td>label,th>label{font-weight: bold!important;}
	td>p,th>p{font-weight: 100!important;}
	#content .section .col-md-3 { display: none }
	#content .col-md-9 { width: 100% }
	.setnd { border: 1px solid #eee; padding: 20px 0px}
	#tabs li{float:left;padding:5px 20px;background:#eee;margin:0px 5px}
	.activeta { background: #272727  !important }
	.lala { border: 1px solid #272727  !important }
	#tabs-1 { display: block }
	#tabs { float: left }
	h2.heading.active {color: rgb(0, 0, 0);background:#F5FBFF;}
	.open h2.heading {color: #fff  !important ;background: #58B3F0  !important ;}
	.hd{font-size:18px;line-height:1.3;margin:0px;padding:10px}
	th>p,td>p{font-weight:100!important;margin:0px;line-height:15px;white-space:initial}
	.theme-settings-form input[type=text], .theme-settings-form textarea {width: 100%;}
	#content {white-space: normal;}
	.theme-settings-form td.menu {max-width: 260px;}
	.theme-settings-form td.sf-w{ width:170px!important; }
	.theme-settings-form fieldset>table.table-img>tbody>tr>td{width:auto!important;}
	.theme-settings-form fieldset .field-width-auto{width:auto!important;min-width:300px;}
	strong.news-ft{  color: #000; font-style: italic; display: block;}
</style>
<p class="hd">Để chỉnh sửa các mục khác nhau, bạn có thể click vào tên từng mục để mở phần cần sửa. Sau khi chỉnh sửa, bạn nhấn nút Lưu ở góc phải màn hình để hoàn tất.</p>
<fieldset>
	<legend>
		1. Thiết lập tổng quát
	</legend>
	<div id="tabs-0" class="setnd set-cf col-sm-12 ">
		<!-- Màu sắc -->
		<fieldset>
			<legend>1. Màu sắc</legend>
			<table>
				<tr class="horizontal">
					<th><label for="shop_text_color">Màu chữ toàn trang</label>

					</th>
					<td><input  name="shop_text_color" class="color" value="#333333" /></td>
				</tr>
				<tr class="horizontal">
					<th><label for="shop_title_color">Màu chữ tiêu đề</label>
					</th>
					<td><input  name="shop_title_color" class="color" value="#333333" /></td>
				</tr>
				<tr class="horizontal">
					<th><label for="btn_bg_shop">Màu button</label></th>
					<td><input  name="btn_bg_shop" class="color" value="#ffffff" /></td>
				</tr>
				<tr class="horizontal">
					<th><label for="btn_addcarrt_mb">Màu button "Thêm vào giỏ" ở Mobile</label></th>
					<td><input  name="btn_addcarrt_mb" class="color" value="#ffffff" /></td>
				</tr>
				<tr class="horizontal">
					<th>
						<label for="link_text_color">Màu liên kết</label>
						<p>
							Đường dẫn liên kết 
						</p>
					</th>
					<td>
						<input id="link_text_color" name="link_text_color" class="color" value="#ff6517" />
					</td>
				</tr>
				<tr class="horizontal">
					<th>
						<label for="link_text_hover_color">Màu liên kết khi hover, màu nền button khi hover</label>
						<p>
							Đường dẫn liên kết khi hover
						</p>
					</th>
					<td>
						<input id="link_text_hover_color" name="link_text_hover_color" class="color" value="#ff6517" />
					</td>
				</tr>				
			</table>
			<table>
				<tr>
					<td colspan="2">
						<h3>
							Sản phẩm
						</h3>
					</td>
				</tr>
				<tr class="horizontal">
					<th><label for="pr_n_color">Màu tên sản phẩm</label></th>
					<td><input id="pr_n_color" name="pr_n_color" class="color" value="#333333" /></td>
				</tr>
				<tr class="horizontal">
					<th><label for="pr_p_color">Màu giá sản phẩm</label></th>
					<td><input id="pr_p_color" name="pr_p_color" class="color" value="#DB2121" /></td>
				</tr>
				<tr class="horizontal">
					<th><label for="pr_p_color_hover">Màu giá cũ sản phẩm</label></th>
					<td><input id="pr_p_color_hover" name="pr_p_color_hover" class="color" value="#898989" /></td>
				</tr>
				<tr class="horizontal">
					<th><label for="pr_btn_sale">Màu nút sale, hết hàng </label></th>
					<td><input id="pr_btn_sale" name="pr_btn_sale" class="color" value="#333333" /></td>
				</tr>
			</table>
			<table>
				<tr>
					<td colspan="2">
						<h3>Cuối trang</h3>
					</td>
				</tr>
				<tr class="horizontal">
					<th>
						<label for="footer_bg">Màu nền</label>
					</th>
					<td>
						<input class="color" value="#252a2b" name="footer_bg"  />
					</td>
				</tr>
				<tr class="horizontal">
					<th>
						<label for="footer_title_colour">Màu chữ tiêu đề</label>
					</th>
					<td>
						<input class="color" value="#8b8b8b" name="footer_title_colour"  />
					</td>
				</tr>
				<tr class="horizontal">
					<th>
						<label for="footer_txt_colour">Màu chữ</label>
					</th>
					<td>
						<input class="color" value="#ffffff" name="footer_txt_colour" />
					</td>
				</tr>
				<tr class="horizontal">
					<th>
						<label for="footer_link_colour_hover">Màu chữ liên kết khi hover</label>
					</th>
					<td>
						<input class="color" value="#ffffff" name="footer_link_colour_hover" id="footer_link_colour_hover" />
					</td>
				</tr>	
				<tr class="horizontal">
					<th>
						<label for="footer_bg_email">Màu nền email đăng kí</label>
					</th>
					<td>
						<input class="color" value="#ffffff" name="footer_bg_email"  />
					</td>
				</tr>
				<tr class="horizontal">
					<th>
						<label for="footer_bg_button">Màu button</label>
					</th>
					<td>
						<input class="color" value="#ffffff" name="footer_bg_button"  />
					</td>
				</tr>
				<tr class="horizontal">
					<th>
						<label for="footer_bg_copyright">Màu nền copyright</label>
					</th>
					<td>
						<input class="color" value="#ffffff" name="footer_bg_copyright" id="footer_bg_copyright" />
					</td>
				</tr>	
				<tr class="horizontal">
					<th>
						<label for="footer_text_copyright">Màu chữ copyright</label>
					</th>
					<td>
						<input class="color" value="#ffffff" name="footer_text_copyright" id="footer_text_copyright" />
					</td>
				</tr>	
			</table>
		</fieldset>
		<!-- Kiểu chữ -->
		<fieldset>
			<legend>2. Kiểu chữ</legend>
			<table>
				<tr class="horizontal">
					<th><label for="base_font">Kiểu chữ</label></th>
					<td>
						<select name="base_font" id="google_font" class="font">
							<option value="Helvetica Neue">Helvetica Neue</option>
							<option value="Open Sans">Open Sans</option>
							<option value="Roboto">Roboto</option>
							<option value="Roboto Condensed">Roboto Condensed</option>
							<option value="Source Sans Pro">Source Sans Pro</option>
							<option value="Open Sans Condensed">Open Sans Condensed</option>
							<option value="Roboto Slab">Roboto Slab</option>
							<option value="Noto Serif">Noto Serif</option>
							<option value="Noticia Text">Noticia Text</option>
							<option value="EB Garamond">EB Garamond</option>
							<option value="Tinos">Tinos</option>
							<option value="Patrick Hand">Patrick Hand</option>
							<option value="Judson">Judson</option>
							<option value="Patrick Hand SC">Patrick Hand SC</option>
							<option value="Kanit">Kanit</option>
							<option value="Itim">Itim</option>
							<option value="Chonburi">Chonburi</option>
							<option selected value="'Arial', sans-serif">Arial</option>	
							<option value="Montserrat">Montserrat</option>
						</select>
					</td>
				</tr>
			</table>
		</fieldset>
		<fieldset class="test">
			<legend>3. Mục Menu chính</legend>
			<table>
				<tr>
					<td><label for="mainmenu_link">Chọn menu chính</label>		</td>
					<td><select name="mainmenu_link" class="linklist" /></td>
				</tr>
				<tr>
					<td><label for="mainmenu_link">Chọn menu con</label>		</td>
					<td><select name="childrenmenu__link" class="linklist" /></td>
				</tr>

			</table>
		</fieldset>
		<!-- thông tin seo -->
		<fieldset>
			<legend>4. Hình ảnh chia sẻ trang chủ lên facebook</legend>
			<table>			
				<tr>
					<td colspan="2">
						<p>Hình ảnh nên có kích thước 1200x628 hoặc là hình vuông. Và kích thước không được nhiều hơn 5mb.
						</p>
					</td>
				</tr>
				<tr>
					<td><label>Hình ảnh chia sẻ trang chủ</label></td>
					<td><input type="file" id="share_fb_home" name="share_fb_home.jpg" /></td>
				</tr>
			</table>
		</fieldset>
		<!-- Harafunnel -->
		<fieldset>
			<legend>5. Harafunnel</legend>
			<table>	
				<tr>
					<th><label>Hiển thị</label></th>
					<td><input type="checkbox" name="use_chatbot" value="1" /></td>
				</tr>
				<tr>
					<td><label>Code ID</label></td>
					<td><input type="text" name="code_messenger_mb" value="" /></td>
				</tr>
				<tr>
					<td colspan="2">
						<p class="guide"><a target="_blank" href="//huongdan.harafunnel.com/support/solutions/articles/42000038791-c%C3%B4ng-c%E1%BB%A5-customer-chat">Hướng dẫn lấy mã javascript</a></p>
						<p class="guide">Đọc hướng dẫn, đến bước "Cài đặt Javascript", bạn chỉ cần copy mã id như hình dưới và dán vào khung Code ID trên.</p>
						<p class="guide"><img width="300" src="//file.hstatic.net/1000329159/file/huongdan_45ee451fca804a70a105685db4dfcc5f.png"></p>
					</td>
				</tr>
			</table>
		</fieldset>
		<fieldset>
			<legend>6. Nhóm Icons</legend>
			<table>
				<tr>
					<td><label>Hiển thị?</label></td>
					<td><input type="checkbox"  name="addthis_iconList_show" value="1" /></td>
				</tr>
			</table>
			<table>
				<tr><td colspan="2"><h3>1 Icon Hotline</h3></td></tr>
				<tr>
					<td><label>Hiển thị?</label></td>
					<td><input type="checkbox"  name="addthis_icon1_show" value="1" /></td>
				</tr>
				<tr class="horizontal">
					<th><label for="addthis_icon1_color1">Màu 1</label></th>
					<td><input  name="addthis_icon1_color1" class="color" value="#FECF72"/></td>
				</tr>
				<tr class="horizontal">
					<th><label for="addthis_icon1_color2">Màu 2</label></th>
					<td><input name="addthis_icon1_color2" class="color" value="#EF9F00"/></td>
				</tr>
				<tr>
					<td><label>Ghi chú</label></td>
					<td><input type="text" id="addthis_icon1_tootlip" name="addthis_icon1_tootlip" value="" class="field-width-auto"/></td>
				</tr>
				<tr>
					<td><label>Số điện thoại</label><p style="font-size:85%">Chỉ nhập sổ</p></td>
					<td><input type="text" id="addthis_icon1_action" name="addthis_icon1_action" value="" class="field-width-auto" /></td>
				</tr>
			</table>
			<table>
				<tr><td colspan="2"><h3>2 Icon Zalo</h3></td></tr>
				<tr>
					<td><label>Hiển thị?</label></td>
					<td><input type="checkbox"  name="addthis_icon2_show" value="1" /></td>
				</tr>
				<tr class="horizontal">
					<th><label for="addthis_icon2_color1">Màu 1</label></th>
					<td><input  name="addthis_icon2_color1" class="color" value="#FECF72"/></td>
				</tr>
				<tr class="horizontal">
					<th><label for="addthis_icon2_color2">Màu 2</label></th>
					<td><input  name="addthis_icon2_color2" class="color" value="#EF9F00"/></td>
				</tr>
				<tr>
					<td><label>Ghi chú</label></td>
					<td><input type="text" id="addthis_icon2_tootlip" name="addthis_icon2_tootlip" value="" class="field-width-auto"/></td>
				</tr>
				<tr>
					<td><label>Đường dẫn Zalo</label><p><small>Chỉ nhập sổ</small></p></td>
					<td><input type="text" id="addthis_icon2_action" name="addthis_icon2_action" value="" class="field-width-auto" /></td>
				</tr>
			</table>
			<table>
				<tr><td colspan="2"><h3>3 Icon Email</h3></td></tr>
				<tr>
					<td><label>Hiển thị?</label></td>
					<td><input type="checkbox"  name="addthis_icon3_show" value="1" /></td>
				</tr>
				<tr class="horizontal">
					<th><label for="addthis_icon3_color1">Màu 1</label></th>
					<td><input  name="addthis_icon3_color1" class="color" value="#FECF72"/></td>
				</tr>
				<tr class="horizontal">
					<th><label for="addthis_icon3_color2">Màu 2</label></th>
					<td><input  name="addthis_icon3_color2" class="color" value="#EF9F00"/></td>
				</tr>
				<tr>
					<td><label>Ghi chú</label></td>
					<td><input type="text" id="addthis_icon3_tootlip" name="addthis_icon3_tootlip" value="" class="field-width-auto"/></td>
				</tr>
				<tr><td colspan="2">Thiết lập nội dung popup</td></tr>
				<tr>
					<td><label>Tiêu đề popup đăng kí</label></td>
					<td><input type="text" id="addthis_icon3_title" name="addthis_icon3_title" value="" class="field-width-auto"/></td>
				</tr>

				<tr>
					<td><label>Tiêu đề popup đăng ký thành công</label></td>
					<td><input type="text" id="addthis_icon3_title2" name="addthis_icon3_title2" value="" class="field-width-auto"/></td>
				</tr>
				<tr>
					<td><label>Nội dung popup đăng ký thành công</label></td>
					<td><textarea  rows="4" cols="50" id="addthis_icon3_content" name="addthis_icon3_content" class="text long" style="margin: 0px; height: 93px; width: 200px;" /></td>
				</tr>
			</table>
			<table>
				<tr><td colspan="2"><h3>4 Màu icon Address</h3></td></tr>
				<tr>
					<td><label>Hiển thị?</label></td>
					<td><input type="checkbox"  name="addthis_icon4_show" value="1" /></td>
				</tr>
				<tr class="horizontal">
					<th><label for="addthis_icon4_color1">Màu 1</label></th>
					<td><input  name="addthis_icon4_color1" class="color" value="#FECF72"/></td>
				</tr>
				<tr class="horizontal">
					<th><label for="addthis_icon4_color2">Màu 2</label></th>
					<td><input  name="addthis_icon4_color2" class="color" value="#EF9F00"/></td>
				</tr>
				<tr>
					<td><label>Ghi chú</label></td>
					<td><input type="text" id="addthis_icon4_tootlip" name="addthis_icon4_tootlip" value="" class="field-width-auto"/></td>
				</tr>
				<tr>
					<td><label>Đường dẫn</label></td>
					<td><input type="text" id="addthis_icon4_action" name="addthis_icon4_action" value="" class="field-width-auto"/></td>
				</tr>
			</table>
		</fieldset>
		<!-- Popup contact -->
		<fieldset>
			<legend>
				7. Popup đăng ký nhận thông tin
			</legend>
			<table>
				<tr>
					<td><label>Hiển thị?</label></td>
					<td><input type="checkbox"  name="popup_contact_show" value="1" /></td>
				</tr>
				<tr class="horizontal">
					<th><label>Chọn Popup</label></th>
					<td>
						<select name="popup_contact_select" id="popup_contact_select" >
							<option value="popupBanner">Popup Banner</option>
							<option value="popupForm">Popup form đăng kí</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><label>Thời gian hiển thị Popup (Tương đương 1 = 1 giây)</label>
					</td>
					<td><input type='number' name='popup_contact_time'/></td>
				</tr>
				<tr>
					<td colspan="2">
						<h3>Popup Banner</h3>
					</td>
				</tr>
				<tr>
					<td><label>Hình ảnh</label>
						<p>
							Hình ảnh có kích thước hiển thị tốt nhất là 650x400 pixel
						</p>
					</td>
					<td><input type="file" id="popup_contact_banner" name="popup_contact_banner.jpg"  value="" /></td>
				</tr>
				<tr>
					<td><label>Alt</label></td>
					<td><input type="text" name="popup_contact_alt" value="Các ưu đãi của chúng tôi" /></td>
				</tr>
				<tr>
					<td><label>Đường dẫn</label></td>
					<td><input type="text" name="popup_contact_link" value="/collections/all" /></td>
				</tr>
				<tr>
					<td colspan="2">
						<h3>Popup form đăng kí</h3>
					</td>
				</tr>
				<tr>
					<td><label>Hình nền</label>
						<p>
							Hình ảnh có kích thước hiển thị tốt nhất là 650x400 pixel
						</p>
					</td>
					<td><input type="file" id="popup_contact_bkg" name="popup_contact_bkg.jpg" value=""/></td>
				</tr>
				<tr>
					<td><label>Tiêu đề</label></td>
					<td><input type="text" name="popup_contact_title" value="Hãy đến với chúng tôi" /></td>
				</tr>
				<tr>
					<td><label>Nội dung</label></td>
					<td><input type="text" name="popup_contact_content" value="Chúng tôi sẽ cập nhật các chương trình khuyến mãi đến bạn." /></td>
				</tr>
				<tr>
					<td><label>Chương trình 1</label></td>
					<td><input type="text" name="popup_contact_description_1" value="Giảm giá sản phẩm" /></td>
				</tr>
				<tr>
					<td><label>Chương trình 2</label></td>
					<td><input type="text" name="popup_contact_description_2" value="Sản phẩm mới" /></td>
				</tr>
				<tr>
					<td><label>Chương trình 3</label></td>
					<td><input type="text" name="popup_contact_description_3" value="Sản phẩm bán chạy" /></td>
				</tr>
			</table>
		</fieldset>
	</div>
</fieldset>
<fieldset class="test">
	<legend> 2. Trang chủ</legend>
	<div id="tabs-1" class="setnd col-sm-12">
		<div class="col-sm-6"><img src="http://file.hstatic.net/1000273467/file/homepage.jpg" width="94%"style="float: right;"></div>
		<div class="col-sm-6">	
			<!-- Đầu trang -->
			<fieldset>
				<legend>1. Logo và Favicon</legend>
				<table>
					<tr>
						<th>
							<label for="use_logo">Chọn logo của website</label>
							<p>
								(Kích thước hiển thị tối đa là 300x83 pixel, tự động điều chỉnh nếu file của bạn lớn hơn kích thước này.)
							</p>
						</th>
						<td><input type="checkbox" id="use_logo" name="use_logo" value="1" /></td>
					</tr>
					<tr>
						<td><label for="logo">Logo</label></td>
						<td>
							<input type="file" id="logo" name="logo.png" data-max-width="300" data-max-height="83" />
						</td>
					</tr>
					<tr>
						<td><label for="favicon">Chọn favicon</label><p>Biểu tượng website của bạn trên trình duyệt, kích thước chuẩn: 32x32 pixel</p></td>
						<td>
							<input type="file" id="favicon" name="favicon.png" data-max-width="32" data-max-height="32" />
						</td>
					</tr>
				</table>
			</fieldset>
			<!-- Slider -->
			<fieldset>
				<legend>2. Banner slider</legend>
				<table>
					<tr>
						<td colspan="2">
							<h3>Banner slider</h3>
							<p>Kích thước banner hiển thị tốt nhất 960x1076 pixel, các banner nên có kích thước bằng nhau.</p>
						</td>
					</tr>
					<tr class="horizontal">
						<th><label for="slide_bkg_color">Màu nền</label>		</th>
						<td><input  name="slide_bkg_color" class="color" value="#e2e3e6" /></td>
					</tr>
					<tr class="horizontal">
						<th><label for="slide_text_color">Màu chữ slide</label>		</th>
						<td><input  name="slide_text_color" class="color" value="#e2e3e6" /></td>
					</tr>
					<tr class="horizontal">
						<th><label for="slide_button_color">Màu button slide</label>		</th>
						<td><input  name="slide_button_color" class="color" value="#e2e3e6" /></td>
					</tr>
					<tr>
						<td colspan="2">
							<p>Mặc định mobile các thiết lập màu trên sẽ là màu trắng </p>
						</td>
					</tr>
					<tr>
						<table>
							<tr>
								<td colspan="2">
									<h3>
										Hình 1
									</h3>
								</td>
							</tr>
							<tr>
								<td>Hiển thị?</td>
								<td><input type="checkbox"  name="slide_1" value="1" /></td>
							</tr>
							<tr>
								<td>Hình ảnh</td>
								<td><input type="file" id="slideshow_1" name="slideshow_1.jpg"/></td>
							</tr>

							<tr>
								<td>Tiêu đề 1</td>
								<td><input type="text" name="slide_1_cap_1" value="" /></td>
							</tr>
							<tr>
								<td>Tiêu đề 2</td>
								<td><input type="text"  name="slide_1_cap_2" value="" /></td>
							</tr>
							<tr>
								<td>Tiêu đề 3</td>
								<td><input type="text"  name="slide_1_cap_3" value="" /></td>
							</tr>
							<tr>
								<td>Tiêu đề liên kết</td>
								<td><input type="text"  name="slide_1_btn" value="" /></td>
							</tr>
							<tr>
								<td>Trang liên kết </td>
								<td><input type="text" id="slide_1_link" name="slide_1_link" value="/collections/all" /></td>
							</tr>

							<tr>
								<td>Chú thích ảnh ALT</td>
								<td><input type="text"  name="slide_1_alt" value="" /></td>
							</tr>

							<tr>
								<td colspan="2">
									<h3>
										Hình 2
									</h3>
								</td>
							</tr>
							<tr>
								<td>Hiển thị?</td>
								<td><input type="checkbox"  name="slide_2" value="1" /></td>
							</tr>
							<tr>
								<td>Hình ảnh</td>
								<td><input type="file" id="slideshow_2" name="slideshow_2.jpg" data-max-width="1600" data-max-height="550"  /></td>
							</tr>
							<tr>
								<td>Tiêu đề 1</td>
								<td><input type="text" name="slide_2_cap_1" value="" /></td>
							</tr>
							<tr>
								<td>Tiêu đề 2</td>
								<td><input type="text" name="slide_2_cap_2" value="" /></td>
							</tr>
							<tr>
								<td>Tiêu đề 3</td>
								<td><input type="text" name="slide_2_cap_3" value="" /></td>
							</tr>
							<tr>
								<td>Tiêu đề liên kết</td>
								<td><input type="text"  name="slide_2_btn" value="" /></td>
							</tr>
							<tr>
								<td>Trang liên kết </td>
								<td><input type="text" name="slide_2_link" value="/collections/all" /></td>
							</tr>
							<tr>
								<td>Chú thích ảnh ALT</td>
								<td><input type="text"  name="slide_2_alt" value="" /></td>
							</tr>
							<tr>
								<td colspan="2">
									<h3>
										Hình 3
									</h3>
								</td>
							</tr>
							<tr>
								<td>Hiển thị?</td>
								<td><input type="checkbox" name="slide_3" value="1" /></td>
							</tr>
							<tr>
								<td>Hình ảnh</td>
								<td><input type="file" id="slideshow_3" name="slideshow_3.jpg"  data-max-width="1600" data-max-height="550"  /></td>
							</tr>
							<tr>
								<td>Tiêu đề 1</td>
								<td><input type="text"  name="slide_3_cap_1" value="" /></td>
							</tr>
							<tr>
								<td>Tiêu đề 2</td>
								<td><input type="text" name="slide_3_cap_2" value="" /></td>
							</tr>
							<tr>
								<td>Tiêu đề 3</td>
								<td><input type="text" name="slide_3_cap_3" value="" /></td>
							</tr>
							<tr>
								<td>Tiêu đề liên kết</td>
								<td><input type="text"  name="slide_3_btn" value="" /></td>
							</tr>
							<tr>
								<td>Trang liên kết </td>
								<td><input type="text"  name="slide_3_link" value="/collections/all" /></td>
							</tr>
							<tr>
								<td>Chú thích ảnh ALT</td>
								<td><input type="text"  name="slide_3_alt" value="" /></td>
							</tr>
							<tr>
								<td colspan="2">
									<h3>
										Hình 4
									</h3>
								</td>
							</tr>
							<tr>
								<td>Hiển thị?</td>
								<td><input type="checkbox" name="slide_4" value="1" /></td>
							</tr>
							<tr>
								<td>Hình ảnh</td>
								<td><input type="file" id="slideshow_4" name="slideshow_4.jpg" data-max-width="1600" data-max-height="550"  /></td>
							</tr>
							<tr>
								<td>Tiêu đề 1</td>
								<td><input type="text"  name="slide_4_cap_1" value="" /></td>
							</tr>
							<tr>
								<td>Tiêu đề 2</td>
								<td><input type="text" name="slide_4_cap_2" value="" /></td>
							</tr>
							<tr>
								<td>Tiêu đề 3</td>
								<td><input type="text" name="slide_4_cap_3" value="" /></td>
							</tr>
							<tr>
								<td>Tiêu đề liên kết</td>
								<td><input type="text"  name="slide_4_btn" value="" /></td>
							</tr>
							<tr>
								<td>Trang liên kết</td>
								<td><input type="text"  name="slide_4_link" value="/collections/all" /></td>
							</tr>
							<tr>
								<td>Chú thích ảnh ALT</td>
								<td><input type="text"  name="slide_4_alt" value="" /></td>
							</tr>
						</table>
					</tr>
				</table>
			</fieldset>	
			<!-- Thông tin nổi bật -->
			<fieldset>
				<legend>3. Thông tin nổi bật</legend>
				<table>
					<tr>
						<td><label for="heading_featured">Thông tin</label><p>Nếu để trống mặc định sẽ ẩn phần này đi</p></td>
						<td><textarea  rows="4" cols="50" id="heading_featured" name="heading_featured" class="text long" style="margin: 0px; height: 93px; width: 256px;" /></td>
					</tr>
					<tr>
						<td><label for="heading_featured_url">Đường dẫn</label></td>
						<td><input type="text" class="text"  name="heading_featured_url" value="" /></td>
					</tr>
				</table>
			</fieldset>
			<!-- Hai mục banner -->
			<fieldset>
				<legend>4. Banner trang chủ 2</legend>
				<table>
					<tr>
						<td colspan="2">
							<h3>Banner 1</h3>
							<p>Kích thước banner hiển thị tốt nhất 960x1076 pixel, các banner nên có chiều cao bằng nhau.</p>
						</td>
					</tr>
					<tr>
						<td><label for="show_block_home_category1">Hiển thị ?</label></td>
						<td><input type="checkbox" name="show_block_home_category1" value="1" /></td>  
					</tr>
					<tr>
						<td><label for="block_home_category1">Chọn hình ảnh</label></td>
						<td><input type="file" id="block_home_category1" name="block_home_category1.jpg" data-max-width="960" data-max-height="1076"/></td>
					</tr>		
					<tr>
						<td><label>Ghi chú</label></td>
						<td><input type="text" name="block_home_category1_note" /></td>
					</tr>
					<tr>
						<td><label>Tiêu đề</label></td>
						<td><input type="text" name="block_home_category1_title" /></td>
					</tr>
					<tr>
						<td><label>Trang liên kết</label></td>
						<td><input type="text" name="block_home_category1_link" /></td>
					</tr>
					<tr>
						<td><label>Chú thích ảnh ALT</label></td>
						<td><input type="text" name="block_home_category1_alt" /></td>
					</tr>
				</table>
				<table>
					<tr>
						<td colspan="2">
							<h3>Banner 2</h3>
							<p>Kích thước banner hiển thị tốt nhất 960x1076 pixel, các banner nên có chiều cao bằng nhau.</p>
						</td>
					</tr>
					<tr>
						<td><label for="show_block_home_category2">Hiển thị ?</label></td>
						<td><input type="checkbox" name="show_block_home_category2" value="1" /></td>  
					</tr>

					<tr>
						<td><label for="block_home_category2">Chọn hình ảnh </label></td>
						<td><input type="file" id="block_home_category2" name="block_home_category2.jpg" data-max-width="960" data-max-height="1076"/></td>
					</tr>
					<tr>
						<td><label>Ghi chú</label></td>
						<td><input type="text" name="block_home_category2_note" /></td>
					</tr>
					<tr>
						<td><label>Tiêu đề</label></td>
						<td><input type="text" name="block_home_category2_title" /></td>
					</tr>
					<tr>
						<td><label>Trang liên kết </label></td>
						<td><input type="text" name="block_home_category2_link" /></td>
					</tr>
					<tr>
						<td><label>Chú thích ảnh ALT</label></td>
						<td><input type="text" name="block_home_category2_alt" /></td>
					</tr>
				</table>
			</fieldset>
			<!-- Sản phẩm nổi bật -->
			<fieldset>
				<legend>5. Sản phẩm hiển thị ở trang chủ 1</legend>
				<table>
					<tr>
						<td><label for="use_featured_products">Hiển thị?</label></td>
						<td>
							<input type="checkbox" id="use_featured_products" name="use_featured_products" value="1" />
						</td>
					</tr>
					<tr>
						<td><label for="featured_products_title">Tiêu đề</label><p>
							Nếu để trống mặc định sẽ lấy tên của nhóm sản phẩm được chọn
							</p></td>
						<td>
							<input type="text" class="text" id="featured_products_title" name="featured_products_title" value="Featured Products" />
						</td>
					</tr>
					<tr>
						<td><label for="featured_products_cap">Mô tả</label></td>
						<td>
							<input type="text" class="text"  name="featured_products_cap" value="What hot" />
						</td>
					</tr>
					<tr>
						<td><label for="featured_collection">Chọn nhóm sản phẩm hiển thị</label></td>
						<td><select name="featured_collection" id="featured_collection" class="collection" /></td>
					</tr>
				</table>
			</fieldset>
			<!-- Sản phẩm nổi bật -->
			<fieldset>
				<legend>6. Về chúng tôi</legend>
				<table>
					<tr class="horizontal">
						<th>
							<label for="home_about_show">Hiển thi?</label>
						</th>
						<td>
							<input type="checkbox" name="home_about_show" id="home_about_show" />
						</td>
					</tr>
					<tr class="horizontal">
						<th>
							<label for="home_about_title">Tiêu đề</label>
						</th>
						<td>
							<input type="text" value="" name="home_about_title" id="home_about_title" />
						</td>
					</tr>
					<tr class="horizontal">
						<th>
							<label for="home_about_button">Tiêu đề liên kết</label>
						</th>
						<td>
							<input type="text" value="" name="home_about_button" id="home_about_button" />
						</td>
					</tr>
					<tr class="horizontal">
						<th>
							<label for="home_about_link">Đường dẫn</label>
						</th>
						<td>
							<input type="text" value="" name="home_about_link" id="home_about_link" />
						</td>
					</tr>
					<tr class="horizontal">
						<td><label for="home_about_image">Hình nền</label><p>
							Hình ảnh có kích thước hiển thị tốt nhất là 960x640 pixel
							</p></td>
						<td><input type="file" id="home_about_image" name="home_about_image.jpg" data-max-width="960" data-max-height="640"/></td>
					</tr>	
					<tr class="horizontal">
						<th>
							<label for="home_about_link">Nội dung hiển thị</label>
						</th>
						<td>
							<select  class="page" value="" name="home_about_page" id="home_about_page" />
						</td>
					</tr>

				</table>
			</fieldset>
			<!-- Cuối trang  -->
			<fieldset>
				<legend>7. Cuối trang</legend>
				<h3>Mạng xã hội</h3>
				<table>
					<tr class="horizontal">
						<th>
							<label for="social_icons_show">Hiển thị ?</label>
						</th>
						<td>
							<input type="checkbox" name="social_icons_show"  />
						</td>
					</tr>
					<tr class="horizontal">
						<th>
							<label for="social_icons_title">Tiêu đề</label>
						</th>
						<td>
							<input type="text" value="" name="social_icons_title" id="social_icons_title" />
						</td>
					</tr>
					<tr class="horizontal">
						<th>
							<label for="social_icons_facebook_link">Facebook</label>
						</th>
						<td>
							<input type="text" value="" name="social_icons_facebook_link" id="social_icons_facebook_link" />
						</td>
					</tr>
					<tr class="horizontal">
						<th>
							<label for="social_icons_twitter_link">Twitter</label>
						</th>
						<td>
							<input type="text" value="" name="social_icons_twitter_link" id="social_icons_twitter_link" />
						</td>
					</tr>
					<tr class="horizontal">
						<th>
							<label for="social_icons_pinterest_link">Pinterest</label>
						</th>
						<td>
							<input type="text" value="" name="social_icons_pinterest_link" id="social_icons_pinterest_link" />
						</td>
					</tr>
					<tr class="horizontal">
						<th>
							<label for="social_icons_google_link">Google+</label>
						</th>
						<td>
							<input type="text" value="" name="social_icons_google_link" id="social_icons_google_link" />
						</td>
					</tr>
					<tr class="horizontal">
						<th>
							<label for="social_icons_youtube_link">Youtube</label>
						</th>
						<td>
							<input type="text" value="" name="social_icons_youtube_link" id="social_icons_youtube_link" />
						</td>
					</tr>
					<tr class="horizontal">
						<th>
							<label for="social_icons_instagram_link">Instagram</label>
						</th>
						<td>
							<input type="text" value="" name="social_icons_instagram_link" id="social_icons_instagram_link" />
						</td>
					</tr>
					<tr class="horizontal">
						<th>
							<label for="social_icons_note">Ghi chú</label>
						</th>
						<td>
							<input type="text" value="" name="social_icons_note" id="social_icons_note" />
						</td>
					</tr>
				</table>
				<h3>Hotline</h3>
				<table>
					<tr class="horizontal">
						<th>
							<label for="footer_about_show">Hiển thi?</label>
						</th>
						<td>
							<input type="checkbox" name="footer_about_show" id="footer_about_show" />
						</td>
					</tr>
					<tr class="horizontal">
						<th>
							<label for="footer_about_heading">Tiêu đề</label>
						</th>
						<td>
							<input type="text" value="" name="footer_about_heading" id="footer_about_heading" />
						</td>
					</tr>
					<tr class="horizontal">
						<th>
							<label for="footer_about_phone">Điện thoại</label>
						</th>
						<td>
							<input type="text" value="" name="footer_about_phone" id="footer_about_phone" />
						</td>
					</tr>
					<tr class="horizontal">
						<th>
							<label for="footer_about_note">Ghi chú</label>
						</th>
						<td>
							<input type="text" value="" name="footer_about_note" id="footer_about_note" />
						</td>
					</tr>
				</table>
				<h3>Menu liên kết </h3>
				<table>
					<tr class="horizontal">
						<th>
							<label for="footer_linklist1_show">Hiển thị?</label>
						</th>
						<td>
							<input type="checkbox" name="footer_linklist1_show" id="footer_linklist1_show" />
						</td>
					</tr>
					<tr class="horizontal">
						<th>
							<label for="footer_linklist1_heading">Tiêu đề</label>
						</th>
						<td>
							<input type="text" value="" name="footer_linklist1_heading" id="footer_linklist1_heading" />
						</td>
					</tr>
					<tr class="horizontal">
						<th>
							<label for="footer_linklist1">Chọn menu </label>
						</th>
						<td class="menu">
							<select class="linklist" name="footer_linklist1" id="footer_linklist1"></select>
						</td>
					</tr>	

				</table>
				<h3>Đăng kí email quảng cáo</h3>
				<table>
					<tr>
						<td><label for="mailing_list_show">Hiện thị ?</label></td>
						<td><input type="checkbox"  name="mailing_list_show" /></td>
					</tr>
					<tr class="horizontal">
						<th>
							<label for="mailing_list_heading">Tiêu đề ô đăng ký email</label>
						</th>
						<td>
							<input type="text" value="" name="mailing_list_heading" id="mailing_list_heading" />
						</td>
					</tr>
					<tr class="horizontal">
						<th>
							<label for="mailing_list_caption">Mô tả thêm</label>
						</th>
						<td>
							<textarea rows="4" cols="50" name="mailing_list_caption" id="mailing_list_caption" style="margin: 0px; height: 60px; width: 256px;"></textarea>
						</td>
					</tr>					
				</table>		
			</fieldset>
		</div>
	</div>
</fieldset>
<!-- End: 1. Trang chủ -->
<fieldset class="test">
	<legend> 3. Trang nhóm sản phẩm</legend>
	<div id="tabs-2" class="setnd col-sm-12">
		<div class="col-sm-6"><img src="http://file.hstatic.net/1000273467/file/collectionpage.jpg" width="94%"style="float: right;">  </div>
		<div class="col-sm-6">
			<!-- Begin: Sắp xếp sản phẩm -->
			<fieldset>
				<legend>1. Banner header</legend>
				<table>
					<tr>
						<td><label for="show_banner_image_collection">Hiển thị ?</label></td>
						<td><input type="checkbox"  name="show_banner_image_collection" /></td>
					</tr>
					<tr>
						<td colspan="2">
							<p>Kích thước banner hiển thị tốt nhất 1920x450 pixel</p>
							<p>Hình banner được lấy từ các hình đại diện của nhóm sp, nếu nhóm sp không có hình sẽ tự động lấy hình được chịn bên dưới.</p>
						</td>
					</tr>
					<tr>
						<td>Hình ảnh</td>
						<td><input type="file" id="collection_banner" name="collection_banner.jpg"/></td>
					</tr>
				</table>
			</fieldset>
			<fieldset>
				<legend>2. Phân trang</legend>
				<table>
					<tr class="horizontal">
						<th><label for="pagination_limit">Số sản phẩm hiển thị ở mỗi trang</label></th>
						<td>
							<select name="pagination_limit" id="pagination_limit">								
								<option value="30">30</option>
								<option value="26">26</option>
								<option value="22">22</option>
								<option value="18" selected="selected">18</option>
								<option value="14">14</option>
								<option value="10">10</option>
								<option value="6">6</option>
							</select>
						</td>
					</tr>
				</table>
			</fieldset>		
			<!-- Lọc màu sắc -->
			<fieldset>
				<legend>3. Bộ lọc</legend>
				<table>
					<tr>
						<td colspan="2">
							<h3>
								Lọc theo thương hiệu
							</h3>
						</td>
					</tr>
					<tr>
						<td><label for="show_vendor">Hiển thị</label></td>
						<td><input type="checkbox" name="show_vendor" value="1" /></td>
					</tr>
					<tr>
						<td colspan="2">
							<h3>
								Lọc theo màu sắc
							</h3>
						</td>
					</tr>
					<tr>
						<td colspan="2"><label>Lọc theo variant của sản phẩm - ( Có phần biệt in hoa và thường )<br>Vd: Đỏ, Xanh, Vàng, Đen	</label>
						</td>
					</tr>
					<tr>
						<td><label for="show_color">Hiển thị</label></td>
						<td><input type="checkbox" name="show_color" value="1" /></td>
					</tr>
					<tr>
						<td colspan="2"><label>Giá trị màu sắc được thiết lập ở mục này sẽ được hiển thị ở <strong class="news-ft"> trang sản phẩm</strong>	</label>
						</td>
					</tr>
				</table>
				<table class="filter-color">					
					<tr>
						<td>Vị trí</td>
						<td>Tên màu</td>
						<td>Giá trị màu</td>
					</tr>
					<tr>
						<td>Màu #1</td>
						<td><input type="text" name="color_title_1" /></td>
						<td><input class="color" name="color_1" /></td>
					</tr>
					<tr>
						<td>Màu #2</td>
						<td><input type="text" name="color_title_2" /></td>					
						<td><input class="color" name="color_2" /></td>
					</tr>
					<tr>
						<td>Màu #3</td>
						<td><input type="text" name="color_title_3" /></td>
						<td><input class="color" name="color_3" /></td>
					</tr>
					<tr>
						<td>Màu #4</td>
						<td><input type="text" name="color_title_4" /></td>

						<td><input class="color" name="color_4" /></td>
					</tr>
					<tr>
						<td>Màu #5</td>
						<td><input type="text" name="color_title_5" /></td>
						<td><input class="color" name="color_5" /></td>
					</tr>
					<tr>
						<td>Màu #6</td>
						<td><input type="text" name="color_title_6" /></td>
						<td><input class="color" name="color_6" /></td>
					</tr>
					<tr>
						<td>Màu #7</td>
						<td><input type="text" name="color_title_7" /></td>
						<td><input class="color" name="color_7" /></td>
					</tr>
					<tr>
						<td>Màu #8</td>
						<td><input type="text" name="color_title_8" /></td>

						<td><input class="color" name="color_8" /></td>
					</tr>
					<tr>
						<td>Màu #9</td>
						<td><input type="text" name="color_title_9" /></td>

						<td><input class="color" name="color_9" /></td>
					</tr>
					<tr>
						<td>Màu #10</td>
						<td><input type="text" name="color_title_10" /></td>

						<td><input class="color" name="color_10" /></td>
					</tr>
					<tr>
						<td>Màu #11</td>
						<td><input type="text" name="color_title_11" /></td>

						<td><input class="color" name="color_11" /></td>
					</tr>
					<tr>
						<td>Màu #12</td>
						<td><input type="text" name="color_title_12" /></td>

						<td><input class="color" name="color_12" /></td>
					</tr>
					<tr>
						<td>Màu #13</td>
						<td><input type="text" name="color_title_13" /></td>

						<td><input class="color" name="color_13" /></td>
					</tr>
					<tr>
						<td>Màu #14</td>
						<td><input type="text" name="color_title_14" /></td>

						<td><input class="color" name="color_14" /></td>
					</tr>
					<tr>
						<td>Màu #15</td>
						<td><input type="text" name="color_title_15" /></td>

						<td><input class="color" name="color_15" /></td>
					</tr>
					<tr>
						<td>Màu #16</td>
						<td><input type="text" name="color_title_16" /></td>

						<td><input class="color" name="color_16" /></td>
					</tr>
					<tr>
						<td>Màu #17</td>
						<td><input type="text" name="color_title_17" /></td>

						<td><input class="color" name="color_17" /></td>
					</tr>
					<tr>
						<td>Màu #18</td>
						<td><input type="text" name="color_title_18" /></td>

						<td><input class="color" name="color_18" /></td>
					</tr>
					<tr>
						<td>Màu #19</td>
						<td><input type="text" name="color_title_19" /></td>

						<td><input class="color" name="color_19" /></td>
					</tr>
					<tr>
						<td>Màu #20</td>
						<td><input type="text" name="color_title_20" /></td>

						<td><input class="color" name="color_20" /></td>
					</tr>
				</table>
				<table>
					<tr>
						<td colspan="2">
							<h3>
								Lọc theo kích thước
							</h3>
						</td>
					</tr>
					<tr>
						<td colspan="2"><label>Lọc theo variant của sản phẩm - ( Có phần biệt in hoa và thường )<br>Vd: 35, 36, 37, 38, S, M</label>
						</td>
					</tr>
					<tr>
						<td><label for="show_size">Hiển thị</label></td>
						<td><input type="checkbox" name="show_size" value="1" /></td>
					</tr>
					<tr>
						<td><label for="field_filter_size">Nhập giá trị cần lọc</label></td>
						<td><textarea type="text" class="text" name="field_filter_size" id="field_filter_size" style="height: 100px;"/>
						</td>
					</tr>

				</table>
			</fieldset>
			<fieldset>
				<legend>
					4. Sắp xếp 
				</legend>
				<table>
					<tr class="horizontal">
						<th><label for="collection_sort">Cho phép người mua chọn cách sắp xếp sản phẩm?</label></th>
						<td>
							<input type="checkbox" id="collection_sort" name="collection_sort" value="1" checked="checked" />
						</td>
					</tr>	
				</table>
			</fieldset>
		</div>
	</div>
</fieldset>
<!-- End: 2. Trang nhóm sản phẩm -->
<fieldset class="test">
	<legend> 4. Trang sản phẩm</legend>
	<div id="tabs-3" class="setnd col-sm-12">
		<div class="col-sm-12">
			<fieldset class="test">
				<legend> 1. Giao diện trang product</legend>
				<table>
					<tr>
						<td><label>Chọn giao diện trang product</label></td>
						<td class="form-value">
							<select name="use_product_style">
								<option value="style-01">Style 1</option>
								<option value="style-02">Style 2</option>	
								<option value="style-03">Style 3</option>	
							</select>
						</td>
					</tr>
				</table>
				<table class="table-img">
					<tr class="horizontal">
						<td><label>Style 1</label></td>
						<td><label>Style 2</label></td>
						<td><label>Style 3</label></td>
					</tr>
				</table>
				<table class="table-img">
					<tr class="horizontal">
						<td class="width-30-percent" style="margin-right: 10px;"><img src="https://file.hstatic.net/1000273467/file/product-style-01_b33a167d32324bd197dfd071949130be.jpg" width="100%"></td>
						<td><img src="https://file.hstatic.net/1000273467/file/product-style-02_d2c50553ca9b48cbb2753725104cd6d0.jpg" width="100%"></td>
						<td><img src="https://file.hstatic.net/1000273467/file/product-style-03_9b95d1ac1b5e48109f5264b3be9a13d7.jpg" width="100%"></td>
					</tr>
				</table>
			</fieldset>
			<fieldset class="test">
				<legend> 2. Thiết lập trang product</legend>
				<div id="tabs-3-1" class=" row" style="padding:15px 0">
					<div class="col-sm-6">
						<img src="//file.hstatic.net/1000273467/file/grey_product.jpg" width="94%"style="float: right;">
					</div>
					<div class="col-sm-6">		
						<fieldset>
							<legend>1. Tags sản phẩm</legend>
							<table>
								<tr>
									<th><label for="use_tags_products">Hiển thị Tags sản phẩm?</label></th>
									<td>
										<input type="checkbox" id="use_tags_products" name="use_tags_products" value="1" />
									</td>
								</tr>
							</table>
						</fieldset>
						<fieldset>
							<legend class="rtepanel">2. Share social</legend>
							<table>
								<tr>
									<td><label for="share_prod_on_twitter">Hiển thị icon Twitter</label></td>
									<td><input type="checkbox" id="share_prod_on_twitter" name="share_prod_on_twitter" value="1" checked="checked" /></td>
								</tr>
								<tr>
									<td><label for="share_prod_on_plusgoogle">Hiển thị icon Google +</label></td>
									<td><input type="checkbox" id="share_prod_on_plusgoogle" name="share_prod_on_plusgoogle" value="1" checked="checked" /></td>
								</tr>
								<tr>
									<td><label for="share_prod_on_facebook">Hiển thị icon Facebook</label></td>
									<td><input type="checkbox" id="share_prod_on_facebook" name="share_prod_on_facebook" value="1" checked="checked" /></td>
								</tr>
								<tr>
									<td><label for="share_prod_on_pinterest">Hiển thị icon Pinterest</label></td>
									<td><input type="checkbox" id="share_prod_on_pinterest" name="share_prod_on_pinterest" value="1" checked="checked" /></td>
								</tr>
							</table>
						</fieldset>
						<fieldset>
							<legend class="rtepanel">3. Sản phẩm liên quan</legend>
							<table>
								<tr>
									<td><label for="productspg_related_products">Hiện sản phẩm cùng nhóm sản phẩm?</label></td>
									<td><input type="checkbox" id="productspg_related_products" name="productspg_related_products" checked="checked" /></td>
								</tr>
								<tr>
									<td><label for="productspg_related_title">Tiêu đề</label></td>
									<td><input type="text" id="productspg_related_title" name="productspg_related_title" value="Danh mục blog" /></td>
								</tr>

								<tr>
									<td><label for="productspg_featured_quantity">Số lượng hiển thị</label></td>
									<td><select id="productspg_featured_quantity" name="productspg_featured_quantity">
										<option value="14">14</option>
										<option value="10">10</option>
										<option value="6">6</option>
										</select></td>
								</tr>
							</table>
						</fieldset>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</fieldset>
<!-- End: 3. Trang sản phẩm -->
<fieldset class="test">
	<legend> 5. Trang bài viết</legend>
	<div id="tabs-4" class="setnd col-sm-12">
		<div class="col-sm-6">
			<img src="//file.hstatic.net/1000273467/file/grey_blog.jpg" width="94%"style="																																																											float: right;">
		</div>
		<div class="col-sm-6">
			<!-- Bài viết mới nhất -->
			<fieldset>
				<legend class="rtepanel">1. Phân trang</legend>
				<table>
					<tr class="horizontal">
						<th><label for="pagination_blog_limit">Số bài viết hiển thị ở mối trang</label></th>
						<td>
							<select name="pagination_blog_limit" id="pagination_blog_limit">
								<option value="14">14</option>
								<option value="12">12</option>
								<option value="10">10</option>
								<option value="8">8</option>
								<option value="6" selected="selected" >6</option>
								<option value="4">4</option>
								<option value="2">2</option>

							</select>
						</td>
					</tr>
				</table>
			</fieldset>	
		</div>
	</div>
</fieldset>
<!-- End: Trang bài viết -->
<fieldset class="test">
	<legend>6. Trang liên hệ</legend>
	<div id="tabs-4" class="setnd col-sm-12">
		<div class="col-sm-6">
			<img src="//file.hstatic.net/1000273467/file/grey_contact.jpg" width="94%" style="float: right;">
		</div>
		<div class="col-sm-6">
			<fieldset>
				<legend>1. Google Maps</legend>
				<table>
					<tr>
						<td><label for="show_google_maps">Hiển thị Google Maps?</label></td>
						<td><input type="checkbox" id="show_google_maps" name="show_google_maps" checked="checked" /></td>
					</tr>
					<tr>
						<td><label for="google_maps_code">Nhúng mã</label></td>
						<td><textarea  rows="4" cols="50" id="google_maps_code" name="google_maps_code" class="text long" style="margin: 0px; height: 93px; width: 256px;" /></td>
					</tr>
					<tr>
						<td colspan="2"><p>Xem <a target="_blank" href="https://defaulttheme-

							theme.myharavan.com/blogs/news/cach-lay-ma-hien-thi-google-maps">cách lấy mã Google Map</a> để được hướng dẫn cách thêm Google Map vị trí của bạn theo các tài liệu cung cấp</p></td>
					</tr>
				</table>
			</fieldset>

			<fieldset>
				<legend>2. Thông tin liên hệ</legend>
				<table>
					<tr>
						<td>
							<label for="footer_address">Địa chỉ:</label>
						</td>
						<td>
							<input type="text" class="text" name="footer_address" id="footer_address" value="" />
						</td>
					</tr>
					<tr>
						<td>
							<label for="footer_email">Email:</label>
						</td>
						<td>
							<input type="text" class="text" name="footer_email" id="footer_email" value="" />
						</td>
					</tr>
					<tr>
						<td>
							<label for="footer_phone">Điện thoại:</label>
						</td>
						<td>
							<input type="text" class="text" name="footer_phone" id="footer_phone" value="" />
						</td>
					</tr>
					<tr>
						<td>
							<label>Thời gian làm việc</label>
						</td>
						<td>
							<input type="text" class="text" name="footer_time" value="" />
						</td>
					</tr>
				</table>
			</fieldset>

		</div>
	</div>
</fieldset>
<fieldset>
	<legend>7. Kích hoạt App khuyến mãi</legend>
	<table>
		<tr>
			<td colspan="2">					
				<p>Bạn chọn 1 trong 2 Link dưới để cài APP và sử dụng:<br>					
					- Link cài App Haravan Combo: <a href="https://apps.haravan.com/products/app?id=192" target="_blank" rel="noreferrer">tại đây</a><br>
					- Link cài App Mua X Tặng Y:  <a href="https://apps.haravan.com/products/app?id=194" target="_blank" rel="noreferrer">tại đây</a>
				</p>
			</td>
		</tr>
		<tr>
			<td><label>Sử dụng App?</label></td>
			<td><input type="checkbox"  name="promotion_hrvapp_use" value="1" /></td>
		</tr>
		<tr>
			<th><label>Chọn App</label></th>
			<td>
				<select name="promotion_hrvapp" id="promotion_hrvapp" >
					<option value="appcombo">Haravan Combo</option>
					<option value="appbuyxgety">Mua X tặng Y</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<label>Icon quà tặng Mua X tặng Y</label>
				<p>Kích thước Icon 35x35 pixel</p>
			</td>
			<td><input type="text" name="appbuyxgety_icon"/></td>
		</tr>
		<tr>
			<td colspan="2">					
				<p>Với sản phẩm quà tặng áp dụng khuyến mãi <strong>Mua X tặng Y</strong> bạn phải để giá <strong>0đ</strong> và thêm tag "<strong>giftbox</strong>".</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<p class="guide"><img width="700" src="//file.hstatic.net/1000308580/file/hd-buyxgety_20fd95637e2e4dd2a6580b5167b272e8.jpg"></p>
			</td>
		</tr>
	</table>
</fieldset>

