<!DOCTYPE html>
<html lang="vi">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MLSK6YT2EV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MLSK6YT2EV');
</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">			
		<title>
			{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %} | {{ shop.name }}
		</title>	
		<!-- ================= Page description ================== -->
		{% if page_description != ""%}
		<meta name="description" content="{{ page_description | escape }}">
		{% endif %}
		<!-- ================= Meta ================== -->
		{%if template contains 'index'%}{%if settings.home_page_keywords != '' and settings.home_page_keywords != null%}<meta name="keywords" content="{{settings.home_page_keywords}}"/>{%else%}<meta name="keywords" content="{{store.name}}, {{store.domain}}"/>{%endif%}{%elsif template contains 'product'%}<meta name="keywords" content="{{product.name}}, {%for collection in product.collections%}{{collection.name}}, {%endfor%}{%if product.tags.size > 0%}{% for tag in product.tags %}{{tag}}, {%endfor%}{%endif%}{{store.name}}, {{store.domain}}"/>{%elsif template contains 'collection'%}<meta name="keywords" content="{{collection.name }}, {{store.name}}, {{store.domain}}"/>{%elsif template contains 'blog'%}<meta name="keywords" content="{{blog.name }}, {{store.name}}, {{store.domain}}"/>{%elsif template contains 'article'%}<meta name="keywords" content="{{article.title}}, {{blog.name}}, {%if article.tags.size > 0%}{% for tag in article.tags %}{{tag}}, {%endfor%}{%endif%} {{store.name}}, {{store.domain}}"/>{%else%}<meta name="keywords" content="{{page_title}}, {{store.name}}, {{store.domain}}"/>{%endif%}		
		<link rel="canonical" href="{{ canonical_url }}"/>
		<meta name='revisit-after' content='1 days' />
		<meta name="robots" content="noodp,index,follow" />
		<link rel="dns-prefetch" href="{{ shop.url }}">
		<link rel="dns-prefetch" href="//hstatic.net">
		<!-- ================= Favicon ================== -->
		{%if settings.favicon_enable%}
		<link rel="icon" href="{{ 'favicon.png' | asset_url }}" type="image/x-icon" />
		{%endif%}
		<!-- Facebook Open Graph meta tags -->
		{% include 'fb-open-graph-tags' %}	
	
		<!-- Header CSS -->	
		{% include 'head-css' %}		

		<!-- Header JS -->	
		{{ content_for_header }}	
		{% capture contentForQuerystring %}{{ content_for_header }}{% endcapture %}		
		{% include 'head-js' %}	

		<script>if (typeof(_sokShops) === "undefined") { _sokShops = {};}_sokShops.getNumber = function(val) { val = val.replace(/,/g, ""); var reg = /\d+(\.\d{1,2})?/; if (val.length && val.match(reg).length) { return parseFloat(val.match(reg)[0]); } else { return 0; }};{% if shop.customer_accounts_enabled %} {% if customer %} _sokShops.customer = { cust_name: "{{ customer.name }}", cust_email: "{{ customer.email }}", cust_location: "{{ customer.default_address.street }}", cust_city: "{{ customer.default_address.city }}", cust_locality: "{{ customer.default_address.zip }}", currency: "{{ shop.currency }}" }; {% endif %}{% endif %}{% if template contains "product" %} {% if product %} _sokShops.product = { lead_step: "viewproduct", product_names: "{{ product.title | replace "\"" , "" | replace "|",""}}", sku_id: "{{ product.first_available_variant.id }}", product_prices: _sokShops.getNumber("{{ product.price | money_without_currency }}"), currency: "{{ shop.currency }}", product_category: "{{ product.collections[0].title }}", brand: "{{ product.vendor }}", {% if product.featured_image %} product_imageurl: "https:{{ product.featured_image | product_img_url: 'master' }}", {% endif %}  };  {% endif %}{% endif %}{% if template contains "collection" %} {% if collection %} _sokShops.collection = {lead_step: "viewcategory",product_category: "{{ collection.title }}" }; {% endif %}{% endif %}{% if template contains "search" %} {% if search %} _sokShops.search = {lead_step: "search",search_querystring: "{{ search.terms }}" }; {% endif %}{% endif %}{% if cart %} _sokShops.cart = { {% if template contains "cart" %}lead_step: "funnel_checkout",{% if checkout %} delivery_method: "{{ checkout.shipping_method.title }}", payment_method: "{{ checkout.transactions[0].gateway }}", discount_details: "{{ checkout.discounts[0].code }}",{% endif %}sku_id: [ {% for line_item in cart.items %} "{{ line_item.product.first_available_variant.id }}",{% endfor %} ], {% if customer %} cust_location: "{{ customer.default_address.street }}", {% endif %} {% else %} product_imageurl: [{% for line_item in cart.items %} "https:{{ line_item.product.featured_image | product_img_url: 'master' }}",{% endfor %} ], sku_id: [{% for line_item in cart.items %} "{{ line_item.product.first_available_variant.id }}",{% endfor %} ], {% endif %} product_names: [{% for line_item in cart.items %} "{{ line_item.title | replace "\"" , "" | replace "|", "" }}",{% endfor %} ], sku_url: [{% for line_item in cart.items %} "{{ line_item.url }}",{% endfor %} ],product_prices: [{% for line_item in cart.items %} _sokShops.getNumber("{{ line_item.price | money_without_currency }}"),{% endfor %} ], product_quantities: [{% for line_item in cart.items %} {{ line_item.quantity }},{% endfor %} ], cart_amount: _sokShops.getNumber("{{ cart.total_price | money_without_currency }}"), currency: "{{ shop.currency }}" };{% endif %}</script>
		{% include 'os-graviti' %}

		<script type="application/ld+json">
			{
			"@context": "https://schema.org",
			"@type": "WebSite",
			"url": "https://whiteant.vn/",
			"potentialAction": {
			"@type": "SearchAction",
			"target": "https://whiteant.vn/search?q={search_term_string}",
			"query-input": "required name=search_term_string"
			}
			}
		</script>

	</head>
	<body id="home" class="wide ">
		<!--<script>
		var lastViewProducts = new LastViewProducts({
			max: 6
		});
		</script>-->
		<div id="box-wrapper">
			<main class="wrapper {% if template == 'index' %}home-wrap{% endif %}"> 
				<!-- Main content -->
				{% include 'header' %}
				{{ content_for_layout }}
				{% include 'footer' %}	
			</main>
		</div>

		<!-- Plugin JS -->
		{% include 'footer-js' %}		
		
		<!-- Add to cart -->	
		{% include 'template-popup' %}
		{% include 'api.jquery.custom' %}		
		

		{% include 'menu-mobile' %}

		

		<!-- Product detail JS,CSS -->
		{% if template contains 'product' %}
		{{ 'lightbox.css' | asset_url | stylesheet_tag }}
		{%if settings.product_zoom_enable%}
		{{ 'jquery.elevatezoom308.min.js' | asset_url | script_tag }}		
		{%endif%}

		{%if settings.product_lightbox_enable%}		
		{{ 'jquery.prettyPhoto.min005e.js' | asset_url | script_tag }}
		{{ 'jquery.prettyPhoto.init.min367a.js' | asset_url | script_tag }}
		{%endif%}
		{%endif%}
		<ul class="the-article-tools scroll-to-fixed-fixed">
			{% if settings.store_edit %}
			<li class="btnHotline"><a href="tel:{{ settings.store_phone }}" title="Hotline"><span class="fa fa-phone"></span></a><span class="label">Hotline {{ settings.store_phone }}</span></li>
			{% else %}
			<li class="btnHotline"><a href="tel:{{ store.phone_number }}" title="Hotline"><span class="fa fa-phone"></span></a><span class="label">Hotline {{ store.phone_number }}</span></li>
			{% endif %}
			<li class="btnZalo"><a href="{{ settings.social_youtube_link }}" title="Youtube" target="_blank"><span class="fa fa-youtube-play"></span></a><span class="label">Youtube</span></li>
			<li class="btnViber"><a href="{{ settings.social_facebook_link }}" title="Facebook" target="_blank"><span class="fa fa-facebook"></span></a><span class="label">Facebook</span></li>
		</ul>
		<div class="float-right-icon">
			<ul>
				<li>
					<div id="scroll-to-top" data-toggle="" data-placement="left" title="Đầu trang" class="off fadeOutRight">
						<div class="site-scroller__scroll-up">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="18px" viewBox="0 0 21 18" version="1.1" class="inline-svg replaced-svg">
								<g transform="translate(-1324.000000, -742.000000)">
									<g transform="translate(1304.000000, 646.000000)">
										<polygon fill="#FFFFFF" fill-rule="evenodd" id="scroll-up" points="40.6911849 106.338126 31.7224899 97.3816128 31.7256335 97.3768974 30.3503079 96 30.3455925 96.0062872 30.3408771 96 28.9655514 97.3768974 28.968695 97.3816128 20 106.338126 21.3753256 107.714631 29.3663606 99.7345986 29.3679324 113.277627 31.3142147 113.277627 31.3110711 99.7208453 39.3158593 107.714631"></polygon>
									</g>
								</g>
							</svg>
						</div>
					</div>
				</li>
			</ul>
		</div>

		{%comment%}
		{% include 'mobile-popup-cart' %}
		{%endcomment%}
		{% include 'modal-cart' %}

		{% include 'hrvloyalty-widgets' %}

		{%include 'popup-login'%}
		{%include 'popup-pagecart'%}

		

	</body>
<!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v8.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="361782097251021"
  theme_color="#d4a88c"
  logged_in_greeting="White Ant xin chào. Vui lòng để lại số điện thoại để được tư vấn tốt nhất."
  logged_out_greeting="White Ant xin chào. Vui lòng để lại số điện thoại để được tư vấn tốt nhất.">
      </div>
</html>