{% include 'breadcrumb' %}
<section class="error-wrap sec-space text-center">
	<div class="container"> 
		<img src="{{ 'error.png' | asset_url }}" alt="{{ page.title }}"/>
		<h2 class="section-title pt-15"> <span class="light-font">Lỗi 404</span></h2>
		<p class="fsz-16 ptb-15">Xin lỗi, chúng tôi không tìm thấy kết quả nào phù hợp. Xin vui lòng quay lại <a href="/" class="clr-txt-2"> trang chủ.</a></p>
		<div class="search-wrap">
			<form action="/search" method="get" role="search">	
				<input class="form-control" name="query" value="" placeholder="Tìm kiếm sản phẩm..." />
				<button class="btn" type="submit"> <i class="fa fa-search"></i> </button>
			</form>
		</div>
	</div>
</section>