<section class="sec-space-bottom page-article">
	<div class="container">

		<div class="row">		
			<section class="right-content col-md-12 col-xs-12">
				<div class="aritcle-image">
					{% if article.image %}
					<img src="{{ article.image.src | product_img_url : '1024x1024' }}" alt="{{ article.title }}">
					{% else %}
					<img src="{{ 'blog_no_image.jpg' | asset_url }}" alt="{{ article.title }}">
					{% endif %}
					<div class="action-article">
						{% include 'breadcrumb' %}
						<div class="blog-media">
							<h1 class="fsz-20">{{ article.title }}</h1>
							<h4 class="sub-title-1"> Ngày đăng: {{ article.published_at | date: '%d/%m/%Y' }} </h4>
						</div>
					</div>

				</div>
				<article class="article-main" itemscope itemtype="http://schema.org/Article">
					{% if article.image.src %}
					{% assign featured_image = article.image.src %}
					{% else %}
					{% assign featured_image = 'logo.png' | asset_url %}
					{% endif %}
					<meta itemprop="mainEntityOfPage" content="{{ article.url }}">
					<meta itemprop="description" content="{{ article.content | strip_html | truncatewords: 40 }}">
					<meta itemprop="author" content="{{ article.author }}">
					<meta itemprop="headline" content="{{ article.title }}">
					<meta itemprop="image" content="https:{{ featured_image }}">
					<meta itemprop="datePublished" content="{{ article.published_at | date: '%d/%m/%Y' }}">
					<meta itemprop="dateModified" content="{{ article.published_at | date: '%d/%m/%Y' }}">
					<div class="hidden" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
						<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
							<img src="{{'logo.png'|asset_url}}" alt="{{ shop.name }}"/>
							<meta itemprop="url" content="https:{{'logo.png'| asset_url }}">
							<meta itemprop="width" content="200">
							<meta itemprop="height" content="49">
						</div>
						<meta itemprop="name" content="{{ article.title }}">
					</div>
					<div class="blog-single">       
						<div class="content">        

							<div class="article-content" itemprop="description">
								<div class="rte">
									{{ article.content }}
								</div>
							</div>
							{%if settings.article_social_enable%}
							<div class="share-article">
								<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a099baca270babc"></script> 
								<!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox"></div>
							</div>
							{%endif%}
						</div>
						{% if blog.comments_enabled? %}
						{% if article.comments.size > 0 or comment.created_at %}
						{% paginate article.comments by 3%}
						<div class="divider-full-1"></div>
						<div class="pb-20">
							<h2 class="title-2 pb-15"><strong>Bình luận</strong> <span class="gray-color fsz-12">({{ article.comments_count }})</span></h2>
							{% for comment in article.comments %}
							<div class="view-comment">
								<div class="img-comment">
									<img src="https://www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 }}?s=110&d=identicon" alt="{{ comment.author }}" />
								</div>
								<div class="caption-comment">
									<h3 class="fsz-16 no-margin">{{ comment.author }} <span class="fsz-12 gray-color">{{ comment.created_at | date: '%d/%m/%Y' }}</span> </h3>
									<p>{{ comment.content }}</p>
								</div>
							</div>
							{% endfor %}
							<div class="text-xs-right">
								{% if paginate.pages > 1 %}
								{% include 'paginate-pages' %}
								{% endif %}
							</div>
						</div>
						{%endpaginate%}
						{% endif %}
						<div class="blog-sidebar">
							<h3 class="h4">Bài viết mới nhất</h3>
							<div class="blog_article article-slider owl-carousel">							
								{% for article in blogs[blog.handle].articles limit:6 %}
								<div class="blog-item">
									<div class="blog-addes" style="position: relative;">
										<div class="image">
											<a href="{{ article.url }}" class="{{ article.title }}">
												{% if article.image == null %}
												<img alt="{{ article.title }}" src="{{ 'no-image.jpg' | asset_url }}" />
												{% else %}
												<picture>
													<source 
																	media="(min-width: 992px)"
																	srcset="{{ article.image.src | img_url:'large' }}">
													<source 
																	media="(min-width: 480px)"
																	srcset="{{ article.image.src | img_url:'large' }}">
													<img 
															 src="{{ article.image.src | img_url:'large' }}" 
															 alt="{{ article.title }}" class="img-responsive center-block" />
												</picture>
												{% endif %}
											</a>
										</div>
										<div class="blog-caption">
											<h3 class="title-2"> {{ blog.title }} </h3>
											<h2 class="title-2"> <a href="{{ article.url }}"> {{ article.title }} </a> </h2>
										</div>
									</div>
									<div class="blog-dess">
										<h4 class="sub-title-1"> Ngày đăng: {{ article.published_at | date: '%d/%m/%Y' }} </h4>
										<div class="ptb-10">
											<p>{{ article.content  | strip_html | truncatewords: 40 }}</p>
										</div>
										<a href="{{ article.url }}" class="clr-txt"> <strong> Chi tiết <i class="fa fa-long-arrow-right"></i> </strong> </a> 

									</div>
								</div>
								{% endfor %}
							</div>
						</div>

						<div class="pt-10">
							<h2 class="title-2 pb-15"> <span class="light-font"> Để lại bình luận </span></h2>
							<div class="comment-form pt-15">
								{% form "new_comment", article %}
								{% if form.posted_successfully? %}
								{% if blog.moderated? %}
								<div class="alert alert-warning alert-dismissible fade in" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
									Bình luận của bạn đã được gửi đi chờ kiểm duyệt
								</div>
								{% else %}
								<div class="alert alert-success alert-dismissible fade in" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
									Bình luận của bạn đã được gửi thành công
								</div>
								{% endif %}
								{% endif %}
								{% include 'form-errors-custom' %}
								<div class="row">
									<div class="form-group col-sm-6">
										<input class="form-control" value="{{ customer.name }}" name="comment[author]" placeholder="Họ và tên" Required data-validation-error-msg= "Không được để trống" data-validation="required" type="text" />
									</div>
									<div class="form-group col-sm-6">
										<input class="form-control" placeholder="Email" value="{{ customer.email }}" name="comment[email]" data-validation="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" data-validation-error-msg= "Email sai định dạng" required type="email" />
									</div>
									<div class="form-group col-sm-12">
										<textarea class="form-control" placeholder="Nội dung bình luận" name="comment[body]" cols="12" rows="4" Required data-validation-error-msg= "Không được để trống" data-validation="required">{{ form.body }}</textarea>                                                                                     
									</div>
									<div class="form-group col-sm-12 text-center pt-15">                                               
										<button class="theme-btn-2" type="submit">GỬI BÌNH LUẬN</button>                                            
									</div>
								</div>
								{% endform %}
							</div>
						</div>
						{% endif %}
					</div>


				</article>

			</section>		
		</div>
	</div>
</section>