{% include 'breadcrumb' %}
<section class="blog-wrap sec-space-bottom" itemscope itemtype="http://schema.org/Blog">
	<meta itemprop="name" content="{{ blog.name }}"> 
	<meta itemprop="description" content="{{ blog.description | default: 'Chủ đề không có mô tả' }}">
	<div class="container pt-50">
		<div class="row">
			<div class="blogs-right right-content blog-full-ant">
				<div class="col-md-12">
					<div class="box-heading">
						<h1 class="title-head text-center">{{ blog.name }}</h1>
					</div>
					{% paginate blog.articles by settings.blogs_number_perpage %}
					<div class="list-blogs blog-main">
						<div class="row">
							{% for article in blog.articles %}	
							<div class="col-md-12">
								<article class="blog-item">
									<a href="{{ article.url }}" title="{{ article.title | strip_html }}">
										<div class="{% cycle 'col-md-7', 'col-md-7 col-md-push-5' %} no-padding">
											<div class="blog-item-thumbnail">
												{% if article.image == null %}
												<div class="blog-link__featured-image" style="background-image: url({{ 'no-image.jpg' | asset_url }});"></div>
												{%else%}
												<div class="blog-link__featured-image" style="background-image: url({{ article.image.src | img_url:'1024x1024' }});"></div>
												{%endif%}
												<div class="blog-link__featured-image-wrap-overlay"></div>
											</div>
										</div>
										<div class="{% cycle 'col-md-5', 'col-md-5 col-md-pull-7' %} no-padding">
											<div class="blog-item-contents">
												<h3 class="blog-item-name">{{ article.title }}</h3>
												<p class="blog-item-summary margin-bottom-5">{{ article.summary_or_content | strip_html | truncate: 90 }}</p>
												<div class="a-more">Xem thêm</div>
											</div>
										</div>
									</a>
								</article>
							</div>
							{% endfor %}
							<div class="col-md-12 col-sm-12 col-xs-12">
								{% if paginate.pages > 1 %}<div class="text-xs-right text-center pagging-css">{% include 'paginate-pages' %}</div>{% endif %}
							</div>
						</div>
					</div>
					{% endpaginate %}	
				</div>
			</div>
		</div>
	</div>
</section>