<div class="page-blogs">

	<div class="blogs-heading">
		<div class="container">
			<div class="blog-heading">
				<h1 class="title-2">{{blog.title}}</h1>
			</div>
		</div>
	</div>

	{% include 'breadcrumb' %}
	<section class="blog-wrap sec-space-bottom" itemscope itemtype="http://schema.org/Blog">
		<meta itemprop="name" content="{{blog.title}}"> 
		<meta itemprop="description" content="{{ blog.description | strip_html | truncate: 300 }}">
		<div class="container pt-30">
			<div class="row">
				<section class="right-content col-md-9">			
					<div class="blog-wrap">
						<div class="blog-content">
							{% paginate blog.articles by settings.blogs_number_perpage %}
							<div class="row">

								{% for article in blog.articles %}	
								{%if forloop.first%}
								<div class="col-sm-12">
									<div class="blog-item">
										<div class="image">
											<a href="{{ article.url }}" class="{{ article.title }}">
												{% if article.image == null %}
												<img alt="{{ article.title }}" src="{{ 'no-image.jpg' | asset_url }}" />
												{% else %}
												<picture>
													<source 
																	media="(min-width: 992px)"
																	srcset="{{ article.image.src | img_url:'large' }}">
													<source 
																	media="(min-width: 480px)"
																	srcset="{{ article.image.src | img_url:'large' }}">
													<img 
															 src="{{ article.image.src | img_url:'large' }}" 
															 alt="{{ article.title }}" class="img-responsive center-block" />
												</picture>
												{% endif %}
											</a>
										</div>
										<div class="blog-caption">
											<h3 class="title-2"> {{ blog.title }} </h3>
											<h2 class="title-2"> <a href="{{ article.url }}"> {{ article.title }} </a> </h2>
											<h4 class="sub-title-1"> Ngày đăng: {{ article.published_at | date: '%d/%m/%Y' }} </h4>

											<div class="ptb-10">
												<p>{{ article.content  | strip_html | truncatewords: 40 }}</p>
											</div>
											<a href="{{ article.url }}" class="clr-txt"> <strong> Chi tiết <i class="fa fa-long-arrow-right"></i> </strong> </a> 
										</div>
									</div>
								</div>
								{%else%}
								<div class="col-sm-6 blog-fis">
									<div class="blog-item">
										<div class="blog-addes" style="position: relative;">
											<div class="image">
												<a href="{{ article.url }}" class="{{ article.title }}">
													{% if article.image == null %}
													<img alt="{{ article.title }}" src="{{ 'no-image.jpg' | asset_url }}" />
													{% else %}
													<picture>
														<source 
																		media="(min-width: 992px)"
																		srcset="{{ article.image.src | img_url:'large' }}">
														<source 
																		media="(min-width: 480px)"
																		srcset="{{ article.image.src | img_url:'large' }}">
														<img 
																 src="{{ article.image.src | img_url:'large' }}" 
																 alt="{{ article.title }}" class="img-responsive center-block" />
													</picture>
													{% endif %}
												</a>
											</div>
											<div class="blog-caption">
												<h3 class="title-2"> {{ blog.title }} </h3>
												<h2 class="title-2"> <a href="{{ article.url }}"> {{ article.title }} </a> </h2>
											</div>
										</div>
										<div class="blog-dess">
											<h4 class="sub-title-1"> Ngày đăng: {{ article.published_at | date: '%d/%m/%Y' }} </h4>
											<div class="ptb-10">
												<p>{{ article.content  | strip_html | truncatewords: 40 }}</p>
											</div>
											<a href="{{ article.url }}" class="clr-txt"> <strong> Chi tiết <i class="fa fa-long-arrow-right"></i> </strong> </a> 

										</div>
									</div>
								</div>
								{%endif%}
								{% endfor %}
							</div>
							{% if paginate.pages > 1 %}
							{% include 'paginate-pages' %}
							{% endif %}
							{% endpaginate %}
						</div>
					</div>
				</section>
				<aside class="left left-content col-md-3">
					{% include 'sidebar-blog' %}
				</aside>
			</div>
		</div>
	</section>

</div>








