{% include 'breadcrumb' %}
<h1 class="hidden">{{ page_title }}</h1>
<div class="container panel-login account-page ptb-50">
	<div class="row">
		<div class="col-md-12">
			<div class="shopping-cart">
				<div class="visible-md visible-lg">
					<div class="shopping-cart-table">
						<div class="row">
							{% if cart.item_count > 0 %}
							<div class="col-main cart_desktop_page cart-page">
								{% for item in cart.items %}

								{% assign item_url = item.variant.title | split : ' / ' %}
								{% if item_url.size >= 2 %}
								{% assign item_url = item_url[1] | handleize %}
								{% else %}
								{% assign item_url = item.variant.title | handleize %}
								{% endif %}

								<div class="item-cart">
									<div class="main-img {{item.id}}">
										<a href="{{ item.url }}">
											<img src="{{ item.variant.image | product_img_url : 'small' }}" />
										</a>
									</div>
									<div class="main-details">
										<div class="item-title">
											<a href="{{ item.url }}#{{ item_url }}">
												<strong>{{ item.product.title }}</strong>
											</a>
										</div>
										<div class="item-price">
											<span>{{item.price | money_with_currency }}<sup>đ</sup></span>
										</div>
										<div class="item-option">

											{%if item.product.options.size > 1 %}
											<span >Tiêu đề: {{item.variant.option2}}</span>
											{%else%}
											<span>Tiêu đề: {{item.variant.option1}}</span>
											{%endif%}
											<div class="qty quantity-selector detail-info-entry">
												Số lượng: 
												<a title="Set quantity to {{ item.quantity | minus: 1}}" href="/cart/change?line={{ forloop.index }}&quantity={{ item.quantity | minus: 1}}" class="hidden entry number-minus">&nbsp;</a>
												<input type="number" item-price="{{ item.price }}" size="2" name="updates[]" min="1" max="2" id="updates_{{ item.id }}" value="{% if spquatang%}1{%else%}{{ item.quantity }}{%endif%}" onfocus="this.select();" class="entry number tc item-quantity quantity-{{item.id}}"/>
												<a title="Set quantity to {{ item.quantity | plus: 1}}" href="/cart/change?line={{ forloop.index }}&quantity={{ item.quantity | plus: 1}}" class="hidden entry number-plus">&nbsp;</a>
											</div>
										</div>
									</div>
									<div class="remove-item remove col-lg-1 col-md-1 col-sm-1 col-xs-1">
										<a href="/cart/change?line={{ forloop.index }}&quantity=0" class="cart ClickRemoveCartItem">Xóa</a>
									</div>
								</div>
								{% endfor %}
							</div>
							{% else %}
							<div class="alert alert-warning alert-dismissible fade in" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
								</button>
								Không có sản phẩm nào trong giỏ hàng của bạn.
							</div>
							{% endif %}
						</div>
					</div>

				</div>
				<div class="visible-sm visible-xs">
					{% if cart.item_count > 0 %}
					<div class="cart-mobile">
						<form action="/cart" method="post" class="margin-bottom-0">
							<div class="header-cart">
								<div class="title-cart">
									<h3>Giỏ hàng của bạn</h3>
								</div>
							</div>
							<div class="header-cart-content">
								<div class="cart_page_mobile content-product-list">
									{% for item in cart.items %}
									<div class="item-product item productid-{{ item.id }}">
										<div class="item-product-cart-mobile">
											<a class="product-images1" href="{{ item.variant.url }}" title="{{ item.product.name }}">
												<img width="80" height="150" src="{{ item.variant.image | product_img_url : 'small' }}" />
											</a>
										</div>
										<div class="title-product-cart-mobile">
											<h3><a href="{{ item.variant.url }}" title="{{ item.product.name }}">{{ item.product.name }}</a></h3>
											<p>Giá: <span>{{ item.price | money }}</span></p>
										</div>
										<div class="select-item-qty-mobile">
											<div class="txt_center">
												<input class="variantID" type="hidden" name="variantId" value="{{ item.id }}">
												<button onclick="var result = document.getElementById('qtyMobile{{ item.id }}'); var qtyMobile{{ item.id }} = result.value; if( !isNaN( qtyMobile{{ item.id }} ) &amp;&amp; qtyMobile{{ item.id }} > 0 ) result.value--;return false;" class="reduced items-count btn-minus" type="button">–</button>
												<input type="text" maxlength="12" min="0" class="input-text number-sidebar qtyMobile{{ item.id }}" id="qtyMobile{{ item.id }}" name="Lines" size="4" value="1">
												<button onclick="var result = document.getElementById('qtyMobile{{ item.id }}'); var qtyMobile{{ item.id }} = result.value; if( !isNaN( qtyMobile{{ item.id }} )) result.value++;return false;" class="increase items-count btn-plus" type="button">+</button>
											</div>
											<a class="button remove-item remove-item-cart" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" data-id="{{ item.id }}">Xoá</a>
										</div>
									</div>
									{% endfor %}
								</div>
								<div class="header-cart-price">
									<div class="title-cart ">
										<h3 class="text-xs-left">Tổng tiền</h3>
										<a class="text-xs-right totals_price_mobile">{{ cart.total_price | money }}</a>
									</div>
									{%if cart.total_price >= 30000000%}
									<div class="checkout">
										<button class="btn btn-primary btn-proceed-checkout-mobile" title="Tiến hành thanh toán" type="button" onclick="window.location.href='/checkout'">
											Tiến hành thanh toán
										</button>
										<button class="btn btn-primary btn-proceed-continues-mobile" title="Tiếp tục mua sắm" type="button" onclick="window.location.href='/collections/all'">
											Tiếp tục mua sắm
										</button>
									</div>
									{%else%}
									<div class="checkout">
										<button class="btn btn-primary btn-proceed-checkout-mobile" data-popup="popupOne" title="Tiến hành thanh toán" type="button">
											Tiến hành thanh toán
										</button>
										<button class="btn btn-primary btn-proceed-continues-mobile" title="Tiếp tục mua sắm" type="button" onclick="window.location.href='/collections/all'">
											Tiếp tục mua sắm
										</button>
									</div>
									{%endif%}
								</div>
							</div>

						</form>

					</div>
					{% else %}
					<div class="alert alert-warning alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
						</button>
						Không có sản phẩm nào trong giỏ hàng của bạn.
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>