{% include 'breadcrumb' %}
<section class="main-cart-page main-container col1-layout">
	<div class="main container hidden-xs">
		<h1 class="title-head">{{ page_title }}</h1>
		<div class="col-main cart_desktop_page cart-page">




		</div>

	</div>
	<div class="cart-mobile hidden-md hidden-lg hidden-sm">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form action="/cart" method="post" novalidate="" class="margin-bottom-0">
						<div class="header-cart" style="background:#fff;">
							{% if cart.item_count > 0 %}
							<div class="title-cart">
								<h3>Giỏ hàng của bạn</h3> 
							</div>
							{% else %}
							<div class="title-cart">
								<h3>Giỏ hàng của bạn</h3><p>(chưa có sản phẩm nào) nhấn vào cửa hàng <a href="/collections/all" style="color: {{settings.mau_chudao}}">Cửa hàng</a> để mua hàng</p>
							</div>
							{% endif %}
						</div>

						<div class="header-cart-content" style="background:#fff;">


						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="line-end"></div>
			</div>
		</div>
	</div>
</section>