{% include 'breadcrumb' %}  
{%assign sb = settings.collection_layout%}
<section class="account-page ptb-50">
	<div class="container">
		<div class="row">	
			<h1 class="title-head margin-top-0">{%if page_title == 'All'%}Tất cả sản phẩm{%else%}{{ page_title }}{%endif%}</h1>
			<div class="col-md-12">
				{%unless sb == 'no'%}
				<aside class="sidebar side-ipad category-mobile {{sb}} left-content">
					<div class="category-mobiles">
						{%include 'sidebar-collection'%}			
					</div>
				</aside>
				{%endunless%}
			</div>

			<section class="main_container right-content col-md-12 collection">
				<div class="category-products products" id="pd_collection">
					{% paginate collection.products by settings.collection_number_product %}	
					{%include 'collection-sortby'%}
					{% if collection.products.size > 0 %}
					{%include 'products-grid-item'%}	
					{% else %}
					<div class="alert alert-warning alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
						</button>
						Không có sản phẩm nào trong danh mục này.
					</div>
					{% endif %}
					{% endpaginate %}
				</div>
			</section>
		</div>
	</div>
</section>
