{% include 'breadcrumb' %}  
<div class="hidden">
	<div class="container">
		<h1>Tất cả danh mục</h1>
	</div>
</div>
<div class="container">
	<div class="list-category row">
		{% for collection in collections %}
		{% unless collection.alias == 'frontpage' %}trigger-mobile
		{% unless collection_item_width %}
		{% assign collection_item_width = 'medium--one-half large--one-third' %}
		{% endunless %}

		{% unless collection_item_img_size %}
		{% assign collection_item_img_size = 'grande' %}
		{% endunless %}
		{% if collection.products_count > 0 %}
		<div class="col-md-12 margin-bottom-15 margin-top-15">
			<div class="center">
				<h3 class="margin-bottom-15">{%if collection.name == 'All'%}Tất cả sản phẩm{%else%}{{ collection.name }}{%endif%}</h3>
			</div>
			<section class="products-view products-view-grid">
				<div class="row">
					{%if settings.collec_banner_enable_1%}
					<div class="col-xs-6 col-sm-3 col-lg-3 hidden-xs">
						<a href="{{settings.collec_banner_url_1}}"><img src="{{'collec_banner_1.jpg' | asset_url}}" alt=""/></a>		
					</div>
					{%endif%}

					{% for product in collection.products limit: 4 %}
					{% assign on_sale = false %}
					{% if product.compare_at_price_max > product.price_min and product.compare_at_price_max > 0 %}
					{% assign on_sale = true %}
					{% endif %}
					{% assign sold_out = true %}
					{% if product.available  %}
					{% assign sold_out = false %}
					{% endif %} 
					{% assign variantCount = product.variants | size %}
					{% assign on_var = false %}
					{% if product.price_max > product.price_min %}
					{% assign on_var = true %}
					{% endif %}
					{% capture discount %} 
					{{ product.selected_or_first_available_variant.compare_at_price | minus:product.selected_or_first_available_variant.price | times:100 | divided_by:product.selected_or_first_available_variant.compare_at_price | round }}% 
					{% endcapture %}				
					<div class="col-xs-6 col-sm-3 col-lg-3">
						{%include 'product-grid-item'%}			
					</div>
					{% endfor %}

				</div>
				
				<div class="row">
					<div class="col-md-12 text-center">
						<a href="{{ collection.url }}" title="Xem thêm" class="btn theme-btn-sm-2">Xem thêm</a>
					</div>
				</div>
			</section>
		</div>
		{% endif %}
		{% endunless %}
		{% endfor %}
	</div>
</div>
