{% include 'breadcrumb' %}  
<section class="account-page ptb-50">
	<div class="container">
		<div class="row">	
			<div id="layout-page">
				<span class="header-page clearfix">
					<h1>Shop maps</h1>
				</span>

				<div class="content-page">

					<div class="col-sm-8 col-xs-12" id="maps_maker">
						<div class="address-lists-maps">
							<div class="item-position-maps {%unless collection.title == settings.address_1 %}hidden{%endunless%}" id="address_1">
								{{settings.maps_maker_shop_1}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_2 %}hidden{%endunless%}" id="address_2">
								{{settings.maps_maker_shop_2}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_3 %}hidden{%endunless%}" id="address_3">
								{{settings.maps_maker_shop_3}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_4 %}hidden{%endunless%}" id="address_4">
								{{settings.maps_maker_shop_4}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_5 %}hidden{%endunless%}" id="address_5">
								{{settings.maps_maker_shop_5}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_6 %}hidden{%endunless%}" id="address_6">
								{{settings.maps_maker_shop_6}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_7 %}hidden{%endunless%}" id="address_7">
								{{settings.maps_maker_shop_7}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_8 %}hidden{%endunless%}" id="address_8">
								{{settings.maps_maker_shop_8}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_9 %}hidden{%endunless%}" id="address_9">
								{{settings.maps_maker_shop_9}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_10 %}hidden{%endunless%}" id="address_10">
								{{settings.maps_maker_shop_10}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_11 %}hidden{%endunless%}" id="address_11">
								{{settings.maps_maker_shop_11}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_12 %}hidden{%endunless%}" id="address_12">
								{{settings.maps_maker_shop_12}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_13 %}hidden{%endunless%}" id="address_13">
								{{settings.maps_maker_shop_13}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_14 %}hidden{%endunless%}" id="address_14">
								{{settings.maps_maker_shop_14}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_15 %}hidden{%endunless%}" id="address_15">
								{{settings.maps_maker_shop_15}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_16 %}hidden{%endunless%}" id="address_16">
								{{settings.maps_maker_shop_16}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_17 %}hidden{%endunless%}" id="address_17">
								{{settings.maps_maker_shop_17}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_18 %}hidden{%endunless%}" id="address_18">
								{{settings.maps_maker_shop_18}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_19 %}hidden{%endunless%}" id="address_19">
								{{settings.maps_maker_shop_19}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_20 %}hidden{%endunless%}" id="address_20">
								{{settings.maps_maker_shop_20}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_21 %}hidden{%endunless%}" id="address_21">
								{{settings.maps_maker_shop_21}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_22 %}hidden{%endunless%}" id="address_22">
								{{settings.maps_maker_shop_22}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_23 %}hidden{%endunless%}" id="address_23">
								{{settings.maps_maker_shop_23}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_24 %}hidden{%endunless%}" id="address_24">
								{{settings.maps_maker_shop_24}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_25 %}hidden{%endunless%}" id="address_25">
								{{settings.maps_maker_shop_25}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_26 %}hidden{%endunless%}" id="address_26">
								{{settings.maps_maker_shop_26}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_27 %}hidden{%endunless%}" id="address_27">
								{{settings.maps_maker_shop_27}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_28 %}hidden{%endunless%}" id="address_28">
								{{settings.maps_maker_shop_28}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_29 %}hidden{%endunless%}" id="address_29">
								{{settings.maps_maker_shop_29}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_30 %}hidden{%endunless%}" id="address_30">
								{{settings.maps_maker_shop_30}}
							</div>

							<div class="item-position-maps {%unless collection.title == settings.address_31 %}hidden{%endunless%}" id="address_31">
								{{settings.maps_maker_shop_31}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_32 %}hidden{%endunless%}" id="address_32">
								{{settings.maps_maker_shop_32}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_33 %}hidden{%endunless%}" id="address_33">
								{{settings.maps_maker_shop_33}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_34 %}hidden{%endunless%}" id="address_34">
								{{settings.maps_maker_shop_34}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_35 %}hidden{%endunless%}" id="address_35">
								{{settings.maps_maker_shop_35}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_36 %}hidden{%endunless%}" id="address_36">
								{{settings.maps_maker_shop_36}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_37 %}hidden{%endunless%}" id="address_37">
								{{settings.maps_maker_shop_37}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_38 %}hidden{%endunless%}" id="address_38">
								{{settings.maps_maker_shop_38}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_39 %}hidden{%endunless%}" id="address_39">
								{{settings.maps_maker_shop_39}}
							</div>
							<div class="item-position-maps {%unless collection.title == settings.address_40 %}hidden{%endunless%}" id="address_40">
								{{settings.maps_maker_shop_40}}
							</div>
						</div>				

					</div>
					<div class="col-sm-4 col-xs-12" id="city">
						<ul class="tabs">
							<li class="tab-link current" data-tab="tab1">{{settings.showroom_title}}</li>
							<li class="tab-link" data-tab="tab2">{{settings.address_title}}</li>
						</ul>
						<div id="tab1" class="tab-content current">
							<ul class="item-positions">
								{%for link in linklists[settings.menu_map_address_showroom_1].links%}
								<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
								{%endfor%}
							</ul>

						</div>
						<div id="tab2" class="tab-content">
							<select class="select_city" style="display:block;text-align:center">
								{%if settings.address_1 != '' %}<option {%if collection.title == settings.address_1%}selected="selected"{%endif%} value="address_1">{{settings.address_1}}</option>{%endif%}
								{%if settings.address_2 != '' %}<option {%if collection.title == settings.address_2%}selected="selected"{%endif%} value="address_2">{{settings.address_2}}</option>{%endif%}
								{%if settings.address_3 != '' %}<option {%if collection.title == settings.address_3%}selected="selected"{%endif%} value="address_3">{{settings.address_3}}</option>{%endif%}
								{%if settings.address_4 != '' %}<option {%if collection.title == settings.address_4%}selected="selected"{%endif%} value="address_4">{{settings.address_4}}</option>{%endif%}
								{%if settings.address_5 != '' %}<option {%if collection.title == settings.address_5%}selected="selected"{%endif%} value="address_5">{{settings.address_5}}</option>{%endif%}
								{%if settings.address_6 != '' %}<option {%if collection.title == settings.address_6%}selected="selected"{%endif%} value="address_6">{{settings.address_6}}</option>{%endif%}
								{%if settings.address_7 != '' %}<option {%if collection.title == settings.address_7%}selected="selected"{%endif%} value="address_7">{{settings.address_7}}</option>{%endif%}
								{%if settings.address_8 != '' %}<option {%if collection.title == settings.address_8%}selected="selected"{%endif%} value="address_8">{{settings.address_8}}</option>{%endif%}
								{%if settings.address_9 != '' %}<option {%if collection.title == settings.address_9%}selected="selected"{%endif%} value="address_9">{{settings.address_9}}</option>{%endif%}
								{%if settings.address_10 != '' %}<option {%if collection.title == settings.address_10%}selected="selected"{%endif%} value="address_10">{{settings.address_10}}</option>{%endif%}
								{%if settings.address_11 != '' %}<option {%if collection.title == settings.address_11%}selected="selected"{%endif%} value="address_11">{{settings.address_11}}</option>{%endif%}
								{%if settings.address_12 != '' %}<option {%if collection.title == settings.address_12%}selected="selected"{%endif%} value="address_12">{{settings.address_12}}</option>{%endif%}
								{%if settings.address_13 != '' %}<option {%if collection.title == settings.address_13%}selected="selected"{%endif%} value="address_13">{{settings.address_13}}</option>{%endif%}
								{%if settings.address_14 != '' %}<option {%if collection.title == settings.address_14%}selected="selected"{%endif%} value="address_14">{{settings.address_14}}</option>{%endif%}
								{%if settings.address_15 != '' %}<option {%if collection.title == settings.address_15%}selected="selected"{%endif%} value="address_15">{{settings.address_15}}</option>{%endif%}
								{%if settings.address_16 != '' %}<option {%if collection.title == settings.address_16%}selected="selected"{%endif%} value="address_16">{{settings.address_16}}</option>{%endif%}
								{%if settings.address_17 != '' %}<option {%if collection.title == settings.address_17%}selected="selected"{%endif%} value="address_17">{{settings.address_17}}</option>{%endif%}
								{%if settings.address_18 != '' %}<option {%if collection.title == settings.address_18%}selected="selected"{%endif%} value="address_18">{{settings.address_18}}</option>{%endif%}
								{%if settings.address_19 != '' %}<option {%if collection.title == settings.address_19%}selected="selected"{%endif%} value="address_19">{{settings.address_19}}</option>{%endif%}
								{%if settings.address_20 != '' %}<option {%if collection.title == settings.address_20%}selected="selected"{%endif%} value="address_20">{{settings.address_20}}</option>{%endif%}
								{%if settings.address_21 != '' %}<option {%if collection.title == settings.address_21%}selected="selected"{%endif%} value="address_21">{{settings.address_21}}</option>{%endif%}
								{%if settings.address_22 != '' %}<option {%if collection.title == settings.address_22%}selected="selected"{%endif%} value="address_22">{{settings.address_22}}</option>{%endif%}
								{%if settings.address_23 != '' %}<option {%if collection.title == settings.address_23%}selected="selected"{%endif%} value="address_23">{{settings.address_23}}</option>{%endif%}
								{%if settings.address_24 != '' %}<option {%if collection.title == settings.address_24%}selected="selected"{%endif%} value="address_24">{{settings.address_24}}</option>{%endif%}
								{%if settings.address_25 != '' %}<option {%if collection.title == settings.address_25%}selected="selected"{%endif%} value="address_25">{{settings.address_25}}</option>{%endif%}
								{%if settings.address_26 != '' %}<option {%if collection.title == settings.address_26%}selected="selected"{%endif%} value="address_26">{{settings.address_26}}</option>{%endif%}
								{%if settings.address_27 != '' %}<option {%if collection.title == settings.address_27%}selected="selected"{%endif%} value="address_27">{{settings.address_27}}</option>{%endif%}
								{%if settings.address_28 != '' %}<option {%if collection.title == settings.address_28%}selected="selected"{%endif%} value="address_28">{{settings.address_28}}</option>{%endif%}
								{%if settings.address_29 != '' %}<option {%if collection.title == settings.address_29%}selected="selected"{%endif%} value="address_29">{{settings.address_29}}</option>{%endif%}
								{%if settings.address_30 != '' %}<option {%if collection.title == settings.address_30%}selected="selected"{%endif%} value="address_30">{{settings.address_30}}</option>{%endif%}
								{%if settings.address_31 != '' %}<option {%if collection.title == settings.address_31%}selected="selected"{%endif%} value="address_31">{{settings.address_31}}</option>{%endif%}
								{%if settings.address_32 != '' %}<option {%if collection.title == settings.address_32%}selected="selected"{%endif%} value="address_32">{{settings.address_32}}</option>{%endif%}
								{%if settings.address_33 != '' %}<option {%if collection.title == settings.address_33%}selected="selected"{%endif%} value="address_33">{{settings.address_33}}</option>{%endif%}
								{%if settings.address_34 != '' %}<option {%if collection.title == settings.address_34%}selected="selected"{%endif%} value="address_34">{{settings.address_34}}</option>{%endif%}
								{%if settings.address_35 != '' %}<option {%if collection.title == settings.address_35%}selected="selected"{%endif%} value="address_35">{{settings.address_35}}</option>{%endif%}
								{%if settings.address_36 != '' %}<option {%if collection.title == settings.address_36%}selected="selected"{%endif%} value="address_36">{{settings.address_36}}</option>{%endif%}
								{%if settings.address_37 != '' %}<option {%if collection.title == settings.address_37%}selected="selected"{%endif%} value="address_37">{{settings.address_37}}</option>{%endif%}
								{%if settings.address_38 != '' %}<option {%if collection.title == settings.address_38%}selected="selected"{%endif%} value="address_38">{{settings.address_38}}</option>{%endif%}
								{%if settings.address_39 != '' %}<option {%if collection.title == settings.address_39%}selected="selected"{%endif%} value="address_39">{{settings.address_39}}</option>{%endif%}
								{%if settings.address_40 != '' %}<option {%if collection.title == settings.address_40%}selected="selected"{%endif%} value="address_40">{{settings.address_40}}</option>{%endif%}

							</select>

							<div class="address-lists">
								<ul class="item-position {%unless collection.title == settings.address_1 %}hidden{%endunless%}" id="address_1">
									{%for link in linklists[settings.menu_map_address_1].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_2 %}hidden{%endunless%}" id="address_2">
									{%for link in linklists[settings.menu_map_address_2].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_3 %}hidden{%endunless%}" id="address_3">
									{%for link in linklists[settings.menu_map_address_3].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_4 %}hidden{%endunless%}" id="address_4">
									{%for link in linklists[settings.menu_map_address_4].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_5 %}hidden{%endunless%}" id="address_5">
									{%for link in linklists[settings.menu_map_address_5].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_6 %}hidden{%endunless%}" id="address_6">
									{%for link in linklists[settings.menu_map_address_6].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_7 %}hidden{%endunless%}" id="address_7">
									{%for link in linklists[settings.menu_map_address_7].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_8 %}hidden{%endunless%}" id="address_8">
									{%for link in linklists[settings.menu_map_address_8].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_9 %}hidden{%endunless%}" id="address_9">
									{%for link in linklists[settings.menu_map_address_9].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_10 %}hidden{%endunless%}" id="address_10">
									{%for link in linklists[settings.menu_map_address_10].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_11 %}hidden{%endunless%}" id="address_11">
									{%for link in linklists[settings.menu_map_address_11].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_12 %}hidden{%endunless%}" id="address_12">
									{%for link in linklists[settings.menu_map_address_12].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_13 %}hidden{%endunless%}" id="address_13">
									{%for link in linklists[settings.menu_map_address_13].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_14 %}hidden{%endunless%}" id="address_14">
									{%for link in linklists[settings.menu_map_address_14].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_15 %}hidden{%endunless%}" id="address_15">
									{%for link in linklists[settings.menu_map_address_15].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}

								</ul>
								<ul class="item-position {%unless collection.title == settings.address_16 %}hidden{%endunless%}" id="address_16">
									{%for link in linklists[settings.menu_map_address_16].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_17 %}hidden{%endunless%}" id="address_17">
									{%for link in linklists[settings.menu_map_address_17].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_18 %}hidden{%endunless%}" id="address_18">
									{%for link in linklists[settings.menu_map_address_18].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_19 %}hidden{%endunless%}" id="address_19">
									{%for link in linklists[settings.menu_map_address_19].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_20 %}hidden{%endunless%}" id="address_20">
									{%for link in linklists[settings.menu_map_address_20].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_21 %}hidden{%endunless%}" id="address_21">
									{%for link in linklists[settings.menu_map_address_21].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_22 %}hidden{%endunless%}" id="address_22">
									{%for link in linklists[settings.menu_map_address_22].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_23 %}hidden{%endunless%}" id="address_23">
									{%for link in linklists[settings.menu_map_address_23].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_24 %}hidden{%endunless%}" id="address_24">
									{%for link in linklists[settings.menu_map_address_24].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_25 %}hidden{%endunless%}" id="address_25">
									{%for link in linklists[settings.menu_map_address_25].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}						
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_26 %}hidden{%endunless%}" id="address_26">
									{%for link in linklists[settings.menu_map_address_26].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_27 %}hidden{%endunless%}" id="address_27">
									{%for link in linklists[settings.menu_map_address_27].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_28 %}hidden{%endunless%}" id="address_28">
									{%for link in linklists[settings.menu_map_address_28].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_29 %}hidden{%endunless%}" id="address_29">
									{%for link in linklists[settings.menu_map_address_29].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_30 %}hidden{%endunless%}" id="address_30">
									{%for link in linklists[settings.menu_map_address_30].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>

								<ul class="item-position {%unless collection.title == settings.address_31 %}hidden{%endunless%}" id="address_31">
									{%for link in linklists[settings.menu_map_address_31].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_32 %}hidden{%endunless%}" id="address_32">
									{%for link in linklists[settings.menu_map_address_32].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_33 %}hidden{%endunless%}" id="address_33">
									{%for link in linklists[settings.menu_map_address_33].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_34 %}hidden{%endunless%}" id="address_34">
									{%for link in linklists[settings.menu_map_address_34].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_35 %}hidden{%endunless%}" id="address_35">
									{%for link in linklists[settings.menu_map_address_35].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_36 %}hidden{%endunless%}" id="address_36">
									{%for link in linklists[settings.menu_map_address_36].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_37 %}hidden{%endunless%}" id="address_37">
									{%for link in linklists[settings.menu_map_address_37].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_38 %}hidden{%endunless%}" id="address_38">
									{%for link in linklists[settings.menu_map_address_38].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_39 %}hidden{%endunless%}" id="address_39">
									{%for link in linklists[settings.menu_map_address_39].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>
								<ul class="item-position {%unless collection.title == settings.address_40 %}hidden{%endunless%}" id="address_40">
									{%for link in linklists[settings.menu_map_address_40].links%}
									<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
									{%endfor%}
								</ul>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<style>
	.address-lists-maps .item-position-maps.hidden{
	height: 0;
	overflow: hidden;
	display:block;
	}
	.address-lists > ul.hidden{
	display: none;
	}
	#city ul {
	margin: 0;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 10px;
	max-height: 322px;
	overflow: auto;
	margin-bottom: 30px;
	}
	#city ul li{
	padding: 10px;
	border-bottom: 1px solid #ccc;
	}
	#city ul li:last-child{
	border: none;
	}
	select.select_city {
	padding: 0 12px;
	border-radius: 10px;
	text-align-last: center;
	width: 100%;
	height: 35px;
	margin-bottom: 15px;
	}
	}
</style>
<script>
$(document).ready(function(){

	$('ul.tabs li').click(function(){
		var tab_id = $(this).attr('data-tab');

		$('ul.tabs li').removeClass('current');
		$('.tab-content').removeClass('current');

		$(this).addClass('current');
		$("#"+tab_id).addClass('current');
	})

})
</script>
<script>
$('.select_city').change(function(){

	var city = $('.select_city').val();	
	console.log(city);
	if (city == 'address_1'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_1").removeClass("hidden");
		jQuery(".address-lists > ul").addClass("hidden");
		jQuery("ul#address_1").removeClass("hidden");
	}
	if (city == 'address_2'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_2").removeClass("hidden");
		jQuery(".address-lists > ul").addClass("hidden");
		jQuery("ul#address_2").removeClass("hidden");
	}
	if (city == 'address_3'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_3").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_3").removeClass("hidden");
	}
	if (city == 'address_4'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_4").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_4").removeClass("hidden");
	}
	if (city == 'address_5'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_5").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_5").removeClass("hidden");
	}
	if (city == 'address_6'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_6").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_6").removeClass("hidden");
	}
	if (city == 'address_7'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_7").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_7").removeClass("hidden");
	}
	if (city == 'address_8'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_8").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_8").removeClass("hidden");
	}
	if (city == 'address_9'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_9").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_9").removeClass("hidden");
	}
	if (city == 'address_10'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_10").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_10").removeClass("hidden");
	}
	if (city == 'address_11'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_11").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_11").removeClass("hidden");
	}
	if (city == 'address_12'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_12").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_12").removeClass("hidden");
	}
	if (city == 'address_13'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_13").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_13").removeClass("hidden");
	}
	if (city == 'address_14'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_14").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_14").removeClass("hidden");
	}
	if (city == 'address_15'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_15").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_15").removeClass("hidden");
	}
	if (city == 'address_16'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_16").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_16").removeClass("hidden");
	}
	if (city == 'address_17'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_17").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_17").removeClass("hidden");
	}
	if (city == 'address_18'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_18").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_18").removeClass("hidden");
	}
	if (city == 'address_19'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_19").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_19").removeClass("hidden");
	}
	if (city == 'address_20'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_20").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_20").removeClass("hidden");
	}	
	if (city == 'address_21'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_21").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_21").removeClass("hidden");
	}
	if (city == 'address_22'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_22").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_22").removeClass("hidden");
	}
	if (city == 'address_23'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_23").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_23").removeClass("hidden");
	}
	if (city == 'address_24'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_24").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_24").removeClass("hidden");
	}
	if (city == 'address_25'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_25").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_25").removeClass("hidden");
	}
	if (city == 'address_26'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_26").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_26").removeClass("hidden");
	}
	if (city == 'address_27'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_27").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_27").removeClass("hidden");
	}
	if (city == 'address_28'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_28").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_28").removeClass("hidden");
	}
	if (city == 'address_29'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_29").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_29").removeClass("hidden");
	}
	if (city == 'address_30'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_30").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_30").removeClass("hidden");
	}
	if (city == 'address_31'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_31").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_31").removeClass("hidden");
	}
	if (city == 'address_32'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_32").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_32").removeClass("hidden");
	}
	if (city == 'address_33'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_33").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_33").removeClass("hidden");
	}
	if (city == 'address_34'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_34").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_34").removeClass("hidden");
	}
	if (city == 'address_35'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_35").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_35").removeClass("hidden");
	}
	if (city == 'address_36'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_36").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_36").removeClass("hidden");
	}
	if (city == 'address_37'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_37").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_37").removeClass("hidden");
	}
	if (city == 'address_38'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_38").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_38").removeClass("hidden");
	}
	if (city == 'address_39'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_39").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_39").removeClass("hidden");
	}
	if (city == 'address_40'){
		jQuery(".address-lists-maps > .item-position-maps").addClass("hidden");
		jQuery(".item-position-maps#address_40").removeClass("hidden");
		jQuery(".address-lists>ul").addClass("hidden");
		jQuery("ul#address_40").removeClass("hidden");
	}
});
</script>