{% include 'breadcrumb' %}  
<section class="account-page ptb-50 collections-page">
	<div class="container">
		<div class="row">	
			<aside class="sidebar side-ipad category-mobile {{sb}} left-content">
				<div class="category-mobiles">
					{%include 'sidebar-collection'%}			
				</div>
			</aside>
			<section class="main_container right-content col-md-12 collection">
				<div class="category-products">
					<h1 class="title-head">{%if page_title == 'All'%}Tất cả sản phẩm{%else%}{{ page_title }}{%endif%}</h1>				
					{% paginate collection.products by 5 %}							
					{%include 'collection-sortby'%}		
					<section class="products-view products-view-list">
						{% if collection.products.size > 0 %}
						<div class="row row-noGutter">
							{% for product in collection.products %}
							{% assign on_sale = false %}
							{% if product.compare_at_price_max > product.price_min %}
							{% assign on_sale = true %}
							{% endif %}
							{% assign sold_out = true %}
							{% if product.available  %}
							{% assign sold_out = false %}
							{% endif %} 
							{% assign variantCount = product.variants | size %}
							{% assign on_var = false %}
							{% if product.price_max > product.price_min %}
							{% assign on_var = true %}
							{% endif %}
							{% capture discount %} 
							{{ product.selected_or_first_available_variant.compare_at_price | minus:product.selected_or_first_available_variant.price | times:100 | divided_by:product.selected_or_first_available_variant.compare_at_price | round }}% 
							{% endcapture %}
							{%assign check = false%}
							{% for tag in product.tags %}
							{%if tag == 'noo'%}
							{%assign check = true%}
							{%endif%}
							{% endfor %}
							{%if check == true%}
							{%else%}
							<div class="col-xs-12">
								{%include 'product-list-item'%}
							</div>
							{%endif%}
							{% endfor %}
						</div>
						<div class="text-xs-right">
							{% if paginate.pages > 1 %}
							<div id="Huratips-Pagination">
								{% if paginate.next %}
								<a href="{{ paginate.next.url }}">Loading More</a>
								{% endif %}  
							</div>
							{% include 'collection-paginate-pages' %}
							{% endif %}
						</div>
						{% else %}
						<div class="alert alert-warning alert-dismissible fade in" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
							</button>
							Không có sản phẩm nào trong danh mục này.
						</div>
						{% endif %}
					</section>
					{% endpaginate %}
				</div>
			</section>
		</div>
	</div>
	<script>
	</script>
</section>