{% include 'breadcrumb' %} 

<section class="login panel-login account-page ptb-50">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<h1 class="title-headding order-headding title-1">Đơn hàng {{ order.name }}				
				</h1>				
				<span class="note order_date"><i>Ngày tạo &mdash; {{ order.created_at | date: "%d/%m/%Y, %I:%M%p" }}</i></span>
				{% if order.cancelled %}
				<div id="order_cancelled" class="flash notice">
					<h5 id="order_cancelled_title">Hủy lúc <span class="note">{{ order.cancelled_at | date: "%d/%m/%Y, %I:%M%p" }}</span></h5>
					<span class="note">Lý do hủy: {% if order.cancel_reason == "customer" %}Khách hàng yêu cầu{% else %}{{ order.cancel_reason }}{% endif %}</span>
				</div>
				{% endif %}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div id="order_payment" class="span6 box-address margin-top-20">
					<div class="box-header">
						<h2 class="title-head">Địa chỉ thanh toán</h2>
						<p>
							<span class="note">Trạng thái thanh toán:</span> 
							<i i class="status_{{ order.financial_status }}">
								{% case order.payment_status %}<!-- order.financial_status -->
								{% when 'paid' %}
								Đã thanh toán
								{% when 'unpaid' %}
								Chưa thanh toán
								{% else %}
								Thanh toán một phần
								{% endcase %}
							</i>
						</p>
					</div>
					<div class="address note">
						<p><i class="fa fa-user"></i> {{ order.billing_address.name }}</p>
						<p><i class="fa fa-map-marker"></i> 
							{{ order.billing_address.street }}

							{{ order.billing_address.city }}, {{ order.billing_address.province }},
							{{order.billing_address.country }} {{ order.billing_address.zip }}
						</p>						
						<p><i class="fa fa-phone"> </i>{{ order.shipping_address.phone }}</p>

					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				{% if order.shipping_address %}
				<div id="order_shipping" class="span6 box-address margin-top-20">
					<div class="box-header">
						<h2 class="title-head">Địa chỉ giao hàng</h2>
						<p>
							<span class="note">Trạng thái hoàn thành:</span> 
							<i  class="status_{{ order.shipping_status }}"> <!-- order.fulfillment_status -->
								{% case order.shipping_status %} <!-- order.fulfillment_status -->
								{% when 'fulfilled' %}
								Chuyển toàn bộ
								{% when 'partially_fulfilled' %}
								Chuyển một phần
								{% else %}
								Chưa giao hàng
								{% endcase %}
							</i>
						</p>
					</div>
					<div class="address note">
						<p><i class="fa fa-user"></i> {{ order.shipping_address.name }}</p>
						<p><i class="fa fa-map-marker"></i> 
							{{ order.shipping_address.street }}

							{{ order.shipping_address.city }}, {{ order.shipping_address.province }}
							{{ order.shipping_address.country }} {{ order.shipping_address.zip }}
						</p>						
						<p><i class="fa fa-phone"> </i>{{ order.shipping_address.phone }}</p>
					</div>
				</div>
				{% endif %}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="table-responsive-block margin-top-20">
					<table id="order_details" class="table table-cart">
						<thead class="thead-default">
							<tr>
								<th>Sản phẩm</th>
								<th>Mã sản phẩm</th>
								<th>Giá</th>
								<th>Số lượng</th>
								<th>Tổng</th>
							</tr>
						</thead>
						<tbody>
							{% for line_item in order.line_items %}
							<tr>
								<td data-title="Tên">
									<a href="{{line_item.url}}">{{line_item.product.title}}{%if line_item.variant.title !='Default Title' %} {{line_item.variant.title}}{%endif%}</a></td>
								<td data-title="Mã SKU">{{ line_item.sku }}&nbsp;</td>
								<td data-title="Giá" class="numeric">{{ line_item.price | money }}</td>
								<td data-title="Số lượng" class="numeric">{{ line_item.quantity }}</td>
								<td data-title="Tổng" class="numeric">{{ line_item.quantity | times: line_item.price | money }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>			
			<div class="col-md-12 col-sm-12 col-xs-12">				
				<table class="table  totalorders">					
					<tfoot>
						<tr class="order_summary ">
							<td class="fix-width-200">Tạm tính:</td>								
							<td class="total money right">{{ order.subtotal_price | money }}</td>
						</tr>   
						{% for shipping_method in order.shipping_methods %}
						<tr class="order_summary ">
							<td class="fix-width-200" colspan="">Phí vận chuyển ({{ shipping_method.title }}):</td>

							<td class="total money right">{{ shipping_method.price | money }}</td>
						</tr>
						{% endfor %}
						<tr class="order_summary order_total">
							<td class="fix-width-200">Tổng tiền:</td>								
							<td class="right"><strong>{{ order.total_price | money }} {{ order.currency }}</strong></td>
						</tr>   
					</tfoot>
				</table>
			</div>
			<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="text-center">
					<a href="/account" class="btn btn-green"><i class="fa fa-reply" aria-hidden="true"></i> Trang thông tin tài khoản</a>
				</div>
			</div>
		</div>
	</div>
</section>