{% include 'breadcrumb' %} 
<section class="signup account-page ptb-50">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="row">					
					<div class="col-xs-12 col-sm-12 col-lg-12">						
						<div class="page-title">
							<h1 class="title-head widget-title"><span class="light-font">Thông tin</span> <strong>tài khoản</strong></h1>
						</div>
						<div class="form-signup" > 
							<p><i>Xin chào, {{ customer.name }}</i></p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-3 col-md-push-9 col-lg-3 col-lg-push-9">
						<div class="block block-account margin-bottom-20">
							<div class="block-title"><h2 class="widget-title"><span class="light-font">Thông tin</span> <strong>khách hàng</strong> </h2></div>
							<div class="divider-full-1"></div>
							<div class="block-content form-signup block-edit-padding">
								<p><i class="fa fa-user"></i> {{ customer.last_name }} {{ customer.first_name }}</p>
								<p><i class="fa fa-map-marker"></i> 
									{{ customer.default_address.address1 }}, {{ customer.default_address.city}} {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}
								</p>
								{% if customer.default_address.phone != null %}
								<p><i class="fa fa-phone"> </i>{{ customer.default_address.phone }}</p>
								{% endif %}
								<div class="margin-top-20"><a href="/account/addresses" class="btn btn-green btn-full"><i class="fa fa-book"></i> Sổ địa chỉ ({{ customer.addresses_count }})</a></div>
							</div>

						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-9 col-md-pull-3 col-lg-9 col-lg-pull-3">
						<div class="form-signup"><h2 class="widget-title"><span class="light-font">Đơn hàng</span><strong> gần nhất</strong></h2></div>
						{% paginate customer.orders by 10 %}
						<div class="my-account">
							<div class="dashboard">
								<div class="recent-orders table-responsive-block">
									<div class="table-order ">
										<table class="table table-cart" id="my-orders-table">
											<thead class="thead-default">
												<tr>
													<th>#</th>
													<th>Ngày</th>
													<th>Chuyển đến</th>
													<th>Địa chỉ</th>
													<th>Giá trị</th>
													<th>Tình trạng thanh toán</th>
													<th>&nbsp;</th>
												</tr>
											</thead>
											<tbody>
												{% if customer.orders.size > 0 %}
												{% for order in customer.orders %}
												<tr class="first odd">
													<td>{{ order.name | link_to: order.customer_url }}</td>
													<td>{{ order.created_at | date: '%d/%m/%Y' }}</td>
													<td>{{ order.financial_status }}</td>
													<td>
														{{ order.fulfillment_status }}
													</td>
													<td><span class="price">{{ order.total_price | money }}</span></td>
													<td>
														<em>
															{% if order.cancelled %}
															<span style="color:red">
																Đã hủy
															</span>
															{% else %}
															{% case order.payment_status %}
															{% when 'paid' %}
															Đã thanh toán
															{% when 'unpaid' %}
															Chưa thanh toán
															{% else %}
															Thanh toán một phần
															{% endcase %}
															{% endif %}
														</em>
													</td>
													<td class="a-center last"><span class="nobr"> <a href="{{  order.customer_url }}">Chi tiết</a></span></td>
												</tr>
												{% endfor %}
												{% else %}
												<tr>
													<td colspan="6"><p>Không có đơn hàng nào.</p></td></tr>
												{% endif %}
											</tbody>
										</table>
									</div>
									<div class="text-xs-right">
										{% if paginate.pages > 1 %}
										{% include 'paginate-pages' %}
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						{% endpaginate %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>