{% include 'breadcrumb' %} 
<section class="account-page ptb-50">
	<div class="container">
		<h1 class="title-head"><a href="#">{{ page_title }}</a></h1>
		<div class="row">
			<div class="col-lg-12 ">
				<div class="page-login">
					<div id="login">
						<span>Nếu chưa có tài khoản vui lòng đăng ký tại đây</span>
					{% form 'create_customer' %}
						<div class="form-signup" >
							{{ form.errors | default_errors }}
						</div>
						<div class="form-signup clearfix">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Họ</label>
										<input type="text" class="form-control form-control-lg" value="" name="customer[last_name]" id="lastName"  placeholder="Họ" required >
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Tên</label>
										<input type="text" class="form-control form-control-lg" value="" name="customer[first_name]" id="firstName"  placeholder="Tên" required >
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Email</label>
										<input type="email" class="form-control form-control-lg" value="" name="customer[email]" id="email"  placeholder="Địa chỉ Email" required="">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Mật khẩu</label>
										<input type="password" class="form-control form-control-lg" value="" name="customer[password]" id="password" placeholder="Mật khẩu" required >
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 text-xs-left">
									<button type="summit" value="Đăng ký" class="btn theme-btn btn-black">Đăng ký</button>
								</div>
							</div>
						</div>
						{% endform %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>