{% include 'breadcrumb' %} 
<section class="address panel-login account-page ptb-50">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-12">
				<h1 class="title-head" style="margin-top:0;">Địa chỉ của bạn</h1>
			</div>
			<div class="col-sm-12 col-lg-12">
				<div class="row">
					<div class="col-md-12">
						<p class="btn-row">
							<button class="btn-edit-addr btn btn-green" type="button" onclick="Haravan.CustomerAddress.toggleNewForm(); return false;" >+ Thêm địa chỉ</button> 							
						</p>
					</div>
					<div id="add_address" class="col-md-12 form-list" style="display:none; margin-top:30px;">
						{% form 'customer_address', customer.new_address %}
						<div class="clearfix row">
							<div class="col-xs-12 col-lg-12">
								<div class="form-group">
									<label>Tên<span class="required">*</span></label>
									<input type="text" class="form-control" name="address[first_name]" placeholder="Nhập tên của bạn" value="{{customer.first_name}}" required requiredmsg="Không được bỏ trống">
								</div>
							</div>
							<div class="col-xs-12 col-lg-12">
								<div class="form-group">
									<label>Họ<span class="required">*</span></label>
									<input type="text" class="form-control" name="address[last_name]" placeholder="Nhập họ của bạn" value="{{customer.last_name}}" required requiredmsg="Không được bỏ trống">
								</div>
							</div>
							<div class="col-xs-12 col-lg-12">
								<div class="form-group">
									<label>Công ty</label>
									<input type="text" class="form-control" name="address[company]" placeholder="Nhập công ty của bạn" value="{{form.company}}" >
								</div>
							</div>
							<div class="col-xs-12 col-lg-12">
								<div class="form-group">
									<label>Địa chỉ<span class="required">*</span></label>
									<input type="text" class="form-control" name="address[address1]" placeholder="Nhập địa chỉ của bạn" value="{{form.address1}}" required requiredmsg="Không được bỏ trống">
								</div>
							</div>
							<div class="col-xs-12 col-lg-12">
								<div class="form-group">
									<label>Địa chỉ 2</label>
									<input type="text" class="form-control" name="address[address2]"  placeholder="Nhập địa chỉ của bạn" value="{{form.address2}}" >
								</div>
							</div>
							<div class="col-xs-12 col-lg-12">
								<div class="form-group">
									<label>Thành phố<span class="required">*</span></label>
									<input type="text" class="form-control" name="address[city]"  placeholder="Nhập thành phố của bạn" value="{{form.city}}" required requiredmsg="Không được bỏ trống">
								</div>
							</div>
							<div class="col-xs-12 col-lg-12">
								<div class="form-group">
									<label>Quốc gia<span class="required">*</span></label>
									<select name="address[country]" class="form-control mySelect2" id="mySelect1" data-default="Việt Nam" >{{ country_option_tags }}</select>
								</div>
							</div>
							<div class="col-xs-12 col-lg-12">
								<div class="form-group" style="margin-bottom:0;">
									<label>Số điện thoại<span class="required">*</span></label>
									<input type="text" class="form-control" name="address[phone]" placeholder="Nhập số điện thoại của bạn" value="{{form.phone}}" required requiredmsg="Không được bỏ trống">
								</div>
							</div>

							<div class="checkbox  col-xs-12 col-lg-12">
								<label class="c-input c-checkbox">
									{{ form.set_as_default_checkbox }}
									Đặt là địa chỉ mặc định?
								</label>
							</div>
							<div class="form-group clearfix col-xs-12">

								<div class="col-sm-12">
									<div class="row">										
										<button class="btn btn-lg btn-green" type="submit"><span><i class="fa fa-check"></i> Thêm địa chỉ</span></button>
										<button class="btn btn-lg btn-green article-readmore" type="button" onclick="Haravan.CustomerAddress.toggleNewForm(); return false;"><span><i class="fa fa-close"></i> Hủy</span></button>									
									</div>
								</div>
							</div>
						</div>
						{% endform %}
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-lg-12">
				<div class="row total_address">
					{% for address in customer.addresses %}      
					<div id="view_address_{{address.id}}" class="customer_address col-xs-12">
						<div class="row" style="border-top: 1px #ebebeb solid;padding-top: 30px;margin-top: 30px;">
							<div class="col-sm-6">
								<div class="address_info ">
									<div class="info clearfix">
										<span class="address-group">
											<div class="address form-signup">
												<p><strong>Tên tài khoản: </strong>{{address.last_name }} {{ address.first_name }}
													{% if address.id == customer.default_address.id %}
													<small>(Địa chỉ mặc định)</small>
													{% endif %}
												</p>
												<p><strong>Công ty:</strong> {{ address.company }}</p>
												<p>
													<strong>Địa chỉ: </strong>
													{{ address.address1 }},
													{{ address.province}},
													{{ address.country }}
												</p>
												<p><strong>Quốc tịch:</strong> {{ address.country }}</p>
												<p><strong>Số điện thoại:</strong> {{ address.phone }}</p>
											</div>
										</span>
									</div>
								</div>
								<div id="tool_address_{{address.id}}" class="">
									<p class="btn-row">
										<button class="btn-edit-addr btn btn-green" type="button" data-toggle="collapse" data-target="#collapseExample-{{address.id}}" aria-expanded="false" aria-controls="collapseExample-{{address.id}}">
											<i class="fa fa-undo"></i> Chỉnh sửa địa chỉ
										</button>
										<button class="{% if address.id == customer.default_address.id %}hidden {% endif %}btn btn-green btn-edit-addr" type="button" onclick="Haravan.CustomerAddress.destroy({{address.id}});return false"><span><i class="fa fa-close"></i> Xóa</span></button>
									</p>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="collapse" id="collapseExample-{{address.id}}" style="display: none;">
									<div id="edit_address_{{address.id}}" class="form-list">
										{% form 'customer_address', address %}
										<div class="clearfix">
											<div class="form-group">
												<label>Tên<span class="required">*</span></label>
												<input type="text" class="form-control" name="address[first_name]" value="{{form.first_name}}" required requiredmsg="Không được bỏ trống">
											</div>
											<div class="form-group">
												<label>Họ<span class="required">*</span></label>
												<input type="text" class="form-control" name="address[last_name]" value="{{form.last_name}}" required requiredmsg="Không được bỏ trống">
											</div>
											<div class="form-group">
												<label>Công ty</label>
												<input type="text" class="form-control" name="address[company]" value="{{form.company}}" >
											</div>
											<div class="form-group">
												<label>Địa chỉ<span class="required">*</span></label>
												<input type="text" class="form-control" name="address[address1]" value="{{form.address1}}" required requiredmsg="Không được bỏ trống">
											</div>
											<div class="form-group">
												<label>Địa chỉ 2</label>
												<input type="text" class="form-control" name="address[address2]" value="{{form.address2}}" >
											</div>
											<div class="form-group">
												<label>Thành phố<span class="required">*</span></label>
												<input type="text" class="form-control" name="address[province]" value="{{form.city}}" required requiredmsg="Không được bỏ trống">
											</div>
											<div class="form-group">
												<label>Quốc gia<span class="required">*</span></label>
												<select name="address[country]" class="form-control mySelect2" id="mySelect2_{{address.id}}" data-default="{{form.country}}" >{{form.country}}{{ country_option_tags }}</select>
											</div>
											<div class="form-group">
												<label>Số điện thoại<span class="required">*</span></label>
												<input type="text" class="form-control" name="address[phone]" value="{{form.phone}}" required requiredmsg="Không được bỏ trống">
											</div>
											<div class="checkbox">
												<label class="c-input c-checkbox">
													{{ form.set_as_default_checkbox }}
													Đặt là địa chỉ mặc định?
												</label>
											</div>																												    																																																																	     	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	    																																	             										        	  
										</div>
										<div class="form-group clearfix">											
											<div class="col-sm-9">
												<div class="row">
													<button class="btn btn-green" type="submit"><span><i class="fa fa-check-square-o"></i> Cập nhật địa chỉ</span></button>																	
													<button id="btn-{{address.id}}" class="btn btn-green" type="button" data-toggle="collapse" data-target="#collapseExample-{{address.id}}" aria-expanded="false" aria-controls="collapseExample-{{address.id}}">
														<i class="fa fa-close"></i> Hủy
													</button>
												</div>
											</div>
										</div>
										{% endform %}
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %} 
				</div> 
			</div>
			<div class="col-sm-12 col-lg-12">
				<div class="text-centers" style="margin-top:40px;">
					<a href="/account" class="btn btn-green"><i class="fa fa-reply" aria-hidden="true"></i> Trang thông tin tài khoản</a>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" charset="utf-8">
	// initialize observers on address selectors
	new Haravan.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});  
	{% for address in customer.addresses %}
	new Haravan.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
	{% endfor %}
$(document).ready(function() {

		 var elements = $("input, select, textarea");
		 for (var i = 0; i < elements.length; i++) {
			 elements[i].oninvalid = function(e) {
				 e.target.setCustomValidity("");
				 if (!e.target.validity.valid) {
					 e.target.setCustomValidity(e.target.getAttribute("requiredmsg"));
				 }
			 };
			 elements[i].oninput = function(e) {
				 e.target.setCustomValidity("");
			 };
		 }
		 $('.btn-edit-addr').click(function(){
			 var ctr = $(this).attr('aria-controls');			
			 $('#'+ctr).slideToggle("fast");
		 });
		 $('.mySelect2').each(function(){
			 var old = $(this).attr('data-default');			  
			 $(this).val(old);
			 $(this).change();
		 })

	 })
</script>
<style>
.collapse.in{display:block !important;}
</style>