{% include 'breadcrumb' %} 
<section class="account-page ptb-50">
	<div class="container">
		<h1 class="title-head"><span>{{ page_title }}</span></h1>
		<div class="row">
			<div class="col-md-6">
				<div class="page-login margin-bottom-30">
					<div id="login">
						<span>
							Nếu bạn đã có tài khoản, đăng nhập tại đây.
						</span>
						{% form 'customer_login' %}
						<div class="form-signup" >
							{% for field in form.errors %}
							{{ form.errors.messages[field] }} <br/>
							{% endfor %}
						</div>
						<div class="form-signup clearfix pt-15">
							<div class="form-group">
								<label>Email: </label>
								<input type="email" class="form-control form-control-lg" value="" name="customer[email]" id="customer_email" placeholder="Email" required />
							</div>
							<div class="form-group">
								<label>Mật khẩu: </label>
								<input type="password" class="form-control form-control-lg" value="" name="customer[password]" id="customer_password" placeholder="Mật khẩu" required />
							</div>
							<div class="pull-xs-left" style="margin-top: 25px;">
								<button class="theme-btn btn-black btn" type="submit">Đăng nhập</button>
								<a href="/account/register" class="btn btn-link-style btn-register" style="margin-left: 20px;color:#ff9248;text-decoration: underline; ">Đăng ký</a>
							</div>
						</div>
						{% endform %}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div id="recover-password"  class="form-signup">
					<span>
						Bạn quên mật khẩu? Nhập địa chỉ email để lấy lại mật khẩu qua email.
					</span>					
					{% form 'recover_customer_password' %}
					<div class="form-signup" >
						{% for field in form.errors %}
						{{ form.errors.messages[field] }} <br/>
						{% endfor %}
					</div>
					<div class="form-signup clearfix pt-15">
						<div class="form-group">
							<label>Email: </label>
							<input type="email" class="form-control form-control-lg" value="" name="email" id="recover-email" placeholder="Email" required />
						</div>
					</div>
					<div class="action_bottom">
						<button class="theme-btn btn-black btn" type="submit">Lấy lại mật khẩu</button>
					</div>
					{% endform %}
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	function showRecoverPasswordForm() {
		document.getElementById('recover-password').style.display = 'block';
		document.getElementById('login').style.display='none';
	}

	function hideRecoverPasswordForm() {
		document.getElementById('recover-password').style.display = 'none';
		document.getElementById('login').style.display = 'block';
	}
</script>