{% include 'breadcrumb' %}
<section>
  <div class="row">
    <div class="container">
		<div id="customer-reset-password">
		  <div class="row">
			<div class="span12">
			  <h1>Lấy lại mật khẩu</h1>

			  {% form 'reset_customer_password' %}
			  {{ form.errors | default_errors }}

			  <label class="label" for="password">Mật khẩu mới</label>
			  <input type="password" value="" name="Password" id="customer_password" class="text" size="16" />

			  <label class="label" for="password_confirmation">Xác nhận mật khẩu</label>
			  <input type="password" value="" name="ConfirmPassword" id="customer_password_confirmation" class="text" size="16" />

			  <div class="action_bottom">
				<input class="btn" type="submit" value="Đặt lại mật khẩu" />
			  </div>
			  {% endform %}
			</div>
		  </div>
		</div>
	  </div>
	</div>
</section>