<h1 class="hidden">{{shop.name}} - {{store.description}}</h1>
{%for i in (1..10)%}
{%capture enable%}home_section_{{i}}{%endcapture%}
{% if settings[enable] != 'none' %}
<section class="awe-section-{{forloop.index}}">	
	{% include settings[enable] %}
</section>
{% endif %}
{%endfor%}