<div class="hidden">
	<div class="container">
		<h1>Tất cả danh mục</h1>
	</div>
</div>
<section class="breadcrumb-bg">
	<div class="theme-container container">
		<div class="row">
			<div class="col-xs-12">
				<div class="site-breadcumb white-clr"> 
					<ul class="breadcrumb breadcrumb-menubar" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">					
						<li class="home">
							<a itemprop="url" href="/" ><span itemprop="title">Trang chủ</span></a>					
						</li>
						<li><strong itemprop="title">Tất cả danh mục</strong></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="container margin-top-40">
	<div class="list-category row">
		{% for collection in collections %}
		{% if collection.products_count > 0 %}
		<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-30">
			<div class="center">
				<h3 class="margin-bottom-15">{%if collection.title == 'All'%}Tất cả sản phẩm{%else%}{{ collection.title }}{%endif%}</h3>
			</div>
			<div class="collection-list-pro">
				<div class="row">
					{% for product in collection.products limit: 4 %}
					{% assign on_sale = false %}
					{% if product.compare_at_price_max > product.price_min and product.compare_at_price_max > 0 %}
					{% assign on_sale = true %}
					{% endif %}
					{% assign sold_out = true %}
					{% if product.available  %}
					{% assign sold_out = false %}
					{% endif %} 
					{% assign variantCount = product.variants | size %}
					{% assign on_var = false %}
					{% if product.price_max > product.price_min %}
					{% assign on_var = true %}
					{% endif %}
					{% capture discount %} 
					{{ product.selected_or_first_available_variant.compare_at_price | minus:product.selected_or_first_available_variant.price | times:100 | divided_by:product.selected_or_first_available_variant.compare_at_price | round }}% 
					{% endcapture %}				
					<div class="col-md-3 col-sm-6 col-xs-6">
						{%include 'product-grid-item'%}			
					</div>		
					{% endfor %}
				</div>
				<div class="text-center">
					<a href="{{ collection.url }}" class="theme-btn-sm-2">Xem tất cả</a>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div><!-- /.container -->