{% include 'breadcrumb' %}
<section class="contact-wrap sec-space-bottom">
	<div class="container rel-div pt-50">

		<div class="row">
			<div class="col-md-8">
				<div class="contact-map">
					{{ settings.contactr_contact_maps }}
				</div>
			</div>
			<div class="col-md-4">
				<div class="contact-details">
					<h1 class="fsz-25"><span class="light-font">Thông tin Liên hệ</span></h1> 
					<h5 class="clr-txt fsz-12 pt-15">{{ shop.name }}</h5>
					<ul>
						<li> <strong>Địa chỉ:</strong> <i> {{ settings.store_address }}</i> </li>
						<li> <strong>Điện thoại:</strong> <i> <a href="tel:{{ settings.store_phone }}">{{ settings.store_phone }}</a></i> </li>
						<li> <strong>Email: </strong> <i> <a href='mailto:{{ settings.store_email }}'>{{ settings.store_email }}</a> </i> </li>
					</ul>
					<p>
						{{ settings.contact_contact_info }}
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<h3 class="fsz-25 text-center"><span class="light-font">Liên hệ {{ shop.name }}</span></h3> 
			<h6 class="sub-title-1 text-center">Bạn hãy điền nội dung tin nhắn vào form dưới đây và gửi cho chúng tôi. Chúng tôi sẽ trả lời bạn sau khi nhận được.</h6>
			<div class="contact-form pt-50">
			{% form 'contact' %}
				{% if form.posted_successfully? %}
				<div class="alert alert-success alert-dismissible fade in" role="alert">
					Cảm ơn bạn đã liên hệ với chúng tôi. Chúng tôi sẽ trả lời bạn sớm nhất có thể.
				</div>
				{% endif %}
				{% include 'form-errors-custom' %}
				<div class="row">
					<div class="form-group col-sm-6">
						<input class="form-control" name="contact[name]" placeholder="Họ và tên" data-validation-error-msg= "Không được để trống" data-validation="required" required type="text" />                                                                                     
					</div>
					<div class="form-group col-sm-6">
						<input class="form-control" name="contact[email]" placeholder="Email" data-validation="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" data-validation-error-msg= "Email sai định dạng" required type="email" />                                                                                     
					</div>
					<div class="form-group col-sm-12">
						<textarea class="form-control" name="contact[body]" placeholder="Nội dung liên hệ" cols="12" rows="4" data-validation-error-msg= "Không được để trống" data-validation="required" required></textarea>                                                                                     
					</div>
					<div class="form-group col-sm-12 text-center pt-15">                                               
						<button class="theme-btn-2" type="submit">Gửi tin nhắn</button>                                            
					</div>
				</div>
				{% endform %}
			</div>
		</div>
	</div>                
</section>