
<div class="container">
	{% include 'breadcrumb' %}
	{%if settings.enable_box_about%}
	<section class="top-bar-findstores">
		<div class="container">
			<div class="row">
				{%for i in (1..4)%}
				{%capture img%}icon_box_{{i}}.png{%endcapture%}
				{%capture title%}box_about_shop_{{i}}{%endcapture%}
				{%capture info%}box_about_info_shop_{{i}}{%endcapture%}
				<div class="item-col-4 col-sm-3 col-xs-10">
					<img src="{{ img | asset_url}}">
					<div class="content-right">
						<p class="numb text-top">{{settings[title]}}</p>
						<p class="text-bot">{{settings[info]}}</p>
					</div>
				</div>
				{%endfor%}
			</div>
		</div>
	</section>
	{%endif%}
	<div class="wysiwyg">

		<div id="page" class="row">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
				<div id="googleMap" style="width: 100%;height: 555px;">

				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="city">
				<div class="select-map">
					<strong>Chọn tỉnh/thành phố để xem địa chỉ của hàng</strong>

				</div>
				<div class="address-lists">
					<ul class="item-position" id="address_1">
						{%for link in linklists.he-thong-cua-hang.links%}
						{%assign col = link.object%}
						<li><a href="{{col.url}}?view=shop-master"><span>{{forloop.index}}.</span> {{col.title}} ({{col.products_count}})</a></li>
						{%endfor%}
					</ul>

				</div>
			</div>
		</div>
		{{ page.content }}
	</div>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwFuz-6UYNZBefpsiJ4DHAwYv703nf73U"></script>
<script>

var address_1_address = [
	{% for a in (1..10)%}
	{% capture shop %}address_1_shop_{{a}}{% endcapture %}
	{% capture location %}location_address_1_shop_{{a}}{% endcapture %}
	{%unless settings[shop] == ""%}
['{{settings[shop]}}',{{settings[location]}}],
	{%endunless%}
{%endfor%}
];


 function initialize(address) {
	 var map;
	 var bounds = new google.maps.LatLngBounds();
	 var mapOptions = {
		 mapTypeId: 'roadmap'
	 };


	 // Display a map on the page
	 map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);
	 map.setTilt(45);

	 // Multiple Markers
	 var markers = address;

	 // Info Window Content
	 var infoWindowContent = [
		 ['<div class="info_content">' +
			'<h4>Chi nhánh BTMC</h4>' +
			'</div>']
	 ];

	 // Display multiple markers on a map
	 var infoWindow = new google.maps.InfoWindow(), marker, i;

	 // Loop through our array of markers & place each one on the map
	 if(typeof markers[0]  == 'object'){
		 for( i = 0; i < markers.length; i++ ) {
			 var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
			 bounds.extend(position);
			 marker = new google.maps.Marker({
				 position: position,
				 map: map,
				 title: markers[i][0]
			 });

			 // Allow each marker to have an info window    
			 google.maps.event.addListener(marker, 'click', (function(marker, i) {
				 return function() {
					 infoWindow.setContent(infoWindowContent[i][0]);
					 infoWindow.open(map, marker);
				 }
			 })(marker, i));

			 // Automatically center the map fitting all markers on the screen
			 map.fitBounds(bounds);
			 // setzoom
			 var listener = google.maps.event.addListener(map, "idle", function() { 
				 {% comment %}
				 map.setZoom(12);
					{% endcomment %}
					google.maps.event.removeListener(listener); 
					});
				 }
			 }else
																										{
																										var position = new google.maps.LatLng(markers[1], markers[2]);
			 bounds.extend(position);
			 marker = new google.maps.Marker({
				 position: position,
				 map: map,
				 title: markers[0]
			 });

			 // Allow each marker to have an info window    
			 google.maps.event.addListener(marker, 'click', (function(marker) {
				 return function() {
					 infoWindow.setContent(infoWindowContent[i][0]);
					 infoWindow.open(map, marker);
				 }
			 })(marker));

			 // Automatically center the map fitting all markers on the screen
			 map.fitBounds(bounds);
			 // setzoom
			 var listener = google.maps.event.addListener(map, "idle", function() { 
				 map.setZoom(17);
				 google.maps.event.removeListener(listener); 
			 });
		 }
	 }

	 initialize(address_1_address);
	 $('.select_city').change(function(){
		 var city = $('.select_city').val();	
		 if (city == 'address_1'){
			 initialize(address_1_address);
			 jQuery(".address-lists>ul").addClass("hidden");
			 jQuery("ul#address_1").removeClass("hidden");
		 }
		

	 });
	 $("ul#address_1 li").click(function(){
		 var x = $(this).index();
		 initialize(address_1_address[x]);
	 });
	 
	 </script>