{% include 'breadcrumb' %}
<section class="page account-page ptb-50">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="page-title category-title">
					<h1 class="title-head"><a href="#">{{ page_title }}</a></h1>
				</div>
				<div class="content-page rte">
					{{ page.content }}
				</div>
			</div>
		</div>
	</div>
</section>