<section class="contact-wrap sec-space-bottom page-daily">
	<div class="container rel-div pt-50">

		<div class="row">
			<div class="col-md-6 col-xs-12">
				<div class="page-title category-title">
					<h1 class="title-head"><a href="#">{{ page_title }}</a></h1>
				</div>
				<div class="content-page rte">
					{{ page.content }}
				</div>
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="contact-form pt-50">
					{% form 'contact' %}
					{% if form.posted_successfully? %}
					<div class="alert alert-success alert-dismissible fade in" role="alert">
						Cảm ơn bạn đã liên hệ với chúng tôi. Chúng tôi sẽ trả lời bạn sớm nhất có thể.
					</div>
					{% endif %}
					{% include 'form-errors-custom' %}
					<div class="row">
						<div class="form-group col-sm-6">
							<label for="ContactFormName" class="hidden-label">Tên:</label>
							<input class="form-control" name="contact[name]" placeholder="" data-validation-error-msg= "Không được để trống" data-validation="required" required type="text" />                                                                                     
						</div>
						<div class="form-group col-sm-6">
							<label for="ContactFormEmail" class="hidden-label">Email:</label>
							<input class="form-control" name="contact[email]" placeholder="" data-validation="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" data-validation-error-msg= "Email sai định dạng" required type="email" />                                                                                     
						</div>
						<div class="form-group col-sm-6">
							<label for="ContactFormPhone" class="hidden-label">Số điện thoại:</label>
							<input type="tel" id="ContactFormPhone" class="input-full" name="contact[sodienthoai]" placeholder="Số điện thoại của bạn" pattern="[0-9\-]*" value="{{ customer.phone }}">
						</div>
						<div class="form-group col-sm-6">
							<label for="ContactFormCity" class="hidden-label">Chọn tỉnh/thành phố:</label>
							<select name= "contact[city]">
								<option value="An Giang">An Giang
								<option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu
								<option value="Bắc Giang">Bắc Giang
								<option value="Bắc Kạn">Bắc Kạn
								<option value="Bạc Liêu">Bạc Liêu
								<option value="Bắc Ninh">Bắc Ninh
								<option value="Bến Tre">Bến Tre
								<option value="Bình Định">Bình Định
								<option value="Bình Dương">Bình Dương
								<option value="Bình Phước">Bình Phước
								<option value="Bình Thuận">Bình Thuận
								<option value="Bình Thuận">Bình Thuận
								<option value="Cà Mau">Cà Mau
								<option value="Cao Bằng">Cao Bằng
								<option value="Đắk Lắk">Đắk Lắk
								<option value="Đắk Nông">Đắk Nông
								<option value="Điện Biên">Điện Biên
								<option value="Đồng Nai">Đồng Nai
								<option value="Đồng Tháp">Đồng Tháp
								<option value="Đồng Tháp">Đồng Tháp
								<option value="Gia Lai">Gia Lai
								<option value="Hà Giang">Hà Giang
								<option value="Hà Nam">Hà Nam
								<option value="Hà Tĩnh">Hà Tĩnh
								<option value="Hải Dương">Hải Dương
								<option value="Hậu Giang">Hậu Giang
								<option value="Hòa Bình">Hòa Bình
								<option value="Hưng Yên">Hưng Yên
								<option value="Khánh Hòa">Khánh Hòa
								<option value="Kiên Giang">Kiên Giang
								<option value="Kon Tum">Kon Tum
								<option value="Lai Châu">Lai Châu
								<option value="Lâm Đồng">Lâm Đồng
								<option value="Lạng Sơn">Lạng Sơn
								<option value="Lào Cai">Lào Cai
								<option value="Long An">Long An
								<option value="Nam Định">Nam Định
								<option value="Nghệ An">Nghệ An
								<option value="Ninh Bình">Ninh Bình
								<option value="Ninh Thuận">Ninh Thuận
								<option value="Phú Thọ">Phú Thọ
								<option value="Quảng Bình">Quảng Bình
								<option value="Quảng Bình">Quảng Bình
								<option value="Quảng Ngãi">Quảng Ngãi
								<option value="Quảng Ninh">Quảng Ninh
								<option value="Quảng Trị">Quảng Trị
								<option value="Sóc Trăng">Sóc Trăng
								<option value="Sơn La">Sơn La
								<option value="Tây Ninh">Tây Ninh
								<option value="Thái Bình">Thái Bình
								<option value="Thái Nguyên">Thái Nguyên
								<option value="Thanh Hóa">Thanh Hóa
								<option value="Thừa Thiên Huế">Thừa Thiên Huế
								<option value="Tiền Giang">Tiền Giang
								<option value="Trà Vinh">Trà Vinh
								<option value="Tuyên Quang">Tuyên Quang
								<option value="Vĩnh Long">Vĩnh Long
								<option value="Vĩnh Phúc">Vĩnh Phúc
								<option value="Yên Bái">Yên Bái
								<option value="Phú Yên">Phú Yên
								<option value="Tp.Cần Thơ">Tp.Cần Thơ
								<option value="Tp.Đà Nẵng">Tp.Đà Nẵng
								<option value="Tp.Hải Phòng">Tp.Hải Phòng
								<option value="Tp.Hà Nội">Tp.Hà Nội
								<option value="TP  HCM">TP HCM
							</select>
						</div>
						<div class="form-group col-sm-12">
							<label for="ContactFormbody" class="hidden-label">Tin nhắn:</label>
							<textarea class="form-control" name="contact[body]" placeholder="" cols="12" rows="4" data-validation-error-msg= "Không được để trống" data-validation="required" required></textarea>                                                                                     
						</div>
						<div class="form-group col-sm-12 pt-15">                                               
							<button class="theme-btn-2" type="submit">Hoàn tất</button>                                            
						</div>
					</div>
					{% endform %}
				</div>
			</div>
		</div>
		
	</div>                
</section>