{% layout none %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ page_title }}</title>
    {{ "//bizweb.dktcdn.net/assets/themes_support/font-roboto.css" | stylesheet_tag }}
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        img {
            border: 0;
        }

        body {
            margin: 0;
            background-color: #e6e8ea;
            color: #46484a;
            font-family: "Roboto",Helvetica Neue,Helvetica,Arial,sans-serif;
            font-weight: 300;
        }

        h1, h2, h3, h4, h5, h6 {
            color: #000;
            margin: 5px 0 10px 0;
            font-weight: 400;
        }

        h3, h4, h5, h6 {
            font-weight: 700;
        }

        a {
            color: #3084CA;
        }

            a:hover {
                color: #25669C;
            }

        p {
            color: #666;
            margin-bottom: 13px;
            font-size: 14px;
        }

        ul, ol {
            margin-bottom: 13px;
            margin-left: 15px;
        }

        ol {
            margin-left: 25px;
        }

        input.btn {
            font-weight: bold;
            cursor: pointer;
            border: 1px solid #bbb;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #aaa;
            padding: 4px 6px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            text-shadow: 0px 1px 1px #fff;
            color: #3a3a3a;
        }

            input.btn:hover {
                -webkit-box-shadow: 0px 0px 3px #3084CA;
                -moz-box-shadow: 0px 0px 3px #3084CA;
            }

            input.btn:active, input.btn:focus {
                outline: none;
                -moz-outline-style: none;
                background: #eee;
                border-top: 1px solid #aaa;
                border-bottom: 1px solid #ccc;
                color: #555;
            }

        #container {
            width: 500px;
            margin: 50px auto 0 auto;
        }

        #login {
            background: #fff;
            border: none;
            border-bottom: 1px solid #ccc;
            margin: 50px auto 0 auto;
            padding: 30px;
            width: 450px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

            #login h1 {
                margin: 0 0 18px 0;
                text-align: center;
                line-height: 30px;
            }

            #login .default-text {
                font-style: italic;
                margin-bottom: 1.5em;
                font-size: 17px;
                display: block;
                margin-top: 33px;
                text-align: center;
            }

        form#store_password {
            border-top: 1px solid #e0e0e0;
            padding-top: 25px;
            margin-top: 25px;
            font-size: 80%;
            margin-bottom: 35px;
        }

            form#store_password label {
                color: #777;
                padding: 6px 0;
            }

        #store_password #password {
            font-size: 14px;
            padding: 4px 6px;
            border: 1px solid #ccc;
            outline: none;
            background: #e9e9e9;
            background: -moz-linear-gradient(top, #ececec 0%, #fff 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#fff));
        }

        #store_password label, #store_password input {
            float: left;
            margin-right: 3px;
        }

        #footer {
            margin-top: 15px;
            margin-bottom: 40px;
            font-size: 13px;
            color: #666;
            text-shadow: 0 1px rgba(255,255,255,0.4);
            text-align: center;
        }

        #powered {
            color: #9c9c9c;
            display: block;
            margin-top: 15px;
        }

            #powered a {
                color: #9c9c9c;
                text-decoration: none;
            }

                #powered a:hover {
                    text-decoration: underline;
                }

        .errors {
            background: #feebeb;
            padding: 4px 5px;
            font-size: 15px;
            color: #7e1412;
            display: block;
            margin-bottom: 15px;
        }

            .errors ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

        .center {
            text-align: center;
            display: block;
            font-size: 17px;
        }
    </style>
</head>
<body>
    <div id='container'>
        <div id='login'>
            <div>
                <h1>{{ store.name }}</h1>
                {% if store.password_message and store.password_message != '' %}
                <p><span class="default-text">{{ store.password_message }}</span></p>
                {% else %}
                <p><span class="default-text">Website đang hoàn thiện...</span></p>
                {% endif %}
            </div>
            {% form 'store_password' %}
            {{ form.errors | default_errors }}
            <label for='password'>Nhập mật khẩu để vào cửa hàng: </label>
            <input type='password' name='password' id='password' autofocus />
            <input class="btn" name="commit" type="submit" value="Nhập" />
            {% endform %}
        </div>
        <div id='footer'>
            <div id='owner'>Bạn có phải chủ cửa hàng? <a href="/admin">Truy cập hệ thống quản trị</a></div>
            <div id='powered'>
                Cung cấp bởi <a href="//www.bizweb.vn" target="_blank" title="Tạo website bán hàng với Bizweb" rel="nofollow">Bizweb</a>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.getElementById('password').focus();
    </script>
</body>
</html>