<!-- /templates/product.liquid -->
{%for collection in product.collections%}
{% capture collection %}{{collection.title}}{%endcapture%}
{%endfor%}
{% include 'breadcrumb' %}
<section class="product account-page ptb-50" itemscope itemtype="http://schema.org/Product">	
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-xs-12">
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<div class="product-image" >
							<div id="ProductPhoto" >
								{% if product.images.size > 0 %}

								{%for img in product.images%}
								<a>
									<img src="{{ img | img_url: 'original' }}" alt="{{ product.title }}"/>
								</a>
								{%endfor%}
								{%else%}
								<img src="{{ img | img_url: 'original' }}" alt="{{ product.title }}"/>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-xs-12">
						{%assign mota = product.description | split: '####'%}
						{{mota[0]}}
					</div>
					<div class="col-xs-12">
						{%assign mota = product.description | split: '####'%}
						{{mota[1]}}
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-xs-12" id="city">
				<ul class="tabs">
					<li class="tab-link current" data-tab="tab1">{{settings.showroom_title}}</li>
					<li class="tab-link" data-tab="tab2">{{settings.address_title}}</li>
				</ul>
				<div id="tab1" class="tab-content current">
					<ul class="item-positions">
						{%for link in linklists[settings.menu_map_address_showroom_1].links%}
						<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
						{%endfor%}
					</ul>
				</div>
				<div id="tab2" class="tab-content">
					<select class="select_city" style="display:block;text-align:center">
						{%if settings.address_1 != '' %}<option {%if collection == settings.address_1%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_1 | handleize}}">{{settings.address_1}}</option>{%endif%}
						{%if settings.address_2 != '' %}<option {%if collection == settings.address_2%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_2 | handleize}}">{{settings.address_2}}</option>{%endif%}
						{%if settings.address_3 != '' %}<option {%if collection == settings.address_3%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_3 | handleize}}">{{settings.address_3}}</option>{%endif%}
						{%if settings.address_4 != '' %}<option {%if collection == settings.address_4%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_4 | handleize}}">{{settings.address_4}}</option>{%endif%}
						{%if settings.address_5 != '' %}<option {%if collection == settings.address_5%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_5 | handleize}}">{{settings.address_5}}</option>{%endif%}
						{%if settings.address_6 != '' %}<option {%if collection == settings.address_6%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_6 | handleize}}">{{settings.address_6}}</option>{%endif%}
						{%if settings.address_7 != '' %}<option {%if collection == settings.address_7%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_7 | handleize}}">{{settings.address_7}}</option>{%endif%}
						{%if settings.address_8 != '' %}<option {%if collection == settings.address_8%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_8 | handleize}}">{{settings.address_8}}</option>{%endif%}
						{%if settings.address_9 != '' %}<option {%if collection == settings.address_9%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_9 | handleize}}">{{settings.address_9}}</option>{%endif%}
						{%if settings.address_10 != '' %}<option {%if collection == settings.address_10%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_10 | handleize}}">{{settings.address_10}}</option>{%endif%}
						{%if settings.address_11 != '' %}<option {%if collection == settings.address_11%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_11 | handleize}}">{{settings.address_11}}</option>{%endif%}
						{%if settings.address_12 != '' %}<option {%if collection == settings.address_12%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_12 | handleize}}">{{settings.address_12}}</option>{%endif%}
						{%if settings.address_13 != '' %}<option {%if collection == settings.address_13%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_13 | handleize}}">{{settings.address_13}}</option>{%endif%}
						{%if settings.address_14 != '' %}<option {%if collection == settings.address_14%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_14 | handleize}}">{{settings.address_14}}</option>{%endif%}
						{%if settings.address_15 != '' %}<option {%if collection == settings.address_15%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_15 | handleize}}">{{settings.address_15}}</option>{%endif%}
						{%if settings.address_16 != '' %}<option {%if collection == settings.address_16%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_16 | handleize}}">{{settings.address_16}}</option>{%endif%}
						{%if settings.address_17 != '' %}<option {%if collection == settings.address_17%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_17 | handleize}}">{{settings.address_17}}</option>{%endif%}
						{%if settings.address_18 != '' %}<option {%if collection == settings.address_18%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_18 | handleize}}">{{settings.address_18}}</option>{%endif%}
						{%if settings.address_19 != '' %}<option {%if collection == settings.address_19%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_19 | handleize}}">{{settings.address_19}}</option>{%endif%}
						{%if settings.address_20 != '' %}<option {%if collection == settings.address_20%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_20 | handleize}}">{{settings.address_20}}</option>{%endif%}
						{%if settings.address_21 != '' %}<option {%if collection == settings.address_21%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_21 | handleize}}">{{settings.address_21}}</option>{%endif%}
						{%if settings.address_22 != '' %}<option {%if collection == settings.address_22%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_22 | handleize}}">{{settings.address_22}}</option>{%endif%}
						{%if settings.address_23 != '' %}<option {%if collection == settings.address_23%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_23 | handleize}}">{{settings.address_23}}</option>{%endif%}
						{%if settings.address_24 != '' %}<option {%if collection == settings.address_24%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_24 | handleize}}">{{settings.address_24}}</option>{%endif%}
						{%if settings.address_25 != '' %}<option {%if collection == settings.address_25%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_25 | handleize}}">{{settings.address_25}}</option>{%endif%}
						{%if settings.address_26 != '' %}<option {%if collection == settings.address_26%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_26 | handleize}}">{{settings.address_26}}</option>{%endif%}
						{%if settings.address_27 != '' %}<option {%if collection == settings.address_27%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_27 | handleize}}">{{settings.address_27}}</option>{%endif%}
						{%if settings.address_28 != '' %}<option {%if collection == settings.address_28%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_28 | handleize}}">{{settings.address_28}}</option>{%endif%}
						{%if settings.address_29 != '' %}<option {%if collection == settings.address_29%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_29 | handleize}}">{{settings.address_29}}</option>{%endif%}
						{%if settings.address_30 != '' %}<option {%if collection == settings.address_30%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_30 | handleize}}">{{settings.address_30}}</option>{%endif%}
						{%if settings.address_31 != '' %}<option {%if collection == settings.address_31%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_31 | handleize}}">{{settings.address_31}}</option>{%endif%}
						{%if settings.address_32 != '' %}<option {%if collection == settings.address_32%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_32 | handleize}}">{{settings.address_32}}</option>{%endif%}
						{%if settings.address_33 != '' %}<option {%if collection == settings.address_33%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_33 | handleize}}">{{settings.address_33}}</option>{%endif%}
						{%if settings.address_34 != '' %}<option {%if collection == settings.address_34%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_34 | handleize}}">{{settings.address_34}}</option>{%endif%}
						{%if settings.address_35 != '' %}<option {%if collection == settings.address_35%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_35 | handleize}}">{{settings.address_35}}</option>{%endif%}
						{%if settings.address_36 != '' %}<option {%if collection == settings.address_36%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_36 | handleize}}">{{settings.address_36}}</option>{%endif%}
						{%if settings.address_37 != '' %}<option {%if collection == settings.address_37%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_37 | handleize}}">{{settings.address_37}}</option>{%endif%}
						{%if settings.address_38 != '' %}<option {%if collection == settings.address_38%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_38 | handleize}}">{{settings.address_38}}</option>{%endif%}
						{%if settings.address_39 != '' %}<option {%if collection == settings.address_39%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_39 | handleize}}">{{settings.address_39}}</option>{%endif%}
						{%if settings.address_40 != '' %}<option {%if collection == settings.address_40%}selected="selected"{%endif%} value="{{shop.url}}/collections/{{settings.address_40 | handleize}}">{{settings.address_40}}</option>{%endif%}

					</select>
					<div class="address-lists">
						<ul class="item-position {%unless collection == settings.address_1 %}hidden{%endunless%}" id="address_1">
							{%for link in linklists[settings.menu_map_address_1].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_2 %}hidden{%endunless%}" id="address_2">
							{%for link in linklists[settings.menu_map_address_2].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_3 %}hidden{%endunless%}" id="address_3">
							{%for link in linklists[settings.menu_map_address_3].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_4 %}hidden{%endunless%}" id="address_4">
							{%for link in linklists[settings.menu_map_address_4].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_5 %}hidden{%endunless%}" id="address_5">
							{%for link in linklists[settings.menu_map_address_5].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_6 %}hidden{%endunless%}" id="address_6">
							{%for link in linklists[settings.menu_map_address_6].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_7 %}hidden{%endunless%}" id="address_7">
							{%for link in linklists[settings.menu_map_address_7].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_8 %}hidden{%endunless%}" id="address_8">
							{%for link in linklists[settings.menu_map_address_8].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_9 %}hidden{%endunless%}" id="address_9">
							{%for link in linklists[settings.menu_map_address_9].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_10 %}hidden{%endunless%}" id="address_10">
							{%for link in linklists[settings.menu_map_address_10].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_11 %}hidden{%endunless%}" id="address_11">
							{%for link in linklists[settings.menu_map_address_11].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_12 %}hidden{%endunless%}" id="address_12">
							{%for link in linklists[settings.menu_map_address_12].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_13 %}hidden{%endunless%}" id="address_13">
							{%for link in linklists[settings.menu_map_address_13].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_14 %}hidden{%endunless%}" id="address_14">
							{%for link in linklists[settings.menu_map_address_14].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_15 %}hidden{%endunless%}" id="address_15">
							{%for link in linklists[settings.menu_map_address_15].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}

						</ul>
						<ul class="item-position {%unless collection == settings.address_16 %}hidden{%endunless%}" id="address_16">
							{%for link in linklists[settings.menu_map_address_16].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_17 %}hidden{%endunless%}" id="address_17">
							{%for link in linklists[settings.menu_map_address_17].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_18 %}hidden{%endunless%}" id="address_18">
							{%for link in linklists[settings.menu_map_address_18].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_19 %}hidden{%endunless%}" id="address_19">
							{%for link in linklists[settings.menu_map_address_19].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_20 %}hidden{%endunless%}" id="address_20">
							{%for link in linklists[settings.menu_map_address_20].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_21 %}hidden{%endunless%}" id="address_21">
							{%for link in linklists[settings.menu_map_address_21].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_22 %}hidden{%endunless%}" id="address_22">
							{%for link in linklists[settings.menu_map_address_22].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_23 %}hidden{%endunless%}" id="address_23">
							{%for link in linklists[settings.menu_map_address_23].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_24 %}hidden{%endunless%}" id="address_24">
							{%for link in linklists[settings.menu_map_address_24].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_25 %}hidden{%endunless%}" id="address_25">
							{%for link in linklists[settings.menu_map_address_25].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}						
						</ul>
						<ul class="item-position {%unless collection == settings.address_26 %}hidden{%endunless%}" id="address_26">
							{%for link in linklists[settings.menu_map_address_26].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_27 %}hidden{%endunless%}" id="address_27">
							{%for link in linklists[settings.menu_map_address_27].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_28 %}hidden{%endunless%}" id="address_28">
							{%for link in linklists[settings.menu_map_address_28].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_29 %}hidden{%endunless%}" id="address_29">
							{%for link in linklists[settings.menu_map_address_29].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_30 %}hidden{%endunless%}" id="address_30">
							{%for link in linklists[settings.menu_map_address_30].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_31 %}hidden{%endunless%}" id="address_31">
							{%for link in linklists[settings.menu_map_address_31].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_32 %}hidden{%endunless%}" id="address_32">
							{%for link in linklists[settings.menu_map_address_32].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_33 %}hidden{%endunless%}" id="address_33">
							{%for link in linklists[settings.menu_map_address_33].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_34 %}hidden{%endunless%}" id="address_34">
							{%for link in linklists[settings.menu_map_address_34].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_35 %}hidden{%endunless%}" id="address_35">
							{%for link in linklists[settings.menu_map_address_35].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_36 %}hidden{%endunless%}" id="address_36">
							{%for link in linklists[settings.menu_map_address_36].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_37 %}hidden{%endunless%}" id="address_37">
							{%for link in linklists[settings.menu_map_address_37].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_38 %}hidden{%endunless%}" id="address_38">
							{%for link in linklists[settings.menu_map_address_38].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_39 %}hidden{%endunless%}" id="address_39">
							{%for link in linklists[settings.menu_map_address_39].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
						<ul class="item-position {%unless collection == settings.address_40 %}hidden{%endunless%}" id="address_40">
							{%for link in linklists[settings.menu_map_address_40].links%}
							<li><a href="{{link.url}}"><span>{{forloop.index}}.</span> {{link.title}}</a></li>
							{%endfor%}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<style>
	.address-lists > ul.hidden{
	display: none;
	}
	#city ul {
	margin: 0;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 10px;
	max-height: 322px;
	overflow: auto;
	margin-bottom: 30px;
	}
	#city ul li{
	padding: 10px;
	border-bottom: 1px solid #ccc;
	}
	#city ul li:last-child{
	border: none;
	}
	select.select_city {
	padding: 0 12px;
	border-radius: 10px;
	text-align-last: center;
	width: 100%;
	height: 35px;
	margin-bottom: 15px;
	}
	}
</style>
<script>
$(document).ready(function(){

	$('ul.tabs li').click(function(){
		var tab_id = $(this).attr('data-tab');

		$('ul.tabs li').removeClass('current');
		$('.tab-content').removeClass('current');

		$(this).addClass('current');
		$("#"+tab_id).addClass('current');
	})

})
</script>
<script>
$(function(){
	// bind change event to select
	$('.select_city').on('change', function () {
		var url = $(this).val(); // get selected value
		if (url) { // require a URL
			window.location = url; // redirect
		}
		return false;
	});
});
</script>
<!-- ematic.js begin -->
<script type="text/javascript">
	(function () {
	var imageUrl = "https:{{ product.featured_image |  img_url: 'large' }}";
	if (!imageUrl) {
	imageUrl = "https://haravan.ematicsolutions.com/no-image.jpg";
	};
	function decodeHtml(html) {
	var txt = document.createElement("textarea");
	txt.innerHTML = html;
	return txt.value;
	}
	ematics("log", "product", "browse", [{
	id: "{{ product.id }}",
	quantity: 1,
	name: decodeHtml("{{ product.title | strip_html | escape }}"),
	brandName: decodeHtml("{{ product.vendor | strip_html | escape }}"),
	{% if product.selected_or_first_available_variant %}
	price: decodeHtml("{{ product.selected_or_first_available_variant.price | money | strip_html }}"),
	{% else %}
	price: decodeHtml("{{ product.price | money | strip_html }}"),
	{% endif %}
	link: "{{ shop.url }}{{ product.url }}",
	imageUrl: imageUrl,
	desc: decodeHtml("{{ product.description | strip_html | strip_newlines | escape }}")
	}]);
	})();

</script>
<!-- ematic.js end -->
