<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- HRV LAST VIEW PRODUCT -->
<!--<script>
(function saveAlgorithm() {
	lastViewProducts.add('{{ product.handle }}');
}());
</script>-->
<!-- END: HRV LAST VIEW PRODUCT -->
{% assign count_images = product.images | size %}

{%if product.available%}
{% assign current_variant = product.selected_or_first_available_variant %}
{%else%}
{% assign current_variant = product%}
{%endif%}

{% assign variantCount = product.variants | size %}
{% assign on_var = false %}
{% if variantCount > 1 %}
{% assign on_var = true %}
{% endif %}
{%assign contact = false%}
{%if product.price == 0 %}
{%assign contact = true%}
{%endif%}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}
{% capture discount %}{{ product.selected_or_first_available_variant.compare_at_price | minus:product.selected_or_first_available_variant.price | times:100 | divided_by:product.selected_or_first_available_variant.compare_at_price | round }}% {% endcapture %}
<div class="product-pages">
	{% include 'breadcrumb' %}
</div>


<section id="PageContainer" class="product account-page ptb-50 product-decktop" itemscope itemtype="http://schema.org/Product">	
	<meta itemprop="url" content="{{ store.url }}{{ product.url }}">
	<meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
	<meta itemprop="description" content="{{ product.summary_or_content | strip_html | truncate: 300 }}">
	<meta itemprop="name" content="{{product.title}}">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-xs-12 details-product">
				<div class="container product_heading clearfix">
					{% if collection %}
					{% if collection.previous_product or collection.next_product %}
					{% if collection.previous_product %}
					{% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
					<span class="pull-left">
						{{ 'products.general.previous_product_html' | t | link_to: prev_url }}
					</span>
					{% endif %}
					{% if collection.next_product %}
					{% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
					<span class="pull-right">
						{{ 'products.general.next_product_html' | t | link_to: next_url }}
					</span>
					{% endif %}
					{% endif %}
					{% endif %}
				</div>
				<div class="clearfix" data-sticky_parent>
					<div class="col-xs-12 col-sm-12 col-md-5" data-sticky_column>

						<div class="large-image">
							<a href="{{ product.featured_image.src }}" data-rel="prettyPhoto[product-gallery]">
								<img {%if product.images.size > 0 %}id="zoom_01"{% endif %} src="{{ product.featured_image.src | img_url:'1024x1024' }}" alt="{{ product.title }}" class="img-responsive center-block" />
							</a>							
							<div class="hidden">
								<div class="item">
									<a href="{{ image.src }}" data-image="{{ image.src }}" data-zoom-image="{{ image.src }}" data-rel="prettyPhoto[product-gallery]">										
									</a>
								</div>	
							</div>
						</div>
						{%if product.images.size > 1 and settings.product_thumb_enable%}
						<div id="gallery_01" class="owl-carousel owl-theme thumbnail-product not-dqowl">
							{% for image in product.images %}
							<div class="item">
								<a class="thumb-link" href="javascript:void(0);" data-image="{{ image.src }}" data-zoom-image="{{ image.src | img_url:'1024x1024' }}">
									<img src="{{ image.src | img_url:'compact' }}" alt="{{product.title}}" />
								</a>
							</div>
							{% endfor %}

						</div>
						{%endif%}

						{%if settings.product_tab_enable %}
						<div class="hidden-xs hidden-sm margin-top-15 margin-bottom-10">

							{% include 'hrvproducttabs' %}	
							{%comment%}
							<div id="hrv-product-reviews" class="hrv-product-reviews" data-id="{{ product.id }}"> 
								<div class="title-bl"> 
									<h2>ĐÁNH GIÁ SẢN PHẨM</h2> 
								</div>
								<div id="hrv-product-reviews-sub" style="width:100%">
									<div class="hrv-product-reviews-summary" id="hrv-product-reviews-summary">
										{{ product.metafields.src.productreviews }} 
									</div> 
									<div class="hrv-product-reviews-list" id="hrv-product-reviews-list">
										{{ product.metafields.src.reviewlist_0 }}
										{{ product.metafields.src.reviewlist_1 }}
										{{ product.metafields.src.reviewlist_2 }}
										{{ product.metafields.src.reviewlist_3 }}
										{{ product.metafields.src.reviewlist_4 }}
										{{ product.metafields.src.reviewlist_5 }}
										{{ product.metafields.src.reviewlist_6 }}
										{{ product.metafields.src.reviewlist_7 }}
										{{ product.metafields.src.reviewlist_8 }}
										{{ product.metafields.src.reviewlist_9 }}        
									</div>
								</div>
							</div>
							{%endcomment%}

						</div>
						{%endif%}
					</div>
					<div class=" sticky col-sm-12 col-md-7 leftsidebar-col" data-sticky_colum >
						<div class="col-xs-12 col-sm-12 col-md-7  details-pro product-content " >
							<h1 class="title-head">{{product.title}}</h1>
							
							<div class="stock-brand">
								<ul>
									<li class="product-more-info">
										{%if current_variant.sku != blank%}
										<span class="product-sku stock-brand-title">Mã SP:</span>
										<span id="ProductSku" class="ProductSku" itemprop="SKU">{{product.selected_or_first_available_variant.sku}}</span> 
										{%endif%}
									</li>
									<li class="inventory_quantity">
										<span class="stock-brand-title">Tình trạng:</span>
										{% if product.available %} 

											{%if product.selected_or_first_available_variant.inventory_quantity >= 10%} 
											<span class="a-stock 3">Còn hàng</span>
											{%elseif product.selected_or_first_available_variant.inventory_quantity <= 0%}
											<span class="a-stock 1">Hết hàng</span>
											{%else%}
											<span class="a-stock 2">Sắp hết hàng</span>
											{%endif%}

										{%else%}
										<span class="a-stock a-stock-out">Hết hàng</span>
										{%endif%}
									</li>
									{% unless product.metafields.src.product_loop == blank %}
									{%if settings.product_review_enable%}
									<li>
										<span class="stock-brand-title">Đánh giá:</span>
										<span class="a-brand">
											<div class="haravan-product-reviews-badge" data-id="{{ product.id }}"> 
												{{ product.metafields.src.product_loop }} 
											</div>
										</span>

									</li>
									{%endif%}
									{% endunless %}
								</ul>
							</div>

							<div class="price-box" itemscope itemtype="http://schema.org/Offer">
								{%if on_var%}
								<span class="special-price"><span class="price product-price" itemprop="price" content="{{ shop.currency }}">{{ product.price | money }}</span> </span> <!-- Giá Khuyến mại -->
									{% if on_sale %}
									<span class="old-price"> <del class="price product-price-old" itemprop="priceCurrency" content="{{ shop.currency }}">{{ product.compare_at_price | money }}</del> </span> <!-- Giá gốca -->
									<span class="product--loop__tag">-{{product.compare_at_price_max | minus: product.price | divided_by:product.compare_at_price_max | times : 100 | round : 0}}%</span>
									{%endif%}									
								{%elseif contact%}
								<div class="special-price"><span class="price product-price">Liên hệ </span> </div> <!-- Hết hàng -->
								{%elseif product.variants[0].compare_at_price > product.variants[0].price%}
								<span class="special-price"><span class="price product-price" itemprop="price" content="{{ store.currency }}">{{ product.variants[0].price | money }}</span> </span> <!-- Giá Khuyến mại -->
								<span class="old-price"> <del class="price product-price-old" itemprop="priceCurrency" content="{{ shop.currency }}">{{ product.variants[0].compare_at_price | money }}</del> </span> <!-- Giás gốc -->

									{% if on_sale %}
									<span class="product--loop__tag">-{{product.compare_at_price_max | minus: product.price | divided_by:product.compare_at_price_max | times : 100 | round : 0}}%</span>
									{%endif%}	
								
								{% else %}
								<div class="special-price"><span class="price product-price" itemprop="price" itemprop="priceCurrency" content="{{ shop.currency }}">{{ product.variants[0].price | money }}</span> </div> <!-- Giá -->
								{% endif %}

							</div>

							<div class="form-product product-info">
								<form enctype="multipart/form-data" id="add-to-cart-form" action="/cart/add" method="post" class="form-ajaxtocart form-inline clearfix">

									{% if settings.product_swatch_enable and product.variants.size > 1 %}
									<div id="product-select-watch" class="select-swatch">
										{% for option in product.options %}
										{% include 'swatch' with option %}
										{% endfor %}
									</div>
									{% endif %}


									<div class="box-variant clearfix {% if settings.product_swatch_enable%} hidden {%endif%}">
										{% if variantCount >= 1 %} 
										<fieldset class="form-group">

											<select id="product-selector" class="form-control form-control-lg" name="id" style="display:none">
												{% for variant in product.variants %}
												{% if variant.available %}
												<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
												{% else %}
												<option disabled="disabled">
													{{ variant.title }} - {{ 'products.product.sold_out' | t }}
												</option>
												{% endif %}
												{% endfor %}
											</select>

										</fieldset>
										{% else %}
										<input type="hidden" name="id" value="{{ product.variants[0].id }}" />
										{% endif %}
									</div>

									<span class="note">Vui lòng chọn Size *</span>
									<div class="form-group {%if contact%}hidden{%endif%}">
										<div class="custom custom-btn-number form-control">			
					
											<input type="text" class="input-text qty" value="1" min="1" pattern="[0-9]*" title="Số lượng" id="qty" name="quantity" />
											<div class="gp-btn">
												<button id="addQuantity" class="btn-plus btn-cts" type="button">+</button>
												<button id="minusQuantity" class="btn-minus btn-cts" type="button">–</button>
											</div>
											<script>
											$( "#addQuantity" ).click(function() {
												var qty = $('#qty').val();
												if( !isNaN(qty)) qty++;
												$('#qty').val(qty);
												return false;
											})
											$( "#minusQuantity" ).click(function() {
												var qty = $('#qty').val();
												if( !isNaN(qty) & qty > 1 ) qty--;
												$('#qty').val(qty);
												return false;
											})
											</script>
										</div>

										{% if product.available and product.variants.size > 1 %}
										<button   type="submit" name="add" id="AddToCart" class="btn add_to_cart_detail ajax_addtocart hide ">
											<span id="AddToCartText">
												{{ 'products.product.add_to_cart' | t }}
											</span>
										</button> 
										{%else%}
										<button   type="submit" name="add"  class="btn add_to_cart_detail ajax_addtocart hide">
											<span id="AddToCartText">
												Hết hàng
											</span>
										</button> 
										{%endif%}

										{% if product.available %}									
										<a id="fake-buynow" href="javascript:void(0)" class="btn btn-lg btn-gray addtocart-modal" title="Mua ngay">
											<span> Mua ngay<span class="text">Mua online - Giao tận nơi</span></span>
										</a>
										<div class="hide">
											<p><input type="text" id="Specifications" name="properties[Khách hàng chọn hàng từ cửa hàng ]" value="" /></p>
										</div>									
										{% else %}
										<button class="btn btn-lg btn-style btn-style-active btn-cart" title="Hết hàng" disabled="disabled" ><span>Hết hàng</span></button>
										{% endif %}								
									</div>
								</form>
								<span class="note-size"><a href="/pages/tu-van-size">Hướng dẫn chọn size</a></span>
								<div class="note-size">
									<a href="{{settings.product_sitemap_link}}">
										{{settings.product_sitemap}}
									</a>
								</div>



								<div class="info-socials-article clearfix">
									<div class="box-like-socials-article">
										<div class="fb-send" data-href="{{ product.url }}">
										</div>
									</div>
									<div class="box-like-socials-article">
										<div class="fb-like" data-href="{{ product.url }}" data-layout="button_count" data-action="like">
										</div>
									</div> 
									<div class="box-like-socials-article">
										<div class="fb-share-button" data-href="{{ product.url }}" data-layout="button_count">
										</div>
									</div>
									<div class="box-like-socials-article">
										{% if settings.product_page_social_enable %}
										{% include 'block-social-sharing' %}
										{% endif %}
									</div>
								</div>
								<div class="clearfix"></div>
								{%if product.tags.size > 0 and settings.product_tag_enable%}
								<div class="tag-product">
									<label class="inline">Tags: </label>
									{% for tag in product.tags %}
									<a href="/collections/all/{{tag|handle}}">{{tag}}</a>{% if forloop.last == true %}{% else%}, {% endif %}						
									{% endfor %}
								</div>
								{%endif%}
								
								
							</div>
								
		
							<div class="product-sidebar-ant-fashion hidden-lg hidden-md">
								{% include 'product_promotion_mobile' %}
								{% if settings.product_hotline_enable %}
								<div class="box-hotlines clearfix">
									<div class="box-hotlines-left">
										<h3>{{ settings.product_hotline_title }}</h3>
										<p>{{ settings.product_hotline_title_1 }}</p>
										{% if settings.store_edit %}
										<h2><a href="tel:{{ settings.store_phone }}">{{ settings.store_phone }}</a></h2>
										{% else %}
										<h2><a href="tel:{{ store.phone_number }}">{{store.phone_number }}</a></h2>
										{% endif %}
										<div class="link-contact">
											<a href="href:{{ settings.product_hotline_title_5 }}">{{ settings.product_hotline_title_4 }}</a>
										</div>
									</div>
									<div class="box-hotlines-right">
										<a href="tel:{{ settings.product_hotline_title_3 | default: store.phone_number }}">
											<i class="fa fa-phone" aria-hidden="true"></i>
										</a>
									</div>
								</div>
								{% endif %}
							</div>
						</div>

						
						{%if settings.product_tab_enable %}
						<div class="hidden-lg hidden-md margin-top-15 margin-bottom-10">
							{% include 'hrvproducttabs-mobile' %}	
						</div>
						{%endif%}

						<div class="col-xs-12 col-sm-12 col-md-5 ">
							<div class="hidden-xs hidden-sm product-extra"> 
								{%if settings.product_policy_enable%}
								<div class="no-padding product onStore">
									<div class="deliver-top">
										<div class="tit-color">{{settings.product_policy_title}}</div>
										<div class="descrip">{{settings.product_policy_subtitle}}</div>
									</div>
									<div class="deliver-top-no deliver-dt">
										<a href="{{settings.product_policy_link_1}}">	<div class="tit">{{settings.product_policy_title_1}}</div>
											<div class="descrip">{{settings.product_policy_text_1}}</div>
										</a>
									</div>
									<div class="deliver-top-no deliver-ch" style="background:none !important">
										<div style="position:absolute;margin-left:-46px;">


											<img src="{{'icon-day90.png' | asset_url}}">


										</div>
										<a href="{{settings.product_policy_link_2}}"><div class="tit">{{settings.product_policy_title_2}}</div>	
											<div class="descrip">{{settings.product_policy_text_2}}
											</div>
										</a>
									</div>
									<div class="deliver-top-no deliver-pay">
										<a href="{{settings.product_policy_link_3}}">	<div class="tit">{{settings.product_policy_title_3}}</div>
											<div class="descrip">{{settings.product_policy_text_3}}</div>
										</a>
									</div>
									<div class="deliver-top-no deliver-phone">
										<div class="tit">{{settings.product_policy_title_4}}</div>
										<div class="tit-color">{{settings.product_policy_phone}}</div>
										<div class="descrip">{{settings.product_policy_text_4}}</div>
									</div>
								</div>
								{%endif%}



							</div>
						
							<!-- Phần combo product -->
								<div class="" tabindex="-1" role="dialog" id="combo-popup">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header"><center>
												<span style="font-size: 17px;font-weight: 800;">
													Mua theo SET giá rẻ hơn
												</span></center>
												<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
											</div>
											<div class="modal-body">
												<div id="combo-program" data-id="{{product.id}}" data-title="{{product.title}}"></div>
											</div>
											<div class="modal-footer">
												<button type="button" id="discount-promotion-combo-add-btn" class="btn discount-promotion-btn">
													Thêm SET vào giỏ
												</button>
											</div>
										</div>
									</div>
								</div>
								<!-- end Phần combo product -->	

						</div>
					</div>

				</div>


			</div>

		</div>
	</div>	

</section>


{{ 'default_script.min.js' | asset_url | script_tag }}	
<style>
	#combo-program {
	max-height: 300px;
	overflow: auto;
	}

	#combo-program .name-combo {
	margin: 0;
	}
	#combo-program .name-combo span {
	display: inline-block;
	color: #fb3d3d;
	font-weight: bold;
	}
	#combo-popup .modal-body {
	position: relative;
	padding: 0;
	/* margin-top: 15px; */
	}
	#combo-program .combo-title {
	margin-top: 0;
	font-size: 14px;
	font-weight: bold;
	}
	#combo-program .combo-title b {
	color: #ff0707;
	}
	#combo-program .combo-w {
	margin-bottom: 10px;
	padding: 0px 10px 0px 30px;
	position: relative;
	}
	#combo-program .combo-w:after {
	content: '\2714\fe0e';
	font-size: 16px;
	position: absolute;
	top: calc(50% - 11px);
	left: 11px;
	color: #fff;
	opacity: 0;
	}
	#combo-program .combo-w:before {
	content: '';
	width: 20px;
	height: 20px;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	position: absolute;
	top: calc(50% - 10px);
	left: 7px;
	background: #00a7f4;
	}

	#combo-program .combo-w.checked:after {
	opacity: 1;
	}
	#combo-program .combo-w.checked:before {
	border: 1px solid #00a7f4;
	}
	#combo-program table tr {
	margin-bottom: 3px;
	}
	#combo-program table label {
	font-weight: normal;
	font-size: 13px;
	display: block;
	border: none;
	padding: 2px 5px;
	cursor: pointer;
	}
	#combo-program table label:after {
	content: "";
	display: table;
	clear: both;
	}
	#combo-program table label img {
	display: inline-block;
	width: 50px;
	float: left;
	}
	#combo-program table label p {
	display: inline-block;
	width: calc(100% - 50px);
	float: left;
	margin-bottom: 0px;
	padding-left: 10px;
	}
	#combo-program table label .discount-promotion-price b {
	color: #fa0303;
	}
	#combo-program table label .discount-promotion-price del {
	margin-left: 5px;
	}
	#combo-program table input {
	display: none;
	}
	#combo-program table input:checked + label {
	color: #000;
	background: #fff8f8;
	}
	#combo-popup .modal-dialog {
	width: 100%;
	margin: 20px auto;
	}
	#combo-popup .modal-content {
	border: 1px solid #fbbf22;
	}
	#combo-popup .modal-footer {
	text-align: center;
	border-top: 1px solid #e5e5e5;
	}
	button#discount-promotion-combo-add-btn {
	background: #ff5f5f;
	color: #fff;
	border-radius: 5px;
	font-size: 16px;
	padding-top:10px;
	padding-bottom:10px;
	}
</style>
<script>  

// Nút thêm tất cả vào giỏ
$('body').on('click', '#discount-promotion-combo-add-btn', function(e){
	e.preventDefault();
	var pid = $('#combo-program').data('id');


	var vid = $('#product-selector').val();
	comboApp.comboAddCart(pid, vid, function(response){

		//console.log(response);
		/*
				response = true => ok
				response = false => fail
			*/
		if(response){
			getCartModal();					
			jQuery('#myCart').modal('show');				
			jQuery('.modal-backdrop').css({'height':jQuery(document).height(),'z-index':'99'});
			alert('Bạn đã thêm vào giỏ hàng thàng công');

			$.get('/cart.js', {name:'Steve'}, function (data, textStatus, jqXHR) {
    		$("span.hd-cart-count").html(data.item_count)
			});
		} else {
			window.location = '/cart';
			alert('Sản phẩm chưa được thêm vào giỏ hàng');
		}
	});
});
// Nút chỉ thêm sản phẩm hiện tại
/*
$('body').on('click', '#discount-promotion-dismiss-btn', function(e){
	e.preventDefault();
	$.ajax({
		type: 'POST',
		async: false,
		url:'/cart/add.js',
		async:false,
		data: $('form#add-item-form').serialize(),
		success:function(line){
			//
			$('#combo-popup').modal('hide');
		},
		error: function(jqXHR, textStatus, errorThrown) {
			//
		}
	});
});
*/



var selectCallback = function(variant, selector) {
	if (variant) {

		var form = jQuery('#' + selector.domIdPrefix).closest('form');

		for (var i=0,length=variant.options.length; i<length; i++) {

			var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
			//console.log(radioButton);
			if (radioButton.size()) {
				radioButton.get(0).checked = true;
			}
		}
	}
	var addToCart = jQuery('.form-product .btn-cart'),
			form = jQuery('.form-product .form-group'),
			productPrice = jQuery('.details-pro .special-price .product-price'),
			qty = jQuery('.inventory_quantity .a-stock'),
			comparePrice = jQuery('.details-pro .old-price .product-price-old'),
			comparePriceText = jQuery('.details-pro .old-price'),
			savePrice = jQuery('.details-pro .save-price .product-price-save'),
			savePriceText = jQuery('.details-pro .save-price'),
			qtyBtn = jQuery('.form-product .form-group .custom-btn-number');

	if (variant && variant.available) {
		if(variant.inventory_management == "haravan"){
			qty.html('<span class="a-stock">Còn hàng</span>');
		}else{
			qty.html('<span class="a-stock">Còn hàng</span>');
		}
		addToCart.text('Mua ngay').removeAttr('disabled');	
		qtyBtn.removeClass('hidden');
		if(variant.price == 0){
			productPrice.html('Liên hệ');	
			comparePrice.hide();
			savePrice.hide();
			comparePriceText.hide();
			savePriceText.hide();
			form.addClass('hidden');
		}else{
			form.removeClass('hidden');
			productPrice.html(Haravan.formatMoney(variant.price, "{{ shop.money_format }}"));
			// Also update and show the product's compare price if necessary
			if ( variant.compare_at_price > variant.price ) {
				comparePrice.html(Haravan.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")).show();
				savePrice.html(Haravan.formatMoney(variant.compare_at_price - variant.price, "{{ shop.money_format }}")).show();
				comparePriceText.show();
				savePriceText.show();
			} else {
				comparePrice.hide();   
				savePrice.hide();
				comparePriceText.hide();
				savePriceText.hide();
			}       										
		}

	} else {	
		qty.html('<span class="a-stock a-stock-out">Hết hàng</span>');
		addToCart.text('Hết hàng').attr('disabled', 'disabled');
		qtyBtn.addClass('hidden');
		if(variant){
			if(variant.price != 0){
				form.removeClass('hidden');
				productPrice.html(Haravan.formatMoney(variant.price, "{{ shop.money_format }}"));
				// Also update and show the product's compare price if necessary
				if ( variant.compare_at_price > variant.price ) {
					comparePrice.html(Haravan.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")).show();
					savePrice.html(Haravan.formatMoney(variant.compare_at_price - variant.price, "{{ shop.money_format }}")).show();
					comparePriceText.show();
					savePriceText.show();
				} else {
					comparePrice.hide();  
					savePrice.hide();
					comparePriceText.hide();
					savePriceText.hide();
				}     
			}else{
				productPrice.html('Liên hệ');	
				comparePrice.hide();
				savePrice.hide();
				comparePriceText.hide();
				savePriceText.hide();
				form.addClass('hidden');									
			}
		}else{
			productPrice.html('Liên hệ');	
			comparePrice.hide();
			savePrice.hide();
			comparePriceText.hide();
			savePriceText.hide();
			form.addClass('hidden');	
		}

	}
	/*begin variant image*/
	if (variant && variant.image) {  
		var originalImage = jQuery(".large-image img"); 
		var newImage = variant.image;
		var element = originalImage[0];
		Haravan.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
			jQuery(element).parents('a').attr('href', newImageSizedSrc);
			jQuery(element).attr('src', newImageSizedSrc);
		});

		$('.checkurl').attr('href',$(this).attr('src'));
		$('.zoomContainer').remove();
		setTimeout(function(){
			if($(window).width() > 1200){
				$('.zoomContainer').remove();				
				$('#zoom_01').elevateZoom({
					gallery:'gallery_01', 
					zoomWindowWidth:420,
					zoomWindowHeight:500,
					zoomWindowOffetx: 10,
					easing : true,
					scrollZoom : false,
					cursor: 'pointer', 
					galleryActiveClass: 'active', 
					imageCrossfade: true

				});
			}

		},300);
	}

	/*end of variant image*/
};

jQuery(function($) {

	$('.addtocart-modal').click(function(e){
		{% if  product.variants.size > 1 %}
		if($('#variant-swatch-0').length){
			var checkcolor = $( "#variant-swatch-0 input[type=radio]:checked" ).val();
			if(checkcolor == null ) {
				swal("ĐỂ THUẬN TIỆN HƠN  ", "Quý khách hàng vui lòng chọn Màu sắc");
				return;
			};
			if($('#variant-swatch-1').length){
				var checksize = $( "#variant-swatch-1 input[type=radio]:checked" ).val();
				if(checksize == null ) {
					swal("ĐỂ THUẬN TIỆN HƠN  ", "Quý khách hàng vui lòng chọn size");
					return;
				};
			}
		}
		/*
		var check = $( "#myModalmultistock input[type=radio]:checked" ).val();
		if(check == null ) {
			swal("ĐỂ THUẬN TIỆN HƠN  ", "Quý khách hàng vui lòng chọn cửa hàng để mua hàng ");

			var elmnt = document.getElementById("myModalmultistock");

			setTimeout(function(){
				elmnt.scrollIntoView({ behavior: 'smooth', block: 'center'});
			}, 500);

			
			return;
		};
		$("#Specifications").attr("value",check);
		*/

		{% endif %}
		e.preventDefault();
		$(this).addClass('clicked_buy');

		//console.log($('#product-selector').val());
		add_item_show_modalCart($('#product-selector').val());
		
	})

	{% if  product.variants.size > 1 %}
		new Haravan.OptionSelectors('product-selector', {product: {{ product | json }}, onVariantSelected: selectCallback, enableHistoryState: true});      
	{% endif %}

	 // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
	 {% if product.options.size == 1 and product.options.first != 'Title' %}
	 $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
		{% endif %}

		// Hide selectors if we only have 1 variant and its title contains 'Default'.
		{% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
		$('.selector-wrapper').hide();
		 {% endif %} 
		 $('.selector-wrapper').css({
			 'text-align':'left',
			 'margin-bottom':'15px'
		 });
		 });

		

		 jQuery('.swatch :radio').change(function() {
			 var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
			 var optionValue = jQuery(this).val();
			 jQuery(this)
			 .closest('form')
			 .find('.single-option-selector')
			 .eq(optionIndex)
			 .val(optionValue)
			 .trigger('change');
		 });

$(document).on('click', '#PageContainer', function(e) {
	var producthandle = $(this).data("handle");
	currentLinkQuickView = $(this);
});

		 $(document).ready(function() {
			 if($(window).width()>1200){
				 setTimeout(function(){
					 $('#zoom_01').elevateZoom({
						 gallery:'gallery_01', 
						 zoomWindowWidth:420,
						 zoomWindowHeight:500,
						 zoomWindowOffetx: 10,
						 easing : true,
						 scrollZoom : true,
						 cursor: 'pointer', 
						 galleryActiveClass: 'active', 
						 imageCrossfade: true

					 });
				 },500);
			 }



		 });
		 $(window).on("load resize",function(e){

			 $('.thumb-link').click(function(e){
				 e.preventDefault();
				 var hr = $(this).attr('data-zoom-image');
				 $('#zoom_01').attr('src',hr);
			 })
		 });
		 $(window).load(function() {
			 $('.leftsidebar-col').hcSticky({
				 responsive: true,
				 bottomEnd: 5,
				 innerTop: -80,
				 offResolutions: [-991]  
			 }); 
		 }); 
		 $('#gallery_01 img, .swatch-element label').click(function(e){
			 $('.checkurl').attr('href',$(this).attr('src'));
			 setTimeout(function(){
				 if($(window).width() > 1200){
					 $('.zoomContainer').remove();				
					 $('#zoom_01').elevateZoom({
						 gallery:'gallery_01', 
						 zoomWindowWidth:420,
						 zoomWindowHeight:500,
						 zoomWindowOffetx: 10,
						 easing : true,
						 scrollZoom : true,
						 cursor: 'pointer', 
						 galleryActiveClass: 'active', 
						 imageCrossfade: true

					 });
				 }



			 },400);

			 setTimeout(function(){
				 if($(window).width() > 1200){
					 $('#zoom_01').elevateZoom({
						 gallery:'gallery_01', 
						 zoomWindowWidth:420,
						 zoomWindowHeight:500,
						 zoomWindowOffetx: 10,
						 easing : true,
						 scrollZoom : true,
						 cursor: 'pointer', 
						 galleryActiveClass: 'active', 
						 imageCrossfade: true

					 });
				 }				  

			 },1000);

		 })


var selectCallback = function(variant, selector) {
	timber.productPage({
		money_format: "{{ shop.money_format }}",
		variant: variant,
		selector: selector
	});
	var firstVariantId = variant.id;
	//console.log(firstVariantId);
	var qtyInit = $('#qty').val();
	$('#stock-box').html('');
	

var ajaxCall = $.ajax({
    url: "/inventory_location.js?variant_id=" + firstVariantId + "&quantity=" + qtyInit
});
	ajaxCall.done(function(data) {
		// If successful
		if(!data.error){
		if( data.inventory_locations.length > 0 ){
				$('#stock-box').show();
				$('#addCartOmni').show();
				var array_html = '';
				var inventTitle = 'Chọn cửa hàng (Có ' + data.inventory_locations.length + ' cửa hàng còn sản phẩm này)';
				$('.invent h4').html(inventTitle);
				$('.invent h4').removeClass( "hidden");
				$.each(data.inventory_locations,function(i,v){
					array_html += "<li><input value='"+ v.location_name + "' type='radio' id='" + i + "-option'    name='selector'><label for='" + i + "-option'>";
					array_html += "<span class='bold-light'>" + v.location_name + " (" + v.location_phone + ")</span>";
					array_html += "<span class='desc'>" + v.location_address + "</span></label><div class='check'></div></li>";
					$('#stock-box').html(array_html);
				});
			} else {
				$('#buyNowOmni span:first-child').html('Tạm hết hàng');
				$('#buyNowOmni span:last-child').html('Vui lòng quay lại sau');
				$('#addCartOmni').hide();
				$('#stock-box').html("<span class='note'>" + "Vui lòng chọn sản phẩm bạn cần mua" + "</span>");
				$('.invent h4').addClass( "hidden");
			}
		}
	}).fail(function(jqXHR, textStatus, errorThrown) {
		// If fail
		console.log(textStatus + ': ' + errorThrown);
	});
};

jQuery(function($) {
	new Haravan.OptionSelectors('product-selector', {
		product: {{ product | json }},
															onVariantSelected: selectCallback,
															enableHistoryState: false
															});

	// Add label if only one product option and it isn't 'Title'. Could be 'Size'.
	{% if product.options.size == 1 and product.options.first != 'Title' %}
	$('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
	 {% endif %}

	 // Hide selectors if we only have 1 variant and its title contains 'Default'.
	 {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
	 $('.selector-wrapper').hide();
		{% endif %}
		});



document.addEventListener('DOMContentLoaded', function() {
	var firstVariantId = $('#product-selector').val();
	var qtyInit = $('#Quantity').val();
	$('#stock-box').html('');
	var ajaxCall = $.ajax({
    url: "/inventory_location.js?variant_id=" + firstVariantId + "&quantity=" + qtyInit
});
	ajaxCall.done(function(data) {
		// If successful
		if(!data.error){
		if( data.inventory_locations.length > 0 ){
				$('#stock-box').show();
				$('#addCartOmni').show();
				var array_html = '';
				var inventTitle = 'Chọn cửa hàng (Có ' + data.inventory_locations.length + ' cửa hàng còn sản phẩm này)';
				$('.invent h4').html(inventTitle);
				$('.invent h4').removeClass( "hidden");
				$.each(data.inventory_locations,function(i,v){
					array_html += "<li><input value='"+ v.location_name + "' type='radio' id='" + i + "-option'    name='selector'><label for='" + i + "-option'>";
					array_html += "<span class='bold-light'>" + v.location_name + " (" + v.location_phone + ")</span>";
					array_html += "<span class='desc'>" + v.location_address + "</span></label><div class='check'></div></li>";
					$('#stock-box').html(array_html);
				});
			} else {
				$('#buyNowOmni span:first-child').html('Tạm hết hàng');
				$('#buyNowOmni span:last-child').html('Vui lòng quay lại sau');
				$('#addCartOmni').hide();
				$('#stock-box').html("<span class='note'>" + "Hiện không còn cửa hàng nào còn sản phẩm này" + "</span>");
				$('.invent h4').addClass( "hidden");
			}
		}
	}).fail(function(jqXHR, textStatus, errorThrown) {
		// If fail
		console.log(textStatus + ': ' + errorThrown);
	});
})


function updateOptionsInSelectorProduct(t) {
  var from = "#PageContainer ";
  switch (t) {
    case 0:
      var n = "root";
      var r = $(from + ".single-option-selector:eq(0)");
      break;
    case 1:
      var n = $(from + ".single-option-selector:eq(0)").val();
      var r = $(from + ".single-option-selector:eq(1)");
      break;
    case 2:
      var n = $(from + ".single-option-selector:eq(0)").val();
      n += " / " + $(from + ".single-option-selector:eq(1)").val();
      var r = $(from + ".single-option-selector:eq(2)")
  }
  var i = r.val();
  r.empty();
  var s = Haravan.optionsMap[n]
  
  if(typeof s != "undefined"){
    for (var o = 0; o < s.length; o++) {
      var u = s[o];
      var a = $("<option></option>").val(u).html(u);
      r.append(a)
    }
  }

  $(from + '.swatch[data-option-index="' + t + '"] .swatch-element').each(function() {
    if ($.inArray($(this).attr("data-value"), s) !== -1) {
      $(this).removeClass("soldout").show().find(":radio").removeAttr("disabled", "disabled").removeAttr("checked")
    } else {
      $(this).addClass("soldout").hide().find(":radio").removeAttr("checked").attr("disabled", "disabled")
    }
  });
  if ($.inArray(i, s) !== -1) {
    r.val(i)
  }
  r.trigger("change")
};

function linkOptionSelectorsProduct(t) {
  for (var n = 0; n < t.variants.length; n++) {
    var r = t.variants[n];
    if (r.available) {
      Haravan.optionsMap["root"] = Haravan.optionsMap["root"] || [];
      Haravan.optionsMap["root"].push(r.option1);
      Haravan.optionsMap["root"] = Haravan.uniq(Haravan.optionsMap["root"]);
      if (t.options.length > 1) {
        var i = r.option1;
        Haravan.optionsMap[i] = Haravan.optionsMap[i] || [];
        Haravan.optionsMap[i].push(r.option2);
        Haravan.optionsMap[i] = Haravan.uniq(Haravan.optionsMap[i])
      }
      if (t.options.length === 3) {
        var i = r.option1 + " / " + r.option2;
        Haravan.optionsMap[i] = Haravan.optionsMap[i] || [];
        Haravan.optionsMap[i].push(r.option3);
        Haravan.optionsMap[i] = Haravan.uniq(Haravan.optionsMap[i])
      }
    }
  }
  updateOptionsInSelectorProduct(0, "detail");
  if (t.options.length > 1)
    updateOptionsInSelectorProduct(1);
  if (t.options.length === 3)
    updateOptionsInSelectorProduct(2, "detail");
  $(".single-option-selector:eq(0)").change(function() {
    updateOptionsInSelectorProduct(1);
    if (t.options.length === 3)
      updateOptionsInSelectorProduct(2, "detail");
    return true
  });
  $(".single-option-selector:eq(1)").change(function() {
    if (t.options.length === 3)
      updateOptionsInSelectorProduct(2, "detail");
    return true
  });
}

</script>



<script>
$(document).ready(function(){
	//$('#variant-swatch-0 .swatch-element input').eq(0).click();
	//$('#variant-swatch-0 .swatch-element').find('input:checked').click();

	$('#variant-swatch-0 .swatch-element input[type="radio"]').click(function(){
		if($(this).is(":checked")){
			ReloadVariant(this);
		}
		else if($(this).is(":not(:checked)")){
			console.log("Checkbox is unchecked.");
		}
	});
});

function ReloadVariant(variant1){
	var swatch_size = parseInt($('.select-swatch').children().size());
	var _chage = '';
	if(swatch_size == 2){
		var _avi_op1 = '';
		var _avi_op2 = '';
		
		var _count = $('#variant-swatch-1 .swatch-element').size();
		var _key = $(variant1).val();
		$('.single-option-selector').eq(0).val(_key).change();
		//var s = Haravan.optionsMap[_key];
		
		$('#variant-swatch-1 .swatch-element').each(function(ind,value){
			
			
			var _unavi = 0;
			//$('#variant-swatch-1 .swatch-element').each(function(i,v){
				var _val = $(this).data('value');
				$('.single-option-selector').eq(1).val(_val).change();
				if(check_variant == true){
					if(_avi_op1 == ''){
						_avi_op1 = _key;
					}
					if(_avi_op2 == ''){
						_avi_op2 = _val;
					}
					$('#variant-swatch-1 .swatch-element[data-value = "'+_val+'"]').removeClass('soldout').addClass('available');
					$('#variant-swatch-1 .swatch-element[data-value = "'+_val+'"]').find('input').removeAttr('disabled');
				}else{
					$('#variant-swatch-1 .swatch-element[data-value = "'+_val+'"]').removeClass('available').addClass('soldout');
					$('#variant-swatch-1 .swatch-element[data-value = "'+_val+'"]').find('input').attr('disabled','disabled');
				}
			$('#variant-swatch-1 .swatch-element input').prop('checked', false);
			//})

		})
		//$('#variant-swatch-1 .swatch-element[data-value = "'+_avi_op2+'"] input').click();
		
	}else if(swatch_size == 3){
		var _avi_op1 = '';
		var _avi_op2 = '';
		var _avi_op3 = '';
		var _size_op2 = $('#variant-swatch-1 .swatch-element').size();
		var _size_op3 = $('#variant-swatch-2 .swatch-element').size();

		$('#variant-swatch-0 .swatch-element').each(function(ind,value){
			var _key_va1 = $(this).data('value');
			var _count_unavi = 0;
			//$('.single-option-selector').eq(0).val(_key_va1).change();
			$('#variant-swatch-1 .swatch-element').each(function(i,v){
				var _key_va2 = $(this).data('value');
				var _unavi_2 = 0;
				//$('.single-option-selector').eq(1).val(_key_va2).change();
				$('#variant-swatch-2 .swatch-element').each(function(j,z){
					var _key_va3 = $(this).data('value');
					//$('.single-option-selector').eq(2).val(_key_va3).change();
					if(check_variant == true){
						if(_avi_op1 == ''){
							_avi_op1 = _key_va1;
						}
						if(_avi_op2 == ''){
							_avi_op2 = _key_va2;
						}
						if(_avi_op3 == ''){
							_avi_op3 = _key_va3;
						}
					}else{
						_unavi_2 += 1;
					}
				})
				if(_unavi_2 == _size_op3){
					_count_unavi += 1;
				}
			})
			if(_size_op2 == _count_unavi){
				$('#variant-swatch-1 .swatch-element[data-value = "'+_key_va1+'"]').addClass('soldout');
				$('#variant-swatch-1 .swatch-element[data-value = "'+_key_va1+'"]').find('input').attr('disabled','disabled');					
			}
		})
		$('#variant-swatch-1 .swatch-element[data-value = "'+_avi_op2+'"] input').click();
		$('#variant-swatch-2 .swatch-element[data-value = "'+_avi_op3+'"] input').click();
	}
	var img_ = $('#variant-swatch-0 .swatch-element[data-value = "'+_avi_op1+'"] input').data('img-src');
	$('.product-single__thumbnail[href="'+img_+'"]').trigger('click');
}


</script>
<style>
.swal-button {
	background-color: #1c841b !important;
}
.swal-title {
	font-size : 23px !important;
}
.swal-text {
	font-size : 18px !important;
}
</style>