<!-- HRV LAST VIEW PRODUCT -->
<script>
(function saveAlgorithm() {
	lastViewProducts.add('{{ product.handle }}');
}());
</script>
<!-- END: HRV LAST VIEW PRODUCT -->
{% assign variantCount = product.variants | size %}
{% assign on_var = false %}
{% if variantCount > 1 %}
{% assign on_var = true %}
{% endif %}
{%assign contact = false%}
{%if product.price == 0 %}
{%assign contact = true%}
{%endif%}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}
{% capture discount %}{{ product.selected_or_first_available_variant.compare_at_price | minus:product.selected_or_first_available_variant.price | times:100 | divided_by:product.selected_or_first_available_variant.compare_at_price | round }}% {% endcapture %}
{% include 'breadcrumb' %}
<section class="product product-countdown account-page ptb-50" itemscope itemtype="http://schema.org/Product">	
	<meta itemprop="url" content="{{ store.url }}{{ product.url }}">
	<meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
	<meta itemprop="description" content="{{ product.summary_or_content | strip_html | truncate: 300 }}">
	<meta itemprop="name" content="{{product.title}}">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 details-product">
				<div class="row">
					<div class="col-xs-12">
						<div class="clearfix" data-sticky_parent>
							<div class="col-xs-12 col-sm-12 col-md-7 " data-sticky_column>
								<div class="large-image">
									<a href="{{ product.featured_image.src }}" data-rel="prettyPhoto[product-gallery]">
										<img {%if product.images.size > 0 %}id="zoom_01"{% endif %} src="{{ product.featured_image.src | img_url:'1024x1024' }}" alt="{{ product.title }}" class="img-responsive center-block" />
									</a>							
									<div class="hidden">
										<div class="item">
											<a href="{{ image.src }}" data-image="{{ image.src }}" data-zoom-image="{{ image.src }}" data-rel="prettyPhoto[product-gallery]">										
											</a>
										</div>	
									</div>
									<div class="barWrapper">
										<div class="progress">
											{% assign tags = product.tags | split: 'bar_' %} 
											{% for tag in product.tags | split: 'bar_'%}
											<div class="progress-bar" role="progressbar" aria-valuenow="{{tag[0]}}" aria-valuemin="0" aria-valuemax="100" >   
												<span  class="popOver" data-toggle="tooltip" data-placement="top" title="{{tag[0]}}%"> </span>     
											</div>
											{%endfor%}
										</div>
									</div>
								</div>
								{%if product.images.size > 1 and settings.product_thumb_enable%}
								<div id="gallery_01" class="owl-carousel owl-theme thumbnail-product not-dqowl">
									{% for image in product.images %}
									<div class="item">
										<a class="thumb-link" href="javascript:void(0);" data-image="{{ image.src }}" data-zoom-image="{{ image.src | img_url:'1024x1024' }}">
											<img src="{{ image.src | img_url:'compact' }}" alt="{{product.title}}" />
										</a>
									</div>
									{% endfor %}
								</div>
								{%endif%}
								{%if settings.product_tab_enable %}
								<div class="margin-top-15 margin-bottom-10">

									{% include 'hrvproducttabs' %}					
								</div>
								{%endif%}
							</div>
							<div class="col-xs-12 col-sm-12 col-md-5 details-pro product-content leftsidebar-col" data-sticky_colum>
								<h1 class="title-head">{{product.title}}</h1>
								<div class="stock-brand">
									<ul>
										<li>
											<span class="a-brand">
												<div class="haravan-product-reviews-badge" data-id="{{ product.id }}"> 
													{{ product.metafields.src.product_loop }} 
												</div>
											</span>
										</li>
										<li>
											<div class="info-socials-article clearfix">
												<div class="box-like-socials-article">
													<div class="fb-send" data-href="{{ product.url }}">
													</div>
												</div>
												<div class="box-like-socials-article">
													<div class="fb-like" data-href="{{ product.url }}" data-layout="button_count" data-action="like">
													</div>
												</div> 
												<div class="box-like-socials-article">
													<div class="fb-share-button" data-href="{{ product.url }}" data-layout="button_count">
													</div>
												</div>
											</div>
										</li>
										<li class="stock-tag">
											<span>Hàng sắp về</span>
										</li>
									</ul>
								</div>
								<div class="countdown-slideshow ">
									<p>Sẽ về trong: </p>
									<div id="countdown">
										<div id="tiles">
										</div>
										<div class="labels">

											<li>Ngày</li>
											<li>Giờ</li>
											<li>Phút</li>
											<li>Giây</li> 

										</div>
									</div>
								</div>
								<div class="price-box" itemscope itemtype="http://schema.org/Offer">
									{%if on_var%}
									<span class="special-price">
										<span class="price product-price" itemprop="price" content="{{ shop.currency }}"></span> </span> <!-- Giá Khuyến mại -->
									<span class="old-price"> <del class="price product-price-old" itemprop="priceCurrency" content="{{ shop.currency }}"></del> </span> <!-- Giá gốca -->								
									{%elseif contact%}
									<div class="special-price"><span class="price product-price">Liên hệ </span> </div> <!-- Hết hàng -->
									{%elseif product.variants[0].compare_at_price > product.variants[0].price%}
									<span class="special-price">Giá mua sớm:  <span class="price product-price" itemprop="price" content="{{ store.currency }}">{{ product.variants[0].price | money }}</span> </span> <!-- Giá Khuyến mại -->
									<span class="old-price"> <del class="price product-price-old" itemprop="priceCurrency" content="{{ shop.currency }}">{{ product.variants[0].compare_at_price | money }}</del> </span> <!-- Giás gốc -->
									{% else %}
									<div class="special-price">
										Giá mua sớm: <span class="price product-price" itemprop="price" itemprop="priceCurrency" content="{{ shop.currency }}">{{ product.variants[0].price | money }}</span> </div> <!-- Giá -->
									{% endif %}
								</div>

								<div class="form-product">
									<form enctype="multipart/form-data" id="add-to-cart-form" action="/cart/add" method="post" class="form-inline clearfix">
										{% if settings.product_swatch_enable and product.variants.size > 1 %}
										{% for option in product.options %}
										{% include 'swatch' with option %}
										{% endfor %}
										{% endif %}
										<div class="box-variant clearfix {% if settings.product_swatch_enable%} hidden {%endif%}">
											{% if variantCount >= 1 %} 
											<fieldset class="form-group">
												<select id="product-selector" class="form-control form-control-lg" name="id" style="display:none">
													{% for variant in product.variants %}
													<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
													{% endfor %}
												</select>
											</fieldset>
											{% else %}
											<input type="hidden" name="id" value="{{ product.variants[0].id }}" />
											{% endif %}
										</div>
										<div class="form-group {%if contact%}hidden{%endif%}">
											<div class="custom custom-btn-number form-control" style="display:none;">									
												<input type="text" class="input-text qty" number-sidebar data-field='quantity' title="Số lượng" value="1" id="qty" name="quantity" />
												<div class="gp-btn">
													<button onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN(qty)) result.value++;return false;" class="btn-plus btn-cts" type="button">+</button>
													<button onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN(qty) & qty > 1 ) result.value--;return false;" class="btn-minus btn-cts" type="button">–</button>
												</div>
											</div>
											{% if product.available %}									
											<a href="javascript:void(0)" class="btn btn-lg btn-gray addtocart-modal" title="Mua ngay">
												<span> Đặt trước ngay</span>
											</a>									
											{% else %}
											<button class="btn btn-lg btn-style btn-style-active btn-cart" title="Hết hàng" disabled="disabled" ><span>Hết hàng</span></button>
											{% endif %}								
										</div>
									</form>
									<div class="infor-add">
										<span class="truoc">Đặt và thanh toán trước 31/5: Giá {{ product.variants[0].price | money }}</span>
										<span class="sau">Đặt và thanh toán sau 31/5: Giá {{ product.variants[0].compare_at_price | money }}</span>
										<span class="shipping">Giao hàng miễn phí toàn quốc với đơn hàng từ <strong>300.000đ</strong></span>

									</div>
								</div>
								<div class="product-sidebar-ant-fashion hidden-lg hidden-md">
									{% include 'product_promotion_mobile' %}
									{% if settings.product_hotline_enable %}
									<div class="box-hotlines clearfix">
										<div class="box-hotlines-left">
											<h3>{{ settings.product_hotline_title }}</h3>
											<p>{{ settings.product_hotline_title_1 }}</p>
											{% if settings.store_edit %}
											<h2><a href="tel:{{ settings.store_phone }}">{{ settings.store_phone }}</a></h2>
											{% else %}
											<h2><a href="tel:{{ store.phone_number }}">{{store.phone_number }}</a></h2>
											{% endif %}
											<div class="link-contact">
												<a href="href:{{ settings.product_hotline_title_5 }}">{{ settings.product_hotline_title_4 }}</a>
											</div>
										</div>
										<div class="box-hotlines-right">
											<a href="tel:{{ settings.product_hotline_title_3 | default: store.phone_number }}">
												<i class="fa fa-phone" aria-hidden="true"></i>
											</a>
										</div>
									</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>	

	<div class="btn-position hidden-xs" style="display: none;">
		<ul class="btn-items">
			<li class="buy-new-pos addnow">
				<a href="javascript:void(0);" title="Đặt mua ngay">
					<div class="arrow-cirle-btn">
						<img src="{{ 'arrow-btn-buy.png' | asset_url }}" />							
					</div>
					<span>Mua ngay</span>
				</a>
			</li>
			<li class="cart-pos" id="cart-pos-product">
				<a href="/cart" title="Xem lại giỏ hàng">
					<img src="{{ 'icon-cart-pos.png' | asset_url }}" />							
					<span>{{ cart.item_count }} sản phẩm</span>
				</a>
			</li>
		</ul>
	</div>
</section>

<script>
// Set the date we're counting down to
var countDownDate = new Date("2019/08/31 10:30:00").getTime(); // Update the count down every 1 second
var x = setInterval(function() { // Get todays date and time
	var now = new Date().getTime(); // Find the distance between now an the count down date
	var distance = countDownDate - now; // Time calculations for days, hours, minutes and seconds
	var days = Math.floor(distance / (1000 * 60 * 60 * 24));
	var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	var seconds = Math.floor((distance % (1000 * 60)) / 1000); // Display the result in the element with id="demo"
	document.getElementById("tiles").innerHTML = "<span>" + days + "</span><span>" + hours + "</span><span>" + minutes + "</span><span>" + seconds + "</span>";// If the count down is finished, write some text 
	if (distance < 0) {
		clearInterval(x);
		document.getElementById("tiles").innerHTML = "Quá hạn";
	}
}, 1000);

$(function () { 
	$('[data-toggle="tooltip"]').tooltip({trigger: 'manual'}).tooltip('show');
});  

// $( window ).scroll(function() {   
// if($( window ).scrollTop() > 10){  // scroll down abit and get the action   
$(".progress-bar").each(function(){
	each_bar_width = $(this).attr('aria-valuenow');
	$(this).width(each_bar_width - 20 + '%' );
});

//  }  
// });



</script>


<script>  


var selectCallback = function(variant, selector) {
	if (variant) {

		var form = jQuery('#' + selector.domIdPrefix).closest('form');

		for (var i=0,length=variant.options.length; i<length; i++) {

			var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
			//console.log(radioButton);
			if (radioButton.size()) {
				radioButton.get(0).checked = true;
			}
		}
	}
	var addToCart = jQuery('.form-product .btn-cart'),
			form = jQuery('.form-product .form-group'),
			productPrice = jQuery('.details-pro .special-price .product-price'),
			qty = jQuery('.inventory_quantity .a-stock'),
			comparePrice = jQuery('.details-pro .old-price .product-price-old'),
			comparePriceText = jQuery('.details-pro .old-price'),
			savePrice = jQuery('.details-pro .save-price .product-price-save'),
			savePriceText = jQuery('.details-pro .save-price'),
			qtyBtn = jQuery('.form-product .form-group .custom-btn-number');

	if (variant && variant.available) {
		if(variant.inventory_management == "haravan"){
			qty.html('<span class="a-stock">Chỉ còn ' + variant.inventory_quantity +' sản phẩm</span>');
		}else{
			qty.html('<span class="a-stock">Còn hàng</span>');
		}
		addToCart.text('Mua ngay').removeAttr('disabled');	
		qtyBtn.removeClass('hidden');
		if(variant.price == 0){
			productPrice.html('Liên hệ');	
			comparePrice.hide();
			savePrice.hide();
			comparePriceText.hide();
			savePriceText.hide();
			form.addClass('hidden');
		}else{
			form.removeClass('hidden');
			productPrice.html(Haravan.formatMoney(variant.price, "{{ shop.money_format }}"));
			// Also update and show the product's compare price if necessary
			if ( variant.compare_at_price > variant.price ) {
				comparePrice.html(Haravan.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")).show();
				savePrice.html(Haravan.formatMoney(variant.compare_at_price - variant.price, "{{ shop.money_format }}")).show();
				comparePriceText.show();
				savePriceText.show();
			} else {
				comparePrice.hide();   
				savePrice.hide();
				comparePriceText.hide();
				savePriceText.hide();
			}       										
		}

	} else {	
		qty.html('<span class="a-stock a-stock-out">Hết hàng</span>');
		addToCart.text('Hết hàng').attr('disabled', 'disabled');
		qtyBtn.addClass('hidden');
		if(variant){
			if(variant.price != 0){
				form.removeClass('hidden');
				productPrice.html(Haravan.formatMoney(variant.price, "{{ shop.money_format }}"));
				// Also update and show the product's compare price if necessary
				if ( variant.compare_at_price > variant.price ) {
					comparePrice.html(Haravan.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")).show();
					savePrice.html(Haravan.formatMoney(variant.compare_at_price - variant.price, "{{ shop.money_format }}")).show();
					comparePriceText.show();
					savePriceText.show();
				} else {
					comparePrice.hide();  
					savePrice.hide();
					comparePriceText.hide();
					savePriceText.hide();
				}     
			}else{
				productPrice.html('Liên hệ');	
				comparePrice.hide();
				savePrice.hide();
				comparePriceText.hide();
				savePriceText.hide();
				form.addClass('hidden');									
			}
		}else{
			productPrice.html('Liên hệ');	
			comparePrice.hide();
			savePrice.hide();
			comparePriceText.hide();
			savePriceText.hide();
			form.addClass('hidden');	
		}

	}
	/*begin variant image*/
	if (variant && variant.image) {  
		var originalImage = jQuery(".large-image img"); 
		var newImage = variant.image;
		var element = originalImage[0];
		Haravan.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
			jQuery(element).parents('a').attr('href', newImageSizedSrc);
			jQuery(element).attr('src', newImageSizedSrc);
		});

		$('.checkurl').attr('href',$(this).attr('src'));
		$('.zoomContainer').remove();
		setTimeout(function(){
			if($(window).width() > 1200){
				$('.zoomContainer').remove();				
				$('#zoom_01').elevateZoom({
					gallery:'gallery_01', 
					zoomWindowWidth:420,
					zoomWindowHeight:500,
					zoomWindowOffetx: 10,
					easing : true,
					scrollZoom : false,
					cursor: 'pointer', 
					galleryActiveClass: 'active', 
					imageCrossfade: true

				});
			}

		},300);
	}

	/*end of variant image*/
};
jQuery(function($) {
	$('.addtocart-modal').click(function(e){
		e.preventDefault();
		$(this).addClass('clicked_buy');
		add_item_show_modalCart($('#product-selector').val());
		console.log($('#product-selector').val());
	})
	{% if  product.variants.size > 1 %}
	new Haravan.OptionSelectors('product-selector', {
		product: {{ product | json }},
															onVariantSelected: selectCallback, 
															enableHistoryState: true
															});      

	 {% endif %}

	 // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
	 {% if product.options.size == 1 and product.options.first != 'Title' %}
	 $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
		{% endif %}

		// Hide selectors if we only have 1 variant and its title contains 'Default'.
		{% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
		$('.selector-wrapper').hide();
		 {% endif %} 
		 $('.selector-wrapper').css({
			 'text-align':'left',
			 'margin-bottom':'15px'
		 });
		 });
		 jQuery('.swatch :radio').change(function() {
			 var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
			 var optionValue = jQuery(this).val();
			 jQuery(this)
			 .closest('form')
			 .find('.single-option-selector')
			 .eq(optionIndex)
			 .val(optionValue)
			 .trigger('change');
		 });
		 $(document).ready(function() {
			 if($(window).width()>1200){
				 setTimeout(function(){
					 $('#zoom_01').elevateZoom({
						 gallery:'gallery_01', 
						 zoomWindowWidth:420,
						 zoomWindowHeight:500,
						 zoomWindowOffetx: 10,
						 easing : true,
						 scrollZoom : true,
						 cursor: 'pointer', 
						 galleryActiveClass: 'active', 
						 imageCrossfade: true

					 });
				 },500);
			 }



		 });
		 $(window).on("load resize",function(e){

			 $('.thumb-link').click(function(e){
				 e.preventDefault();
				 var hr = $(this).attr('data-zoom-image');
				 $('#zoom_01').attr('src',hr);
			 })
		 });
		 $(window).load(function() {
			 $('.leftsidebar-col').hcSticky({
				 responsive: true,
				 bottomEnd: 5,
				 innerTop: -80,
				 offResolutions: [-991]  
			 }); 
		 }); 
		 $('#gallery_01 img, .swatch-element label').click(function(e){
			 $('.checkurl').attr('href',$(this).attr('src'));
			 setTimeout(function(){
				 if($(window).width() > 1200){
					 $('.zoomContainer').remove();				
					 $('#zoom_01').elevateZoom({
						 gallery:'gallery_01', 
						 zoomWindowWidth:420,
						 zoomWindowHeight:500,
						 zoomWindowOffetx: 10,
						 easing : true,
						 scrollZoom : true,
						 cursor: 'pointer', 
						 galleryActiveClass: 'active', 
						 imageCrossfade: true

					 });
				 }



			 },400);

			 setTimeout(function(){
				 if($(window).width() > 1200){
					 $('#zoom_01').elevateZoom({
						 gallery:'gallery_01', 
						 zoomWindowWidth:420,
						 zoomWindowHeight:500,
						 zoomWindowOffetx: 10,
						 easing : true,
						 scrollZoom : true,
						 cursor: 'pointer', 
						 galleryActiveClass: 'active', 
						 imageCrossfade: true

					 });
				 }				  

			 },1000);

		 })
		 </script>
{{ 'default_script.min.js' | asset_url | script_tag }}	
