{%layout none%}
{%paginate search.results by settings.pagination_limit %}
<div id="pagination" class="">
	<div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
		{% if paginate.previous %}
		<a class="prev fa fa-angle-left" href="javascript:void(0)" data-link="m"><span>Trang trước</span></a> <!--Biến data-link="m" để xác định khi click < về trang trước -->
		{% endif %}
	</div>
	<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 text-center">
		{%for part in paginate.parts%}
		{%if part.is_link%}
		<a class="page-node" href="javascript:void(0)" data-link="{{part.title}}">{{part.title}}</a>
		{%else%}
		<span class="page-node {%if part.title == paginate.current_page%}current{%endif%}">{{part.title}}</span>
		{%endif%}
		{%endfor%}
	</div>
	<div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
		{% if paginate.next %}
		<a class="pull-right next fa fa-angle-right" href="javascript:void(0)" data-link="p"><span>Trang sau</span></a><!--Biến data-link="p" để xác định khi click > về trang sau -->
		{% endif %}
	</div>
</div>
{%endpaginate%}