{%layout none%}
{%paginate search.results by settings.collection_number_product %}
{%if settings.collec_banner_enable_1%}
<div class="col-xs-6 col-sm-3 col-lg-3 hidden-xs">
	<a href="{{settings.collec_banner_url_1}}"><img src="{{'collec_banner_1.jpg' | asset_url}}" alt=""/></a>		
</div>
{%endif%}
{%for product in search.results%}
<div class="col-xs-6 col-sm-3 col-lg-3">
	{%include 'product-item-home-custom'%}			
</div>
{%endfor%}
{%if settings.collec_banner_enable_2%}
<div class="col-xs-6 col-sm-3 col-lg-3 hidden-xs">
	<a href="{{settings.collec_banner_url_2}}"><img src="{{'collec_banner_2.jpg' | asset_url}}" alt=""/></a>
</div>
{%endif%}
{%endpaginate%}