{% include 'breadcrumb' %} 
<section class="signup search-main account-page ptb-50">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="header-search">
					<form action="/search" method="get" role="search">
						<input type="hidden" name="type" value="product" />
						<input class="header-search-control" name="q" value="{{search.terms}}" type="search" placeholder="Tìm kiếm sản phẩm..." autocomplete="off">
						<button class="header-search-button" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			{% if search.performed %} 
			{% if search.terms != "" %}  
			{% paginate search.results by 12 %}        
			{% if search.results_count == 0 %}
			<div class="col-xs-12">
				<h1 class="title-head text-center">Không tìm thấy bất kỳ kết quả nào với từ khóa trên.</h1>				
			</div>
			{% else %}
			<div class="col-xs-12">
				<h1 class="title-head text-center">Có {{ search.results_count }} kết quả tìm kiếm phù hợp</h1>
			</div>
			<div class="product_list products-view-grid products col-xs-12">
				<div class="row row-gutter-14">
					{% for product in search.results %}
					<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
						{% include 'product-item-home-custom' %}
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}
			{% if paginate.pages > 1 %}
			<div class="col-xs-12 text-xs-center">
				{% include 'paginate-pages' %}
			</div>
			{% endif %}
			{% endpaginate %}
			{% else %}
			<div class="col-xs-12">
				<h2><a href="#" class="title-box text-center">Nhập từ khóa để tìm kiếm sản phẩm </a></h2>
			</div>
			<form action="/search" method="get" class="col-xs-12 form-signup">
				<input type="hidden" name="type" value="product">
				<fieldset class="form-group">
					<input type="text" name="query" value="{{ search.terms | escape }}" placeholder="Tìm kiếm ..." class="form-control" style="width:300px; float:left;     line-height: 2.1;"  >

					<button type="submit" class="btn-style btn-style-active">Tìm kiếm</button>
				</fieldset>
			</form>  
			{% endif %}
			{% endif %}
		</div>
	</div>
</section>