<div id="site-filters" class="site-nav-container" tabindex="-1">
	<div class="site-nav-container-last">
		<p class="title">Bộ lọc sản phẩm</p>
		<p class="subtitle">Có {{ collection.products.size }} sản phẩm trong {%if collection.handle == 'all'%} cửa hàng {%else%} nhóm "{{collection.title}}" {%endif%}</p> 
		<div class="content-filter">
			<div class="option filter-by-groups">
				<label class="lb-filter" for="filter-by">Bộ lọc</label>
				{% if settings.show_vendor %}
				<div class="option-children filter-vendor" >
					<span class="custom-dropdown custom-dropdown--grey">
						<select name="filter-by" class="custom-dropdown__select select-vendor" data-label="Vendor">
							<option value="" class="default">Thương hiệu</option>
							{% for vendor in shop.vendors %}
							<option data-filter="{{ vendor | handleize }}" value="(vendor:product={{ vendor }})">
							{{ vendor }}
							</option>
							{% endfor %}							
						</select>
					</span>
				</div>
				{% endif %}
				{% if settings.show_color %}
				<div class="option-children filter-color">
					<span class="custom-dropdown custom-dropdown--grey">
						<select name="filter-by" class="custom-dropdown__select select-color" data-label="Color">
							<option value="" class="default">Màu sắc</option>
							{% for i in (1..20) %}

							{% capture name_color %}color_title_{{i}}{% endcapture %}		
							{% capture value %}{{settings[name_color]}}{% endcapture %}
							{% if settings[name_color].size > 0 %}
							<option data-filter="{{ value | strip | handleize }}" value="(variant:product contains {{value}})">
								{{value}}
							</option>

							{% endif %}
							{% endfor %}	
						</select>
					</span>
				</div>
				{% endif %}
				{% if settings.show_size %}
				<div class="option-children filter-size">
					{% assign arr_size = settings.field_filter_size | split : ',' %}
					<span class="custom-dropdown custom-dropdown--grey">
						<select name="filter-by" class="custom-dropdown__select select-size" data-label="Size">
							<option value="" class="default">Kích thước</option>
							{% for item in arr_size %}
							<option data-filter="{{ item | strip | handleize }}" value="(variant:product={{ item | strip }})">
							{{ item | strip }}
							</option>	
							{% endfor %}		
						</select>
					</span>
				</div>
				{% endif %}
			</div>
			{% if  settings.collection_sort and collection.products_count > 0 %}
			<div class="option browse-tags">
				<label class="lb-filter" for="sort-by">Sắp xếp theo:</label>
				<span class="custom-dropdown custom-dropdown--grey">
					<select class="sort-by custom-dropdown__select">
						{% unless collection.handle == 'all' %}									
						<option value="manual">Sản phẩm nổi bật</option>
						{% endunless %}
						<option value="price-ascending" data-filter="&sortby=(price:product=asc)">Giá: Tăng dần</option>
						<option value="price-descending" data-filter="&sortby=(price:product=desc)">Giá: Giảm dần</option>
						<option value="title-ascending" data-filter="&sortby=(title:product=asc)">Tên: A-Z</option>
						<option value="title-descending" data-filter="&sortby=(price:product=desc)">Tên: Z-A</option>
						<option value="created-ascending" data-filter="&sortby=(updated_at:product=desc)">Cũ nhất</option>
						<option value="created-descending" data-filter="&sortby=(updated_at:product=asc)">Mới nhất</option>
						<option value="best-selling" data-filter="&sortby=(sold_quantity:product=desc)">Bán chạy nhất</option>
						<option value="quantity-descending" data-filter="&sortby=(quantity:product=desc)">Tồn kho: Giảm dần</option>
					</select>
				</span>
			</div>
			{% endif %}
			<button id="apply-sort-filter" class="apply-btn filter-button">Áp dụng</button>
			<button id="clear-sort-filter" class="clear-btn filter-button">Hủy</button>
		</div>
	</div>
</div>