<p class="title-expand">
	<a class="btn-fter collapsed" data-toggle="collapse" href="#fter-content" role="button" aria-expanded="false" aria-controls="fter-content">
		Thông tin khác<span class="fa fa-angle-down"> </span>
	</a>
</p>
<div class="container-fluid collapse" id="fter-content">
	<div class="row site-footer-flex">
		<div class="col-md-6 col-xs-12 footer-colbox footer-colbox-1">
			{% if settings.social_icons_show %}
			<div class="footer-content site-box-content">  
				<h3 class="ft-title">{{settings.social_icons_title}}</h3>
				<div class="widget-social widget-content">
					<ul class="social-icons">
						{% if settings.social_icons_facebook_link.size > 0 %}
						<li>
							<a target="_blank" href="{{ settings.social_icons_facebook_link }}" class="social-wrapper facebook">
								<span class="social-icon">
									<i class="fa fa-facebook"></i>
								</span>
							</a>
						</li>
						{% endif %}
						{% if settings.social_icons_twitter_link.size > 0 %}
						<li>
							<a target="_blank" href="{{ settings.social_icons_twitter_link }}" class="social-wrapper twitter">
								<span class="social-icon">
									<i class="fa fa-twitter"></i>
								</span>
							</a>
						</li>
						{% endif %}
						{% if settings.social_icons_pinterest_link.size > 0 %}
						<li>
							<a target="_blank" href="{{ settings.social_icons_pinterest_link }}" class="social-wrapper pinterest">
								<span class="social-icon">
									<i class="fa fa-pinterest"></i>
								</span>
							</a>
						</li>
						{% endif %}
						{% if settings.social_icons_google_link.size > 0 %}
						<li>
							<a target="_blank" href="{{ settings.social_icons_google_link }}" class="social-wrapper google">
								<span class="social-icon">
									<i class="fa fa-google-plus"></i>
								</span>
							</a>
						</li>
						{% endif %}
						{% if settings.social_icons_youtube_link.size > 0 %}
						<li>
							<a target="_blank" href="{{ settings.social_icons_youtube_link }}" class="social-wrapper youtube">
								<span class="social-icon">
									<i class="fa fa-youtube"></i>
								</span>
							</a>
						</li>
						{% endif %}
						{% if settings.social_icons_instagram_link.size > 0 %}
						<li>
							<a target="_blank" href="{{ settings.social_icons_instagram_link }}" class="social-wrapper instagram">
								<span class="social-icon">
									<i class="fa fa-instagram"></i>
								</span>
							</a>
						</li>
						{% endif %}
					</ul>
				</div>
				<p class="ft-caption">{{settings.social_icons_note}}</p>
			</div>
			{% endif %}
			{% if settings.footer_linklist1_show %}
			<div class="footer-content site-box-content">  
				<h3 class="ft-title">{{settings.footer_linklist1_heading}}</h3>
				<div class="widget-content widget-link">
					{% assign list = linklists[settings.footer_linklist1] %}
					<ul class="list-unstyled list-styled">
						{% for link in list.links %}
						<li>
							<a href="{{ link.url }}">{{ link.title }}</a>
						</li>
						{% endfor %}					
					</ul>
				</div>
			</div>
			{% endif %}
		</div>
		<div class="col-md-6 col-xs-12 footer-colbox footer-colbox-2">
			{% if settings.footer_about_show %}
			<div class="footer-content site-box-content">  
				<h3 class="ft-title">{{settings.footer_about_heading}}</h3>
				<div class="widget-content">
					<a href="tel:{{settings.footer_about_phone}}" class="ft-hotline">
						<span class="info">{{settings.footer_about_phone}}</span>
					</a>
				</div>
				<p class="ft-caption">{{settings.footer_about_note}}</p>
			</div>
			{% endif%}
			{% if settings.mailing_list_show %}
			<div class="footer-content site-box-content">  
				<h3 class="ft-title">{{settings.mailing_list_heading}}</h3>
				<div class="widget-newsletter widget-content" id="form-newsletter">
					<form accept-charset="UTF-8" action="/account/contact" class="contact-form" method="post">
						<input name="form_type" type="hidden" value="customer">
						<input name="utf8" type="hidden" value="✓">
						<div class="input-group">
							<input type="hidden" id="newsletter_tags" name="contact[tags]" value="khách hàng tiềm năng, bản tin" />     
							<input required type="email" value="" placeholder="Nhập email của bạn" name="contact[email]"  aria-label="Email Address" autocorrect="off" autocapitalize="off">
							<button type="submit"  class="btn btn-sign-up">Đăng kí</button>
						</div>
						<div class="sitebox-recaptcha hidden">
							This site is protected by reCAPTCHA and the Google
							<a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a> 
							and <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer">Terms of Service</a> apply.
						</div>
					</form>
				</div>
				<p class="ft-caption">{{settings.mailing_list_caption}}</p>
			</div>
			{% endif %}

		</div>
	</div>
</div>
<div class="copyright">	
	Copyright © {{ "now" | date: "%Y" }} <a href="{{ shop.url }}"> {{ shop.name }}</a>. {{ powered_by_link }}
</div>
<div class="col-md-7 col-sm-12">
					{% if coppyright != "" %}
					<p><span class="ft-1">© {{coppyright}}</span><span class="ft-2"> | </span>Design by <a href="https://ecomcx.com/" title="Ecomcx" target="_blank">ECOMCX</a></p>
					{% else %}
					<p><span class="ft-1">© Bản quyền thuộc về Công ty Cổ phần Kiến Trắng</span><span class="ft-2"> | </span>Design by <a href="https://ecomcx.com/" title="Ecomcx" target="_blank">ECOMCX</a></p>
					{% endif %}
					<span>Mã số doanh nghiệp: 0500554260<br>Đăng kí lần đầu: ngày 20 tháng 12 năm 2006; đăng ký thay đổi gần nhất: ngày 08 tháng 04 năm 2015</span>
				</div>
				<div class="col-md-5 col-sm-12">
					<div class="flex-row align-middle">
						<div class="flex-col flex-right">
							<a href="http://www.online.gov.vn/CustomWebsiteDisplay.aspx?DocId=46536">
								<img src="https://i.imgur.com/BlrNKG7.png" width="180" alt="BCT"/>
							</a>
						</div>
					</div>     
