{%- include 'plugins-script'-%}
{{ 'option_selection.js' | haravan_asset_url | script_tag }}
{{ 'api.jquery.js' | haravan_asset_url | script_tag }}
{%- if template contains 'customers' -%}
{{ 'haravan_common.js' | haravan_asset_url | script_tag }}
{{ 'customer_area.js'  | haravan_asset_url | script_tag }}
{%- endif -%}
{%- if template contains 'product' -%}
{{ 'slick.min.js'  | asset_url | script_tag }}
{%- endif -%}
{%-if settings.promotion_hrvapp_use-%}
<!-- haravan app -->
{%-if settings.promotion_hrvapp == 'appcombo'-%}
{{ 'app-combo.js'  | asset_url | script_tag }}
{%-elsif settings.promotion_hrvapp == 'appbuyxgety'-%}
{{ 'app-buyxgety.js'  | asset_url | script_tag }}
{%-include 'modal-buyxgety'-%}
{%-endif-%}
{%-endif-%}
<!-- END - haravan app -->

{{ 'scripts.js'  | asset_url | script_tag }}

{%- if template contains 'index' -%}
{%- if settings.popup_contact_show -%}
<script>
	/*-- POPUP LOAD */
	jQuery(document).ready(function(){
		{%- if settings.popup_contact_time == '0'  -%}
		{%- assign  time_show_popup = 100 -%}
		{% else %}
		{%- assign  time_show_popup = settings.popup_contact_time | times: 1000 -%}
		{% endif %}
		setTimeout(function(){
			if(sessionStorage.mega_popup == null ){
				$('#popup-contact').modal('show');
			}
		},{{time_show_popup}});
		if ($('.popupForm').length > 0){
			$('.popup-form-customer form.contact-form').submit(function(e){
				e.preventDefault();			
				var self = $(this);
				grecaptcha.ready(function() {
					grecaptcha.execute('6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-', {action: 'submit'}).then(function(token) {
						self.prepend('<input type="hidden" name="g-recaptcha-response" value="' + token + '">');
						$.ajax({
							type: 'POST',
							url:'/account/contact',
							data: $('.popup-form-customer form.contact-form').serialize(),
							success: function(data) {				
								$('.popup-form-customer .succes-popup').addClass('success').html('Cám ơn bạn đã đăng ký email theo dõi!');
								setTimeout(function(){ 
									$('#popup-contact').modal('hide');
									location.reload();
								},2000);
							}
						})
					})
				});
				if(sessionStorage.mega_popup == null ){
					sessionStorage.mega_popup = 'show' ;
				}
			});
		}
		else{
			$(document).on('click','.linkbanner-popup-contact', function(){
				$('#popup-contact').modal('hide');
				if(sessionStorage.mega_popup == null ){
					sessionStorage.mega_popup = 'show' ;
				}
			});
		}
		$(document).on('click','.modal-popupContact .close-popup-contact', function(e){
			e.preventDefault();
			$('#popup-contact').modal('hide');
			if(sessionStorage.mega_popup == null ){
				sessionStorage.mega_popup = 'show' ;
			}
		});
		$(".modal-popupContact").on('hidden.bs.modal', function(){
			if(sessionStorage.mega_popup == null ){
				sessionStorage.mega_popup = 'show' ;
			}
		});
	});
	/*--END *** POPUP LOAD =====================--*/
</script>
{%- endif -%}
{%- endif -%}

{% if settings.use_chatbot %}
<!-- chatbot-harafunnel -->
<script>
	setTimeout(function(){ 
		if ($(window).width() > 992) {
			var chatbot_src = "https://assets.harafunnel.com/widget/{{settings.code_messenger_mb}}.js";
			$("head").append('<!-- harafunnel --><script src="' + chatbot_src + '" ' + 'async="async"><\/script>');
		}
	},5000);
</script>
{% endif %}
<script>
	setTimeout(function(){
		animation_check();
	}, 100);
	function animation_check(){
		var scrollTop = $(window).scrollTop() - 300;
		$('.animation-tran').each(function(){
			if($(this).offset().top < scrollTop + $(window).height()){
				$(this).addClass('active');
			}
		})
	}
	$(window).scroll(function(){
		//setTimeout(function(){
		animation_check();
		//}, 500);
	})
</script>