<div class="wrap-logo">
	{% if settings.use_logo %}
	<a href="{{shop.url}}">
		<img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive logoimg"/>
	</a>
	{% else %}
	<a href="/">{{ shop.name }}</a>
	{% endif %}
</div>
<div class="header-wrap-icon">
	{% if template == 'collection' %}
	<span id="site-filter-handle" class="site-filter-handle" aria-label="Open filters">
		<span class="filter-menu" aria-hidden="true">
			<span class="bar"></span><span class="bar"></span><span class="bar"></span>
		</span>
	</span>
	{% endif %}
	<span id="site-search-handle" class="icon-search" aria-label="Open search" title="Tìm kiếm">
		<a href="/search">
			<span class="search-menu" aria-hidden="true">
				<svg version="1.1" class="svg-search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27" style="enable-background:new 0 0 24 27;" xml:space="preserve">
					<path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z" />
					<rect x="17" y="17" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" height="8" />
				</svg>
			</span>
		</a>
	</span>
	<span id="site-cart-handle" class="icon-cart" aria-label="Open cart" title="Giỏ hàng">
		<a href="/cart">
			<span class="cart-menu" aria-hidden="true">
				<svg version="1.1" class="svg-cart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27" style="enable-background:new 0 0 24 27;" xml:space="preserve">
					<g>
						<path d="M0,6v21h24V6H0z M22,25H2V8h20V25z" />
					</g>
					<g>
						<path d="M12,2c3,0,3,2.3,3,4h2c0-2.8-1-6-5-6S7,3.2,7,6h2C9,4.3,9,2,12,2z" />
					</g>
				</svg>
				<span class="count-holder"><span class="count">{{ cart.item_count }}</span></span>
			</span>
		</a>
	</span>
	<span id="site-menu-handle" class="hamburger-menu" aria-hidden="true"><span class="bar"></span></span>
</div>
{% comment %}
<header class="header bkg visible-lg">
	<div class="container clearfix">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 logo">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-7 col-xs-7">
						<!-- LOGO -->
						{% if settings.use_logo %}
						<h1>
							<a href="{{shop.url}}">
								<img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" class="img-responsive logoimg"/>
							</a>
						</h1>
						{% if template == 'index' %}
						<h1 style="display:none">
							<a href="/">{{ shop.name }}</a>
						</h1>
						{% endif %}
						{% else %}
						<h1>
							<a href="/">{{ shop.name }}</a>
						</h1>
						{% endif %}
					</div>
					<div class="hidden-lg hidden-md col-sm-5 col-xs-5 mobile-icons" >
						<div>
							<a href="#" title="Xem giỏ hàng" class="mobile-cart"><span>5</span></a>
							<a href="#" id="mobile-toggle"><i class="fa fa-bars"></i></a>
						</div>
					</div>
				</div>
			</div>	
			<div class="col-lg-7 hidden-md hidden-sm hidden-xs">
				<aside class="top-info">
					{% include 'target-cart' %}

					<div class="navholder">
						<nav id="subnav">
							<ul>
								{% if settings.header_r_phone != blank %}
								<li>
									<a href="#"><i class="fa fa-phone" aria-hidden="true"></i>{{settings.header_r_phone}}</a>
								</li>
								{% endif %}
								{% if shop.customer_accounts_enabled or shop.customer_accounts_optional %}											
								{% if customer  %}
								<li><a class="acc" href="/account" title="Tài khoản">Tài khoản của bạn</a></li>
								{% else %}
								{% if shop.customer_accounts_optional %}
								<li><a class="reg" href="/account/register" title="Đăng ký">ĐĂNG KÝ</a></li>
								<li><a class="log" href="/account/login" title="Đăng nhập">Đăng nhập</a></li>
								{%else%}
								<li> <a class="log-only" href="/account/login" title="Đăng nhập">Đăng nhập</a></li>
								{% endif %}
								{% endif %}
								{% endif %}
							</ul>
						</nav>
						<div class="header_line"><p>{{settings.header_desc_1}}<span class="mar-l5">{{settings.header_desc_2}}</span></p></div>
					</div>
				</aside>
			</div>	
		</div>
	</div>
</header>
<nav class="navbar-main navbar navbar-default cl-pri">
	{% include 'menu' %}
</nav>
{% endcomment %}