{% if settings.slide_1 != false or settings.slide_2 != false or settings.slide_3 != false or settings.slide_4 != false %}
<div class="box__slideshow-split back-to-normal animation-tran">
	<div class="site-box-content responsive-flickity">
		{% for i in (1..4) %}
		{% capture show_slide %}slide_{{ i }}{% endcapture %}
		{% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
		{% assign setImg = image | asset_url %}
		{% capture cap1 %}slide_{{i}}_cap_1{% endcapture %}
		{% capture cap2 %}slide_{{i}}_cap_2{% endcapture %}
		{% capture cap3 %}slide_{{i}}_cap_3{% endcapture %}
		{% capture btn_link %}slide_{{i}}_btn{% endcapture %}
		{% capture link %}slide_{{i}}_link{% endcapture %}
		{% capture alt %}slide_{{i}}_alt{% endcapture %}

		{% if settings[show_slide] %}
		<div class="slideshow-item " id="hrv-banner-caption{{i}}" >
			<div class="box_slideshow-item">
				<div class="caption-inner {% if forloop.first %} site-animation {% endif%}">
					{% if settings[cap1] != empty %}	<p class="caption">{{ settings[cap1] }}</p>{% endif %}
					{% if settings[cap2] != empty %}	<h3 class="title">{{ settings[cap2] }}</h3>{% endif %}
					{% if settings[cap3] != empty %}<p class="subtitle">{{ settings[cap3] }}</p>{% endif %}
					{% if settings[btn_link] != empty %}
					<a class="button with-icon " href="{{ settings[link] }}">{{ settings[btn_link] }}
						<span class="icon">
							<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" style="width:21px; height: 10px;" viewBox="0 0 21 10"><path d="M21.000,5.000 L15.000,10.000 L15.000,6.000 L-0.000,6.000 L-0.000,4.000 L15.000,4.000 L15.000,0.000 L21.000,5.000 Z" /></svg>
						</span>
					</a>
					{% endif %}
				</div>
				<div class="site-box-background-container image-banner">
					<div> 
						<span class="site-box-background" aria-hidden="true">
							<picture>
								<source media="(max-width: 767px)" srcset="{{ setImg }}">
								<source media="(min-width: 768px)" srcset="{{ setImg }}">
								<img  class="lazyload lazyloaded" src="{{ setImg }}" alt="{{ settings[alt] | escape }}"/>
							</picture>
						</span>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>
{% endif %}



