<div class="site-nav-container-last">
	<p class="title">Menu</p>
	<div class="main-navbar">
		<nav class="primary-menu">
			<ul class="menu-collection">	
				{% for link1 in linklists[settings.mainmenu_link].links %}
				{% if linklists[link1.handle].links == empty %}				
				<li class="navi1"><a href="{{link1.url}}"><span>{{link1.title}}</span></a></li>
				{% else %}
				<li class="navi1 has-sub level0">
					<a href="{{ link1.url }}">{{ link1.title }}</a>
					<span class="icon-subnav"><i class="fa fa-angle-down"></i></span>
					<ul class=" submenu subnav-children">
						{% for link2 in linklists[link1.handle].links %}
						{% if linklists[link2.handle].links == empty %}
						<li class="navi2"><a href="{{ link2.url }}">{{ link2.title }}</a></li>
						{% else %}
						<li class="navi2 has-sub level1">
							<a href="{{ link2.url }}">{{ link2.title }}</a>
							<span class="icon-subnav"><i class="fa fa-angle-down"></i></span>
							<ul class="submenu subnav-child" >
								{% for link3 in linklists[link2.handle].links %}						
								<li class=""><a href="{{ link3.url }}">{{ link3.title }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}
						{% endfor %}
					</ul>
				</li>
				{% endif %}
				{% endfor%}
			</ul>
			<ul class="menu-about">
				{% for childlink in linklists[settings.childrenmenu__link].links %}
				<li><a  href="{{childlink.url}}"><span>{{childlink.title}}</span></a></li>		
				{% endfor %}
				{% if shop.customer_accounts_enabled or shop.customer_accounts_optional %}
				{% if customer  %}
				<li  class="login"><a href="/account" title="Tài khoản">Tài khoản của bạn</a></li>
				{% else %}
				{% if shop.customer_accounts_optional %}
				<li class="login"><a  href="/account/login"><span>Đăng nhập</span></a></li>
				{%else%}
				<li class="login"><a  href="/account/login"><span>Đăng nhập</span></a></li>
				{% endif %}
				{% endif %}
				{% endif %}
			</ul>
		</nav>
	</div>
	<div class="to-bottom-content">
		<div class="site-social" aria-label="Follow us on social media">
			{% if settings.social_icons_facebook_link.size > 0 %}			
			<a target="_blank" href="{{ settings.social_icons_facebook_link }}" class="social-wrapper facebook">
				<span class="social-icon">
					<i class="fa fa-facebook"></i>
				</span>
			</a>				
			{% endif %}
			{% if settings.social_icons_twitter_link.size > 0 %}					
			<a target="_blank" href="{{ settings.social_icons_twitter_link }}" class="social-wrapper twitter">
				<span class="social-icon">
					<i class="fa fa-twitter"></i>
				</span>
			</a>					
			{% endif %}
			{% if settings.social_icons_pinterest_link.size > 0 %}					
			<a target="_blank" href="{{ settings.social_icons_pinterest_link }}" class="social-wrapper pinterest">
				<span class="social-icon">
					<i class="fa fa-pinterest"></i>
				</span>
			</a>					
			{% endif %}
			{% if settings.social_icons_google_link.size > 0 %}
			<a target="_blank" href="{{ settings.social_icons_google_link }}" class="social-wrapper google">
				<span class="social-icon">
					<i class="fa fa-google-plus"></i>
				</span>
			</a>		
			{% endif %}
			{% if settings.social_icons_youtube_link.size > 0 %}					
			<a target="_blank" href="{{ settings.social_icons_youtube_link }}" class="social-wrapper youtube">
				<span class="social-icon">
					<i class="fa fa-youtube"></i>
				</span>
			</a>					
			{% endif %}
			{% if settings.social_icons_instagram_link.size > 0 %}					
			<a target="_blank" href="{{ settings.social_icons_instagram_link }}" class="social-wrapper instagram">
				<span class="social-icon">
					<i class="fa fa-instagram"></i>
				</span>
			</a>					
			{% endif %}			
		</div>
		<div class="site-copyright">
			<p class="copy">Copyright &copy; {{ "now" | date: "%Y" }} <a href="{{shop.url}}">{{shop.name}}</a></p>
			<p class="powered">{{ powered_by_link }}</p>
		</div>
	</div>
</div>
{% comment %}
<nav id="menu-mobile" class="hidden" >
	<ul>
		{% for link1 in linklists.main-menu.links %}
		{% if linklists[link1.handle].links == empty %}
		<li><a href="{{ link1.url }}">{{ link1.title }}</a></li>
		{% else %}
		<li class="has-children">
			<a href="{{ link1.url }}">{{ link1.title }}</a>
			{%capture count_link %}{{ linklists[link1.handle].links.size }}{%endcapture%}				

			<ul class="child count-nav-{{count_link }}">
				{% for link2 in linklists[link1.handle].links %}
				{% if linklists[link2.handle].links == empty %}
				<li><a href="{{ link2.url }}">{{ link2.title }}</a></li>
				{% else %}
				<li class="has-children">
					<a href="{{ link2.url }}">{{ link2.title }}</a>

					<ul class="child">
						{% for link3 in linklists[link2.handle].links %}						
						<li><a href="{{ link3.url }}">{{ link3.title }}</a></li>				
						{% endfor %}
					</ul>

				</li>
				{% endif %}
				{% endfor %}
			</ul>

		</li>
		{% endif %}
		{% endfor %}



	</ul>
</nav>
{% endcomment %}

