<div class="clearfix content-product-list">
	<div class="col-md-3 col-sm-6 col-xs-6 pro-loop">
		<div class="product-block product-resize ">
			<div class="wrap-collection-title image-resize wrap-flex-align flex-column">
				<div class="block-pding">
					<h2 class="title">Sản phẩm mới</h2>
					<p class="shopnow">Chưa có sản phẩm nào để hiển thị.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6 pro-loop">
		<div class="product-block product-resize">
			<a href="/adminv2/products_new" title="Sản phẩm mẫu">
				<div class="product-img image-resize">
					<div class="product-sale">
						<span>Sale</span>
					</div>
					<img class="img-loop" alt="Sản phẩm mẫu" src="{{'spm1.png' | asset_url}}">
				</div>
				<div class="product-detail clearfix">
					<div class="box-pro-detail">
						<!-- sử dụng pull-left -->
						<h3 class="pro-name"><span class="overflowed">Tiêu đề sản phẩm mẫu</span></h3>
						<div class="box-pro-prices">	
							<p class="overflowed pro-price">199,000₫
								<span class="pro-price-del"><del class="compare-price">299,000₫</del></span>
							</p>
						</div>
						<div class="action">
							<span class="longarrow"><span class="overflowed"><svg version="1.1" class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 41 10" style="enable-background:new 0 0 41 10; width: 41px; height: 10px;" xml:space="preserve"><polygon points="0,4 35,4 35,0 41,5 35,10 35,6 0,6 "></polygon></svg></span></span>
						</div>
					</div>
				</div>
			</a>
		</div>	
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6 pro-loop">
		<div class="product-block product-resize">
			<a href="/adminv2/products_new" title="Sản phẩm mẫu">
				<div class="product-img image-resize">

					<img class="img-loop" alt="Sản phẩm mẫu" src="{{'spm2.png' | asset_url}}">
				</div>
				<div class="product-detail clearfix">
					<div class="box-pro-detail">
						<!-- sử dụng pull-left -->
						<h3 class="pro-name"><span class="overflowed">Tiêu đề sản phẩm mẫu</span></h3>
						<div class="box-pro-prices">	
							<p class="overflowed pro-price">199,000₫</p>
						</div>
						<div class="action">
							<span class="longarrow"><span class="overflowed"><svg version="1.1" class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 41 10" style="enable-background:new 0 0 41 10; width: 41px; height: 10px;" xml:space="preserve"><polygon points="0,4 35,4 35,0 41,5 35,10 35,6 0,6 "></polygon></svg></span></span>
						</div>
					</div>
				</div>
			</a>
		</div>	
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6 pro-loop">
		<div class="product-block product-resize">
			<a href="/adminv2/products_new" title="Sản phẩm mẫu">
				<div class="product-img image-resize">
					<img class="img-loop" alt="Sản phẩm mẫu" src="{{'spm3.png' | asset_url}}">
				</div>
				<div class="product-detail clearfix">
					<div class="box-pro-detail">
						<!-- sử dụng pull-left -->
						<h3 class="pro-name"><span class="overflowed">Tiêu đề sản phẩm mẫu</span></h3>
						<div class="box-pro-prices">	
							<p class="overflowed pro-price">199,000₫</p>
						</div>
						<div class="action">
							<span class="longarrow"><span class="overflowed"><svg version="1.1" class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 41 10" style="enable-background:new 0 0 41 10; width: 41px; height: 10px;" xml:space="preserve"><polygon points="0,4 35,4 35,0 41,5 35,10 35,6 0,6 "></polygon></svg></span></span>
						</div>
					</div>
				</div>
			</a>
		</div>	
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6 pro-loop">
		<div class="product-block product-resize">
			<a href="/adminv2/products_new" title="Sản phẩm mẫu">
				<div class="product-img image-resize">
					<div class="product-sale">
						<span>Sale</span>
					</div>
					<img class="img-loop" alt="Sản phẩm mẫu" src="{{'spm4.png' | asset_url}}">
				</div>
				<div class="product-detail clearfix">
					<div class="box-pro-detail">
						<!-- sử dụng pull-left -->
						<h3 class="pro-name"><span class="overflowed">Tiêu đề sản phẩm mẫu</span></h3>
						<div class="box-pro-prices">	
							<p class="overflowed pro-price">199,000₫
								<span class="pro-price-del"><del class="compare-price">299,000₫</del></span>
							</p>
						</div>
						<div class="action">
							<span class="longarrow"><span class="overflowed"><svg version="1.1" class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 41 10" style="enable-background:new 0 0 41 10; width: 41px; height: 10px;" xml:space="preserve"><polygon points="0,4 35,4 35,0 41,5 35,10 35,6 0,6 "></polygon></svg></span></span>
						</div>
					</div>
				</div>
			</a>
		</div>	
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6 pro-loop">
		<div class="product-block product-resize">
			<a href="/adminv2/products_new" title="Sản phẩm mẫu">
				<div class="product-img image-resize">
					<div class="product-sale">
						<span>Sale</span>
					</div>
					<img class="img-loop" alt="Sản phẩm mẫu" src="{{'spm1.png' | asset_url}}">
				</div>
				<div class="product-detail clearfix">
					<div class="box-pro-detail">
						<!-- sử dụng pull-left -->
						<h3 class="pro-name"><span class="overflowed">Tiêu đề sản phẩm mẫu</span></h3>
						<div class="box-pro-prices">	
							<p class="overflowed pro-price">199,000₫
								<span class="pro-price-del"><del class="compare-price">299,000₫</del></span>
							</p>
						</div>
						<div class="action">
							<span class="longarrow"><span class="overflowed"><svg version="1.1" class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 41 10" style="enable-background:new 0 0 41 10; width: 41px; height: 10px;" xml:space="preserve"><polygon points="0,4 35,4 35,0 41,5 35,10 35,6 0,6 "></polygon></svg></span></span>
						</div>
					</div>
				</div>
			</a>
		</div>	
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6 pro-loop">
		<div class="product-block product-resize">
			<a href="/adminv2/products_new" title="Sản phẩm mẫu">
				<div class="product-img image-resize">
					<div class="product-sale">
						<span>Sale</span>
					</div>
					<img class="img-loop" alt="Sản phẩm mẫu" src="{{'spm1.png' | asset_url}}">
				</div>
				<div class="product-detail clearfix">
					<div class="box-pro-detail">
						<!-- sử dụng pull-left -->
						<h3 class="pro-name"><span class="overflowed">Tiêu đề sản phẩm mẫu</span></h3>
						<div class="box-pro-prices">	
							<p class="overflowed pro-price">199,000₫
								<span class="pro-price-del"><del class="compare-price">299,000₫</del></span>
							</p>
						</div>
						<div class="action">
							<span class="longarrow"><span class="overflowed"><svg version="1.1" class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 41 10" style="enable-background:new 0 0 41 10; width: 41px; height: 10px;" xml:space="preserve"><polygon points="0,4 35,4 35,0 41,5 35,10 35,6 0,6 "></polygon></svg></span></span>
						</div>
					</div>
				</div>
			</a>
		</div>	
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6 pro-loop">
		<div class="product-block product-resize ">
			<div class="wrap-collection-title image-resize wrap-flex-align flex-column">
				<div class="block-pding">
					<a href="/adminv2/products_new"  class="link-more">Xem thêm</a>
				</div>
			</div>
		</div>
	</div>
</div>
