<div class="row list-productRelated">

	{%assign cp = product%}
	{% assign number_of_related_products_to_show = settings.productspg_featured_quantity %}

	{% assign number_of_related_products_to_fetch = number_of_related_products_to_show %}

	{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
	{% assign found_a_collection = false %}
	{% for c in product.collections %}
	{% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
	{% assign found_a_collection = true %}
	{% assign collection = c %}
	{% endif %}
	{% endfor %}
	{% endif %}

	{% if collection and collection.products_count > 1 %}
	<div class="clearfix content-product-list">
		<div class="col-md-6 col-sm-6 col-xs-12 pro-loop pro-loop-title">
			<div class="product-block product-resize ">
				<div class="wrap-collection-title image-resize wrap-flex-align flex-column">
					<div class="block-pding">
						<h2 class="title">{{settings.productspg_related_title}}</h2>
					</div>
				</div>
			</div>
		</div>
		{% assign current_product = product %}
		{% assign current_product_found = false %}
		{% assign counter_p = 0 %}

		{% for product in collection.products%}
		{%if counter_p >= number_of_related_products_to_show%}

		{%break%}
		{%endif%}

		{%if cp.handle != product.handle %}
		<div class="col-md-3 col-sm-6 col-xs-12 pro-loop">
			{% include 'product-loop' %}
		</div>
		{%assign counter_p =counter_p | plus : 1%}
		{%endif%}
		{% endfor %}
	</div>
	{%else%}
	{%if collections.all.products.size > 0%}
	<div class="clearfix content-product-list">
		<div class="col-md-6 col-sm-6 col-xs-12 pro-loop pro-loop-title">
			<div class="product-block product-resize ">
				<div class="wrap-collection-title image-resize wrap-flex-align flex-column">
					<div class="block-pding">
						<h2 class="title">{{settings.productspg_related_title}}</h2>
					</div>
				</div>
			</div>
		</div>
		{% for product in collections.all.products limit: number_of_related_products_to_fetch %}
		{%if cp.handle != product.handle %}
		<div class="col-md-3 col-sm-6 col-xs-6 pro-loop">
			{% include 'product-loop' %}
		</div>
		{%endif%}
		{% endfor %}

	</div>
	{%else%}
	<p>
		Không tìm thấy sản phẩm nào
	</p>
	{%endif%}
	{% endif %}
	<script>
	var add_to_wishlist = function(){
		if(typeof(Storage) !== "undefined")
		{
			if (localStorage.recently_viewed)
			{

				if(localStorage.recently_viewed.indexOf('1st-birthday-princess-basic-party-kit-18-guests') == -1)
					localStorage.recently_viewed = '1st-birthday-princess-basic-party-kit-18-guests_'+localStorage.recently_viewed ;

			} else
				localStorage.recently_viewed = '1st-birthday-princess-basic-party-kit-18-guests';
		}
		else {
			console.log('Your Browser does not support storage!');
		}
	}
	</script>			
</div>
