{% assign on_sale = false %}
{% if product.available and product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
{% assign sold_out = false %}
{% endif %}

<div class="product-block product-resize site-animation" data-anmation="{{forloop.index}}">
	<a href="{{product.url}}" title="{{product.title}}">
		<div class="product-img image-resize">
			{% if on_sale %}<div class="product-sale"><span>Sale</span></div>{% endif %}		
			{% if sold_out %}<div class="sold-out"><span>Hết hàng</span></div>{% endif %}	
			{% if settings.promotion_hrvapp_use and settings.promotion_hrvapp == 'appbuyxgety' %}
			<div class="gift product_gift_label hidden" data-id="{{product.id}}">
				<img src="{{settings.appbuyxgety_icon}}" alt="icon quà tặng">
			</div>
			{% endif %}
			<picture>
				<source media="(max-width: 767px)" srcset="{%if product.images.size > 0%}{{ product.featured_image.src | product_img_url: 'medium' }}{%else%}//hstatic.net/0/0/global/design/theme-default/no-image_medium.png{%endif%}">
				<source media="(min-width: 768px)" srcset="{%if product.images.size > 0%}{{ product.featured_image.src | product_img_url: 'large' }}{%else%}//hstatic.net/0/0/global/design/theme-default/no-image.png{%endif%}">
				<img class="img-loop" alt="{% if product.featured_image.alt.size >0 %}{{ product.featured_image.alt | escape }}{% else%} {{product.title}} {% endif %}" src="{%if product.images.size > 0%}{{ product.featured_image.src | product_img_url: 'large' }}{%else%}//hstatic.net/0/0/global/design/theme-default/no-image.png{%endif%}"  />
			</picture>
			{% if settings.promotion_hrvapp_use %}
			<div class="button-add">
				<span class="action" >Mua ngay<i class="fa fa-long-arrow-right"></i></span>
			</div>	
			{% else %}
			<div class="button-add">
				<button type="submit" title="Mua ngay" class="action" onclick="buy_now('{{ product.variants.first.id }}')">Mua ngay<i class="fa fa-long-arrow-right"></i></button>
			</div>
			{% endif %}
		</div>
		<div class="product-detail clearfix">
			<div class="box-pro-detail">
				{% if settings.product_reviews %}
				<div class="hidden-xs">
					<span class="haravan-product-reviews-badge" data-id="{{ product.id }}"></span>
				</div> 
				{% endif %}
				<!-- sử dụng {% cycle 'pull-left','pull-right'%} -->
				<h3 class="pro-name"><span class="overflowed">{{ product.title }}</span></h3>
				<div class="box-pro-prices">	
					<p class="overflowed pro-price">{{ product.price | money }}
						<span class="pro-price-del">{% if on_sale %}<del class="compare-price">{{ product.compare_at_price | money }}</del>{% endif %}</span>
					</p>
				</div>
				{% if settings.show_grid_vendor %}<p>by {{ product.vendor }}</p>	{% endif %}

			</div>
		</div>
	</a>
</div>	
