<div id="site-nav--mobile" class="site-nav style--sidebar">
	<div id="site-navigation" class="site-nav-container">
		{% include 'mainmenu' %}
	</div>
	<div id="site-cart" class="site-nav-container" tabindex="-1">
		{% include 'cart-view' %}
	</div>
	<div id="site-search" class="site-nav-container" tabindex="-1">
		<div class="site-nav-container-last">
			<p class="title">Search</p>
			<form  class="search-header" action="/search">
				<input type="hidden" name="type" value="product" />
				<input type="search" name="q" placeholder="Tìm kiếm sản phẩm ..." required="required" required/>
				<button type="submit" class="btn btn-search" aria-label="Search">
					<svg version="1.1" class="svg search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27" style="enable-background:new 0 0 24 27;" xml:space="preserve"><path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z"/><rect x="17" y="17" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" height="8"/></svg>
				</button>
			</form>
			<!--
<div class="top">
<div class="preloader" aria-hidden="true"><span>.</span><span>.</span><span>.</span></div>
<div id="search-results" class="search-results"></div>
</div>
-->
		</div>

	</div>
	{% include 'filter-collection' %}
	<button id="site-close-handle" class="site-close-handle" aria-label="Close sidebar" title="Close sidebar">
		<span class="hamburger-menu active" aria-hidden="true"><span class="bar animate"></span></span>
	</button>
</div>