{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
{% if option == swatch %}
{% assign found_option = true %}
{% assign option_index = forloop.index0 %}

{% assign downcased_option = swatch | downcase %}
{% if downcased_option contains 'màu sắc' or downcased_option contains 'màu' %}
{% assign is_color = true %}
{% endif %}
{% endif %}
{% endfor %}

{% unless found_option %}

{% else %}
<div id="variant-swatch-{{option_index }}" class="swatch clearfix" data-option="option{{option_index | plus: 1 }}" data-option-index="{{ option_index }}">
	<div class="header">{{ swatch }}:<span></span></div>
	<div class="select-swap">  
		{% assign values = '' %}
		{% for variant in product.variants %}
		{% assign value = variant.options[option_index] %}
		{% unless values contains value %}
		{% assign values = values | join: ',' %}
		{% assign values = values | append: ',' | append: value %} 
		{% assign values = values | split: ',' %} 
		<div data-value="{{ value | escape }}" class="n-sd swatch-element {% if is_color %}color {% endif %}{{ value | handle }} {% if option_index == 2 %}variant-3 {%endif%}">
			<input class="variant-{{option_index}}" id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option{{ option_index | plus: 1 }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} />
			{% if is_color %}
			{% assign img_url = variant.image.src | img_url: 'thumb' %}
			<label data-placement="top" data-toggle="tooltip" title="{{ value | escape }}" class="{{ value | handle }}" for="swatch-{{ option_index }}-{{ value | handle }}" >
				<span>{{value}}</span>
			</label>
			{% else %}
			<label for="swatch-{{ option_index }}-{{ value | handle }}">
				{{ value }}
				</label>
			{% endif %}
		</div>
		{% endunless %}
		{% endfor %}
	</div>
</div>
{% endunless %}

